Repository mui/base-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atomiks, @michaldudak, @colmtuite

.github/CODEOWNERS:

* @atomiks @michaldudak
/docs/data/ @atomiks @colmtuite @michaldudak
/examples/ @atomiks @colmtuite @michaldudak
/packages/mui-base/ @atomiks @colmtuite @michaldudak
/scripts/ @michaldudak

Navigation and TOC styles
  docs/data/components/tooltip/tooltip.mdx
  docs/src/components/Navigation.module.css
  docs/src/components/Navigation.tsx
  docs/src/components/TableOfContents.module.css
  docs/src/components/TableOfContents.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Fix demo variant selector
  docs/app/layout.tsx
  docs/src/blocks/Demo/DemoContext.ts
  docs/src/blocks/Demo/DemoRoot.tsx
  docs/src/components/demo/DemoVariantSelector.tsx
  docs/src/components/demo/DemoVariantSelectorProvider.tsx
Owners: @atomiks, @michaldudak

Fix lint
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupNested.js
  packages/mui-base/src/CheckboxGroup/Root/CheckboxGroupRoot.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Refactoring + JSDocs
  docs/src/blocks/Demo/DemoContext.ts
  docs/src/blocks/Demo/DemoRoot.tsx
  docs/src/components/demo/DemoFileSelector.tsx
  docs/src/components/demo/DemoVariantSelector.tsx
Owners: @atomiks, @michaldudak

Remember the package manager selection between pages and sessions
  docs/app/layout.tsx
  docs/src/blocks/PackageManagerSnippet/PackageManagerSnippetProvider.tsx
  docs/src/blocks/PackageManagerSnippet/PackageManagerSnippetRoot.tsx
  docs/src/components/content/PackageManagerSnippet.tsx
  docs/src/components/demo/DemoVariantSelectorProvider.tsx
Owners: @atomiks, @michaldudak

lint
  docs/src/blocks/PackageManagerSnippet/PackageManagerSnippetRoot.tsx
  docs/src/components/demo/DemoVariantSelector.tsx
Owners: @atomiks, @michaldudak

Remove old references to src/pages
  docs/scripts/formattedTSDemos.js
  prettier.config.js
Owners: @atomiks, @michaldudak

proptypes
  docs/pages/base-ui/api/number-field-root.json
  packages/mui-base/src/NumberField/Root/NumberFieldRoot.tsx
Owners: @atomiks, @michaldudak, @colmtuite

Fix TS issue
  packages/mui-base/src/NumberField/utils/parse.test.ts
Owners: @atomiks, @colmtuite, @michaldudak

[test] Fix tests on Safari (#546)
  packages/mui-base/src/Dialog/Root/DialogRoot.test.tsx
  packages/mui-base/src/Menu/Item/MenuItem.test.tsx
  packages/mui-base/src/Menu/Root/MenuRoot.test.tsx
  test/karma.conf.js
Owners: @atomiks, @colmtuite, @michaldudak

Google analytics component
  docs/app/layout.tsx
  docs/package.json
  docs/src/components/GoogleAnalytics.tsx
  docs/src/docs.d.ts
  packages/mui-base/package.json
  packages/mui-base/src/useMediaQuery/index.ts
  pnpm-lock.yaml
Owners: @atomiks, @michaldudak, @colmtuite

Default preserveChildStates to false
  docs/pages/base-ui/api/checkbox-group-root.json
  packages/mui-base/src/CheckboxGroup/Parent/useCheckboxGroupParent.ts
  packages/mui-base/src/CheckboxGroup/Root/CheckboxGroupRoot.tsx
Owners: @atomiks, @michaldudak, @colmtuite

Allow unknown value type
  docs/pages/base-ui/api/radio-group-root.json
  docs/pages/base-ui/api/radio-root.json
  packages/mui-base/src/Radio/Root/RadioRoot.tsx
  packages/mui-base/src/Radio/Root/useRadioRoot.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRootContext.ts
  packages/mui-base/src/RadioGroup/Root/useRadioGroupRoot.ts
Owners: @atomiks, @michaldudak, @colmtuite

Omit button prop value
  packages/mui-base/src/Radio/Root/RadioRoot.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Update preserveChildStates test
  packages/mui-base/src/CheckboxGroup/Root/CheckboxGroupRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Move GoogleAnalytics and GoogleTagManager to blocks
  docs/app/DocsProviders.tsx
  docs/app/layout.tsx
  docs/src/blocks/GoogleAnalytics.tsx
  docs/src/blocks/GoogleTagManager.tsx
  docs/src/components/GoogleAnalytics.tsx
Owners: @atomiks, @michaldudak

Infinite loops are bad
  docs/src/blocks/GoogleAnalytics.tsx
Owners: @atomiks, @michaldudak

Update test and docs
  docs/data/base/components/checkbox-group/checkbox-group.md
  packages/mui-base/src/CheckboxGroup/Parent/useCheckboxGroupParent.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Add preserveChildStates prop and Checkbox import
  docs/data/base/components/checkbox-group/checkbox-group.md
Owners: @atomiks, @colmtuite, @michaldudak

Change wording
  docs/data/base/components/checkbox-group/checkbox-group.md
Owners: @atomiks, @colmtuite, @michaldudak

polish edit on gh link
  docs/src/components/EditPageGithubLink.module.css
Owners: @atomiks, @michaldudak

polish sidebar headings
  docs/src/components/Navigation.module.css
Owners: @atomiks, @michaldudak

Fix Tooltip arrow styling
  docs/src/design-system/Tooltip.module.css
  docs/src/design-system/Tooltip.tsx
Owners: @atomiks, @michaldudak

Fix focus rest on demos
  docs/src/components/demo/Demo.module.css
  docs/src/components/demo/Demo.tsx
Owners: @atomiks, @michaldudak

Maintain nav scroll position
  docs/app/(content)/components/[slug]/page.tsx
  docs/app/(content)/layout.tsx
Owners: @atomiks, @michaldudak

Scroll source code horizontally
  docs/src/components/demo/Demo.module.css
Owners: @atomiks, @michaldudak

[test] Run Browserstack tests on master only
  test/karma.conf.js
Owners: @atomiks, @michaldudak

fix code block style bug
  docs/app/(content)/styles.module.css
Owners: @atomiks, @michaldudak

enable border radius on next previous links
  docs/src/components/SiblingPageLinks.module.css
Owners: @atomiks, @michaldudak

oops
  docs/src/components/SiblingPageLinks.module.css
Owners: @atomiks, @michaldudak

Fix caching issues
  netlify.toml
Owners: @atomiks, @michaldudak

Remove redundant components from content pages
  docs/app/(content)/components/[slug]/page.tsx
  docs/app/(content)/getting-started/[slug]/page.tsx
  docs/app/(content)/guides/[slug]/page.tsx
Owners: @atomiks, @michaldudak

Add default value to collisionBoundary prop
  packages/mui-base/src/Menu/Positioner/MenuPositioner.tsx
  packages/mui-base/src/Popover/Positioner/PopoverPositioner.tsx
  packages/mui-base/src/PreviewCard/Positioner/PreviewCardPositioner.tsx
  packages/mui-base/src/Tooltip/Positioner/TooltipPositioner.tsx
Owners: @atomiks, @colmtuite, @michaldudak

[CheckboxGroup] Implement components and hooks (#458)
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupIntroduction/css/index.js
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupIntroduction/css/index.tsx
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupIntroduction/system/index.js
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupIntroduction/system/index.tsx
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupIntroduction/tailwind/index.js
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupIntroduction/tailwind/index.tsx
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupNested.js
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupNested.tsx
  docs/data/base/components/checkbox-group/checkbox-group.md
  docs/data/base/components/checkbox/UnstyledCheckboxIndeterminateGroup.js
  docs/data/base/components/checkbox/UnstyledCheckboxIndeterminateGroup.tsx
  docs/data/base/pages.ts
  docs/data/base/pagesApi.js
  docs/pages/base-ui/api/checkbox-group-root.json
  docs/pages/base-ui/api/checkbox-root.json
  docs/pages/base-ui/api/use-checkbox-group-parent.json
  docs/pages/base-ui/api/use-checkbox-group-root.json
  docs/pages/base-ui/api/use-checkbox-root.json
  docs/pages/base-ui/react-checkbox-group/[docsTab]/index.js
  docs/pages/base-ui/react-checkbox-group/index.js
  docs/translations/api-docs/checkbox-group-root/checkbox-group-root.json
  docs/translations/api-docs/checkbox-root/checkbox-root.json
  docs/translations/api-docs/use-checkbox-group-parent/use-checkbox-group-parent.json
  docs/translations/api-docs/use-checkbox-group-root/use-checkbox-group-root.json
  docs/translations/api-docs/use-checkbox-root/use-checkbox-root.json
  docs/translations/translations.json
  packages/mui-base/src/Checkbox/Root/CheckboxRoot.tsx
  packages/mui-base/src/Checkbox/Root/CheckboxRoot.types.ts
  packages/mui-base/src/Checkbox/Root/CheckboxRootContext.ts
  packages/mui-base/src/Checkbox/Root/useCheckboxRoot.ts
  packages/mui-base/src/CheckboxGroup/Parent/useCheckboxGroupParent.test.tsx
  packages/mui-base/src/CheckboxGroup/Parent/useCheckboxGroupParent.ts
  packages/mui-base/src/CheckboxGroup/Root/CheckboxGroupRoot.test.tsx
  packages/mui-base/src/CheckboxGroup/Root/CheckboxGroupRoot.tsx
  packages/mui-base/src/CheckboxGroup/Root/CheckboxGroupRootContext.ts
  packages/mui-base/src/CheckboxGroup/Root/useCheckboxGroupRoot.tsx
  packages/mui-base/src/CheckboxGroup/index.barrel.ts
  packages/mui-base/src/CheckboxGroup/index.ts
  packages/mui-base/src/index.ts
Owners: @atomiks, @colmtuite, @michaldudak

Support multiple components in InstallationInstructions
  docs/data/components/checkbox-group/checkbox-group.mdx
  docs/data/components/radio-group/radio-group.mdx
  docs/src/components/content/InstallationInstructions.tsx
Owners: @atomiks, @colmtuite, @michaldudak

[test] Run Browserstack tests on master only (#578)
  test/karma.conf.js
Owners: @atomiks, @michaldudak

Update @mui/monorepo
  package.json
  pnpm-lock.yaml
Owners: @atomiks, @michaldudak
