Repository mui/base-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atomiks, @michaldudak, @colmtuite

.github/CODEOWNERS:

* @atomiks @michaldudak
/docs/data/ @atomiks @colmtuite @michaldudak
/examples/ @atomiks @colmtuite @michaldudak
/packages/mui-base/ @atomiks @colmtuite @michaldudak
/scripts/ @michaldudak

Fix docs linting
  docs/data/base/components/field/field.md
Owners: @atomiks, @colmtuite, @michaldudak

Add use client
  packages/mui-base/src/Field/Label/FieldLabel.tsx
  packages/mui-base/src/Fieldset/Legend/FieldsetLegend.tsx
  packages/mui-base/src/Fieldset/Root/FieldsetRoot.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Update docs
  docs/data/base/pages.ts
  docs/translations/translations.json
Owners: @atomiks, @colmtuite, @michaldudak

Add Fieldset components
  docs/data/base/components/fieldset/UnstyledFieldsetIntroduction/system/index.js
  docs/data/base/components/fieldset/UnstyledFieldsetIntroduction/system/index.tsx
  docs/data/base/components/fieldset/fieldset.md
  docs/data/base/pages.ts
  docs/data/base/pagesApi.js
  docs/pages/base-ui/api/fieldset-label.json
  docs/pages/base-ui/api/fieldset-root.json
  docs/pages/base-ui/api/use-fieldset-label.json
  docs/pages/base-ui/api/use-fieldset-root.json
  docs/pages/base-ui/react-fieldset/[docsTab]/index.js
  docs/pages/base-ui/react-fieldset/index.js
  docs/translations/api-docs/fieldset-label/fieldset-label.json
  docs/translations/api-docs/fieldset-root/fieldset-root.json
  docs/translations/api-docs/use-fieldset-label/use-fieldset-label.json
  docs/translations/api-docs/use-fieldset-root/use-fieldset-root.json
  docs/translations/translations.json
  packages/mui-base/src/Field/Root/FieldRoot.types.ts
  packages/mui-base/src/Field/Root/FieldRootContext.ts
  packages/mui-base/src/Field/index.barrel.ts
  packages/mui-base/src/Fieldset/Label/FieldsetLabel.tsx
  packages/mui-base/src/Fieldset/Label/FieldsetLabel.types.ts
  packages/mui-base/src/Fieldset/Label/useFieldsetLabel.ts
  packages/mui-base/src/Fieldset/Root/FieldsetRoot.tsx
  packages/mui-base/src/Fieldset/Root/FieldsetRoot.types.ts
  packages/mui-base/src/Fieldset/Root/FieldsetRootContext.ts
  packages/mui-base/src/Fieldset/Root/useFieldsetRoot.ts
  packages/mui-base/src/Fieldset/index.barrel.ts
  packages/mui-base/src/Fieldset/index.ts
  packages/mui-base/src/utils/defaultRenderFunctions.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Use explicit label id
  docs/data/base/components/number-field/UnstyledNumberFieldIntroduction/system/index.js
  docs/data/base/components/number-field/UnstyledNumberFieldIntroduction/system/index.tsx
  packages/mui-base/src/Checkbox/Root/useCheckboxRoot.ts
  packages/mui-base/src/Field/Control/useFieldControl.ts
  packages/mui-base/src/Field/Label/FieldLabel.tsx
  packages/mui-base/src/Field/Label/useFieldLabel.ts
  packages/mui-base/src/Field/Root/FieldRoot.tsx
  packages/mui-base/src/Field/Root/FieldRootContext.ts
  packages/mui-base/src/NumberField/Root/useNumberFieldRoot.ts
  packages/mui-base/src/Slider/Root/SliderRoot.tsx
  packages/mui-base/src/Switch/Root/useSwitchRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Remove react-label
  docs/pages/base-ui/react-label/[docsTab]/index.js
  docs/pages/base-ui/react-label/index.js
Owners: @atomiks, @michaldudak

Await only promises
  packages/mui-base/src/Checkbox/Root/useCheckboxRoot.ts
  packages/mui-base/src/Field/Control/useFieldControl.ts
  packages/mui-base/src/NumberField/Root/useNumberFieldRoot.ts
  packages/mui-base/src/Slider/Control/useSliderControl.ts
  packages/mui-base/src/Slider/Root/useSliderRoot.ts
  packages/mui-base/src/Switch/Root/useSwitchRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Update Field.Validity doc
  docs/data/base/components/field/field.md
Owners: @atomiks, @colmtuite, @michaldudak

Add disabled prop
  docs/data/base/components/field/UnstyledFieldIntroduction/system/index.js
  docs/data/base/components/field/field.md
  docs/pages/base-ui/api/field-root.json
  docs/translations/api-docs/field-root/field-root.json
  packages/mui-base/src/Checkbox/Root/useCheckboxRoot.ts
  packages/mui-base/src/Field/Control/FieldControl.tsx
  packages/mui-base/src/Field/Control/FieldControl.types.ts
  packages/mui-base/src/Field/Control/useFieldControl.ts
  packages/mui-base/src/Field/Label/FieldLabel.tsx
  packages/mui-base/src/Field/Label/FieldLabel.types.ts
  packages/mui-base/src/Field/Message/FieldMessage.tsx
  packages/mui-base/src/Field/Message/FieldMessage.types.tsx
  packages/mui-base/src/Field/Root/FieldRoot.tsx
  packages/mui-base/src/Field/Root/FieldRoot.types.ts
  packages/mui-base/src/Field/Root/FieldRootContext.ts
  packages/mui-base/src/NumberField/Root/useNumberFieldRoot.ts
  packages/mui-base/src/Switch/Root/useSwitchRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Fix FieldMessage test
  packages/mui-base/src/Field/Message/FieldMessage.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Fix default
  packages/mui-base/src/Field/Root/FieldRootContext.ts
Owners: @atomiks, @colmtuite, @michaldudak

Render customError
  docs/data/base/components/field/UnstyledFieldIntroduction/system/index.js
  docs/data/base/components/field/UnstyledFieldIntroduction/system/index.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Update Fieldset docs
  docs/data/base/components/field/field.md
  docs/data/base/components/fieldset/UnstyledFieldsetIntroduction/system/index.js
  docs/data/base/components/fieldset/UnstyledFieldsetIntroduction/system/index.tsx
  docs/data/base/components/fieldset/UnstyledFieldsetIntroduction/system/index.tsx.preview
  docs/data/base/components/fieldset/fieldset.md
Owners: @atomiks, @colmtuite, @michaldudak

Correct prop name
  docs/data/base/components/field/field.md
Owners: @atomiks, @colmtuite, @michaldudak

Simplify JSX
  docs/data/base/components/field/field.md
Owners: @atomiks, @colmtuite, @michaldudak

Description -> Message
  docs/data/base/components/field/field.md
  packages/mui-base/src/Field/Message/FieldMessage.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Update FieldMessage test
  packages/mui-base/src/Field/Message/FieldMessage.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Fix Switch test
  packages/mui-base/src/Switch/Root/useSwitchRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Ignore ownerState
  packages/mui-base/src/Field/Validity/FieldValidity.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Fix label docs
  docs/data/base/components/field/field.md
Owners: @atomiks, @colmtuite, @michaldudak

useFieldControlValidation
  docs/data/base/components/field/UnstyledFieldAsync.js
  docs/data/base/components/field/UnstyledFieldAsync.tsx
  docs/data/base/components/field/field.md
  docs/pages/base-ui/api/field-root.json
  docs/pages/base-ui/api/use-field-control-validation.json
  docs/translations/api-docs/field-root/field-root.json
  docs/translations/api-docs/use-field-control-validation/use-field-control-validation.json
  packages/mui-base/src/Checkbox/Root/useCheckboxRoot.ts
  packages/mui-base/src/Field/Control/useFieldControl.ts
  packages/mui-base/src/Field/Control/useFieldControlValidation.ts
  packages/mui-base/src/Field/Root/FieldRoot.tsx
  packages/mui-base/src/Field/Root/FieldRoot.types.ts
  packages/mui-base/src/Field/Root/FieldRootContext.ts
  packages/mui-base/src/NumberField/Root/useNumberFieldRoot.ts
  packages/mui-base/src/Slider/Root/useSliderRoot.ts
  packages/mui-base/src/Slider/Thumb/useSliderThumb.ts
  packages/mui-base/src/Switch/Root/useSwitchRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Fix default
  packages/mui-base/src/Field/Root/FieldRoot.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Tests
  docs/translations/api-docs/field-root/field-root.json
  packages/mui-base/src/Field/Control/useFieldControlValidation.ts
  packages/mui-base/src/Field/Error/FieldError.tsx
  packages/mui-base/src/Field/Root/FieldRoot.test.tsx
  packages/mui-base/src/Field/Root/FieldRoot.tsx
  packages/mui-base/src/Field/Root/FieldRoot.types.ts
  packages/mui-base/src/Field/Validity/FieldValidity.test.tsx
  packages/mui-base/src/Field/utils/constants.ts
Owners: @atomiks, @michaldudak, @colmtuite

Update ValidityState API
  docs/data/base/components/field/field.md
  packages/mui-base/src/Field/Validity/FieldValidity.tsx
  packages/mui-base/src/Field/Validity/FieldValidity.types.ts
Owners: @atomiks, @colmtuite, @michaldudak

Update tests
  packages/mui-base/src/Field/Message/FieldMessage.test.tsx
  packages/mui-base/src/Field/Root/FieldRoot.test.tsx
  packages/mui-base/src/Field/Root/FieldRoot.types.ts
Owners: @atomiks, @colmtuite, @michaldudak

Support async show prop
  packages/mui-base/src/Field/Message/FieldMessage.test.tsx
  packages/mui-base/src/Field/Message/FieldMessage.tsx
  packages/mui-base/src/Field/Message/FieldMessage.types.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Rename to Legend
  docs/data/base/components/fieldset/UnstyledFieldsetIntroduction/system/index.js
  docs/data/base/components/fieldset/UnstyledFieldsetIntroduction/system/index.tsx
  docs/data/base/components/fieldset/fieldset.md
  docs/data/base/pagesApi.js
  docs/pages/base-ui/api/fieldset-legend.json
  docs/pages/base-ui/api/use-fieldset-label.json
  docs/pages/base-ui/api/use-fieldset-legend.json
  docs/pages/base-ui/react-fieldset/[docsTab]/index.js
  docs/translations/api-docs/fieldset-legend/fieldset-legend.json
  docs/translations/api-docs/use-fieldset-legend/use-fieldset-legend.json
  packages/mui-base/src/Fieldset/Label/FieldsetLabel.types.ts
  packages/mui-base/src/Fieldset/Legend/FieldsetLegend.test.tsx
  packages/mui-base/src/Fieldset/Legend/FieldsetLegend.tsx
  packages/mui-base/src/Fieldset/Legend/FieldsetLegend.types.ts
  packages/mui-base/src/Fieldset/Legend/useFieldsetLegend.ts
  packages/mui-base/src/Fieldset/Root/FieldsetRoot.tsx
  packages/mui-base/src/Fieldset/Root/FieldsetRootContext.ts
  packages/mui-base/src/Fieldset/Root/useFieldsetRoot.ts
  packages/mui-base/src/Fieldset/index.barrel.ts
  packages/mui-base/src/Fieldset/index.ts
Owners: @atomiks, @colmtuite, @michaldudak

Add name prop to Field.Root
  docs/pages/base-ui/api/field-root.json
  docs/translations/api-docs/field-root/field-root.json
  packages/mui-base/src/Checkbox/Root/useCheckboxRoot.ts
  packages/mui-base/src/Field/Control/useFieldControl.ts
  packages/mui-base/src/Field/Root/FieldRoot.tsx
  packages/mui-base/src/Field/Root/FieldRoot.types.ts
  packages/mui-base/src/Field/Root/FieldRootContext.ts
  packages/mui-base/src/NumberField/Root/useNumberFieldRoot.ts
  packages/mui-base/src/Slider/Root/useSliderRoot.ts
  packages/mui-base/src/Switch/Root/useSwitchRoot.ts
Owners: @atomiks, @michaldudak, @colmtuite

Make components Field-aware
  docs/data/base/components/field/field.md
  docs/pages/base-ui/api/checkbox-root.json
  docs/pages/base-ui/api/number-field-root.json
  docs/pages/base-ui/api/switch-root.json
  docs/pages/base-ui/api/use-checkbox-root.json
  docs/pages/base-ui/api/use-number-field-root.json
  docs/pages/base-ui/api/use-switch-root.json
  docs/translations/api-docs/checkbox-root/checkbox-root.json
  docs/translations/api-docs/number-field-root/number-field-root.json
  docs/translations/api-docs/switch-root/switch-root.json
  docs/translations/api-docs/use-checkbox-root/use-checkbox-root.json
  docs/translations/api-docs/use-number-field-root/use-number-field-root.json
  docs/translations/api-docs/use-switch-root/use-switch-root.json
  packages/mui-base/src/Checkbox/Root/CheckboxRoot.tsx
  packages/mui-base/src/Checkbox/Root/CheckboxRoot.types.ts
  packages/mui-base/src/Checkbox/Root/useCheckboxRoot.ts
  packages/mui-base/src/Field/Control/FieldControl.tsx
  packages/mui-base/src/Field/Message/FieldMessage.tsx
  packages/mui-base/src/Field/Message/FieldMessage.types.tsx
  packages/mui-base/src/Field/Root/FieldRoot.tsx
  packages/mui-base/src/Field/Root/FieldRoot.types.ts
  packages/mui-base/src/Field/Root/FieldRootContext.ts
  packages/mui-base/src/NumberField/Root/NumberFieldRoot.tsx
  packages/mui-base/src/NumberField/Root/NumberFieldRoot.types.ts
  packages/mui-base/src/NumberField/Root/useNumberFieldRoot.ts
  packages/mui-base/src/Switch/Root/SwitchRoot.tsx
  packages/mui-base/src/Switch/Root/SwitchRoot.types.ts
  packages/mui-base/src/Switch/Root/useSwitchRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Add context displayNames
  packages/mui-base/src/Field/Root/FieldRootContext.ts
  packages/mui-base/src/Fieldset/Root/FieldsetRootContext.ts
Owners: @atomiks, @colmtuite, @michaldudak

Fix docs
  docs/data/base/components/field/UnstyledFieldIntroduction/system/index.js
  docs/data/base/components/field/UnstyledFieldIntroduction/system/index.tsx
  docs/data/base/components/fieldset/UnstyledFieldsetIntroduction/system/index.js
  docs/data/base/components/fieldset/UnstyledFieldsetIntroduction/system/index.tsx
  docs/data/base/components/fieldset/UnstyledFieldsetIntroduction/system/index.tsx.preview
Owners: @atomiks, @colmtuite, @michaldudak

Fix FieldValidity docgen
  docs/data/base/components/field/UnstyledFieldIntroduction/system/index.js
  docs/data/base/components/field/UnstyledFieldIntroduction/system/index.tsx.preview
  docs/data/base/pagesApi.js
  docs/pages/base-ui/api/field-validity.json
  docs/pages/base-ui/react-field/[docsTab]/index.js
  docs/translations/api-docs/field-description/field-description.json
  docs/translations/api-docs/field-validity/field-validity.json
  docs/translations/api-docs/label/label.json
  docs/translations/api-docs/use-field-description/use-field-description.json
  docs/translations/api-docs/use-label/use-label.json
  packages/mui-base/src/Field/Validity/FieldValidity.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Remove unused async waits
  packages/mui-base/src/Field/Message/FieldMessage.test.tsx
  packages/mui-base/src/Field/Root/FieldRoot.test.tsx
  packages/mui-base/src/Field/Validity/FieldValidity.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Fix type
  packages/mui-base/src/Fieldset/Legend/FieldsetLegend.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Add disabled prop test
  packages/mui-base/src/Field/Root/FieldRoot.test.tsx
  packages/mui-base/src/Fieldset/Root/FieldsetRootContext.ts
Owners: @atomiks, @colmtuite, @michaldudak

Refactor props
  docs/pages/base-ui/api/field-root.json
  docs/translations/api-docs/field-root/field-root.json
  packages/mui-base/src/Checkbox/Root/useCheckboxRoot.ts
  packages/mui-base/src/Field/Control/FieldControl.tsx
  packages/mui-base/src/Field/Control/useFieldControl.ts
  packages/mui-base/src/Field/Root/FieldRoot.test.tsx
  packages/mui-base/src/Field/Root/FieldRoot.tsx
  packages/mui-base/src/Field/Root/FieldRoot.types.ts
  packages/mui-base/src/Field/Root/FieldRootContext.ts
  packages/mui-base/src/NumberField/Root/useNumberFieldRoot.ts
  packages/mui-base/src/Slider/Root/useSliderRoot.ts
  packages/mui-base/src/Switch/Root/useSwitchRoot.ts
Owners: @atomiks, @michaldudak, @colmtuite

Fix async test
  packages/mui-base/src/Field/Message/FieldMessage.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Fix tests
  docs/data/base/components/field/UnstyledFieldAsync.js
  docs/data/base/components/field/UnstyledFieldAsync.tsx
  docs/translations/api-docs/field-root/field-root.json
  packages/mui-base/src/Field/Root/FieldRoot.test.tsx
  packages/mui-base/src/Field/Root/FieldRoot.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Add FieldControl
  docs/data/base/components/field/field.md
  docs/data/base/pagesApi.js
  docs/pages/base-ui/api/field-control.json
  docs/pages/base-ui/api/use-field-control.json
  docs/pages/base-ui/react-field/[docsTab]/index.js
  docs/translations/api-docs/field-control/field-control.json
  docs/translations/api-docs/use-field-control/use-field-control.json
  packages/mui-base/src/Field/Control/FieldControl.test.tsx
  packages/mui-base/src/Field/Control/FieldControl.tsx
  packages/mui-base/src/Field/Control/FieldControl.types.ts
  packages/mui-base/src/Field/Control/useFieldControl.ts
  packages/mui-base/src/Field/index.barrel.ts
  packages/mui-base/src/Field/index.ts
  packages/mui-base/src/utils/defaultRenderFunctions.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Add Fieldset tests
  docs/pages/base-ui/api/fieldset-label.json
  docs/pages/base-ui/api/fieldset-root.json
  packages/mui-base/src/Fieldset/Label/FieldsetLabel.test.tsx
  packages/mui-base/src/Fieldset/Root/FieldsetRoot.test.tsx
Owners: @atomiks, @michaldudak, @colmtuite
