Repository mui/base-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atomiks, @michaldudak, @colmtuite

Lint
  packages/react/src/slider/root/useSliderRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Handle initial states for groups
  packages/react/src/checkbox/root/useCheckboxRoot.ts
  packages/react/src/field/root/FieldRoot.test.tsx
  packages/react/src/radio/root/useRadioRoot.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Tests
  packages/react/src/menu/root/MenuRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

[docs][Slider] Prevent long presses from triggering context menu or text selection (#1339)
  docs/src/app/(public)/(content)/react/components/slider/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/slider/demos/hero/tailwind/index.tsx
Owners: @atomiks, @colmtuite, @michaldudak

[Docs][Tabs] Fix example component names (#1345)
  docs/src/app/(public)/(content)/react/components/tabs/demos/hero/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/tabs/demos/hero/tailwind/index.tsx
Owners: @atomiks, @colmtuite, @michaldudak

fix: jsdoc
  packages/react/src/radio/indicator/RadioIndicator.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Check direct clicks
  packages/react/src/alert-dialog/backdrop/AlertDialogBackdrop.tsx
  packages/react/src/alert-dialog/root/AlertDialogRoot.test.tsx
  packages/react/src/dialog/backdrop/DialogBackdrop.tsx
  packages/react/src/dialog/root/DialogRoot.test.tsx
  packages/react/src/dialog/root/useDialogRoot.ts
  packages/react/src/utils/InternalBackdrop.tsx
Owners: @atomiks, @colmtuite, @michaldudak

[Dialogs] Support multiple non-nested modal backdrops (#1327)
  packages/react/src/alert-dialog/backdrop/AlertDialogBackdrop.tsx
  packages/react/src/alert-dialog/popup/AlertDialogPopup.tsx
  packages/react/src/alert-dialog/root/AlertDialogRoot.test.tsx
  packages/react/src/dialog/backdrop/DialogBackdrop.tsx
  packages/react/src/dialog/popup/DialogPopup.test.tsx
  packages/react/src/dialog/popup/DialogPopup.tsx
  packages/react/src/dialog/root/DialogRoot.test.tsx
  packages/react/src/dialog/root/useDialogRoot.ts
  packages/react/src/utils/InternalBackdrop.tsx
Owners: @atomiks, @colmtuite, @michaldudak

[Checkbox, Menu, Radio] Avoid applying `hidden` attr when `keepMounted=true` for indicators (#1329)
  docs/reference/generated/radio-indicator.json
  packages/react/src/checkbox/indicator/CheckboxIndicator.test.tsx
  packages/react/src/checkbox/indicator/CheckboxIndicator.tsx
  packages/react/src/menu/checkbox-item-indicator/MenuCheckboxItemIndicator.test.tsx
  packages/react/src/menu/checkbox-item-indicator/MenuCheckboxItemIndicator.tsx
  packages/react/src/menu/radio-item-indicator/MenuRadioItemIndicator.test.tsx
  packages/react/src/menu/radio-item-indicator/MenuRadioItemIndicator.tsx
  packages/react/src/radio-group/RadioGroup.test.tsx
  packages/react/src/radio/indicator/RadioIndicator.test.tsx
  packages/react/src/radio/indicator/RadioIndicator.tsx
Owners: @atomiks, @michaldudak, @colmtuite

Consistency
  docs/reference/generated/field-control.json
  docs/reference/generated/field-description.json
  docs/reference/generated/field-error.json
  docs/reference/generated/field-label.json
  packages/react/src/field/control/FieldControlDataAttributes.ts
  packages/react/src/field/description/FieldDescriptionDataAttributes.ts
  packages/react/src/field/error/FieldErrorDataAttributes.ts
  packages/react/src/field/label/FieldLabelDataAttributes.ts
Owners: @atomiks, @michaldudak, @colmtuite

Fix docs error
  docs/reference/generated/field-error.json
  packages/react/src/field/error/FieldErrorDataAttributes.ts
Owners: @atomiks, @michaldudak, @colmtuite

Update the monorepo
  package.json
  pnpm-lock.yaml
Owners: @atomiks, @michaldudak

Fix eslint violations
  packages/react/src/form/FormContext.ts
  packages/react/src/utils/useOpenInteractionType.ts
Owners: @atomiks, @colmtuite, @michaldudak

Remove publishConfig.directory from built package.json
  packages/react/scripts/createPackageManifest.mts
Owners: @atomiks, @colmtuite, @michaldudak

Fix layout issues
  docs/src/app/(private)/experiments/infra/SettingsPanel.module.css
  docs/src/app/(private)/experiments/menu.module.css
  docs/src/app/(private)/layout.css
  docs/src/app/(private)/layout.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Fallback
  packages/react/src/dialog/root/useDialogRoot.ts
  packages/react/src/menu/root/useMenuRoot.ts
  packages/react/src/select/positioner/useSelectPositioner.ts
  packages/react/src/utils/useScrollLock.ts
Owners: @atomiks, @colmtuite, @michaldudak

Lint
  packages/react/src/utils/useScrollLock.ts
Owners: @atomiks, @colmtuite, @michaldudak

Lint
  packages/react/src/checkbox/root/useCheckboxRoot.ts
  packages/react/src/field/control/useFieldControl.ts
  packages/react/src/number-field/root/useNumberFieldRoot.ts
  packages/react/src/select/trigger/useSelectTrigger.ts
  packages/react/src/switch/root/useSwitchRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Lint
  packages/react/src/radio-group/useRadioGroup.ts
Owners: @atomiks, @colmtuite, @michaldudak

Tests
  docs/src/app/(private)/experiments/field.tsx
  packages/react/src/checkbox/indicator/CheckboxIndicator.tsx
  packages/react/src/field/control/FieldControl.tsx
  packages/react/src/field/description/FieldDescription.tsx
  packages/react/src/field/error/FieldError.tsx
  packages/react/src/field/label/FieldLabel.tsx
  packages/react/src/field/root/FieldRoot.test.tsx
  packages/react/src/field/root/FieldRoot.tsx
  packages/react/src/field/utils/constants.ts
  packages/react/src/number-field/input/NumberFieldInput.tsx
  packages/react/src/radio-group/RadioGroup.tsx
  packages/react/src/radio-group/RadioGroupContext.ts
  packages/react/src/radio-group/useRadioGroup.ts
  packages/react/src/radio/root/useRadioRoot.tsx
  packages/react/src/radio/utils/customStyleHookMapping.ts
  packages/react/src/select/root/SelectRoot.tsx
  packages/react/src/select/trigger/SelectTrigger.tsx
  packages/react/src/slider/control/useSliderControl.ts
  packages/react/src/slider/root/useSliderRoot.ts
  packages/react/src/switch/styleHooks.ts
Owners: @atomiks, @colmtuite, @michaldudak

Fix tests
  packages/react/src/alert-dialog/root/AlertDialogRoot.test.tsx
  packages/react/src/preview-card/root/PreviewCardRoot.test.tsx
  packages/react/src/tooltip/root/TooltipRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Remove non-spy
  packages/react/src/preview-card/root/PreviewCardRoot.test.tsx
  packages/react/src/tooltip/root/TooltipRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

[Menu, Popover, PreviewCard] Set pointer events style on backdrops when hoverable
  packages/react/src/menu/backdrop/MenuBackdrop.tsx
  packages/react/src/popover/backdrop/PopoverBackdrop.tsx
  packages/react/src/preview-card/backdrop/PreviewCardBackdrop.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Unit tests
  packages/react/src/menu/backdrop/MenuBackdrop.test.tsx
  packages/react/src/popover/backdrop/PopoverBackdrop.test.tsx
  packages/react/src/preview-card/backdrop/PreviewCardBackdrop.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Handle body
  packages/react/src/utils/useScrollLock.ts
Owners: @atomiks, @colmtuite, @michaldudak

Revert to use open state
  packages/react/src/dialog/root/useDialogRoot.ts
  packages/react/src/menu/root/useMenuRoot.ts
  packages/react/src/select/positioner/useSelectPositioner.ts
  packages/react/src/utils/useScrollLock.ts
Owners: @atomiks, @colmtuite, @michaldudak

[useScrollLock] Fix jump with `scroll-behavior` style (#1343)
  packages/react/src/utils/useScrollLock.ts
Owners: @atomiks, @colmtuite, @michaldudak

[Dialogs] Remove modal={open} state
  packages/react/src/alert-dialog/popup/AlertDialogPopup.tsx
  packages/react/src/dialog/popup/DialogPopup.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Improved styles
  docs/src/app/(private)/experiments/infra/SettingsPanel.module.css
  docs/src/app/(private)/experiments/infra/SettingsPanel.tsx
  docs/src/app/(private)/experiments/menu.module.css
  docs/src/app/(private)/layout.css
Owners: @atomiks, @colmtuite, @michaldudak

Make the settings panel persistent
  docs/src/app/(private)/experiments/infra/SettingsPanel.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Don't close settings panel on focusout
  docs/src/app/(private)/experiments/infra/SettingsPanel.tsx
Owners: @atomiks, @colmtuite, @michaldudak

[test] Spped up regression and e2e tests
  test/e2e/TestViewer.tsx
  test/regressions/TestViewer.tsx
Owners: @atomiks, @michaldudak

Update all projects
  docs/package.json
  pnpm-lock.yaml
  test/package.json
Owners: @atomiks, @michaldudak

Remove unnecessary props
  test/regressions/main.tsx
Owners: @atomiks, @michaldudak

Simplify updating TS
  .circleci/config.yml
Owners: @atomiks, @michaldudak

Fix test
  packages/react/src/popover/backdrop/PopoverBackdrop.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Handle CheckboxGroup
  docs/src/app/(private)/experiments/field.tsx
  packages/react/src/checkbox-group/CheckboxGroup.tsx
  packages/react/src/checkbox/root/useCheckboxRoot.ts
  packages/react/src/field/root/FieldRoot.test.tsx
  packages/react/src/radio-group/RadioGroup.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Lint
  packages/react/src/checkbox/root/useCheckboxRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Split menu tests
  packages/react/src/menu/backdrop/MenuBackdrop.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Remove lazy components
  test/e2e/main.tsx
  test/regressions/main.tsx
Owners: @atomiks, @michaldudak

.github/CODEOWNERS:

* @atomiks @michaldudak
/docs/src/ @atomiks @colmtuite @michaldudak
/packages/react/ @atomiks @colmtuite @michaldudak
/scripts/ @michaldudak
