Repository mui/base-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atomiks, @michaldudak, @colmtuite

.github/CODEOWNERS:

* @atomiks @michaldudak
/docs/data/ @atomiks @colmtuite @michaldudak
/examples/ @atomiks @colmtuite @michaldudak
/packages/mui-base/ @atomiks @colmtuite @michaldudak
/scripts/ @michaldudak

[typescript] Add `type` to export statements (#544)
  packages/mui-base/src/Progress/index.ts
  packages/mui-base/src/Slider/index.ts
Owners: @atomiks, @colmtuite, @michaldudak

Use globally defined colors in Dialog demos
  docs/data/base/components/dialog/UnstyledDialogIntroduction/css/index.js
  docs/data/base/components/dialog/UnstyledDialogIntroduction/css/index.tsx
  docs/data/base/components/dialog/UnstyledDialogIntroduction/css/styles.module.css
  docs/src/styles/demo-colors.css
  docs/src/styles/style.css
Owners: @atomiks, @colmtuite, @michaldudak

[test] Fix tests on Safari
  packages/mui-base/src/Dialog/Root/DialogRoot.test.tsx
  packages/mui-base/src/Menu/Item/MenuItem.test.tsx
  packages/mui-base/src/Menu/Root/MenuRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Enable BrowserStack on PRs
  test/karma.conf.js
Owners: @atomiks, @michaldudak

Fix MenuRoot test to remove a race condition
  packages/mui-base/src/Menu/Root/MenuRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

fix?
  packages/mui-base/src/Menu/Root/MenuRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Skip the flaky test
  packages/mui-base/src/Menu/Root/MenuRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Lint
  packages/mui-base/src/Menu/Item/MenuItem.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

name -> value
  docs/data/base/components/radio-group/radio-group.md
  docs/pages/base-ui/api/radio-group-item.json
  docs/translations/api-docs/radio-group-item/radio-group-item.json
  packages/mui-base/src/RadioGroup/Indicator/RadioGroupIndicator.test.tsx
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.test.tsx
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.tsx
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.types.ts
  packages/mui-base/src/RadioGroup/Item/useRadioGroupItem.ts
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Update docs
  docs/data/base/components/radio-group/radio-group.md
Owners: @atomiks, @colmtuite, @michaldudak

Fix form submission data
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.js
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.tsx
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.tsx.preview
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.tsx
  packages/mui-base/src/RadioGroup/Item/useRadioGroupItem.ts
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Docs
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.js
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.tsx
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.tsx.preview
Owners: @atomiks, @colmtuite, @michaldudak

Docs
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.js
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.tsx
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.tsx.preview
  docs/data/base/pages.ts
  docs/data/base/pagesApi.js
  docs/pages/base-ui/react-radio-group/index.js
Owners: @atomiks, @colmtuite, @michaldudak

Remove orientation
  packages/mui-base/src/Composite/Root/CompositeRoot.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.tsx
  packages/mui-base/src/RadioGroup/Root/useRadioGroupRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Remove unrelated changes
  docs/data/base/components/popover/UnstyledPopoverIntroduction/system/index.js
  docs/data/base/components/popover/UnstyledPopoverIntroduction/system/index.tsx
  docs/data/base/components/popover/UnstyledPopoverIntroduction/system/index.tsx.preview
Owners: @atomiks, @colmtuite, @michaldudak

Remove elementsRef
  packages/mui-base/src/Composite/Root/CompositeRoot.tsx
  packages/mui-base/src/Composite/Root/CompositeRoot.types.ts
  packages/mui-base/src/Composite/Root/useCompositeRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Rename state
  packages/mui-base/src/RadioGroup/Indicator/RadioGroupIndicator.tsx
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Use span indicator
  packages/mui-base/src/RadioGroup/Indicator/RadioGroupIndicator.tsx
  packages/mui-base/src/RadioGroup/Indicator/RadioGroupIndicator.types.ts
Owners: @atomiks, @colmtuite, @michaldudak

Fix test
  packages/mui-base/src/RadioGroup/Indicator/RadioGroupIndicator.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Codegen
  docs/pages/base-ui/api/radio-group-indicator.json
  docs/pages/base-ui/api/use-radio-group-indicator.json
  docs/translations/api-docs/use-radio-group-indicator/use-radio-group-indicator.json
Owners: @atomiks, @michaldudak

use client
  packages/mui-base/src/Composite/Item/CompositeItem.tsx
  packages/mui-base/src/Composite/Item/useCompositeItem.ts
  packages/mui-base/src/Composite/Root/CompositeRoot.tsx
  packages/mui-base/src/Composite/Root/useCompositeRoot.ts
  packages/mui-base/src/Composite/utils/CompositeList/CompositeList.tsx
  packages/mui-base/src/Composite/utils/CompositeList/useCompositeListItem.ts
Owners: @atomiks, @colmtuite, @michaldudak

Switch to name prop
  docs/data/base/components/popover/UnstyledPopoverIntroduction/system/index.js
  docs/data/base/components/popover/UnstyledPopoverIntroduction/system/index.tsx
  docs/data/base/components/popover/UnstyledPopoverIntroduction/system/index.tsx.preview
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.js
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.tsx
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.tsx.preview
  docs/data/base/components/radio-group/radio-group.md
  docs/pages/base-ui/api/radio-group-item.json
  docs/translations/api-docs/radio-group-item/radio-group-item.json
  packages/mui-base/src/RadioGroup/Indicator/RadioGroupIndicator.test.tsx
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.test.tsx
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.tsx
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.types.ts
  packages/mui-base/src/RadioGroup/Item/useRadioGroupItem.ts
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.test.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.tsx
  packages/mui-base/src/RadioGroup/Root/useRadioGroupRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

value: string | number
  docs/pages/base-ui/api/radio-group-item.json
  docs/pages/base-ui/api/radio-group-root.json
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.tsx
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.types.ts
  packages/mui-base/src/RadioGroup/Item/useRadioGroupItem.ts
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.types.ts
  packages/mui-base/src/RadioGroup/Root/RadioGroupRootContext.ts
  packages/mui-base/src/RadioGroup/Root/useRadioGroupRoot.ts
Owners: @atomiks, @michaldudak, @colmtuite

Port Composite tests
  packages/mui-base/src/Composite/Item/CompositeItem.test.tsx
  packages/mui-base/src/Composite/Root/CompositeRoot.test.tsx
  packages/mui-base/src/Composite/Root/CompositeRoot.tsx
  packages/mui-base/src/Composite/Root/CompositeRoot.types.ts
  packages/mui-base/src/Composite/Root/useCompositeRoot.ts
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Update
  docs/pages/base-ui/api/radio-group-indicator.json
  docs/pages/base-ui/api/radio-group-item.json
  docs/pages/base-ui/api/radio-group-root.json
  docs/translations/api-docs/radio-group-indicator/radio-group-indicator.json
  packages/mui-base/src/RadioGroup/Indicator/RadioGroupIndicator.tsx
  packages/mui-base/src/RadioGroup/Indicator/RadioGroupIndicator.types.ts
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.tsx
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.types.ts
  packages/mui-base/src/RadioGroup/Item/useRadioGroupItem.ts
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.types.ts
  packages/mui-base/src/RadioGroup/Root/RadioGroupRootContext.ts
  packages/mui-base/src/RadioGroup/Root/useRadioGroupRoot.ts
Owners: @atomiks, @michaldudak, @colmtuite

Update Radio APIs
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.js
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.tsx
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.tsx.preview
  docs/data/base/components/radio-group/radio-group.md
  docs/data/base/pagesApi.js
  docs/pages/base-ui/api/radio-indicator.json
  docs/pages/base-ui/api/radio-root.json
  docs/pages/base-ui/api/use-radio-group-item.json
  docs/pages/base-ui/api/use-radio-root.json
  docs/pages/base-ui/react-radio-group/[docsTab]/index.js
  docs/translations/api-docs/radio-indicator/radio-indicator.json
  docs/translations/api-docs/radio-root/radio-root.json
  docs/translations/api-docs/use-radio-root/use-radio-root.json
  packages/mui-base/src/Radio/Indicator/RadioIndicator.test.tsx
  packages/mui-base/src/Radio/Indicator/RadioIndicator.tsx
  packages/mui-base/src/Radio/Root/RadioRoot.test.tsx
  packages/mui-base/src/Radio/Root/RadioRoot.tsx
  packages/mui-base/src/Radio/Root/RadioRootContext.ts
  packages/mui-base/src/Radio/Root/useRadioRoot.tsx
  packages/mui-base/src/Radio/index.barrel.ts
  packages/mui-base/src/Radio/index.ts
  packages/mui-base/src/RadioGroup/Indicator/RadioGroupIndicator.test.tsx
  packages/mui-base/src/RadioGroup/Indicator/RadioGroupIndicator.types.ts
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.test.tsx
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.types.ts
  packages/mui-base/src/RadioGroup/Item/RadioGroupItemContext.ts
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.test.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.types.ts
  packages/mui-base/src/RadioGroup/Root/RadioGroupRootContext.ts
  packages/mui-base/src/RadioGroup/Root/useRadioGroupRoot.ts
  packages/mui-base/src/RadioGroup/index.barrel.ts
  packages/mui-base/src/RadioGroup/index.ts
  packages/mui-base/src/utils/noop.ts
Owners: @atomiks, @colmtuite, @michaldudak

use client
  packages/mui-base/src/RadioGroup/Indicator/RadioGroupIndicator.tsx
  packages/mui-base/src/RadioGroup/Indicator/useRadioGroupIndicator.ts
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.tsx
  packages/mui-base/src/RadioGroup/Item/useRadioGroupItem.ts
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRootContext.ts
  packages/mui-base/src/RadioGroup/Root/useRadioGroupRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Add initial tests
  docs/pages/base-ui/api/radio-group-indicator.json
  docs/pages/base-ui/api/radio-group-item.json
  docs/pages/base-ui/api/radio-group-root.json
  docs/translations/api-docs/radio-group-item/radio-group-item.json
  docs/translations/api-docs/radio-group-root/radio-group-root.json
  packages/mui-base/src/RadioGroup/Indicator/RadioGroupIndicator.test.tsx
  packages/mui-base/src/RadioGroup/Indicator/RadioGroupIndicator.tsx
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.test.tsx
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.tsx
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.types.ts
  packages/mui-base/src/RadioGroup/Item/RadioGroupItemContext.ts
  packages/mui-base/src/RadioGroup/Item/useRadioGroupItem.ts
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.test.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.types.ts
  packages/mui-base/src/RadioGroup/Root/RadioGroupRootContext.ts
  packages/mui-base/src/RadioGroup/Root/useRadioGroupRoot.ts
Owners: @atomiks, @michaldudak, @colmtuite

Remove passing of non-DOM props
  packages/mui-base/src/Composite/Root/CompositeRoot.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Update demo
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.js
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Add autoselect
  docs/pages/base-ui/api/radio-group-root.json
  docs/translations/api-docs/radio-group-root/radio-group-root.json
  packages/mui-base/src/RadioGroup/Item/useRadioGroupItem.ts
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.test.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.types.ts
  packages/mui-base/src/RadioGroup/Root/RadioGroupRootContext.ts
  packages/mui-base/src/RadioGroup/Root/useRadioGroupRoot.ts
Owners: @atomiks, @michaldudak, @colmtuite

Refactor touched state
  packages/mui-base/src/Composite/Root/CompositeRoot.tsx
  packages/mui-base/src/Composite/Root/CompositeRoot.types.ts
  packages/mui-base/src/Composite/Root/useCompositeRoot.ts
  packages/mui-base/src/RadioGroup/Item/useRadioGroupItem.ts
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRootContext.ts
  packages/mui-base/src/RadioGroup/Root/useRadioGroupRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Fix docs lint
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.js
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Fix demo
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.js
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.tsx
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.tsx.preview
Owners: @atomiks, @colmtuite, @michaldudak

Remove unused hook
  packages/mui-base/src/RadioGroup/Indicator/RadioGroupIndicator.tsx
  packages/mui-base/src/RadioGroup/Indicator/useRadioGroupIndicator.ts
Owners: @atomiks, @colmtuite, @michaldudak

Add Radio tests back
  packages/mui-base/src/Radio/Indicator/RadioIndicator.test.tsx
  packages/mui-base/src/Radio/Root/RadioRoot.test.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Comment out Composite tests
  packages/mui-base/src/Composite/Item/CompositeItem.test.tsx
  packages/mui-base/src/Composite/Root/CompositeRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Fix error throw
  packages/mui-base/src/Radio/Root/RadioRootContext.ts
Owners: @atomiks, @colmtuite, @michaldudak

use client
  packages/mui-base/src/Radio/Indicator/RadioIndicator.tsx
  packages/mui-base/src/Radio/Root/RadioRoot.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Update APIs
  docs/pages/base-ui/api/use-composite-list-item.json
  packages/mui-base/src/Composite/Item/CompositeItem.test.tsx
  packages/mui-base/src/Composite/Item/CompositeItem.tsx
  packages/mui-base/src/Composite/Item/CompositeItem.types.ts
  packages/mui-base/src/Composite/Item/useCompositeItem.ts
  packages/mui-base/src/Composite/List/CompositeList.tsx
  packages/mui-base/src/Composite/List/CompositeListContext.ts
  packages/mui-base/src/Composite/List/useCompositeListItem.ts
  packages/mui-base/src/Composite/Root/CompositeRoot.test.tsx
  packages/mui-base/src/Composite/Root/CompositeRoot.tsx
  packages/mui-base/src/Composite/Root/CompositeRoot.types.ts
  packages/mui-base/src/Composite/Root/CompositeRootContext.ts
  packages/mui-base/src/Composite/utils/CompositeList/CompositeList.types.ts
  packages/mui-base/src/Radio/Indicator/RadioIndicator.tsx
  packages/mui-base/src/Radio/Root/RadioRoot.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.test.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.tsx
Owners: @atomiks, @michaldudak, @colmtuite
