Repository mui/base-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atomiks, @michaldudak, @colmtuite

Fix test linting
  packages/mui-base/src/Composite/Root/CompositeRoot.test.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Add styling
  docs/data/base/components/radio-group/radio-group.md
Owners: @atomiks, @colmtuite, @michaldudak

Delete tests
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Fix form test
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Update
  packages/mui-base/src/Radio/Indicator/RadioIndicator.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.test.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRootContext.ts
  packages/mui-base/src/RadioGroup/Root/useRadioGroupRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Test composite navigation directly
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Update tests
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Update types
  packages/mui-base/src/Radio/Root/RadioRoot.tsx
  packages/mui-base/src/Radio/Root/useRadioRoot.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Comment out all Radio tests
  packages/mui-base/src/Radio/Indicator/RadioIndicator.test.tsx
  packages/mui-base/src/Radio/Root/RadioRoot.test.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Integrate with Field
  packages/mui-base/src/Field/Description/FieldDescription.test.tsx
  packages/mui-base/src/Field/Label/FieldLabel.test.tsx
  packages/mui-base/src/Field/Root/FieldRoot.test.tsx
  packages/mui-base/src/Radio/Root/RadioRoot.tsx
  packages/mui-base/src/Radio/Root/RadioRootContext.ts
  packages/mui-base/src/Radio/Root/useRadioRoot.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRootContext.ts
  packages/mui-base/src/RadioGroup/Root/useRadioGroupRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

1.0.0-alpha.2
  CHANGELOG.md
  package.json
  packages/mui-base/package.json
Owners: @atomiks, @michaldudak, @colmtuite

Update the changelog
  CHANGELOG.md
Owners: @atomiks, @michaldudak

1.0.0-alpha.2 (#545)
  CHANGELOG.md
  package.json
  packages/mui-base/package.json
Owners: @atomiks, @michaldudak, @colmtuite

Package manager code snippet component
  docs/data/base/components/alert-dialog/alert-dialog.mdx
  docs/data/base/components/checkbox/checkbox.mdx
  docs/data/base/components/click-away-listener/click-away-listener.mdx
  docs/data/base/components/dialog/dialog.mdx
  docs/data/base/components/menu/menu.mdx
  docs/data/base/components/number-field/number-field.mdx
  docs/data/base/components/popover/popover.mdx
  docs/data/base/components/preview-card/preview-card.mdx
  docs/data/base/components/progress/progress.mdx
  docs/data/base/components/slider/slider.mdx
  docs/data/base/components/switch/switch.mdx
  docs/data/base/components/tabs/tabs.mdx
  docs/data/base/components/tooltip/tooltip.mdx
  docs/data/base/getting-started/quickstart/quickstart.mdx
  docs/src/blocks/PackageManagerSnippet/PackageManagerSnippetCode.tsx
  docs/src/blocks/PackageManagerSnippet/PackageManagerSnippetContext.tsx
  docs/src/blocks/PackageManagerSnippet/PackageManagerSnippetRoot.tsx
  docs/src/blocks/PackageManagerSnippet/index.ts
  docs/src/modules/common/MDXComponents.tsx
  docs/src/modules/common/PackageManagerSnippet.module.css
  docs/src/modules/common/PackageManagerSnippet.tsx
  docs/src/modules/components/InstallationInstructions.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Fix regression tests
  package.json
  pnpm-lock.yaml
  test/regressions/webpack.config.js
Owners: @atomiks, @michaldudak

polish the calloutz
  docs/data/base/getting-started/overview/overview.mdx
  docs/next-env.d.ts
  docs/src/modules/common/Callout.module.css
  docs/src/styles/theme.css
Owners: @atomiks, @colmtuite, @michaldudak

Include demo CSS variables
  test/regressions/index.js
  test/regressions/webpack.config.js
Owners: @atomiks, @michaldudak

Prettier
  docs/src/modules/common/Callout.module.css
Owners: @atomiks, @michaldudak

Page metadata
  docs/app/(content)/components/[slug]/page.tsx
  docs/app/(content)/getting-started/[slug]/page.tsx
  docs/app/(content)/guides/[slug]/page.tsx
  docs/app/layout.tsx
  docs/data/base/components/alert-dialog/alert-dialog.mdx
  docs/data/base/components/autocomplete/autocomplete.mdx
  docs/data/base/components/checkbox/checkbox.mdx
  docs/data/base/components/click-away-listener/click-away-listener.mdx
  docs/data/base/components/dialog/dialog.mdx
  docs/data/base/components/field/field.mdx
  docs/data/base/components/fieldset/fieldset.mdx
  docs/data/base/components/focus-trap/focus-trap.mdx
  docs/data/base/components/form-control/form-control.mdx
  docs/data/base/components/menu/menu.mdx
  docs/data/base/components/no-ssr/no-ssr.mdx
  docs/data/base/components/number-field/number-field.mdx
  docs/data/base/components/popover/popover.mdx
  docs/data/base/components/popup/popup.mdx
  docs/data/base/components/portal/portal.mdx
  docs/data/base/components/preview-card/preview-card.mdx
  docs/data/base/components/progress/progress.mdx
  docs/data/base/components/select/select.mdx
  docs/data/base/components/slider/slider.mdx
  docs/data/base/components/snackbar/snackbar.mdx
  docs/data/base/components/switch/switch.mdx
  docs/data/base/components/table-pagination/table-pagination.mdx
  docs/data/base/components/tabs/tabs.mdx
  docs/data/base/components/textarea-autosize/textarea-autosize.mdx
  docs/data/base/components/toggle-button-group/toggle-button-group.mdx
  docs/data/base/components/tooltip/tooltip.mdx
  docs/data/base/getting-started/accessibility/accessibility.mdx
  docs/data/base/getting-started/overview/overview.mdx
  docs/data/base/getting-started/quickstart/quickstart.mdx
  docs/data/base/getting-started/support/support.mdx
  docs/data/base/getting-started/usage/usage.mdx
  docs/data/base/guides/next-js-app-router/next-js-app-router.mdx
  docs/package.json
  docs/src/modules/components/Description.tsx
  docs/src/utils/getMarkdownPage.ts
  pnpm-lock.yaml
Owners: @atomiks, @michaldudak, @colmtuite

Home page SEO description
  docs/app/page.tsx
Owners: @atomiks, @michaldudak

Fix merge
  docs/data/base/components/checkbox/UnstyledCheckboxIndeterminateGroup.js
  packages/mui-base/src/Checkbox/Root/useCheckboxRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Update APIs
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupIntroduction/css/index.js
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupIntroduction/css/index.tsx
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupIntroduction/system/index.js
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupIntroduction/system/index.tsx
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupIntroduction/tailwind/index.js
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupIntroduction/tailwind/index.tsx
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupNested.js
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupNested.tsx
  docs/data/base/components/checkbox-group/checkbox-group.md
  docs/data/base/pagesApi.js
  docs/pages/base-ui/api/checkbox-group-label.json
  docs/pages/base-ui/api/checkbox-group-root.json
  docs/translations/api-docs/checkbox-group-label/checkbox-group-label.json
  docs/translations/api-docs/checkbox-group-root/checkbox-group-root.json
  packages/mui-base/src/Checkbox/Root/CheckboxRoot.tsx
  packages/mui-base/src/Checkbox/Root/useCheckboxRoot.ts
  packages/mui-base/src/CheckboxGroup/Label/CheckboxGroupLabel.test.tsx
  packages/mui-base/src/CheckboxGroup/Label/CheckboxGroupLabel.tsx
  packages/mui-base/src/CheckboxGroup/Label/CheckboxGroupLabel.types.ts
  packages/mui-base/src/CheckboxGroup/Parent/useCheckboxGroupParent.ts
  packages/mui-base/src/CheckboxGroup/Parent/useCheckboxGroupParent.types.ts
  packages/mui-base/src/CheckboxGroup/Root/CheckboxGroupRoot.tsx
  packages/mui-base/src/CheckboxGroup/Root/CheckboxGroupRoot.types.ts
  packages/mui-base/src/CheckboxGroup/Root/useCheckboxGroupRoot.tsx
  packages/mui-base/src/CheckboxGroup/Root/useCheckboxGroupRoot.types.ts
  packages/mui-base/src/CheckboxGroup/index.barrel.ts
  packages/mui-base/src/CheckboxGroup/index.ts
  packages/mui-base/src/Form/FormContext.tsx
  packages/mui-base/src/Form/Label/FormLabel.tsx
  packages/mui-base/src/Form/Label/FormLabel.types.ts
  packages/mui-base/src/Form/Label/useFormLabel.ts
  packages/mui-base/src/Form/index.barrel.ts
  packages/mui-base/src/Form/index.ts
Owners: @atomiks, @colmtuite, @michaldudak

Remove label
  docs/data/base/components/checkbox-group/checkbox-group.md
  docs/pages/base-ui/react-checkbox-group/[docsTab]/index.js
Owners: @atomiks, @colmtuite, @michaldudak

docs:api
  docs/pages/base-ui/api/slider-root.json
Owners: @atomiks, @michaldudak

[Slider] Fix Home / End regression (#526)
  packages/mui-base/src/Slider/Root/SliderRoot.test.tsx
  packages/mui-base/src/Slider/Thumb/useSliderThumb.ts
Owners: @atomiks, @colmtuite, @michaldudak

fix
  packages/mui-base/src/Menu/Root/MenuRoot.tsx
Owners: @atomiks, @colmtuite, @michaldudak

docs:api
  docs/pages/base-ui/api/menu-root.json
  packages/mui-base/src/Menu/Root/MenuRoot.tsx
Owners: @atomiks, @michaldudak, @colmtuite

Enable Tailwind CSS on demos
  docs/src/styles/style.css
  docs/tailwind.config.js
  docs/tailwind.config.ts
Owners: @atomiks, @michaldudak

Enable Tailwind CSS on regression tests
  package.json
  pnpm-lock.yaml
  test/regressions/index.js
  test/regressions/tailwind.css
  test/regressions/webpack.config.js
Owners: @atomiks, @michaldudak

Disable custom font in regression tests
  test/regressions/webpack.config.js
Owners: @atomiks, @michaldudak

ComponentLinkHeader
  docs/app/(content)/components/[slug]/page.tsx
  docs/src/modules/components/ComponentLinkHeader.module.css
  docs/src/modules/components/ComponentLinkHeader.tsx
  docs/src/modules/components/Description.module.css
Owners: @atomiks, @michaldudak

Support demos with transitive dependencies
  docs/data/components/menu/MenuIntroduction/css/Menu.js
  docs/data/components/menu/MenuIntroduction/css/Menu.module.css
  docs/data/components/menu/MenuIntroduction/css/Menu.tsx
  docs/data/components/menu/MenuIntroduction/css/index.js
  docs/data/components/menu/MenuIntroduction/css/index.tsx
  docs/data/components/menu/MenuIntroduction/css/index.tsx.preview
  docs/src/styles/demo-colors.css
  docs/src/utils/loadDemo.ts
Owners: @atomiks, @colmtuite, @michaldudak

Fix React errors
  docs/src/modules/components/ComponentLinkHeader.tsx
Owners: @atomiks, @michaldudak

Fix merge errors
  packages/mui-base/src/Checkbox/Root/useCheckboxRoot.ts
  packages/mui-base/src/Field/Control/FieldControl.tsx
  packages/mui-base/src/Field/Control/useFieldControl.ts
  packages/mui-base/src/Field/Error/FieldError.tsx
  packages/mui-base/src/NumberField/Root/useNumberFieldRoot.ts
  packages/mui-base/src/Switch/Root/useSwitchRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Fix merge errors
  packages/mui-base/src/Field/Control/useFieldControlValidation.ts
Owners: @atomiks, @colmtuite, @michaldudak

Fix merge errors
  packages/mui-base/src/Field/Control/useFieldControlValidation.ts
Owners: @atomiks, @colmtuite, @michaldudak

Remove Form.Submit
  docs/data/base/components/form/UnstyledFormIntroduction/system/index.js
  docs/data/base/components/form/UnstyledFormIntroduction/system/index.tsx
  packages/mui-base/src/Field/Error/useFieldError.ts
  packages/mui-base/src/Form/Submit/FormSubmit.test.tsx
  packages/mui-base/src/Form/Submit/FormSubmit.tsx
  packages/mui-base/src/Form/index.barrel.ts
  packages/mui-base/src/Form/index.ts
Owners: @atomiks, @colmtuite, @michaldudak

ToggleButtonGroup component
  docs/src/design-system/ToggleButtonGroup.module.css
  docs/src/design-system/ToggleButtonGroup.tsx
  docs/src/modules/common/PackageManagerSnippet.tsx
  docs/src/modules/components/Demo.module.css
  docs/src/modules/components/DemoVariantSelector.module.css
  docs/src/modules/components/DemoVariantSelector.tsx
Owners: @atomiks, @michaldudak

Demo file selector
  docs/src/modules/components/Demo.module.css
  docs/src/modules/components/Demo.tsx
  docs/src/modules/components/DemoFileSelector.module.css
  docs/src/modules/components/DemoFileSelector.tsx
Owners: @atomiks, @michaldudak

Improve Lighhouse score
  docs/config.d.ts
  docs/config.ts
  docs/src/modules/common/AppBar.tsx
  docs/src/modules/components/DemoVariantSelector.tsx
  docs/src/styles/shiki.css
  docs/src/styles/style.css
  docs/src/utils/getMarkdownPage.ts
  docs/src/utils/loadDemo.ts
  docs/tsconfig.json
Owners: @atomiks, @michaldudak

.github/CODEOWNERS:

* @atomiks @michaldudak
/docs/data/ @atomiks @colmtuite @michaldudak
/examples/ @atomiks @colmtuite @michaldudak
/packages/mui-base/ @atomiks @colmtuite @michaldudak
/scripts/ @michaldudak
