Repository mui/base-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atomiks, @michaldudak, @colmtuite

Cleanup
  packages/react/test/index.ts
  packages/react/test/popupConformanceTests.tsx
Owners: @atomiks, @colmtuite, @michaldudak

[core] Remove unused utils
  packages/react/src/utils/isHostComponent.ts
  packages/react/src/utils/useControllableReducer.test.tsx
  packages/react/src/utils/useControllableReducer.ts
  packages/react/src/utils/useControllableReducer.types.ts
  packages/react/src/utils/useTextNavigation.ts
Owners: @atomiks, @colmtuite, @michaldudak

[core] Update to new Tailwind docs
  docs/src/components/Demo/CodeSandboxLink.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Try out circleci workspaces
  .circleci/config.yml
Owners: @atomiks, @michaldudak

Skip checkout and pnpm i
  .circleci/config.yml
Owners: @atomiks, @michaldudak

Install pnpm in downstream job
  .circleci/config.yml
Owners: @atomiks, @michaldudak

Use ramdisk
  .circleci/config.yml
Owners: @atomiks, @michaldudak

Move pnpm store to ramdisk
  .circleci/config.yml
Owners: @atomiks, @michaldudak

Update all the jobs
  .circleci/config.yml
Owners: @atomiks, @michaldudak

Run browser tests outside of ramdisk
  .circleci/config.yml
Owners: @atomiks, @michaldudak

[useAnchorPositioning] Add `OffsetFunction` for `sideOffset` and `alignOffset` (#1223)
  docs/reference/generated/menu-positioner.json
  docs/reference/generated/popover-positioner.json
  docs/reference/generated/preview-card-positioner.json
  docs/reference/generated/select-positioner.json
  docs/reference/generated/tooltip-positioner.json
  docs/reference/overrides/common.json
  docs/src/app/(private)/experiments/tooltip.tsx
  packages/react/src/menu/positioner/MenuPositioner.test.tsx
  packages/react/src/menu/positioner/MenuPositioner.tsx
  packages/react/src/popover/positioner/PopoverPositioner.test.tsx
  packages/react/src/popover/positioner/PopoverPositioner.tsx
  packages/react/src/preview-card/positioner/PreviewCardPositioner.test.tsx
  packages/react/src/preview-card/positioner/PreviewCardPositioner.tsx
  packages/react/src/select/positioner/SelectPositioner.test.tsx
  packages/react/src/select/positioner/SelectPositioner.tsx
  packages/react/src/tooltip/positioner/TooltipPositioner.test.tsx
  packages/react/src/tooltip/positioner/TooltipPositioner.tsx
  packages/react/src/utils/useAnchorPositioning.ts
Owners: @atomiks, @michaldudak, @colmtuite

Handle edge case
  packages/react/src/form/Form.test.tsx
  packages/react/src/form/Form.tsx
Owners: @atomiks, @colmtuite, @michaldudak

[test] Fix MenuRoot flake
  packages/react/src/menu/root/MenuRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

[Form] Fix focusing of invalid field controls on errors prop change (#1364)
  packages/react/src/form/Form.test.tsx
  packages/react/src/form/Form.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Add example
  docs/src/app/(public)/(content)/react/components/form/demos/zod/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/form/demos/zod/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/form/demos/zod/index.ts
  docs/src/app/(public)/(content)/react/components/form/demos/zod/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/form/page.mdx
Owners: @atomiks, @colmtuite, @michaldudak

[docs] Zod Form example
  docs/package.json
  docs/src/app/(private)/experiments/zod.tsx
  docs/src/app/(public)/(content)/react/components/form/page.mdx
  pnpm-lock.yaml
Owners: @atomiks, @michaldudak, @colmtuite

[core] Allow undefined fn for useEventCallback
  packages/react/src/utils/useEventCallback.ts
Owners: @atomiks, @colmtuite, @michaldudak

Remove workarounds
  packages/react/src/checkbox-group/useCheckboxGroupParent.ts
  packages/react/src/checkbox/root/useCheckboxRoot.ts
  packages/react/src/field/root/FieldRoot.tsx
  packages/react/src/form/Form.tsx
  packages/react/src/menu/radio-group/MenuRadioGroup.tsx
  packages/react/src/number-field/root/useNumberFieldRoot.ts
  packages/react/src/popover/root/usePopoverRoot.ts
  packages/react/src/preview-card/root/usePreviewCardRoot.ts
  packages/react/src/switch/root/useSwitchRoot.ts
  packages/react/src/tooltip/root/useTooltipRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Experiment browser and codesandbox editing
  docs/src/app/(private)/experiments/[slug]/page.module.css
  docs/src/app/(private)/experiments/[slug]/page.tsx
  docs/src/app/(private)/experiments/experiments.module.css
  docs/src/app/(private)/experiments/infra/EditPanel.module.css
  docs/src/app/(private)/experiments/infra/EditPanel.tsx
  docs/src/app/(private)/experiments/infra/ExperimentsList.module.css
  docs/src/app/(private)/experiments/infra/ExperimentsList.tsx
  docs/src/app/(private)/experiments/infra/SandboxLink.tsx
  docs/src/app/(private)/experiments/infra/SettingsPanel.module.css
  docs/src/app/(private)/experiments/infra/SettingsPanel.tsx
  docs/src/app/(private)/experiments/infra/Sidebar.module.css
  docs/src/app/(private)/experiments/infra/Sidebar.tsx
  docs/src/app/(private)/experiments/layout.tsx
  docs/src/app/(private)/experiments/page.tsx
  docs/src/blocks/createCodeSandbox/packDemo.ts
  docs/src/components/Demo/DemoLoader.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Placeholder landing page
  docs/src/app/(private)/experiments/experiments.module.css
  docs/src/app/(private)/experiments/layout.module.css
  docs/src/app/(private)/experiments/layout.tsx
  docs/src/app/(private)/experiments/page.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Collapse empty panels
  docs/src/app/(private)/experiments/infra/Sidebar.module.css
Owners: @atomiks, @colmtuite, @michaldudak

Fix issues
  docs/src/app/(private)/experiments/infra/SettingsPanel.tsx
  docs/src/components/Demo/DemoLoader.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Better landing page
  docs/src/app/(private)/experiments/[slug]/page.tsx
  docs/src/app/(private)/experiments/infra/Sidebar.module.css
  docs/src/app/(private)/experiments/infra/Sidebar.tsx
  docs/src/app/(private)/experiments/layout.module.css
  docs/src/app/(private)/experiments/page.module.css
  docs/src/app/(private)/experiments/page.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Support for subdirectories
  docs/src/app/(private)/experiments/[...slug]/page.tsx
  docs/src/app/(private)/experiments/infra/ExperimentsList.module.css
  docs/src/app/(private)/experiments/infra/ExperimentsList.tsx
  docs/src/app/(private)/experiments/infra/SettingsPanel.tsx
  docs/src/utils/camelToSentenceCase.ts
Owners: @atomiks, @colmtuite, @michaldudak

Move experiments into subdirectories
  docs/src/app/(private)/experiments/accordion/accordion-animations.tsx
  docs/src/app/(private)/experiments/accordion/accordion-horizontal.tsx
  docs/src/app/(private)/experiments/accordion/accordion.horizontal.module.css
  docs/src/app/(private)/experiments/accordion/accordion.module.css
  docs/src/app/(private)/experiments/collapsible/collapsible-cls.tsx
  docs/src/app/(private)/experiments/collapsible/collapsible-framer.tsx
  docs/src/app/(private)/experiments/collapsible/collapsible-hidden-until-found.tsx
  docs/src/app/(private)/experiments/collapsible/collapsible.module.css
  docs/src/app/(private)/experiments/collapsible/collapsible.tsx
  docs/src/app/(private)/experiments/infra/ExperimentsList.tsx
  docs/src/app/(private)/experiments/menu/menu-anchor-el.tsx
  docs/src/app/(private)/experiments/menu/menu-anchor-ref.tsx
  docs/src/app/(private)/experiments/menu/menu-fully-featured.tsx
  docs/src/app/(private)/experiments/menu/menu-nested.tsx
  docs/src/app/(private)/experiments/menu/menu-rtl.tsx
  docs/src/app/(private)/experiments/menu/menu.module.css
  docs/src/app/(private)/experiments/popups/popups-in-popups.tsx
  docs/src/app/(private)/experiments/popups/popups-transform-origin.module.css
  docs/src/app/(private)/experiments/popups/popups-transform-origin.tsx
  docs/src/app/(private)/experiments/scroll-area/scroll-area-inset.module.css
  docs/src/app/(private)/experiments/scroll-area/scroll-area-inset.tsx
  docs/src/app/(private)/experiments/scroll-area/scroll-area.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Sort experiments
  docs/src/app/(private)/experiments/infra/ExperimentsList.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Preserve () => null fallback for Field
  packages/react/src/field/root/FieldRoot.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Add a test
  packages/react/src/avatar/fallback/AvatarFallback.test.tsx
  packages/react/src/avatar/fallback/AvatarFallback.tsx
  packages/react/src/avatar/image/AvatarImage.tsx
  packages/react/src/avatar/image/useImageLoadingStatus.ts
  packages/react/src/avatar/root/AvatarRoot.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Test the delay prop
  packages/react/src/avatar/fallback/AvatarFallback.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Fix TS
  packages/react/src/avatar/fallback/AvatarFallback.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Use noop util
  packages/react/src/avatar/image/AvatarImage.tsx
  packages/react/src/avatar/image/useImageLoadingStatus.ts
  packages/react/src/avatar/root/AvatarRoot.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Fix referrerPolicy
  packages/react/src/avatar/image/AvatarImage.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Remove zod.tsx
  docs/src/app/(private)/experiments/zod.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Simplify root and context
  packages/react/src/avatar/fallback/AvatarFallback.tsx
  packages/react/src/avatar/image/AvatarImage.tsx
  packages/react/src/avatar/root/AvatarRoot.tsx
  packages/react/src/avatar/root/AvatarRootContext.ts
  packages/react/src/avatar/root/useAvatarRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Fix onLoadingStatusChange missing from docs
  docs/reference/generated/avatar-image.json
  packages/react/src/avatar/image/AvatarImage.tsx
Owners: @atomiks, @michaldudak, @colmtuite

Set font-size on avatar fallback demo
  docs/src/app/(public)/(content)/react/components/avatar/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/avatar/demos/hero/tailwind/index.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Fix eslint
  packages/react/src/avatar/image/AvatarImage.tsx
Owners: @atomiks, @colmtuite, @michaldudak

docs
  docs/reference/generated/avatar-image.json
  docs/reference/overrides/avatar-image.json
Owners: @atomiks, @michaldudak

Fix slug generation
  docs/src/app/(private)/experiments/[...slug]/page.tsx
Owners: @atomiks, @colmtuite, @michaldudak

lint
  docs/src/app/(private)/experiments/[...slug]/page.tsx
Owners: @atomiks, @colmtuite, @michaldudak

.github/CODEOWNERS:

* @atomiks @michaldudak
/docs/src/ @atomiks @colmtuite @michaldudak
/packages/react/ @atomiks @colmtuite @michaldudak
/scripts/ @michaldudak
