Repository mui/base-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atomiks, @michaldudak, @colmtuite

[test] Initial support for vitest
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-base/src/Checkbox/Root/CheckboxRoot.test.tsx
  packages/mui-base/src/Collapsible/Root/CollapsibleRoot.test.tsx
  packages/mui-base/src/Dialog/Root/DialogRoot.test.tsx
  packages/mui-base/src/Menu/CheckboxItem/MenuCheckboxItem.test.tsx
  packages/mui-base/src/Menu/Item/MenuItem.test.tsx
  packages/mui-base/src/Menu/Positioner/MenuPositioner.test.tsx
  packages/mui-base/src/Menu/RadioItem/MenuRadioItem.test.tsx
  packages/mui-base/src/Menu/Root/MenuRoot.test.tsx
  packages/mui-base/src/NumberField/Root/NumberFieldRoot.test.tsx
  packages/mui-base/src/NumberField/utils/parse.test.ts
  packages/mui-base/src/Progress/Indicator/ProgressIndicator.test.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.test.tsx
  packages/mui-base/src/Slider/Root/SliderRoot.test.tsx
  packages/mui-base/src/Switch/Root/SwitchRoot.test.tsx
  packages/mui-base/src/Tabs/Root/TabsRoot.test.tsx
  packages/mui-base/src/Tabs/TabIndicator/TabIndicator.test.tsx
  pnpm-lock.yaml
  test/package.json
  test/setupVitest.ts
  vitest.config.mts
  vitest.workspace.ts
Owners: @atomiks, @michaldudak, @colmtuite

Enable browser tests
  packages/mui-base/src/Dialog/Root/DialogRoot.test.tsx
  packages/mui-base/src/Menu/Positioner/MenuPositioner.test.tsx
  packages/mui-base/src/Menu/Root/MenuRoot.test.tsx
  packages/mui-base/src/Slider/Root/SliderRoot.test.tsx
  vitest.workspace.ts
Owners: @atomiks, @colmtuite, @michaldudak

prettier
  docs/src/app/experiments/accordion-animations.tsx
  docs/src/app/experiments/accordion-horizontal.tsx
  docs/src/app/experiments/accordion.tsx
  docs/src/app/experiments/collapsible-cls.tsx
Owners: @atomiks, @michaldudak

Modularize config
  package.json
  pnpm-lock.yaml
  vitest.workspace.ts
Owners: @atomiks, @michaldudak

Fix act warnings
  packages/mui-base/src/NumberField/ScrubArea/NumberFieldScrubArea.test.tsx
  packages/mui-base/src/NumberField/ScrubAreaCursor/NumberFieldScrubAreaCursor.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

un-skip checkbox tests
  packages/mui-base/src/Checkbox/Root/CheckboxRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Use vitest on CircleCI
  .circleci/config.yml
Owners: @atomiks, @michaldudak

Dedupe
  pnpm-lock.yaml
Owners: @atomiks, @michaldudak

Fixes
  .circleci/config.yml
  vitest.workspace.ts
Owners: @atomiks, @michaldudak

Lint
  packages/mui-base/src/Menu/Positioner/MenuPositioner.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Revert increased timeout
  packages/mui-base/src/Menu/Root/MenuRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Update homepage, logos, and favicons
  .eslintrc.js
  docs/public/static/apple-touch-icon.png
  docs/public/static/favicon-dev.ico
  docs/public/static/favicon-dev.svg
  docs/public/static/favicon-safari.ico
  docs/public/static/favicon.ico
  docs/public/static/favicon.svg
  docs/public/static/manifest.json
  docs/src/app/(content)/components/[slug]/layout.tsx
  docs/src/app/(content)/getting-started/[slug]/layout.tsx
  docs/src/app/(content)/guides/[slug]/layout.tsx
  docs/src/app/(new)/layout.tsx
  docs/src/app/(new)/page.tsx
  docs/src/app/Favicons.tsx
  docs/src/app/experiments/experiments.module.css
  docs/src/app/layout.tsx
  docs/src/app/new/page.tsx
  docs/src/app/new/styles.css
  docs/src/app/page.tsx
  docs/src/components/AppBar.module.css
  docs/src/components/AppBar.tsx
  docs/src/components/Logo.css
  docs/src/components/Logo.tsx
  docs/src/fonts/bold.woff2
  docs/src/fonts/fonts.css
  docs/src/fonts/medium.woff2
  docs/src/fonts/regular.woff2
  docs/src/icons/BaseUI.tsx
  docs/src/styles.css
  docs/src/styles/style.css
  docs/tailwind.config.ts
Owners: @atomiks, @michaldudak

Move useContext call from hooks to components
  packages/mui-base/src/Tabs/Tab/Tab.tsx
  packages/mui-base/src/Tabs/Tab/useTab.test.tsx
  packages/mui-base/src/Tabs/Tab/useTab.ts
Owners: @atomiks, @colmtuite, @michaldudak

add missing defaults to Collapsible* components
  packages/mui-base/src/Collapsible/Content/CollapsibleContent.tsx
  packages/mui-base/src/Collapsible/Root/CollapsibleRoot.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Tweak meta
  docs/src/app/layout.tsx
Owners: @atomiks, @michaldudak

Undo unnecessary change
  docs/src/styles/style.css
Owners: @atomiks, @michaldudak

typo
  docs/src/styles/style.css
Owners: @atomiks, @michaldudak

TabsList
  packages/mui-base/src/Tabs/TabsList/TabsList.tsx
  packages/mui-base/src/Tabs/TabsList/useTabsList.test.tsx
  packages/mui-base/src/Tabs/TabsList/useTabsList.ts
Owners: @atomiks, @colmtuite, @michaldudak

TabPanel
  packages/mui-base/src/Tabs/TabPanel/TabPanel.tsx
  packages/mui-base/src/Tabs/TabPanel/useTabPanel.test.tsx
  packages/mui-base/src/Tabs/TabPanel/useTabPanel.ts
Owners: @atomiks, @colmtuite, @michaldudak

Logo tweaks
  docs/src/app/(new)/page.tsx
  docs/src/components/AppBar.tsx
  docs/src/components/Logo.css
  docs/src/components/Logo.tsx
Owners: @atomiks, @michaldudak

TabIndicator
  packages/mui-base/src/Tabs/TabIndicator/TabIndicator.tsx
  packages/mui-base/src/Tabs/TabIndicator/useTabIndicator.ts
  packages/mui-base/src/utils/useOnMount.ts
Owners: @atomiks, @colmtuite, @michaldudak

Take into account rubber band in Safari
  packages/mui-base/src/ScrollArea/Viewport/useScrollAreaViewport.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Logo tweaks
  docs/src/components/Logo.css
Owners: @atomiks, @michaldudak

Logo pattern
  docs/public/static/logo.svg
  docs/src/app/(new)/page.tsx
  docs/tailwind.config.ts
  packages/mui-base/README.md
Owners: @atomiks, @michaldudak, @colmtuite

Dial in the layout and add a CSS file for Colm
  docs/src/app/(new)/page.css
  docs/src/app/(new)/page.tsx
Owners: @atomiks, @michaldudak

Clean up stray docs types (#747)
  docs/src/app/(content)/components/[slug]/getApiReferenceData.ts
  docs/src/components/ApiReference.tsx
  docs/tsconfig.json
  docs/types.d.ts
  docs/types/ComponentAPIReference.ts
  docs/types/docs.d.ts
Owners: @atomiks, @michaldudak

Fix review comments
  docs/data/components/accordion/accordion.mdx
  docs/data/components/collapsible/CssAnimatedCollapsible.js
  docs/data/components/collapsible/CssAnimatedCollapsible.tsx
  docs/data/components/collapsible/CssTransitionCollapsible.js
  docs/data/components/collapsible/CssTransitionCollapsible.tsx
  packages/mui-base/src/Accordion/Item/AccordionItemContext.ts
  packages/mui-base/src/Accordion/Root/AccordionRoot.tsx
  packages/mui-base/src/Accordion/Root/AccordionRootContext.ts
Owners: @atomiks, @colmtuite, @michaldudak

[POC] HOC-based component replacement
  docs/src/app/experiments/hoc-component-replacement.tsx
  packages/mui-base/src/Menu/Trigger/asMenuTrigger.tsx
  packages/mui-base/src/Menu/index.parts.ts
Owners: @atomiks, @michaldudak, @colmtuite

Universally update style hooks from data-attr='true' to data-attr
  docs/data/components/slider/UnstyledSliderIntroduction/system/index.js
  docs/data/components/slider/UnstyledSliderIntroduction/system/index.tsx
  docs/data/components/slider/styles.module.css
  docs/data/components/slider/vertical.module.css
  docs/data/components/tabs/IndicatorBubble.js
  docs/data/components/tabs/IndicatorBubble.tsx
  docs/data/components/tabs/IndicatorUnderline.js
  docs/data/components/tabs/IndicatorUnderline.tsx
  docs/data/components/tabs/KeyboardNavigation.js
  docs/data/components/tabs/KeyboardNavigation.tsx
  docs/data/components/tabs/UnstyledTabsIntroduction/css-modules/index.js
  docs/data/components/tabs/UnstyledTabsIntroduction/css-modules/index.tsx
  docs/data/components/tabs/UnstyledTabsIntroduction/system/index.js
  docs/data/components/tabs/UnstyledTabsIntroduction/system/index.tsx
  docs/data/components/tabs/UnstyledTabsRouting.js
  docs/data/components/tabs/UnstyledTabsRouting.tsx
  docs/data/getting-started/accessibility/FocusRing.js
  docs/data/getting-started/accessibility/FocusRing.tsx
  docs/src/app/experiments/slider.module.css
  docs/src/app/experiments/tabs.tsx
  docs/src/components/content/PackageManagerSnippet.module.css
  docs/src/components/demo/DemoFileSelector.module.css
  docs/src/design-system/ToggleButtonGroup.module.css
  docs/src/design-system/ToggleButtonGroup.tsx
  packages/mui-base/src/Accordion/Item/styleHooks.ts
  packages/mui-base/src/Accordion/Root/AccordionRoot.tsx
  packages/mui-base/src/Checkbox/Root/CheckboxRoot.test.tsx
  packages/mui-base/src/Field/Root/FieldRoot.test.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.test.tsx
  packages/mui-base/src/Slider/Root/SliderRoot.test.tsx
  packages/mui-base/src/Switch/Root/SwitchRoot.test.tsx
  packages/mui-base/src/utils/getStyleHookProps.test.ts
  packages/mui-base/src/utils/getStyleHookProps.ts
Owners: @atomiks, @colmtuite, @michaldudak

Big type
  docs/src/app/(new)/page.css
  docs/src/app/(new)/page.tsx
  docs/src/styles.css
  docs/tailwind.config.ts
Owners: @atomiks, @michaldudak

[POC] Radixify HOC
  docs/src/app/experiments/hoc-component-replacement.tsx
  docs/src/app/experiments/radixify.tsx
  packages/mui-base/src/Menu/Trigger/asMenuTrigger.tsx
  packages/mui-base/src/Menu/index.parts.ts
  packages/mui-base/src/utils/radixify.tsx
Owners: @atomiks, @michaldudak, @colmtuite

[Tooltip] Fix `trackCursorAxis` prop (#741)
  docs/data/components/tooltip/tooltip.mdx
  packages/mui-base/src/Menu/CheckboxItem/MenuCheckboxItem.test.tsx
  packages/mui-base/src/Menu/Item/MenuItem.test.tsx
  packages/mui-base/src/Menu/Popup/MenuPopup.test.tsx
  packages/mui-base/src/Menu/Positioner/MenuPositioner.test.tsx
  packages/mui-base/src/Menu/Positioner/MenuPositioner.tsx
  packages/mui-base/src/Menu/RadioItem/MenuRadioItem.test.tsx
  packages/mui-base/src/Menu/Root/useMenuRoot.ts
  packages/mui-base/src/Menu/Trigger/MenuTrigger.test.tsx
  packages/mui-base/src/Popover/Positioner/PopoverPositioner.tsx
  packages/mui-base/src/Popover/Root/PopoverRoot.tsx
  packages/mui-base/src/Popover/Root/PopoverRootContext.ts
  packages/mui-base/src/Popover/Root/usePopoverRoot.ts
  packages/mui-base/src/PreviewCard/Positioner/PreviewCardPositioner.tsx
  packages/mui-base/src/PreviewCard/Root/PreviewCardContext.ts
  packages/mui-base/src/PreviewCard/Root/PreviewCardRoot.tsx
  packages/mui-base/src/PreviewCard/Root/usePreviewCardRoot.ts
  packages/mui-base/src/Tooltip/Positioner/TooltipPositioner.tsx
  packages/mui-base/src/Tooltip/Root/TooltipRoot.tsx
  packages/mui-base/src/Tooltip/Root/TooltipRootContext.ts
  packages/mui-base/src/Tooltip/Root/useTooltipRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

[core] Fix gitignore to exclude playgrounds
  .gitignore
Owners: @atomiks, @michaldudak

Bump monorepo
  package.json
  pnpm-lock.yaml
Owners: @atomiks, @michaldudak

Refactor: Set 'disabled' via useCheckboxRoot's getButtonProps and remove 'aria-disabled'. Applied the same update to Switch component.
  packages/mui-base/src/Checkbox/Root/CheckboxRoot.tsx
  packages/mui-base/src/Checkbox/Root/useCheckboxRoot.ts
  packages/mui-base/src/Switch/Root/SwitchRoot.tsx
  packages/mui-base/src/Switch/Root/useSwitchRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Added comma as before while reverting changes in CheckboxRoot
  packages/mui-base/src/Checkbox/Root/CheckboxRoot.tsx
Owners: @atomiks, @colmtuite, @michaldudak

[core] Fix gitignore to exclude playgrounds (#757)
  .gitignore
Owners: @atomiks, @michaldudak

[POC] Inverted `as` AKA `behavior` prop
  docs/src/app/experiments/behavior-prop.tsx
  packages/mui-base/src/Button/Button.tsx
  packages/mui-base/src/Button/index.ts
  packages/mui-base/src/Text/Text.tsx
  packages/mui-base/src/Text/index.ts
Owners: @atomiks, @michaldudak, @colmtuite

Multiple behaviors
  docs/src/app/experiments/behavior-prop.tsx
  packages/mui-base/src/Button/Button.tsx
Owners: @atomiks, @michaldudak, @colmtuite

Update fonts and other base styles
  .eslintrc.js
  docs/public/static/apple-touch-icon.png
  docs/public/static/favicon-dev.ico
  docs/public/static/icons/192x192.png
  docs/public/static/icons/256x256.png
  docs/public/static/icons/384x384.png
  docs/public/static/icons/48x48.png
  docs/public/static/icons/512x512.png
  docs/public/static/icons/96x96.png
  docs/public/static/manifest.json
  docs/src/app/Favicons.tsx
  docs/src/app/experiments/experiments.module.css
  docs/src/app/layout.tsx
  docs/src/app/new/layout.tsx
  docs/src/app/new/page.tsx
  docs/src/app/new/styles.css
  docs/src/fonts/bold.woff2
  docs/src/fonts/fonts.css
  docs/src/fonts/medium.woff2
  docs/src/fonts/regular.woff2
  docs/src/styles.css
  docs/src/styles/content.css
  docs/tailwind.config.ts
Owners: @atomiks, @michaldudak

.github/CODEOWNERS:

* @atomiks @michaldudak
/docs/data/ @atomiks @colmtuite @michaldudak
/packages/mui-base/ @atomiks @colmtuite @michaldudak
/scripts/ @michaldudak
