Repository mui/base-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atomiks, @michaldudak, @colmtuite

.github/CODEOWNERS:

* @atomiks @michaldudak
/docs/data/ @atomiks @colmtuite @michaldudak
/packages/mui-base/ @atomiks @colmtuite @michaldudak
/scripts/ @michaldudak

ESLint
  .eslintrc.js
Owners: @atomiks, @michaldudak

ESLint :)
  .eslintrc.js
Owners: @atomiks, @michaldudak

[docs] Set up fonts and other base styles (#759)
  .eslintrc.js
  docs/public/static/apple-touch-icon.png
  docs/public/static/favicon-dev.ico
  docs/public/static/icons/192x192.png
  docs/public/static/icons/256x256.png
  docs/public/static/icons/384x384.png
  docs/public/static/icons/48x48.png
  docs/public/static/icons/512x512.png
  docs/public/static/icons/96x96.png
  docs/public/static/manifest.json
  docs/src/app/Favicons.tsx
  docs/src/app/experiments/experiments.module.css
  docs/src/app/layout.tsx
  docs/src/app/new/layout.tsx
  docs/src/app/new/page.tsx
  docs/src/app/new/styles.css
  docs/src/fonts/bold.woff2
  docs/src/fonts/fonts.css
  docs/src/fonts/medium.woff2
  docs/src/fonts/regular.woff2
  docs/src/styles.css
  docs/src/styles/content.css
  docs/tailwind.config.ts
Owners: @atomiks, @michaldudak

[docs] Remove trailing slash from the URLs (#748)
  docs/data/components/alert-dialog/alert-dialog.mdx
  docs/data/components/menu/menu.mdx
  docs/data/getting-started/quick-start/quick-start.mdx
  docs/next.config.mjs
  docs/scripts/reportBrokenLinks.mts
Owners: @atomiks, @colmtuite, @michaldudak

[TextArea][TextField] Create new components
  docs/data/api/text-area.json
  docs/data/api/text-field.json
  docs/data/components/text-area/TextAreaIntroduction/system/index.js
  docs/data/components/text-area/TextAreaIntroduction/system/index.tsx
  docs/data/components/text-area/TextAreaIntroduction/system/index.tsx.preview
  docs/data/components/text-area/text-area.mdx
  docs/data/components/text-field/TextFieldIntroduction/system/index.js
  docs/data/components/text-field/TextFieldIntroduction/system/index.tsx
  docs/data/components/text-field/TextFieldIntroduction/system/index.tsx.preview
  docs/data/components/text-field/text-field.mdx
  docs/data/pages.ts
  docs/data/translations/api-docs/text-area/text-area.json
  docs/data/translations/api-docs/text-field/text-field.json
  packages/mui-base/src/Field/Control/FieldControl.tsx
  packages/mui-base/src/TextArea/TextArea.test.tsx
  packages/mui-base/src/TextArea/TextArea.tsx
  packages/mui-base/src/TextArea/index.ts
  packages/mui-base/src/TextField/TextField.test.tsx
  packages/mui-base/src/TextField/TextField.tsx
  packages/mui-base/src/TextField/index.ts
  packages/mui-base/src/index.ts
  packages/mui-base/src/utils/defaultRenderFunctions.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Update demos
  docs/data/components/field/UnstyledFieldIntroduction/system/index.js
  docs/data/components/field/UnstyledFieldIntroduction/system/index.tsx
  docs/data/components/field/UnstyledFieldPassword.js
  docs/data/components/field/UnstyledFieldPassword.tsx
  docs/data/components/field/UnstyledFieldServerError.js
  docs/data/components/field/UnstyledFieldServerError.tsx
  docs/data/components/field/field.mdx
  docs/data/components/form/FormIntroduction/system/index.js
  docs/data/components/form/FormIntroduction/system/index.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Links
  docs/data/components/text-area/text-area.mdx
  docs/data/components/text-field/text-field.mdx
Owners: @atomiks, @colmtuite, @michaldudak

Update docs/data/components/field/field.mdx
  docs/data/components/field/field.mdx
Owners: @atomiks, @colmtuite, @michaldudak

[Field] Refactor `data-field` style hook to `data-valid`/`data-invalid` (#738)
  docs/data/components/field/UnstyledFieldAsync.js
  docs/data/components/field/UnstyledFieldAsync.tsx
  docs/data/components/field/UnstyledFieldIntroduction/system/index.js
  docs/data/components/field/UnstyledFieldIntroduction/system/index.tsx
  docs/data/components/field/UnstyledFieldPassword.js
  docs/data/components/field/UnstyledFieldPassword.tsx
  docs/data/components/field/UnstyledFieldServerError.js
  docs/data/components/field/UnstyledFieldServerError.tsx
  docs/data/components/field/field.mdx
  docs/data/components/form/FormIntroduction/system/index.js
  docs/data/components/form/FormIntroduction/system/index.tsx
  packages/mui-base/src/Field/Root/FieldRoot.test.tsx
  packages/mui-base/src/Field/utils/constants.ts
Owners: @atomiks, @colmtuite, @michaldudak

[core] Refactor data-state to individual attributes
  docs/data/components/alert-dialog/alert-dialog.mdx
  docs/data/components/collapsible/CssAnimatedCollapsible.js
  docs/data/components/collapsible/CssAnimatedCollapsible.tsx
  docs/data/components/collapsible/CssTransitionCollapsible.js
  docs/data/components/collapsible/CssTransitionCollapsible.tsx
  docs/data/components/collapsible/UnstyledCollapsibleIntroduction.js
  docs/data/components/collapsible/UnstyledCollapsibleIntroduction.tsx
  docs/data/components/collapsible/collapsible.mdx
  docs/data/components/dialog/dialog.mdx
  docs/data/components/menu/MenuIntroduction/css-modules/Menu.module.css
  docs/data/components/menu/MenuIntroduction/system/index.js
  docs/data/components/menu/MenuIntroduction/system/index.tsx
  docs/data/components/menu/NestedMenu.js
  docs/data/components/menu/NestedMenu.tsx
  docs/data/components/menu/menu.mdx
  docs/data/components/popover/popover.mdx
  docs/data/components/preview-card/preview-card.mdx
  docs/data/components/progress/IndeterminateProgress.js
  docs/data/components/progress/IndeterminateProgress.tsx
  docs/data/components/progress/progress.mdx
  docs/data/components/tooltip/tooltip.mdx
  docs/src/app/experiments/collapsible-accordion.tsx
  docs/src/app/experiments/collapsible-framer.tsx
  docs/src/app/experiments/collapsible-hidden-until-found.tsx
  docs/src/app/experiments/collapsible.tsx
  docs/src/app/experiments/progress.tsx
  docs/src/components/demo/Demo.module.css
  packages/mui-base/src/Collapsible/Root/CollapsibleRoot.test.tsx
  packages/mui-base/src/Collapsible/Root/styleHooks.ts
  packages/mui-base/src/Progress/Root/ProgressRoot.tsx
  packages/mui-base/src/Progress/Root/styleHooks.ts
Owners: @atomiks, @colmtuite, @michaldudak

Add status to Progress tests
  packages/mui-base/src/Progress/Indicator/ProgressIndicator.test.tsx
  packages/mui-base/src/Progress/Track/ProgressTrack.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

[core] Refactor `data-state` to individual attributes (#739)
  docs/data/components/alert-dialog/alert-dialog.mdx
  docs/data/components/collapsible/CssAnimatedCollapsible.js
  docs/data/components/collapsible/CssAnimatedCollapsible.tsx
  docs/data/components/collapsible/CssTransitionCollapsible.js
  docs/data/components/collapsible/CssTransitionCollapsible.tsx
  docs/data/components/collapsible/UnstyledCollapsibleIntroduction.js
  docs/data/components/collapsible/UnstyledCollapsibleIntroduction.tsx
  docs/data/components/collapsible/collapsible.mdx
  docs/data/components/dialog/dialog.mdx
  docs/data/components/menu/MenuIntroduction/css-modules/Menu.module.css
  docs/data/components/menu/MenuIntroduction/system/index.js
  docs/data/components/menu/MenuIntroduction/system/index.tsx
  docs/data/components/menu/NestedMenu.js
  docs/data/components/menu/NestedMenu.tsx
  docs/data/components/menu/menu.mdx
  docs/data/components/popover/popover.mdx
  docs/data/components/preview-card/preview-card.mdx
  docs/data/components/progress/IndeterminateProgress.js
  docs/data/components/progress/IndeterminateProgress.tsx
  docs/data/components/progress/progress.mdx
  docs/data/components/tooltip/tooltip.mdx
  docs/src/app/experiments/collapsible-accordion.tsx
  docs/src/app/experiments/collapsible-framer.tsx
  docs/src/app/experiments/collapsible-hidden-until-found.tsx
  docs/src/app/experiments/collapsible.tsx
  docs/src/app/experiments/progress.tsx
  docs/src/components/demo/Demo.module.css
  packages/mui-base/src/Collapsible/Root/CollapsibleRoot.test.tsx
  packages/mui-base/src/Collapsible/Root/styleHooks.ts
  packages/mui-base/src/Progress/Indicator/ProgressIndicator.test.tsx
  packages/mui-base/src/Progress/Root/ProgressRoot.tsx
  packages/mui-base/src/Progress/Root/styleHooks.ts
  packages/mui-base/src/Progress/Track/ProgressTrack.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Create Meter hooks and components
  docs/data/api/meter-indicator.json
  docs/data/api/meter-root.json
  docs/data/api/meter-track.json
  docs/data/components/meter/MeterIntroduction.js
  docs/data/components/meter/MeterIntroduction.tsx
  docs/data/components/meter/MeterIntroduction.tsx.preview
  docs/data/components/meter/meter.mdx
  docs/data/components/meter/styles.module.css
  docs/data/pages.ts
  docs/data/translations/api-docs/meter-indicator/meter-indicator.json
  docs/data/translations/api-docs/meter-root/meter-root.json
  docs/data/translations/api-docs/meter-track/meter-track.json
  packages/mui-base/src/Meter/Indicator/MeterIndicator.test.tsx
  packages/mui-base/src/Meter/Indicator/MeterIndicator.tsx
  packages/mui-base/src/Meter/Indicator/useMeterIndicator.ts
  packages/mui-base/src/Meter/Root/MeterRoot.test.tsx
  packages/mui-base/src/Meter/Root/MeterRoot.tsx
  packages/mui-base/src/Meter/Root/MeterRootContext.tsx
  packages/mui-base/src/Meter/Root/styleHooks.ts
  packages/mui-base/src/Meter/Root/useMeterRoot.ts
  packages/mui-base/src/Meter/Track/MeterTrack.test.tsx
  packages/mui-base/src/Meter/Track/MeterTrack.tsx
  packages/mui-base/src/Meter/index.parts.ts
  packages/mui-base/src/Meter/index.ts
  packages/mui-base/src/Progress/Indicator/useProgressIndicator.ts
  packages/mui-base/src/Slider/Root/useSliderRoot.ts
  packages/mui-base/src/Slider/utils.ts
  packages/mui-base/src/index.ts
  packages/mui-base/src/utils/valueToPercent.ts
Owners: @atomiks, @colmtuite, @michaldudak

Render demos on static routes
  .eslintrc.js
  docs/next.config.mjs
  docs/package.json
  docs/src/app/new/(content)/components/dialog/NestedDialogs.tsx
  docs/src/app/new/(content)/components/dialog/demo-hero/css-modules/index.js
  docs/src/app/new/(content)/components/dialog/demo-hero/css-modules/index.tsx
  docs/src/app/new/(content)/components/dialog/demo-hero/css-modules/styles.module.css
  docs/src/app/new/(content)/components/dialog/demo-hero/index.ts
  docs/src/app/new/(content)/components/dialog/demo-hero/tailwind/index.js
  docs/src/app/new/(content)/components/dialog/demo-hero/tailwind/index.tsx
  docs/src/app/new/(content)/components/dialog/page.mdx
  docs/src/app/new/(content)/layout.tsx
  docs/src/app/new/layout.tsx
  docs/src/components/demo/Demo.tsx
  docs/src/components/demo/NewDemoLoader.tsx
  docs/src/components/demo/rehypeDemos.mjs
  docs/src/mdx-components.tsx
  pnpm-lock.yaml
Owners: @atomiks, @michaldudak

Better comment
  docs/src/components/demo/rehypeDemos.mjs
Owners: @atomiks, @michaldudak

Remove discarded props
  docs/src/components/demo/DemoLoader.tsx
Owners: @atomiks, @michaldudak

Original folder name
  docs/src/app/new/(content)/components/dialog/UnstyledDialogIntroduction/css-modules/index.js
  docs/src/app/new/(content)/components/dialog/UnstyledDialogIntroduction/css-modules/index.tsx
  docs/src/app/new/(content)/components/dialog/UnstyledDialogIntroduction/css-modules/styles.module.css
  docs/src/app/new/(content)/components/dialog/UnstyledDialogIntroduction/index.ts
  docs/src/app/new/(content)/components/dialog/UnstyledDialogIntroduction/tailwind/index.js
  docs/src/app/new/(content)/components/dialog/UnstyledDialogIntroduction/tailwind/index.tsx
  docs/src/app/new/(content)/components/dialog/page.mdx
Owners: @atomiks, @michaldudak

Prettier
  docs/src/app/new/(content)/components/dialog/UnstyledDialogIntroduction/tailwind/index.tsx
Owners: @atomiks, @michaldudak

Updated unit tests to expect disabled attribute instead of aria-disabled for Switch and Checkbox components.
  packages/mui-base/src/Checkbox/Root/CheckboxRoot.test.tsx
  packages/mui-base/src/Switch/Root/SwitchRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

[Checkbox, Menu, Switch] Audit focus states on disabled components (#734)
  docs/data/api/menu-trigger.json
  docs/data/translations/api-docs/menu-trigger/menu-trigger.json
  packages/mui-base/src/Checkbox/Root/CheckboxRoot.test.tsx
  packages/mui-base/src/Checkbox/Root/useCheckboxRoot.ts
  packages/mui-base/src/Menu/Trigger/MenuTrigger.tsx
  packages/mui-base/src/Menu/Trigger/useMenuTrigger.ts
  packages/mui-base/src/Switch/Root/SwitchRoot.test.tsx
  packages/mui-base/src/Switch/Root/useSwitchRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Use the 'basic' reporter
  vitest.config.mts
Owners: @atomiks, @michaldudak

Feedback
  docs/next.config.mjs
  docs/src/components/demo/rehypeDemos.mjs
Owners: @atomiks, @michaldudak

Fix warnings
  test/setupVitest.ts
Owners: @atomiks, @michaldudak

Remove @ts-check
  docs/src/components/demo/rehypeDemos.mjs
Owners: @atomiks, @michaldudak

dedupe
  pnpm-lock.yaml
Owners: @atomiks, @michaldudak

[docs] Render demos on static MDX routes (#761)
  .eslintrc.js
  docs/next.config.mjs
  docs/package.json
  docs/src/app/new/(content)/components/dialog/NestedDialogs.tsx
  docs/src/app/new/(content)/components/dialog/UnstyledDialogIntroduction/css-modules/index.js
  docs/src/app/new/(content)/components/dialog/UnstyledDialogIntroduction/css-modules/index.tsx
  docs/src/app/new/(content)/components/dialog/UnstyledDialogIntroduction/css-modules/styles.module.css
  docs/src/app/new/(content)/components/dialog/UnstyledDialogIntroduction/index.ts
  docs/src/app/new/(content)/components/dialog/UnstyledDialogIntroduction/tailwind/index.js
  docs/src/app/new/(content)/components/dialog/UnstyledDialogIntroduction/tailwind/index.tsx
  docs/src/app/new/(content)/components/dialog/page.mdx
  docs/src/app/new/(content)/layout.tsx
  docs/src/app/new/layout.tsx
  docs/src/components/demo/Demo.tsx
  docs/src/components/demo/DemoLoader.tsx
  docs/src/components/demo/NewDemoLoader.tsx
  docs/src/components/demo/rehypeDemos.mjs
  docs/src/mdx-components.tsx
  pnpm-lock.yaml
Owners: @atomiks, @michaldudak

[TextInput] Create new components
  docs/data/api/text-input.json
  docs/data/components/field/UnstyledFieldIntroduction/system/index.js
  docs/data/components/field/UnstyledFieldIntroduction/system/index.tsx
  docs/data/components/field/UnstyledFieldPassword.js
  docs/data/components/field/UnstyledFieldPassword.tsx
  docs/data/components/field/UnstyledFieldPassword.tsx.preview
  docs/data/components/field/UnstyledFieldServerError.js
  docs/data/components/field/UnstyledFieldServerError.tsx
  docs/data/components/field/field.mdx
  docs/data/components/form/FormIntroduction/system/index.js
  docs/data/components/form/FormIntroduction/system/index.tsx
  docs/data/components/text-input/TextInputIntroduction/system/index.js
  docs/data/components/text-input/TextInputIntroduction/system/index.tsx
  docs/data/components/text-input/TextInputIntroduction/system/index.tsx.preview
  docs/data/components/text-input/text-input.mdx
  docs/data/pages.ts
  docs/data/translations/api-docs/text-input/text-input.json
  packages/mui-base/src/Field/Control/FieldControl.tsx
  packages/mui-base/src/TextInput/TextInput.test.tsx
  packages/mui-base/src/TextInput/TextInput.tsx
  packages/mui-base/src/TextInput/index.ts
  packages/mui-base/src/index.ts
Owners: @atomiks, @colmtuite, @michaldudak

Generate API docs
  docs/data/api/text-input.json
  docs/data/translations/api-docs/text-input/text-input.json
  packages/mui-base/src/TextInput/TextInput.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Create configs per project
  docs/src/blocks/sandbox/packDemo.test.ts
  docs/vitest.config.ts
  package.json
  packages/mui-base/src/AlertDialog/Root/AlertDialogRoot.test.ts
  packages/mui-base/vitest.config.ts
  vitest.config.mts
  vitest.shared.ts
  vitest.workspace.ts
Owners: @atomiks, @michaldudak, @colmtuite

Skip test using describeSkipIf
  packages/mui-base/src/NumberField/Root/NumberFieldRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Rename steps on CI
  .circleci/config.yml
Owners: @atomiks, @michaldudak
