Repository mui/base-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atomiks, @michaldudak, @colmtuite

[docs] Fix Vale errors (#492)
  README.md
  docs/data/base/components/alert-dialog/alert-dialog.md
  docs/data/base/components/checkbox/checkbox.md
  docs/data/base/components/dialog/dialog.md
  docs/data/base/components/number-field/number-field.md
  docs/data/base/components/switch/switch.md
  packages/mui-base/src/legacy/README.md
Owners: @atomiks, @michaldudak, @colmtuite

data-state -> data-menu
  packages/mui-base/src/Menu/Arrow/MenuArrow.tsx
  packages/mui-base/src/Menu/Popup/MenuPopup.tsx
  packages/mui-base/src/Menu/Positioner/MenuPositioner.tsx
  packages/mui-base/src/Menu/SubmenuTrigger/SubmenuTrigger.tsx
  packages/mui-base/src/Menu/Trigger/MenuTrigger.test.tsx
  packages/mui-base/src/Menu/Trigger/MenuTrigger.tsx
  packages/mui-base/src/Menu/utils/commonStyleHooks.ts
Owners: @atomiks, @colmtuite, @michaldudak

Fix types
  packages/mui-base/src/Menu/Popup/MenuPopup.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Include react-is types in the React group
  renovate.json
Owners: @atomiks, @michaldudak

Bump @types/react-is
  pnpm-lock.yaml
  test/package.json
Owners: @atomiks, @michaldudak

Fix Autocomplete tests
  packages/mui-base/src/legacy/useAutocomplete/useAutocomplete.test.js
Owners: @atomiks, @colmtuite, @michaldudak

[dependencies] Do not try to update eslint
  renovate.json
Owners: @atomiks, @michaldudak

Broken links in the Core repo
  docs/.link-check-errors.txt
Owners: @atomiks, @michaldudak

[core] Add trackAnchor prop for anchor positioning
  docs/pages/experiments/anchor-positioning.tsx
  packages/mui-base/src/Popover/Positioner/usePopoverPositioner.types.ts
  packages/mui-base/src/PreviewCard/Positioner/usePreviewCardPositioner.ts
  packages/mui-base/src/PreviewCard/Positioner/usePreviewCardPositioner.types.ts
  packages/mui-base/src/Tooltip/Positioner/useTooltipPositioner.types.ts
  packages/mui-base/src/utils/useAnchorPositioning.ts
Owners: @atomiks, @michaldudak, @colmtuite

fix: pass params
  packages/mui-base/src/PreviewCard/Positioner/usePreviewCardPositioner.ts
Owners: @atomiks, @colmtuite, @michaldudak

[NumberField] Fix tests on non-English locale machines
  packages/mui-base/src/NumberField/Input/NumberFieldInput.test.tsx
  packages/mui-base/src/NumberField/Root/NumberFieldRoot.test.tsx
  packages/mui-base/src/NumberField/utils/format.test.ts
  packages/mui-base/src/NumberField/utils/parse.test.ts
Owners: @atomiks, @colmtuite, @michaldudak

[dependencies] Do not try to update eslint (#515)
  renovate.json
Owners: @atomiks, @michaldudak

[NumberField] Fix tests on non-English locale machines (#524)
  packages/mui-base/src/NumberField/Input/NumberFieldInput.test.tsx
  packages/mui-base/src/NumberField/Root/NumberFieldRoot.test.tsx
  packages/mui-base/src/NumberField/utils/format.test.ts
  packages/mui-base/src/NumberField/utils/parse.test.ts
Owners: @atomiks, @colmtuite, @michaldudak

fix
  packages/mui-base/src/useCompound/useCompoundParent.ts
Owners: @atomiks, @colmtuite, @michaldudak

fix
  packages/mui-base/src/Slider/Root/SliderRoot.test.tsx
  packages/mui-base/src/Slider/Thumb/useSliderThumb.ts
Owners: @atomiks, @colmtuite, @michaldudak

improve disabled prop description
  packages/mui-base/src/Slider/Root/SliderRoot.types.ts
Owners: @atomiks, @colmtuite, @michaldudak

docs:api
  docs/translations/api-docs/slider-root/slider-root.json
  packages/mui-base/src/Slider/Root/SliderRoot.tsx
Owners: @atomiks, @michaldudak, @colmtuite

[core] Add `trackAnchor` prop for anchor positioning (#519)
  docs/pages/experiments/anchor-positioning.tsx
  packages/mui-base/src/Popover/Positioner/usePopoverPositioner.types.ts
  packages/mui-base/src/PreviewCard/Positioner/usePreviewCardPositioner.types.ts
  packages/mui-base/src/Tooltip/Positioner/useTooltipPositioner.types.ts
  packages/mui-base/src/utils/useAnchorPositioning.ts
Owners: @atomiks, @michaldudak, @colmtuite

[core] Make pnpm version permissive
  package.json
Owners: @atomiks, @michaldudak

use caret
  package.json
Owners: @atomiks, @michaldudak

Keep packageManager
  package.json
Owners: @atomiks, @michaldudak

Use CSB test-utils
  docs/package.json
  package.json
  packages/mui-base/package.json
  pnpm-lock.yaml
  test/package.json
Owners: @atomiks, @michaldudak, @colmtuite

Fix legacy tests
  packages/mui-base/test/describeConformanceUnstyled.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Use canary version of test-utils
  docs/package.json
  package.json
  packages/mui-base/package.json
  pnpm-lock.yaml
  test/package.json
Owners: @atomiks, @michaldudak, @colmtuite

Use flushMicrotasks from test-utils
  packages/mui-base/src/Menu/Root/MenuRoot.test.tsx
  packages/mui-base/src/legacy/Unstable_Popup/Popup.test.tsx
  packages/mui-base/test/conformanceTests/propForwarding.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Memo
  packages/mui-base/src/Menu/CheckboxItem/useMenuCheckboxItem.ts
Owners: @atomiks, @colmtuite, @michaldudak

[Menu] CheckboxItem
  docs/data/base/components/menu/CheckboxItems.js
  docs/data/base/components/menu/CheckboxItems.tsx
  docs/data/base/components/menu/CheckboxItems.tsx.preview
  docs/data/base/components/menu/menu.md
  docs/data/base/pagesApi.js
  docs/pages/base-ui/api/menu-checkbox-item.json
  docs/pages/base-ui/api/use-menu-checkbox-item.json
  docs/pages/base-ui/react-menu/[docsTab]/index.js
  docs/translations/api-docs/menu-checkbox-item/menu-checkbox-item.json
  docs/translations/api-docs/use-menu-checkbox-item/use-menu-checkbox-item.json
  packages/mui-base/src/Menu/CheckboxItem/MenuCheckboxItem.test.tsx
  packages/mui-base/src/Menu/CheckboxItem/MenuCheckboxItem.tsx
  packages/mui-base/src/Menu/CheckboxItem/useMenuCheckboxItem.ts
  packages/mui-base/src/Menu/index.ts
Owners: @atomiks, @colmtuite, @michaldudak

[Menu] RadioGroup
  docs/data/base/components/menu/RadioItems.js
  docs/data/base/components/menu/RadioItems.tsx
  docs/data/base/components/menu/menu.md
  packages/mui-base/src/Menu/RadioGroup/MenuRadioGroup.test.tsx
  packages/mui-base/src/Menu/RadioGroup/MenuRadioGroup.tsx
  packages/mui-base/src/Menu/RadioGroup/MenuRadioGroupContext.ts
  packages/mui-base/src/Menu/RadioItem/MenuRadioItem.test.tsx
  packages/mui-base/src/Menu/RadioItem/MenuRadioItem.tsx
  packages/mui-base/src/Menu/RadioItem/useMenuRadioItem.ts
  packages/mui-base/src/Menu/index.ts
Owners: @atomiks, @colmtuite, @michaldudak

[Menu] Group and Separator components
  docs/data/base/components/menu/MenuIntroduction/css/index.js
  docs/data/base/components/menu/MenuIntroduction/css/index.tsx
  docs/data/base/components/menu/MenuIntroduction/system/index.js
  docs/data/base/components/menu/MenuIntroduction/system/index.tsx
  docs/data/base/components/menu/MenuIntroduction/system/index.tsx.preview
  docs/data/base/components/menu/MenuIntroduction/tailwind/index.js
  docs/data/base/components/menu/MenuIntroduction/tailwind/index.tsx
  docs/data/base/components/menu/MenuIntroduction/tailwind/index.tsx.preview
  docs/data/base/components/menu/menu.md
  docs/data/base/pagesApi.js
  docs/pages/base-ui/api/menu-group.json
  docs/pages/base-ui/api/menu-separator.json
  docs/pages/base-ui/react-menu/[docsTab]/index.js
  docs/translations/api-docs/menu-group/menu-group.json
  docs/translations/api-docs/menu-separator/menu-separator.json
  packages/mui-base/src/Menu/Group/MenuGroup.test.tsx
  packages/mui-base/src/Menu/Group/MenuGroup.tsx
  packages/mui-base/src/Menu/Separator/MenuSeparator.test.tsx
  packages/mui-base/src/Menu/Separator/MenuSeparator.tsx
  packages/mui-base/src/Menu/index.ts
Owners: @atomiks, @colmtuite, @michaldudak

[SliderRoot] improve `disabled` prop description (#527)
  docs/translations/api-docs/slider-root/slider-root.json
  packages/mui-base/src/Slider/Root/SliderRoot.tsx
  packages/mui-base/src/Slider/Root/SliderRoot.types.ts
Owners: @atomiks, @michaldudak, @colmtuite

[useCompoundParent] Display `displayName` only in dev (#525)
  packages/mui-base/src/useCompound/useCompoundParent.ts
Owners: @atomiks, @colmtuite, @michaldudak

Lint
  packages/mui-base/src/NumberField/Decrement/NumberFieldDecrement.test.tsx
  packages/mui-base/src/NumberField/Increment/NumberFieldIncrement.test.tsx
  packages/mui-base/src/NumberField/ScrubArea/NumberFieldScrubArea.test.tsx
  packages/mui-base/src/NumberField/ScrubAreaCursor/NumberFieldScrubAreaCursor.test.tsx
  packages/mui-base/src/PreviewCard/Root/PreviewCardRoot.test.tsx
  packages/mui-base/src/Switch/Thumb/SwitchThumb.test.tsx
  packages/mui-base/src/Tooltip/Provider/TooltipProvider.test.tsx
  packages/mui-base/src/Tooltip/Root/TooltipRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Add eslint-plugin-testing-library
  .eslintrc.js
  package.json
  packages/mui-base/src/Menu/Item/MenuItem.test.tsx
  packages/mui-base/src/Menu/Root/MenuRoot.test.tsx
  packages/mui-base/src/PreviewCard/Root/PreviewCardRoot.test.tsx
  pnpm-lock.yaml
Owners: @atomiks, @michaldudak, @colmtuite

[core] Make pnpm version permissive (#529)
  package.json
Owners: @atomiks, @michaldudak

[docs] Prepare security table for once it has its first release
  SECURITY.md
Owners: @atomiks, @michaldudak

use client
  packages/mui-base/src/Composite/Item/CompositeItem.tsx
  packages/mui-base/src/Composite/Item/useCompositeItem.ts
  packages/mui-base/src/Composite/Root/CompositeRoot.tsx
  packages/mui-base/src/Composite/Root/useCompositeRoot.ts
  packages/mui-base/src/Composite/utils/CompositeList/CompositeList.tsx
  packages/mui-base/src/Composite/utils/CompositeList/useCompositeListItem.ts
Owners: @atomiks, @colmtuite, @michaldudak

Fix form submission data
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.js
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.tsx
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.tsx.preview
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.tsx
  packages/mui-base/src/RadioGroup/Item/useRadioGroupItem.ts
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Codegen
  docs/pages/base-ui/api/radio-group-indicator.json
  docs/pages/base-ui/api/use-radio-group-indicator.json
  docs/translations/api-docs/use-radio-group-indicator/use-radio-group-indicator.json
Owners: @atomiks, @michaldudak

Switch to name prop
  docs/data/base/components/popover/UnstyledPopoverIntroduction/system/index.js
  docs/data/base/components/popover/UnstyledPopoverIntroduction/system/index.tsx
  docs/data/base/components/popover/UnstyledPopoverIntroduction/system/index.tsx.preview
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.js
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.tsx
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.tsx.preview
  docs/data/base/components/radio-group/radio-group.md
  docs/pages/base-ui/api/radio-group-item.json
  docs/translations/api-docs/radio-group-item/radio-group-item.json
  packages/mui-base/src/RadioGroup/Indicator/RadioGroupIndicator.test.tsx
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.test.tsx
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.tsx
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.types.ts
  packages/mui-base/src/RadioGroup/Item/useRadioGroupItem.ts
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.test.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.tsx
  packages/mui-base/src/RadioGroup/Root/useRadioGroupRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Remove unrelated changes
  docs/data/base/components/popover/UnstyledPopoverIntroduction/system/index.js
  docs/data/base/components/popover/UnstyledPopoverIntroduction/system/index.tsx
  docs/data/base/components/popover/UnstyledPopoverIntroduction/system/index.tsx.preview
Owners: @atomiks, @colmtuite, @michaldudak

.github/CODEOWNERS:

* @atomiks @michaldudak
/docs/data/ @atomiks @colmtuite @michaldudak
/examples/ @atomiks @colmtuite @michaldudak
/packages/mui-base/ @atomiks @colmtuite @michaldudak
/scripts/ @michaldudak
