Repository mui/base-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atomiks, @michaldudak, @colmtuite

.github/CODEOWNERS:

* @atomiks @michaldudak
/docs/data/ @atomiks @colmtuite @michaldudak
/examples/ @atomiks @colmtuite @michaldudak
/packages/mui-base/ @atomiks @colmtuite @michaldudak
/scripts/ @michaldudak

Fix lint
  packages/mui-base/src/NumberField/Root/useNumberFieldRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Remove unnecessary setter call
  packages/mui-base/src/Field/Control/useFieldControlValidation.ts
Owners: @atomiks, @colmtuite, @michaldudak

Update Async demo
  docs/data/base/components/field/UnstyledFieldAsync.js
  docs/data/base/components/field/UnstyledFieldAsync.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Use || for disabled fieldset check
  packages/mui-base/src/Field/Root/FieldRoot.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Fix validity style hooks
  docs/data/base/components/field/UnstyledFieldPassword.js
  docs/data/base/components/field/UnstyledFieldPassword.tsx
  docs/pages/base-ui/api/field-root.json
  packages/mui-base/src/Field/Root/FieldRoot.tsx
  packages/mui-base/src/Field/Root/FieldRoot.types.ts
  packages/mui-base/src/Field/Root/FieldRootContext.ts
Owners: @atomiks, @colmtuite, @michaldudak

Make FieldError a div
  docs/data/base/components/field/UnstyledFieldPassword.js
  docs/data/base/components/field/UnstyledFieldPassword.tsx
  docs/data/base/components/field/UnstyledFieldPassword.tsx.preview
  docs/data/base/components/field/field.md
  docs/pages/base-ui/api/field-error.json
  packages/mui-base/src/Field/Error/FieldError.test.tsx
  packages/mui-base/src/Field/Error/FieldError.tsx
  packages/mui-base/src/Field/Error/FieldError.types.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Update docs
  docs/data/base/components/field/UnstyledFieldPassword.js
  docs/data/base/components/field/UnstyledFieldPassword.tsx
  docs/data/base/components/field/field.md
Owners: @atomiks, @colmtuite, @michaldudak

Render div
  packages/mui-base/src/Field/Error/FieldError.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Lint
  docs/data/base/components/field/UnstyledFieldPassword.js
Owners: @atomiks, @colmtuite, @michaldudak

CSS transition support
  docs/data/base/components/collapsible/CssTransitionCollapsible.js
  docs/data/base/components/collapsible/CssTransitionCollapsible.tsx
  docs/data/base/components/collapsible/collapsible.md
  docs/data/base/pagesApi.js
  docs/pages/experiments/collapsible-accordion.tsx
  docs/pages/experiments/collapsible-transition.tsx
  packages/mui-base/src/Collapsible/Content/CollapsibleContent.types.ts
  packages/mui-base/src/Collapsible/Content/useCollapsibleContent.ts
Owners: @atomiks, @colmtuite, @michaldudak

Remove old redirects
  docs/public/_redirects
Owners: @atomiks, @michaldudak

More cleanup
  docs/config.js
  docs/package.json
  docs/scripts/i18n.js
  docs/scripts/tsconfig.json
  docs/src/modules/all-components/AllComponents.js
  docs/src/modules/components/ComponentPageTabs.js
  docs/src/utils/findPages.mjs
  scripts/buildApiDocs/config/getBaseUiComponentInfo.ts
  scripts/buildApiDocs/config/getBaseUiHookInfo.ts
  scripts/buildApiDocs/config/projectSettings.ts
Owners: @atomiks, @michaldudak

Make docs:api pass
  package.json
  pnpm-lock.yaml
  scripts/buildApiDocs/config/generateApiLinks.ts
  scripts/buildApiDocs/config/projectSettings.ts
Owners: @atomiks, @michaldudak

Making the CI happy
  .eslintrc.js
  docs/next.config.mjs
  docs/pages/404.tsx
  docs/pages/_app.js
  docs/pages/experiments/index.js
  docs/types/material-ui.d.ts
Owners: @atomiks, @michaldudak

Dedupe
  pnpm-lock.yaml
Owners: @atomiks, @michaldudak

Fix titles
  docs/data/base/components/checkbox/checkbox.md
  docs/data/base/components/dialog/dialog.md
  docs/data/base/components/form-control/form-control.md
  docs/data/base/components/menu/menu.mdx
  docs/data/base/components/number-field/number-field.md
  docs/data/base/components/select/select.md
  docs/data/base/components/snackbar/snackbar.md
  docs/data/base/components/switch/switch.md
  docs/data/base/getting-started/quickstart/quickstart.md
  docs/pages/base-ui-react/components/[slug].tsx
  docs/pages/base-ui-react/getting-started/[slug].tsx
  docs/src/utils/getMarkdownPage.ts
Owners: @atomiks, @colmtuite, @michaldudak

Lint
  packages/mui-base/src/Switch/Root/SwitchRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Prettier
  docs/src/styles/components/badge.css
  docs/src/styles/components/button.css
  docs/src/styles/components/callout.css
  docs/src/styles/components/code.css
  docs/src/styles/components/dialog.css
  docs/src/styles/components/growing-chevron.css
  docs/src/styles/components/icon-button.css
  docs/src/styles/components/icon.css
  docs/src/styles/components/kbd.css
  docs/src/styles/components/link-block.css
  docs/src/styles/components/link.css
  docs/src/styles/components/list.css
  docs/src/styles/components/pre.css
  docs/src/styles/components/search-button.css
  docs/src/styles/components/select.css
  docs/src/styles/components/separator.css
  docs/src/styles/components/table.css
  docs/src/styles/components/text.css
  docs/src/styles/components/textarea.css
  docs/src/styles/components/toggle.css
  docs/src/styles/mdx.css
  docs/src/styles/reset.css
  docs/src/styles/theme.css
  docs/src/styles/utilities/align-items.css
  docs/src/styles/utilities/align-self.css
  docs/src/styles/utilities/display.css
  docs/src/styles/utilities/flex-direction.css
  docs/src/styles/utilities/gap.css
  docs/src/styles/utilities/height.css
  docs/src/styles/utilities/justify-content.css
  docs/src/styles/utilities/margin.css
  docs/src/styles/utilities/padding.css
  docs/src/styles/utilities/position.css
Owners: @atomiks, @michaldudak

Fix TS errors
  docs/package.json
  docs/types/mui-docs.d.ts
  pnpm-lock.yaml
Owners: @atomiks, @michaldudak

Remove the i18n check
  .circleci/config.yml
Owners: @atomiks, @michaldudak

Disable link checker
  .circleci/config.yml
Owners: @atomiks, @michaldudak

Simplify _app and _document
  docs/pages/_app.js
  docs/pages/_app.tsx
  docs/pages/_document.tsx
  docs/src/modules/common/GoogleAnalyticsScriptLoader.tsx
Owners: @atomiks, @michaldudak

Quick and dirty API reference
  docs/pages/base-ui-react/components/[slug].tsx
Owners: @atomiks, @michaldudak

Style the markdown content
  .eslintrc.js
  docs/data/base/components/menu/menu.mdx
  docs/pages/base-ui-react/components/[slug].tsx
  docs/pages/base-ui-react/components/styles.module.css
  docs/src/modules/common/MDXComponents.module.css
  docs/src/modules/common/MDXComponents.tsx
  docs/src/modules/components/ComponentLinkHeader.module.css
  docs/src/modules/components/ComponentLinkHeader.tsx
  docs/src/modules/components/Demo.module.css
  docs/src/modules/components/Demo.tsx
  docs/src/modules/components/Description.module.css
  docs/src/modules/components/Description.tsx
  docs/src/modules/components/index.ts
  docs/src/styles/mdx.css
  docs/src/styles/style.css
Owners: @atomiks, @michaldudak, @colmtuite

Style prop tables
  docs/pages/base-ui-react/components/[slug].tsx
  docs/pages/base-ui-react/components/styles.module.css
  docs/src/modules/components/ApiReference.module.css
  docs/src/modules/components/ApiReference.tsx
Owners: @atomiks, @michaldudak

Refactor API docs generation
  docs/pages/base-ui-react/components/[slug].tsx
  docs/src/modules/components/ApiReference.tsx
  docs/src/utils/getApiReferenceData.ts
  docs/types/ComponentAPIReference.ts
Owners: @atomiks, @michaldudak

Make it more obvious TOC is a dummy
  docs/src/modules/common/TableOfContents.tsx
Owners: @atomiks, @michaldudak

Migrate to App Router
  docs/app/base-ui-react/[...slug]/page.tsx
  docs/app/base-ui-react/components/[slug]/page.tsx
  docs/app/base-ui-react/styles.module.css
  docs/app/experiments/anchor-positioning.tsx
  docs/app/experiments/dialog.module.css
  docs/app/experiments/dialog.tsx
  docs/app/experiments/index.js
  docs/app/experiments/progress.tsx
  docs/app/experiments/slider-change-committed-lag.tsx
  docs/app/experiments/slider-marks.tsx
  docs/app/experiments/slider-template.tsx
  docs/app/experiments/slider-tooltip.tsx
  docs/app/experiments/slider.tsx
  docs/app/experiments/tabs.tsx
  docs/app/experiments/tooltip.tsx
  docs/app/layout.module.css
  docs/app/layout.tsx
  docs/app/not-found.tsx
  docs/app/page.tsx
  docs/app/playground/menu.tsx
  docs/app/playground/tests.tsx
  docs/pages/404.tsx
  docs/pages/_app.tsx
  docs/pages/_document.tsx
  docs/pages/base-ui-react/components/[slug].tsx
  docs/pages/base-ui-react/getting-started/[slug].tsx
  docs/pages/index.tsx
  docs/src/layout/MasterLayout.tsx
  docs/src/modules/common/GoogleAnalytics.tsx
  docs/src/modules/common/GoogleTagManager.tsx
  docs/tsconfig.json
Owners: @atomiks, @michaldudak

Convert all pages to mdx
  docs/data/base/all-components/all-components.md
  docs/data/base/components/alert-dialog/alert-dialog.mdx
  docs/data/base/components/autocomplete/autocomplete.md
  docs/data/base/components/autocomplete/autocomplete.mdx
  docs/data/base/components/checkbox/checkbox.mdx
  docs/data/base/components/click-away-listener/click-away-listener.mdx
  docs/data/base/components/dialog/dialog.mdx
  docs/data/base/components/focus-trap/focus-trap.mdx
  docs/data/base/components/form-control/form-control.md
  docs/data/base/components/form-control/form-control.mdx
  docs/data/base/components/menu/menu.mdx
  docs/data/base/components/no-ssr/no-ssr.mdx
  docs/data/base/components/number-field/number-field.mdx
  docs/data/base/components/popover/popover.mdx
  docs/data/base/components/popup/popup.md
  docs/data/base/components/popup/popup.mdx
  docs/data/base/components/portal/portal.mdx
  docs/data/base/components/preview-card/preview-card.mdx
  docs/data/base/components/progress/progress.mdx
  docs/data/base/components/select/select.mdx
  docs/data/base/components/slider/slider.mdx
  docs/data/base/components/snackbar/snackbar.md
  docs/data/base/components/snackbar/snackbar.mdx
  docs/data/base/components/switch/switch.mdx
  docs/data/base/components/table-pagination/table-pagination.md
  docs/data/base/components/table-pagination/table-pagination.mdx
  docs/data/base/components/tabs/tabs.mdx
  docs/data/base/components/textarea-autosize/textarea-autosize.md
  docs/data/base/components/textarea-autosize/textarea-autosize.mdx
  docs/data/base/components/toggle-button-group/toggle-button-group.mdx
  docs/data/base/components/tooltip/tooltip.mdx
  docs/data/base/getting-started/accessibility/accessibility.mdx
  docs/data/base/getting-started/overview/overview.mdx
  docs/data/base/getting-started/quickstart/quickstart.mdx
  docs/data/base/getting-started/support/support.mdx
  docs/data/base/getting-started/usage/usage.mdx
  docs/data/base/guides/next-js-app-router/next-js-app-router.md
  docs/tsconfig.json
Owners: @atomiks, @colmtuite, @michaldudak

Lint
  .eslintrc.js
  docs/app/playground/menu.tsx
  docs/app/playground/tests.tsx
  docs/src/modules/common/MDXComponents.tsx
Owners: @atomiks, @michaldudak

Favicon
  docs/public/_headers
  docs/public/favicon.ico
  docs/public/static/favicon.ico
Owners: @atomiks, @michaldudak

Remove unused npm packages
  docs/package.json
  docs/types/fg-loadcss.d.ts
  pnpm-lock.yaml
Owners: @atomiks, @michaldudak

Update name prop usage
  docs/data/base/components/field/UnstyledFieldServerError.js
  docs/data/base/components/field/UnstyledFieldServerError.tsx
  docs/data/base/components/form/UnstyledFormIntroduction/system/index.js
  docs/data/base/components/form/UnstyledFormIntroduction/system/index.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Update Form demo
  docs/data/base/components/form/UnstyledFormIntroduction/system/index.js
  docs/data/base/components/form/UnstyledFormIntroduction/system/index.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Update docs and API
  docs/data/base/components/field/UnstyledFieldAsync.js
  docs/data/base/components/field/UnstyledFieldAsync.tsx
  docs/data/base/components/form/form.md
  docs/pages/base-ui/api/field-root.json
  docs/pages/base-ui/api/form-root.json
  docs/translations/api-docs/field-root/field-root.json
  docs/translations/api-docs/form-root/form-root.json
  packages/mui-base/src/Field/Root/FieldRoot.tsx
  packages/mui-base/src/Form/Root/FormRoot.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Replace mdx-bundler with mdx-js
  docs/app/base-ui-react/components/[slug]/page.tsx
  docs/data/base/components/menu/menu.mdx
  docs/package.json
  docs/src/utils/getMarkdownPage.ts
  pnpm-lock.yaml
Owners: @atomiks, @michaldudak, @colmtuite

Table of contents
  docs/app/base-ui-react/[...slug]/page.tsx
  docs/app/base-ui-react/components/[slug]/page.tsx
  docs/app/base-ui-react/styles.module.css
  docs/package.json
  docs/src/modules/common/TableOfContents.tsx
  docs/src/modules/components/ApiReference.tsx
  docs/src/utils/getMarkdownPage.ts
  pnpm-lock.yaml
Owners: @atomiks, @michaldudak

TOC styles
  docs/src/modules/common/TableOfContents.module.css
  docs/src/modules/common/TableOfContents.tsx
  docs/src/utils/getMarkdownPage.ts
Owners: @atomiks, @michaldudak

Flat component list in side nav
  docs/data/base/pages.ts
Owners: @atomiks, @colmtuite, @michaldudak

fix css px bug
  docs/src/modules/common/TableOfContents.module.css
Owners: @atomiks, @michaldudak
