Repository mui/base-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atomiks, @michaldudak, @colmtuite

.github/CODEOWNERS:

* @atomiks @michaldudak
/docs/src/ @atomiks @colmtuite @michaldudak
/packages/react/ @atomiks @colmtuite @michaldudak
/scripts/ @michaldudak

[test] Speed up regression and E2E tests (#1354)
  test/e2e/TestViewer.tsx
  test/e2e/main.tsx
  test/regressions/TestViewer.tsx
  test/regressions/main.tsx
Owners: @atomiks, @michaldudak

tweaks
  docs/src/app/(public)/(content)/react/components/progress/page.mdx
  packages/react/src/progress/value/ProgressValue.tsx
Owners: @atomiks, @colmtuite, @michaldudak

update docs
  docs/reference/generated/progress-indicator.json
  docs/reference/generated/progress-track.json
  docs/reference/generated/progress-value.json
  packages/react/src/progress/value/ProgressValue.tsx
Owners: @atomiks, @michaldudak, @colmtuite

Add tests
  packages/react/src/progress/root/ProgressRoot.test.tsx
  packages/react/src/progress/value/ProgressValue.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Use divs for consistency
  packages/react/src/progress/indicator/ProgressIndicator.test.tsx
  packages/react/src/progress/indicator/ProgressIndicator.tsx
  packages/react/src/progress/track/ProgressTrack.test.tsx
  packages/react/src/progress/track/ProgressTrack.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Add Progress.Value
  docs/reference/generated/progress-root.json
  docs/reference/generated/progress-value.json
  packages/react/src/progress/index.parts.ts
  packages/react/src/progress/indicator/ProgressIndicator.test.tsx
  packages/react/src/progress/indicator/useProgressIndicator.ts
  packages/react/src/progress/root/ProgressRoot.test.tsx
  packages/react/src/progress/root/ProgressRoot.tsx
  packages/react/src/progress/root/useProgressRoot.ts
  packages/react/src/progress/value/ProgressValue.test.tsx
  packages/react/src/progress/value/ProgressValue.tsx
Owners: @atomiks, @michaldudak, @colmtuite

Add format prop to Progress
  docs/reference/generated/progress-root.json
  packages/react/src/progress/root/ProgressRoot.tsx
  packages/react/src/progress/root/useProgressRoot.ts
Owners: @atomiks, @michaldudak, @colmtuite

Use useLatestRef to hold format
  packages/react/src/progress/root/useProgressRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Polish animation page
  docs/src/app/(public)/(content)/react/handbook/animation/page.mdx
Owners: @atomiks, @colmtuite, @michaldudak

[docs] Tooltip guidelines
  docs/src/app/(public)/(content)/react/components/tooltip/page.mdx
Owners: @atomiks, @colmtuite, @michaldudak

Touch
  docs/src/app/(public)/(content)/react/components/tooltip/page.mdx
Owners: @atomiks, @colmtuite, @michaldudak

[docs] Underline links by default
  docs/src/components/Link.css
Owners: @atomiks, @colmtuite, @michaldudak

tweak
  docs/reference/generated/progress-value.json
  packages/react/src/progress/root/useProgressRoot.ts
  packages/react/src/progress/value/ProgressValue.test.tsx
  packages/react/src/progress/value/ProgressValue.tsx
Owners: @atomiks, @michaldudak, @colmtuite

review comments
  docs/src/app/(public)/(content)/react/components/avatar/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/avatar/demos/hero/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/avatar/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/avatar/page.mdx
  packages/react/src/avatar/fallback/AvatarFallback.test.tsx
  packages/react/src/avatar/fallback/AvatarFallback.tsx
  packages/react/src/avatar/image/AvatarImage.test.tsx
  packages/react/src/avatar/image/AvatarImage.tsx
  packages/react/src/avatar/image/useImageLoadingStatus.ts
  packages/react/src/avatar/root/useAvatarRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

convert to rem
  docs/src/app/(public)/(content)/react/components/avatar/demos/hero/css-modules/index.module.css
Owners: @atomiks, @colmtuite, @michaldudak

proptypes & docs:api
  docs/reference/generated/avatar-fallback.json
  packages/react/src/avatar/fallback/AvatarFallback.tsx
Owners: @atomiks, @michaldudak, @colmtuite

Extract common popup tests
  packages/react/src/alert-dialog/root/AlertDialogRoot.test.tsx
  packages/react/src/dialog/root/DialogRoot.test.tsx
  packages/react/src/menu/root/MenuRoot.test.tsx
  packages/react/src/popover/root/PopoverRoot.test.tsx
  packages/react/src/preview-card/popup/usePreviewCardPopup.ts
  packages/react/src/preview-card/positioner/usePreviewCardPositioner.ts
  packages/react/src/preview-card/root/PreviewCardRoot.test.tsx
  packages/react/src/select/root/SelectRoot.test.tsx
  packages/react/src/tooltip/popup/TooltipPopup.tsx
  packages/react/src/tooltip/positioner/useTooltipPositioner.ts
  packages/react/src/tooltip/root/TooltipRoot.test.tsx
  packages/react/test/createRenderer.ts
  packages/react/test/index.ts
  packages/react/test/popupTests.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Fix Dialog aria-controls
  packages/react/src/alert-dialog/root/AlertDialogRoot.test.tsx
  packages/react/src/dialog/root/DialogRoot.test.tsx
  packages/react/src/dialog/root/useDialogRoot.ts
  packages/react/src/menu/root/MenuRoot.test.tsx
  packages/react/src/popover/root/PopoverRoot.test.tsx
  packages/react/src/preview-card/popup/usePreviewCardPopup.ts
  packages/react/src/preview-card/root/PreviewCardRoot.test.tsx
  packages/react/src/select/root/SelectRoot.test.tsx
  packages/react/src/tooltip/root/TooltipRoot.test.tsx
  packages/react/test/popupTests.tsx
Owners: @atomiks, @colmtuite, @michaldudak

[Tabs] Fix being able to activate a disabled tab
  packages/react/src/tabs/root/TabsRoot.test.tsx
  packages/react/src/tabs/tab/useTabsTab.ts
Owners: @atomiks, @colmtuite, @michaldudak

Disable activating on focus
  packages/react/src/tabs/tab/useTabsTab.ts
Owners: @atomiks, @colmtuite, @michaldudak

[Menu] Support submenus with `openOnHover` prop (#1338)
  packages/react/src/menu/positioner/useMenuPositioner.ts
  packages/react/src/menu/root/MenuRoot.test.tsx
  packages/react/src/menu/root/MenuRootContext.ts
  packages/react/src/menu/root/useMenuRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

[Tabs] Fix being able to activate a disabled tab (#1359)
  packages/react/src/tabs/root/TabsRoot.test.tsx
  packages/react/src/tabs/tab/useTabsTab.ts
Owners: @atomiks, @colmtuite, @michaldudak

[Form] Fix focusing of invalid field controls on errors prop change
  packages/react/src/form/Form.test.tsx
  packages/react/src/form/Form.tsx
Owners: @atomiks, @colmtuite, @michaldudak

test:static
  packages/react/src/form/Form.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Fix onSubmit being called
  packages/react/src/form/Form.test.tsx
  packages/react/src/form/Form.tsx
Owners: @atomiks, @colmtuite, @michaldudak

proptypes
  packages/react/src/form/Form.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Update packages/react/src/utils/useOpenChangeComplete.tsx
  packages/react/src/utils/useOpenChangeComplete.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Use the correct instance of chai
  packages/react/test/popupTests.tsx
Owners: @atomiks, @colmtuite, @michaldudak

await rerender
  packages/react/src/number-field/root/NumberFieldRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Rework implementation
  packages/react/src/alert-dialog/popup/AlertDialogPopup.tsx
  packages/react/src/checkbox/indicator/CheckboxIndicator.tsx
  packages/react/src/dialog/popup/DialogPopup.tsx
  packages/react/src/dialog/root/useDialogRoot.ts
  packages/react/src/menu/checkbox-item-indicator/MenuCheckboxItemIndicator.tsx
  packages/react/src/menu/popup/MenuPopup.tsx
  packages/react/src/menu/root/useMenuRoot.ts
  packages/react/src/popover/popup/PopoverPopup.tsx
  packages/react/src/popover/root/usePopoverRoot.ts
  packages/react/src/preview-card/popup/PreviewCardPopup.tsx
  packages/react/src/preview-card/root/usePreviewCardRoot.ts
  packages/react/src/radio/indicator/RadioIndicator.tsx
  packages/react/src/select/item-indicator/SelectItemIndicator.tsx
  packages/react/src/select/popup/SelectPopup.tsx
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/select/scroll-arrow/SelectScrollArrow.tsx
  packages/react/src/tooltip/popup/TooltipPopup.tsx
  packages/react/src/tooltip/root/useTooltipRoot.ts
  packages/react/src/utils/useOpenChangeComplete.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Lint
  packages/react/src/menu/root/MenuRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Lint and type fixes
  packages/react/src/dialog/root/DialogRoot.test.tsx
  packages/react/src/popover/root/PopoverRoot.test.tsx
  packages/react/src/preview-card/root/PreviewCardRoot.test.tsx
  packages/react/test/createRenderer.ts
  packages/react/test/describeConformance.tsx
  packages/react/test/popupTests.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Make setProps async
  packages/react/src/accordion/root/AccordionRoot.test.tsx
  packages/react/src/checkbox/root/CheckboxRoot.test.tsx
  packages/react/src/collapsible/root/CollapsibleRoot.test.tsx
  packages/react/src/dialog/root/DialogRoot.test.tsx
  packages/react/src/progress/root/ProgressRoot.test.tsx
  packages/react/src/select/root/SelectRoot.test.tsx
  packages/react/src/slider/root/SliderRoot.test.tsx
  packages/react/src/switch/root/SwitchRoot.test.tsx
  packages/react/src/tabs/indicator/TabsIndicator.test.tsx
  packages/react/src/tabs/root/TabsRoot.test.tsx
  packages/react/src/toggle-group/ToggleGroup.test.tsx
  packages/react/test/createRenderer.ts
  packages/react/test/popupTests.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Lint
  packages/react/src/collapsible/root/CollapsibleRoot.test.tsx
  packages/react/src/toggle-group/ToggleGroup.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Fix flaky test
  packages/react/src/dialog/root/DialogRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Use sinon spy
  packages/react/test/popupTests.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Revert the original animation finish verification
  packages/react/test/popupTests.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Enable animations within test
  packages/react/test/popupTests.tsx
Owners: @atomiks, @colmtuite, @michaldudak

refactor
  packages/react/test/createRenderer.ts
  packages/react/test/popupTests.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Increase animation duration
  packages/react/test/popupTests.tsx
Owners: @atomiks, @colmtuite, @michaldudak
