Repository mui/base-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atomiks, @michaldudak, @colmtuite

Stylelint
  docs/data/base/getting-started/accessibility/ColorContrast.js
  docs/data/base/getting-started/accessibility/ColorContrast.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Use the new logo
  docs/pages/_app.js
  docs/src/icons/BaseUILogo.tsx
Owners: @atomiks, @michaldudak

[Popover] Fix keepMounted focus management
  packages/mui-base/src/Popover/Positioner/PopoverPositioner.tsx
  packages/mui-base/src/Popover/Root/PopoverRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Refactor
  packages/mui-base/src/Popover/Root/PopoverRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Test
  packages/mui-base/src/PreviewCard/Root/PreviewCardRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Test
  packages/mui-base/src/PreviewCard/Root/PreviewCardRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Test
  packages/mui-base/src/PreviewCard/Root/PreviewCardRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Test
  packages/mui-base/src/PreviewCard/Root/PreviewCardRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Test
  packages/mui-base/src/PreviewCard/Root/PreviewCardRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Test
  packages/mui-base/src/PreviewCard/Root/PreviewCardRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Test
  packages/mui-base/src/PreviewCard/Root/PreviewCardRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Test
  packages/mui-base/src/PreviewCard/Root/PreviewCardRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Test
  packages/mui-base/src/PreviewCard/Root/PreviewCardRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Update tests
  packages/mui-base/src/PreviewCard/Root/PreviewCardRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Update tests
  packages/mui-base/src/PreviewCard/Root/PreviewCardRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Test
  packages/mui-base/src/PreviewCard/Root/PreviewCardRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Test
  packages/mui-base/src/PreviewCard/Root/PreviewCardRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Remove unused code
  packages/mui-base/src/PreviewCard/Root/PreviewCardRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

[PreviewCard] Fix Firefox browser hang (#490)
  packages/mui-base/src/PreviewCard/Root/PreviewCardRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

flush microtasks
  packages/mui-base/src/Popover/Root/PopoverRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Focus button beforehand
  packages/mui-base/src/Popover/Root/PopoverRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

userEvent
  packages/mui-base/src/Popover/Root/PopoverRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

[Popover] Fix `keepMounted` focus management (#489)
  packages/mui-base/src/Popover/Positioner/PopoverPositioner.tsx
  packages/mui-base/src/Popover/Root/PopoverRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Wait for focus to settle
  packages/mui-base/src/Popover/Root/PopoverRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Fix flaky tests
  packages/mui-base/src/Menu/Root/MenuRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

[Popover] Wait for focus to settle in tests (#491)
  packages/mui-base/src/Popover/Root/PopoverRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Do not exclude paths in CI action
  .github/workflows/ci.yml
Owners: @atomiks, @michaldudak

[website] Redirect to an existing page on dev (#445)
  .github/workflows/ci.yml
  docs/next.config.mjs
Owners: @atomiks, @michaldudak

Fix subbomponents in trigger causing the menu to close immediately
  packages/mui-base/src/Menu/Trigger/useMenuTrigger.ts
Owners: @atomiks, @colmtuite, @michaldudak

closeParentOnEscape -> closeParentOnEsc
  docs/data/base/components/menu/menu.md
  docs/pages/base-ui/api/menu-root.json
  docs/translations/api-docs/menu-root/menu-root.json
  packages/mui-base/src/Menu/Root/MenuRoot.test.tsx
  packages/mui-base/src/Menu/Root/MenuRoot.tsx
  packages/mui-base/src/Menu/Root/useMenuRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Add MenuArrow
  packages/mui-base/src/Menu/Arrow/MenuArrow.test.tsx
  packages/mui-base/src/Menu/Arrow/MenuArrow.tsx
  packages/mui-base/src/Menu/Arrow/useMenuArrow.ts
  packages/mui-base/src/Menu/Positioner/MenuPositioner.tsx
  packages/mui-base/src/Menu/Positioner/MenuPositionerContext.ts
  packages/mui-base/src/Menu/index.ts
Owners: @atomiks, @colmtuite, @michaldudak

loop prop
  docs/data/base/components/menu/menu.md
  docs/data/base/pagesApi.js
  docs/pages/base-ui/api/menu-arrow.json
  docs/pages/base-ui/api/menu-root.json
  docs/pages/base-ui/api/use-menu-arrow.json
  docs/pages/base-ui/react-menu/[docsTab]/index.js
  docs/translations/api-docs/menu-arrow/menu-arrow.json
  docs/translations/api-docs/menu-root/menu-root.json
  docs/translations/api-docs/use-menu-arrow/use-menu-arrow.json
  packages/mui-base/src/Menu/Root/MenuRoot.tsx
  packages/mui-base/src/Menu/Root/useMenuRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Arrow docs
  docs/data/base/components/menu/MenuIntroduction/system/index.js
  docs/data/base/components/menu/MenuIntroduction/system/index.tsx
  docs/data/base/components/menu/MenuIntroduction/system/index.tsx.preview
  docs/data/base/components/menu/menu.md
Owners: @atomiks, @colmtuite, @michaldudak

Update animation docs
  docs/data/base/components/menu/menu.md
Owners: @atomiks, @colmtuite, @michaldudak

Fix submenu not reopening
  packages/mui-base/src/Menu/Root/useMenuRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Olivier's feedback
  packages/mui-base/src/Menu/Positioner/MenuPositionerContext.ts
  packages/mui-base/src/Menu/Root/MenuRootContext.ts
Owners: @atomiks, @colmtuite, @michaldudak

[docs] Fix page description line break
  docs/data/base/components/slider/slider.md
  docs/data/base/getting-started/accessibility/accessibility.md
Owners: @atomiks, @colmtuite, @michaldudak

[code-infra] Propagate API docs builder package interface changes (#478)
  scripts/buildApiDocs/config/generateApiLinks.ts
Owners: @michaldudak

[core] Fix event naming convention
  docs/data/base/components/checkbox/UnstyledCheckboxIndeterminateGroup.js
  docs/data/base/components/checkbox/UnstyledCheckboxIndeterminateGroup.tsx
Owners: @atomiks, @colmtuite, @michaldudak

[core] Fix Vale errors
  README.md
  docs/data/base/components/alert-dialog/alert-dialog.md
  docs/data/base/components/checkbox/checkbox.md
  docs/data/base/components/dialog/dialog.md
  docs/data/base/components/number-field/number-field.md
  docs/data/base/components/switch/switch.md
  packages/mui-base/src/legacy/README.md
Owners: @atomiks, @michaldudak, @colmtuite

.github/CODEOWNERS:

* @atomiks @michaldudak
/docs/data/ @atomiks @colmtuite @michaldudak
/examples/ @atomiks @colmtuite @michaldudak
/packages/mui-base/ @atomiks @colmtuite @michaldudak
/scripts/ @michaldudak
