Repository mui/base-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atomiks, @michaldudak, @colmtuite

Docs
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.js
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.tsx
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.tsx.preview
Owners: @atomiks, @colmtuite, @michaldudak

Remove passing of non-DOM props
  packages/mui-base/src/Composite/Root/CompositeRoot.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Update docs
  docs/data/base/components/radio-group/radio-group.md
Owners: @atomiks, @colmtuite, @michaldudak

Add initial tests
  docs/pages/base-ui/api/radio-group-indicator.json
  docs/pages/base-ui/api/radio-group-item.json
  docs/pages/base-ui/api/radio-group-root.json
  docs/translations/api-docs/radio-group-item/radio-group-item.json
  docs/translations/api-docs/radio-group-root/radio-group-root.json
  packages/mui-base/src/RadioGroup/Indicator/RadioGroupIndicator.test.tsx
  packages/mui-base/src/RadioGroup/Indicator/RadioGroupIndicator.tsx
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.test.tsx
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.tsx
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.types.ts
  packages/mui-base/src/RadioGroup/Item/RadioGroupItemContext.ts
  packages/mui-base/src/RadioGroup/Item/useRadioGroupItem.ts
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.test.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.types.ts
  packages/mui-base/src/RadioGroup/Root/RadioGroupRootContext.ts
  packages/mui-base/src/RadioGroup/Root/useRadioGroupRoot.ts
Owners: @atomiks, @michaldudak, @colmtuite

Refactor touched state
  packages/mui-base/src/Composite/Root/CompositeRoot.tsx
  packages/mui-base/src/Composite/Root/CompositeRoot.types.ts
  packages/mui-base/src/Composite/Root/useCompositeRoot.ts
  packages/mui-base/src/RadioGroup/Item/useRadioGroupItem.ts
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRootContext.ts
  packages/mui-base/src/RadioGroup/Root/useRadioGroupRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Fix docs lint
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.js
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Add autoselect
  docs/pages/base-ui/api/radio-group-root.json
  docs/translations/api-docs/radio-group-root/radio-group-root.json
  packages/mui-base/src/RadioGroup/Item/useRadioGroupItem.ts
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.test.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.types.ts
  packages/mui-base/src/RadioGroup/Root/RadioGroupRootContext.ts
  packages/mui-base/src/RadioGroup/Root/useRadioGroupRoot.ts
Owners: @atomiks, @michaldudak, @colmtuite

Remove elementsRef
  packages/mui-base/src/Composite/Root/CompositeRoot.tsx
  packages/mui-base/src/Composite/Root/CompositeRoot.types.ts
  packages/mui-base/src/Composite/Root/useCompositeRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Port Composite tests
  packages/mui-base/src/Composite/Item/CompositeItem.test.tsx
  packages/mui-base/src/Composite/Root/CompositeRoot.test.tsx
  packages/mui-base/src/Composite/Root/CompositeRoot.tsx
  packages/mui-base/src/Composite/Root/CompositeRoot.types.ts
  packages/mui-base/src/Composite/Root/useCompositeRoot.ts
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.tsx
Owners: @atomiks, @colmtuite, @michaldudak

use client
  packages/mui-base/src/RadioGroup/Indicator/RadioGroupIndicator.tsx
  packages/mui-base/src/RadioGroup/Indicator/useRadioGroupIndicator.ts
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.tsx
  packages/mui-base/src/RadioGroup/Item/useRadioGroupItem.ts
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRootContext.ts
  packages/mui-base/src/RadioGroup/Root/useRadioGroupRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Remove orientation
  packages/mui-base/src/Composite/Root/CompositeRoot.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.tsx
  packages/mui-base/src/RadioGroup/Root/useRadioGroupRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Use span indicator
  packages/mui-base/src/RadioGroup/Indicator/RadioGroupIndicator.tsx
  packages/mui-base/src/RadioGroup/Indicator/RadioGroupIndicator.types.ts
Owners: @atomiks, @colmtuite, @michaldudak

Fix demo
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.js
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.tsx
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.tsx.preview
Owners: @atomiks, @colmtuite, @michaldudak

Fix test
  packages/mui-base/src/RadioGroup/Indicator/RadioGroupIndicator.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Update
  docs/pages/base-ui/api/radio-group-indicator.json
  docs/pages/base-ui/api/radio-group-item.json
  docs/pages/base-ui/api/radio-group-root.json
  docs/translations/api-docs/radio-group-indicator/radio-group-indicator.json
  packages/mui-base/src/RadioGroup/Indicator/RadioGroupIndicator.tsx
  packages/mui-base/src/RadioGroup/Indicator/RadioGroupIndicator.types.ts
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.tsx
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.types.ts
  packages/mui-base/src/RadioGroup/Item/useRadioGroupItem.ts
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.types.ts
  packages/mui-base/src/RadioGroup/Root/RadioGroupRootContext.ts
  packages/mui-base/src/RadioGroup/Root/useRadioGroupRoot.ts
Owners: @atomiks, @michaldudak, @colmtuite

Remove unused hook
  packages/mui-base/src/RadioGroup/Indicator/RadioGroupIndicator.tsx
  packages/mui-base/src/RadioGroup/Indicator/useRadioGroupIndicator.ts
Owners: @atomiks, @colmtuite, @michaldudak

name -> value
  docs/data/base/components/radio-group/radio-group.md
  docs/pages/base-ui/api/radio-group-item.json
  docs/translations/api-docs/radio-group-item/radio-group-item.json
  packages/mui-base/src/RadioGroup/Indicator/RadioGroupIndicator.test.tsx
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.test.tsx
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.tsx
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.types.ts
  packages/mui-base/src/RadioGroup/Item/useRadioGroupItem.ts
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Docs
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.js
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.tsx
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.tsx.preview
  docs/data/base/pages.ts
  docs/data/base/pagesApi.js
  docs/pages/base-ui/react-radio-group/index.js
Owners: @atomiks, @colmtuite, @michaldudak

value: string | number
  docs/pages/base-ui/api/radio-group-item.json
  docs/pages/base-ui/api/radio-group-root.json
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.tsx
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.types.ts
  packages/mui-base/src/RadioGroup/Item/useRadioGroupItem.ts
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.types.ts
  packages/mui-base/src/RadioGroup/Root/RadioGroupRootContext.ts
  packages/mui-base/src/RadioGroup/Root/useRadioGroupRoot.ts
Owners: @atomiks, @michaldudak, @colmtuite

Rename state
  packages/mui-base/src/RadioGroup/Indicator/RadioGroupIndicator.tsx
  packages/mui-base/src/RadioGroup/Item/RadioGroupItem.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Update demo
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.js
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Memo ownerStates
  packages/mui-base/src/Field/Control/FieldControl.tsx
  packages/mui-base/src/Field/Label/FieldLabel.tsx
  packages/mui-base/src/Field/Message/FieldMessage.tsx
  packages/mui-base/src/Field/Root/FieldRoot.tsx
  packages/mui-base/src/Fieldset/Legend/FieldsetLegend.tsx
  packages/mui-base/src/Fieldset/Root/FieldsetRoot.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Remove middle function
  packages/mui-base/src/Field/Control/useFieldControlValidation.ts
Owners: @atomiks, @colmtuite, @michaldudak

Refactor show evaluation
  packages/mui-base/src/Field/Message/FieldMessage.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Fix jsdoc
  packages/mui-base/src/Fieldset/Legend/FieldsetLegend.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Fix NumberField, handle custom label rendering
  docs/pages/base-ui/api/use-number-field-root.json
  packages/mui-base/src/Field/Control/useFieldControl.ts
  packages/mui-base/src/Field/Label/FieldLabel.tsx
  packages/mui-base/src/Field/Label/useFieldLabel.ts
  packages/mui-base/src/NumberField/Root/NumberFieldRoot.types.ts
  packages/mui-base/src/NumberField/Root/useNumberFieldRoot.ts
  packages/mui-base/src/Slider/Root/SliderRoot.tsx
Owners: @atomiks, @michaldudak, @colmtuite

Update docs imports
  docs/data/base/components/field/UnstyledFieldIntroduction/system/index.js
  docs/data/base/components/field/UnstyledFieldIntroduction/system/index.tsx
  docs/data/base/components/fieldset/UnstyledFieldsetIntroduction/system/index.js
  docs/data/base/components/fieldset/UnstyledFieldsetIntroduction/system/index.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Refactor validate API
  docs/data/base/components/field/UnstyledFieldIntroduction/system/index.js
  docs/data/base/components/field/UnstyledFieldIntroduction/system/index.tsx
  docs/pages/base-ui/api/field-root.json
  docs/translations/api-docs/field-root/field-root.json
  packages/mui-base/src/Checkbox/Root/useCheckboxRoot.ts
  packages/mui-base/src/Field/Control/FieldControl.tsx
  packages/mui-base/src/Field/Control/FieldControl.types.ts
  packages/mui-base/src/Field/Control/useFieldControl.ts
  packages/mui-base/src/Field/Label/FieldLabel.tsx
  packages/mui-base/src/Field/Label/FieldLabel.types.ts
  packages/mui-base/src/Field/Message/FieldMessage.tsx
  packages/mui-base/src/Field/Message/FieldMessage.types.tsx
  packages/mui-base/src/Field/Root/FieldRoot.tsx
  packages/mui-base/src/Field/Root/FieldRoot.types.ts
  packages/mui-base/src/Field/Root/FieldRootContext.ts
  packages/mui-base/src/Field/utils/constants.ts
  packages/mui-base/src/NumberField/Root/useNumberFieldRoot.ts
  packages/mui-base/src/Switch/Root/useSwitchRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Tests
  docs/data/base/components/field/field.md
  docs/pages/base-ui/api/field-validity.json
  packages/mui-base/src/Field/Control/FieldControl.tsx
  packages/mui-base/src/Field/Label/FieldLabel.test.tsx
  packages/mui-base/src/Field/Label/FieldLabel.tsx
  packages/mui-base/src/Field/Message/FieldMessage.test.tsx
  packages/mui-base/src/Field/Message/FieldMessage.tsx
  packages/mui-base/src/Field/Root/FieldRoot.tsx
  packages/mui-base/src/Field/Root/FieldRootContext.ts
  packages/mui-base/src/Field/Validity/FieldValidity.test.tsx
  packages/mui-base/src/Field/Validity/FieldValidity.tsx
  packages/mui-base/src/Field/Validity/FieldValidity.types.ts
  packages/mui-base/src/Fieldset/Legend/FieldsetLegend.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Update types
  docs/data/base/components/field/field.md
  packages/mui-base/src/Field/Validity/FieldValidity.types.ts
Owners: @atomiks, @colmtuite, @michaldudak

Handle async and custom messages
  docs/data/base/components/field/UnstyledFieldAsync.js
  docs/data/base/components/field/UnstyledFieldAsync.tsx
  docs/data/base/components/field/UnstyledFieldIntroduction/system/index.js
  docs/data/base/components/field/UnstyledFieldIntroduction/system/index.tsx
  docs/data/base/components/field/field.md
  docs/pages/base-ui/api/slider-root.json
  packages/mui-base/src/Checkbox/Root/useCheckboxRoot.ts
  packages/mui-base/src/Field/Control/FieldControl.tsx
  packages/mui-base/src/Field/Control/useFieldControl.ts
  packages/mui-base/src/Field/Label/FieldLabel.tsx
  packages/mui-base/src/Field/Message/FieldMessage.tsx
  packages/mui-base/src/Field/Message/useFieldMessage.ts
  packages/mui-base/src/Field/Root/FieldRoot.tsx
  packages/mui-base/src/Field/Root/FieldRoot.types.ts
  packages/mui-base/src/Field/Validity/FieldValidity.tsx
  packages/mui-base/src/NumberField/Root/useNumberFieldRoot.ts
  packages/mui-base/src/Slider/Control/useSliderControl.ts
  packages/mui-base/src/Slider/Root/SliderRoot.tsx
  packages/mui-base/src/Slider/Root/SliderRoot.types.ts
  packages/mui-base/src/Slider/Root/useSliderRoot.ts
  packages/mui-base/src/Switch/Root/useSwitchRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Restore Name field
  docs/data/base/components/field/UnstyledFieldIntroduction/system/index.js
  docs/data/base/components/field/UnstyledFieldIntroduction/system/index.tsx
  packages/mui-base/src/Field/Control/FieldControl.types.ts
Owners: @atomiks, @colmtuite, @michaldudak

Update docs
  docs/data/base/components/field/field.md
Owners: @atomiks, @colmtuite, @michaldudak

Split Message into Error and Description
  docs/data/base/components/field/UnstyledFieldAsync.js
  docs/data/base/components/field/UnstyledFieldAsync.tsx
  docs/data/base/components/field/UnstyledFieldIntroduction/system/index.js
  docs/data/base/components/field/UnstyledFieldIntroduction/system/index.tsx
  docs/data/base/components/field/UnstyledFieldPassword.js
  docs/data/base/components/field/UnstyledFieldPassword.tsx
  docs/data/base/components/field/UnstyledFieldPassword.tsx.preview
  docs/data/base/components/field/field.md
  docs/data/base/pagesApi.js
  docs/pages/base-ui/api/field-description.json
  docs/pages/base-ui/api/field-error.json
  docs/pages/base-ui/api/use-field-description.json
  docs/pages/base-ui/api/use-field-error.json
  docs/pages/base-ui/api/use-field-message.json
  docs/pages/base-ui/react-field/[docsTab]/index.js
  docs/translations/api-docs/field-description/field-description.json
  docs/translations/api-docs/field-error/field-error.json
  docs/translations/api-docs/use-field-description/use-field-description.json
  docs/translations/api-docs/use-field-error/use-field-error.json
  packages/mui-base/src/Field/Description/FieldDescription.test.tsx
  packages/mui-base/src/Field/Description/FieldDescription.tsx
  packages/mui-base/src/Field/Description/FieldDescription.types.tsx
  packages/mui-base/src/Field/Description/useFieldDescription.ts
  packages/mui-base/src/Field/Error/FieldError.test.tsx
  packages/mui-base/src/Field/Error/FieldError.tsx
  packages/mui-base/src/Field/Error/FieldError.types.tsx
  packages/mui-base/src/Field/Error/useFieldError.ts
  packages/mui-base/src/Field/Message/FieldMessage.types.tsx
  packages/mui-base/src/Field/Root/FieldRoot.test.tsx
  packages/mui-base/src/Field/index.barrel.ts
  packages/mui-base/src/Field/index.ts
Owners: @atomiks, @colmtuite, @michaldudak

Update
  docs/data/base/components/field/UnstyledFieldIntroduction/system/index.js
  docs/data/base/components/field/UnstyledFieldIntroduction/system/index.tsx
  docs/pages/base-ui/api/number-field-root.json
  docs/pages/base-ui/api/use-number-field-root.json
  docs/translations/api-docs/number-field-root/number-field-root.json
  docs/translations/api-docs/use-number-field-root/use-number-field-root.json
  packages/mui-base/src/Checkbox/Root/useCheckboxRoot.ts
  packages/mui-base/src/Field/Control/FieldControl.tsx
  packages/mui-base/src/Field/Control/FieldControl.types.ts
  packages/mui-base/src/NumberField/Root/NumberFieldRoot.tsx
  packages/mui-base/src/NumberField/Root/NumberFieldRoot.types.ts
  packages/mui-base/src/Switch/Root/useSwitchRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Linting fixes
  docs/data/base/components/field/UnstyledFieldIntroduction/system/index.js
  docs/data/base/components/field/UnstyledFieldIntroduction/system/index.tsx
  docs/data/base/components/fieldset/UnstyledFieldsetIntroduction/system/index.js
  docs/data/base/components/fieldset/UnstyledFieldsetIntroduction/system/index.tsx
  packages/mui-base/src/Field/Root/FieldRoot.tsx
  packages/mui-base/src/Field/Root/FieldRootContext.ts
Owners: @atomiks, @colmtuite, @michaldudak

Feedback
  docs/data/base/components/field/UnstyledFieldAsync.js
  docs/data/base/components/field/UnstyledFieldAsync.tsx
  docs/data/base/components/field/UnstyledFieldPassword.js
  docs/data/base/components/field/UnstyledFieldPassword.tsx
  docs/data/base/components/fieldset/fieldset.md
  docs/pages/base-ui/api/field-root.json
  docs/translations/api-docs/field-root/field-root.json
  packages/mui-base/src/Field/Control/useFieldControlValidation.ts
  packages/mui-base/src/Field/Root/FieldRoot.tsx
  packages/mui-base/src/Field/Root/FieldRoot.types.ts
  packages/mui-base/src/Field/Root/FieldRootContext.ts
  packages/mui-base/src/Slider/Control/useSliderControl.ts
Owners: @atomiks, @colmtuite, @michaldudak

Avoid destructuring
  docs/data/base/components/field/field.md
  packages/mui-base/src/Field/Validity/FieldValidity.tsx
  packages/mui-base/src/Field/Validity/FieldValidity.types.ts
Owners: @atomiks, @colmtuite, @michaldudak

Docs
  docs/pages/base-ui/api/field-message.json
Owners: @atomiks, @michaldudak

Adjust styles
  docs/data/base/components/field/UnstyledFieldIntroduction/system/index.js
  docs/data/base/components/field/UnstyledFieldIntroduction/system/index.tsx
  packages/mui-base/src/Fieldset/Legend/FieldsetLegend.tsx
  packages/mui-base/src/Fieldset/Root/FieldsetRoot.tsx
Owners: @atomiks, @colmtuite, @michaldudak

.github/CODEOWNERS:

* @atomiks @michaldudak
/docs/data/ @atomiks @colmtuite @michaldudak
/examples/ @atomiks @colmtuite @michaldudak
/packages/mui-base/ @atomiks @colmtuite @michaldudak
/scripts/ @michaldudak
