Repository mui/base-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atomiks, @michaldudak, @colmtuite

.github/CODEOWNERS:

* @atomiks @michaldudak
/docs/src/ @atomiks @colmtuite @michaldudak
/packages/react/ @atomiks @colmtuite @michaldudak
/scripts/ @michaldudak

[code-infra] CircleCI maintenance (#1321)
  .circleci/config.yml
Owners: @atomiks, @michaldudak

Fix page title
  docs/src/app/(private)/experiments/[...slug]/page.tsx
Owners: @atomiks, @colmtuite, @michaldudak

[core] Update to new Tailwind docs (#1368)
  docs/src/components/Demo/CodeSandboxLink.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Fix corepack and pnpm installation in circleci
  .circleci/config.yml
Owners: @atomiks, @michaldudak

[core] Fix corepack installation in CircleCI (#1405)
  .circleci/config.yml
Owners: @atomiks, @michaldudak

[core] Allow undefined function for `useEventCallback` (#1372)
  packages/react/src/checkbox-group/useCheckboxGroupParent.ts
  packages/react/src/checkbox/root/useCheckboxRoot.ts
  packages/react/src/form/Form.tsx
  packages/react/src/menu/radio-group/MenuRadioGroup.tsx
  packages/react/src/number-field/root/useNumberFieldRoot.ts
  packages/react/src/popover/root/usePopoverRoot.ts
  packages/react/src/preview-card/root/usePreviewCardRoot.ts
  packages/react/src/switch/root/useSwitchRoot.ts
  packages/react/src/tooltip/root/useTooltipRoot.ts
  packages/react/src/utils/useEventCallback.ts
Owners: @atomiks, @colmtuite, @michaldudak

[Progress] Add `format` prop and `Value` component (#1355)
  docs/reference/generated/progress-indicator.json
  docs/reference/generated/progress-root.json
  docs/reference/generated/progress-value.json
  docs/src/app/(public)/(content)/react/components/progress/page.mdx
  packages/react/src/progress/index.parts.ts
  packages/react/src/progress/indicator/ProgressIndicator.test.tsx
  packages/react/src/progress/indicator/ProgressIndicator.tsx
  packages/react/src/progress/indicator/useProgressIndicator.ts
  packages/react/src/progress/root/ProgressRoot.test.tsx
  packages/react/src/progress/root/ProgressRoot.tsx
  packages/react/src/progress/root/useProgressRoot.ts
  packages/react/src/progress/track/ProgressTrack.test.tsx
  packages/react/src/progress/value/ProgressValue.test.tsx
  packages/react/src/progress/value/ProgressValue.tsx
Owners: @atomiks, @michaldudak, @colmtuite

Render controls for text, numbers and lists
  docs/src/app/(private)/experiments/infra/Input.module.css
  docs/src/app/(private)/experiments/infra/Input.tsx
  docs/src/app/(private)/experiments/infra/Select.module.css
  docs/src/app/(private)/experiments/infra/Select.tsx
  docs/src/app/(private)/experiments/infra/SettingsPanel.module.css
  docs/src/app/(private)/experiments/infra/SettingsPanel.tsx
  docs/src/app/(private)/experiments/infra/Switch.module.css
  docs/src/app/(private)/experiments/infra/Switch.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Set width and height attrs in demo
  docs/src/app/(public)/(content)/react/components/avatar/demos/hero/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/avatar/demos/hero/tailwind/index.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Update
  docs/src/app/(public)/(content)/react/components/tooltip/page.mdx
Owners: @atomiks, @colmtuite, @michaldudak

Improve description
  docs/src/app/(public)/(content)/react/components/tooltip/page.mdx
Owners: @atomiks, @colmtuite, @michaldudak

[docs] Underline links by default (#1357)
  docs/src/components/Link.css
Owners: @atomiks, @colmtuite, @michaldudak
