Repository mui/base-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atomiks, @michaldudak, @colmtuite

.github/CODEOWNERS:

* @atomiks @michaldudak
/docs/data/ @atomiks @colmtuite @michaldudak
/examples/ @atomiks @colmtuite @michaldudak
/packages/mui-base/ @atomiks @colmtuite @michaldudak
/scripts/ @michaldudak

Fix TS error
  docs/src/modules/common/MDXComponents.module.css
  docs/src/modules/common/MDXComponents.tsx
Owners: @atomiks, @michaldudak

Do not run regression tests for demo dependencies
  test/regressions/index.js
Owners: @atomiks, @michaldudak

Remove ComponentPageTabs usage
  docs/data/components/menu/menu.mdx
Owners: @atomiks, @colmtuite, @michaldudak

[Menu] Do not select an item when space is pressed during typeahead (#542)
  docs/data/base/components/menu/menu.md
  packages/mui-base/src/Menu/Item/MenuItem.test.tsx
  packages/mui-base/src/Menu/Item/MenuItem.tsx
  packages/mui-base/src/Menu/Item/useMenuItem.ts
  packages/mui-base/src/Menu/Popup/MenuPopup.test.tsx
  packages/mui-base/src/Menu/Positioner/MenuPositioner.test.tsx
  packages/mui-base/src/Menu/Root/MenuRoot.test.tsx
  packages/mui-base/src/Menu/Root/MenuRoot.tsx
  packages/mui-base/src/Menu/Root/MenuRootContext.ts
  packages/mui-base/src/Menu/Root/useMenuRoot.ts
  packages/mui-base/src/Menu/SubmenuTrigger/SubmenuTrigger.tsx
  packages/mui-base/src/Menu/SubmenuTrigger/useSubmenuTrigger.ts
  packages/mui-base/src/Menu/Trigger/MenuTrigger.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Quickstart -> Quick start
  docs/data/getting-started/quick-start/quick-start.mdx
  docs/data/pages.ts
  docs/src/modules/common/Navigation.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Clean up docs' content
  docs/app/(content)/getting-started/[slug]/page.tsx
  docs/app/(content)/guides/[slug]/page.tsx
  docs/app/(content)/styles.module.css
  docs/data/components/focus-trap/focus-trap.mdx
  docs/data/components/slider/slider.mdx
  docs/data/components/tabs/tabs.mdx
  docs/data/getting-started/accessibility/accessibility.mdx
  docs/data/getting-started/overview/overview.mdx
  docs/data/getting-started/support/support.mdx
  docs/data/getting-started/usage/usage.mdx
  docs/package.json
  docs/src/utils/getMarkdownPage.ts
  pnpm-lock.yaml
Owners: @atomiks, @michaldudak, @colmtuite

Feedback
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupIntroduction/css/index.js
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupIntroduction/css/index.tsx
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupIntroduction/system/index.js
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupIntroduction/system/index.tsx
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupIntroduction/tailwind/index.js
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupIntroduction/tailwind/index.tsx
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupNested.js
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupNested.tsx
  packages/mui-base/src/Checkbox/Root/CheckboxRoot.tsx
  packages/mui-base/src/CheckboxGroup/Parent/useCheckboxGroupParent.ts
  packages/mui-base/src/CheckboxGroup/Parent/useCheckboxGroupParent.types.ts
  packages/mui-base/src/CheckboxGroup/Root/CheckboxGroupRoot.tsx
  packages/mui-base/src/CheckboxGroup/Root/CheckboxGroupRoot.types.ts
  packages/mui-base/src/CheckboxGroup/Root/CheckboxGroupRootContext.ts
  packages/mui-base/src/CheckboxGroup/Root/useCheckboxGroupRoot.tsx
  packages/mui-base/src/CheckboxGroup/Root/useCheckboxGroupRoot.types.ts
  packages/mui-base/src/CheckboxGroup/index.barrel.ts
  packages/mui-base/src/CheckboxGroup/index.ts
Owners: @atomiks, @colmtuite, @michaldudak

Fix type
  packages/mui-base/src/CheckboxGroup/Root/CheckboxGroupRootContext.ts
Owners: @atomiks, @colmtuite, @michaldudak

Fix lint
  docs/data/base/components/checkbox/UnstyledCheckboxIndeterminateGroup.js
  docs/data/base/components/checkbox/UnstyledCheckboxIndeterminateGroup.tsx
  docs/pages/base-ui/api/checkbox-root.json
  docs/pages/base-ui/api/use-checkbox-root.json
  packages/mui-base/src/Checkbox/Root/CheckboxRoot.tsx
  packages/mui-base/src/Checkbox/Root/CheckboxRoot.types.ts
  packages/mui-base/src/Checkbox/Root/useCheckboxRoot.ts
  packages/mui-base/src/CheckboxGroup/Parent/useCheckboxGroupParent.ts
  packages/mui-base/src/CheckboxGroup/Root/CheckboxGroupRoot.tsx
  packages/mui-base/src/CheckboxGroup/Root/CheckboxGroupRootContext.ts
  packages/mui-base/src/CheckboxGroup/Root/useCheckboxGroupRoot.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Update
  docs/data/base/components/radio-group/radio-group.md
  packages/mui-base/src/RadioGroup/Root/useRadioGroupRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Copey source button
  docs/package.json
  docs/src/blocks/Demo/DemoContext.ts
  docs/src/blocks/Demo/DemoSourceCopy.tsx
  docs/src/blocks/Demo/index.ts
  docs/src/design-system/Tooltip.module.css
  docs/src/design-system/Tooltip.tsx
  docs/src/icons/Copy.tsx
  docs/src/modules/components/Demo.module.css
  docs/src/modules/components/Demo.tsx
  docs/src/modules/components/DemoVariantSelector.tsx
  packages/mui-base/src/utils/useComponentRenderer.ts
  pnpm-lock.yaml
Owners: @atomiks, @michaldudak, @colmtuite

Support hidden-until-found
  docs/data/base/components/collapsible/collapsible.md
  docs/pages/experiments/collapsible-hidden-until-found.tsx
  docs/pages/experiments/collapsible-transition.tsx
  docs/pages/experiments/collapsible.tsx
  packages/mui-base/src/Collapsible/Content/CollapsibleContent.tsx
  packages/mui-base/src/Collapsible/Content/CollapsibleContent.types.ts
  packages/mui-base/src/Collapsible/Content/useCollapsibleContent.ts
Owners: @atomiks, @colmtuite, @michaldudak

Add Collapsible components and hooks
  docs/data/base/components/collapsible/collapsible.md
  docs/data/base/pages.ts
  docs/data/base/pagesApi.js
  docs/pages/base-ui/api/collapsible-content.json
  docs/pages/base-ui/api/collapsible-root.json
  docs/pages/base-ui/api/collapsible-trigger.json
  docs/pages/base-ui/api/use-collapsible-content.json
  docs/pages/base-ui/api/use-collapsible-root.json
  docs/pages/base-ui/api/use-collapsible-trigger.json
  docs/pages/base-ui/react-collapsible/[docsTab]/index.js
  docs/pages/base-ui/react-collapsible/index.js
  docs/pages/experiments/collapsible.tsx
  docs/translations/api-docs/collapsible-content/collapsible-content.json
  docs/translations/api-docs/collapsible-root/collapsible-root.json
  docs/translations/api-docs/collapsible-trigger/collapsible-trigger.json
  docs/translations/api-docs/use-collapsible-content/use-collapsible-content.json
  docs/translations/api-docs/use-collapsible-root/use-collapsible-root.json
  docs/translations/api-docs/use-collapsible-trigger/use-collapsible-trigger.json
  docs/translations/translations.json
  packages/mui-base/src/Collapsible/Content/CollapsibleContent.test.tsx
  packages/mui-base/src/Collapsible/Content/CollapsibleContent.tsx
  packages/mui-base/src/Collapsible/Content/CollapsibleContent.types.ts
  packages/mui-base/src/Collapsible/Content/useCollapsibleContent.ts
  packages/mui-base/src/Collapsible/Root/CollapsibleContext.tsx
  packages/mui-base/src/Collapsible/Root/CollapsibleRoot.test.tsx
  packages/mui-base/src/Collapsible/Root/CollapsibleRoot.tsx
  packages/mui-base/src/Collapsible/Root/CollapsibleRoot.types.ts
  packages/mui-base/src/Collapsible/Root/styleHooks.ts
  packages/mui-base/src/Collapsible/Root/useCollapsibleRoot.ts
  packages/mui-base/src/Collapsible/Trigger/CollapsibleTrigger.test.tsx
  packages/mui-base/src/Collapsible/Trigger/CollapsibleTrigger.tsx
  packages/mui-base/src/Collapsible/Trigger/CollapsibleTrigger.types.ts
  packages/mui-base/src/Collapsible/Trigger/useCollapsibleTrigger.ts
  packages/mui-base/src/Collapsible/index.barrel.ts
  packages/mui-base/src/Collapsible/index.ts
Owners: @atomiks, @colmtuite, @michaldudak

CSS transition support
  docs/data/base/components/collapsible/CssTransitionCollapsible.js
  docs/data/base/components/collapsible/CssTransitionCollapsible.tsx
  docs/data/base/components/collapsible/collapsible.md
  docs/data/base/pagesApi.js
  docs/pages/experiments/collapsible-accordion.tsx
  docs/pages/experiments/collapsible-transition.tsx
  packages/mui-base/src/Collapsible/Content/CollapsibleContent.types.ts
  packages/mui-base/src/Collapsible/Content/useCollapsibleContent.ts
Owners: @atomiks, @colmtuite, @michaldudak

Update tests and docs
  docs/data/base/components/collapsible/collapsible.md
  docs/pages/base-ui/api/collapsible-content.json
  docs/pages/base-ui/api/collapsible-root.json
  docs/translations/api-docs/collapsible-content/collapsible-content.json
  docs/translations/api-docs/collapsible-root/collapsible-root.json
  packages/mui-base/src/Collapsible/Content/CollapsibleContent.test.tsx
  packages/mui-base/src/Collapsible/Content/CollapsibleContent.tsx
  packages/mui-base/src/Collapsible/Content/CollapsibleContent.types.ts
  packages/mui-base/src/Collapsible/Content/useCollapsibleContent.ts
  packages/mui-base/src/Collapsible/Root/CollapsibleRoot.test.tsx
  packages/mui-base/src/Collapsible/Root/CollapsibleRoot.tsx
  packages/mui-base/src/Collapsible/Root/CollapsibleRoot.types.ts
  packages/mui-base/src/Collapsible/Root/useCollapsibleRoot.ts
  packages/mui-base/src/Collapsible/Trigger/CollapsibleTrigger.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Add comment
  packages/mui-base/src/Collapsible/Content/useCollapsibleContent.ts
Owners: @atomiks, @colmtuite, @michaldudak

Use namespace for types
  packages/mui-base/src/Collapsible/Content/CollapsibleContent.test.tsx
  packages/mui-base/src/Collapsible/Content/CollapsibleContent.tsx
  packages/mui-base/src/Collapsible/Content/CollapsibleContent.types.ts
  packages/mui-base/src/Collapsible/Content/useCollapsibleContent.ts
  packages/mui-base/src/Collapsible/Root/CollapsibleContext.tsx
  packages/mui-base/src/Collapsible/Root/CollapsibleRoot.tsx
  packages/mui-base/src/Collapsible/Root/CollapsibleRoot.types.ts
  packages/mui-base/src/Collapsible/Root/styleHooks.ts
  packages/mui-base/src/Collapsible/Root/useCollapsibleRoot.ts
  packages/mui-base/src/Collapsible/Trigger/CollapsibleTrigger.test.tsx
  packages/mui-base/src/Collapsible/Trigger/CollapsibleTrigger.tsx
  packages/mui-base/src/Collapsible/Trigger/CollapsibleTrigger.types.ts
  packages/mui-base/src/Collapsible/Trigger/useCollapsibleTrigger.ts
  packages/mui-base/src/Collapsible/index.barrel.ts
  packages/mui-base/src/Collapsible/index.ts
Owners: @atomiks, @colmtuite, @michaldudak

JS animation support and docs
  docs/data/base/components/collapsible/collapsible.md
  docs/pages/experiments/collapsible-framer.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Tweak docs and demos
  docs/data/base/components/collapsible/CssAnimatedCollapsible.js
  docs/data/base/components/collapsible/CssAnimatedCollapsible.tsx
  docs/data/base/components/collapsible/CssTransitionCollapsible.js
  docs/data/base/components/collapsible/CssTransitionCollapsible.tsx
  docs/data/base/components/collapsible/UnstyledCollapsibleIntroduction.js
  docs/data/base/components/collapsible/UnstyledCollapsibleIntroduction.tsx
  docs/data/base/components/collapsible/collapsible.md
  docs/pages/experiments/collapsible.tsx
Owners: @atomiks, @colmtuite, @michaldudak

CSS animation support
  docs/data/base/components/collapsible/CssAnimatedCollapsible.js
  docs/data/base/components/collapsible/CssAnimatedCollapsible.tsx
  docs/data/base/components/collapsible/UnstyledCollapsibleIntroduction.js
  docs/data/base/components/collapsible/UnstyledCollapsibleIntroduction.tsx
  docs/data/base/components/collapsible/collapsible.md
  packages/mui-base/src/Collapsible/Content/CollapsibleContent.test.tsx
  packages/mui-base/src/Collapsible/Content/CollapsibleContent.tsx
  packages/mui-base/src/Collapsible/Content/CollapsibleContent.types.ts
  packages/mui-base/src/Collapsible/Content/useCollapsibleContent.ts
  packages/mui-base/src/Collapsible/Root/CollapsibleRoot.test.tsx
  packages/mui-base/src/Collapsible/Root/CollapsibleRoot.tsx
  packages/mui-base/src/Collapsible/Root/CollapsibleRoot.types.ts
  packages/mui-base/src/Collapsible/Root/styleHooks.ts
  packages/mui-base/src/Collapsible/Root/useCollapsibleRoot.ts
  packages/mui-base/src/Collapsible/Trigger/CollapsibleTrigger.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Tweak docs
  docs/data/base/components/collapsible/collapsible.md
Owners: @atomiks, @colmtuite, @michaldudak

Root subcomponent accepts optional render prop
  docs/data/base/components/collapsible/collapsible.md
  docs/pages/base-ui/api/collapsible-root.json
  docs/pages/experiments/collapsible.tsx
  docs/translations/api-docs/collapsible-root/collapsible-root.json
  packages/mui-base/src/Collapsible/Root/CollapsibleRoot.test.tsx
  packages/mui-base/src/Collapsible/Root/CollapsibleRoot.tsx
  packages/mui-base/src/Collapsible/Root/styleHooks.ts
Owners: @atomiks, @colmtuite, @michaldudak

Remove sidenav on smaller screens
  docs/app/(content)/styles.module.css
  docs/src/modules/common/Navigation.module.css
  docs/src/modules/common/TableOfContents.module.css
Owners: @atomiks, @michaldudak

Fix font in ComponentLinkHeader
  docs/src/modules/components/ComponentLinkHeader.module.css
Owners: @atomiks, @michaldudak

[docs] Clarify contribution guide references
  CONTRIBUTING.md
Owners: @atomiks, @michaldudak

[docs] Fix outdated link to support page
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/support-stackoverflow.yml
Owners: @atomiks, @michaldudak

[docs] Fix Stack Overflow issue canned response
  .github/workflows/support-stackoverflow.yml
Owners: @atomiks, @michaldudak

update openOnHover description
  docs/translations/api-docs/menu-root/menu-root.json
  packages/mui-base/src/Menu/Root/MenuRoot.tsx
Owners: @atomiks, @michaldudak, @colmtuite

Open demos in CodeSandbox
  docs/package.json
  docs/src/icons/Codesandbox.tsx
  docs/src/icons/StackBlitz.tsx
  docs/src/modules/components/CodeSandboxLink.tsx
  docs/src/modules/components/Demo.module.css
  docs/src/modules/components/Demo.tsx
  docs/src/utils/sandbox/CreateReactApp.ts
  docs/src/utils/sandbox/addHiddenInput.ts
  docs/src/utils/sandbox/createCodeSandbox.ts
  docs/src/utils/sandbox/flattenRelativeImports.ts
  docs/src/utils/sandbox/packDemo.test.ts
  docs/src/utils/sandbox/packDemo.ts
  pnpm-lock.yaml
Owners: @atomiks, @michaldudak

CSB generation improvements
  docs/src/modules/components/CodeSandboxLink.tsx
  docs/src/modules/components/Demo.tsx
  docs/src/utils/sandbox/createCodeSandbox.ts
Owners: @atomiks, @michaldudak

Move sandbox generation code to blocks
  docs/src/blocks/sandbox/CreateReactApp.ts
  docs/src/blocks/sandbox/addHiddenInput.ts
  docs/src/blocks/sandbox/createCodeSandbox.ts
  docs/src/blocks/sandbox/flattenRelativeImports.ts
  docs/src/blocks/sandbox/packDemo.test.ts
  docs/src/blocks/sandbox/packDemo.ts
  docs/src/modules/components/CodeSandboxLink.tsx
Owners: @atomiks, @michaldudak

[docs] Fix pnpm docs:link-check script
  docs/.link-check-errors.txt
  docs/scripts/reportBrokenLinks.js
Owners: @atomiks, @michaldudak

Update
  docs/data/base/components/form/form.md
  docs/data/base/pagesApi.js
  docs/pages/base-ui/api/field-control.json
  docs/pages/base-ui/api/form-submit.json
  docs/pages/base-ui/react-form/[docsTab]/index.js
  docs/translations/api-docs/field-control/field-control.json
  docs/translations/api-docs/form-submit/form-submit.json
  packages/mui-base/src/Checkbox/Root/useCheckboxRoot.ts
  packages/mui-base/src/Field/Control/FieldControl.tsx
  packages/mui-base/src/Field/Control/FieldControl.types.ts
  packages/mui-base/src/Field/Control/useFieldControl.ts
  packages/mui-base/src/Field/useField.ts
  packages/mui-base/src/Form/Root/FormRoot.tsx
  packages/mui-base/src/NumberField/Root/useNumberFieldRoot.ts
  packages/mui-base/src/Slider/Root/useSliderRoot.ts
  packages/mui-base/src/Switch/Root/useSwitchRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

[docs] Fix pnpm docs:link-check script (#552)
  docs/.link-check-errors.txt
  docs/scripts/reportBrokenLinks.js
Owners: @atomiks, @michaldudak

Add the focus reset button to demos
  docs/app/(content)/components/[slug]/page.tsx
  docs/package.json
  docs/src/blocks/Demo/DemoPlayground.tsx
  docs/src/icons/ResetFocus.tsx
  docs/src/modules/components/Demo.module.css
  docs/src/modules/components/Demo.tsx
  docs/src/modules/components/DemoErrorFallback.tsx
  docs/src/modules/components/DemoLoader.module.css
  docs/src/modules/components/DemoLoader.tsx
  pnpm-lock.yaml
Owners: @atomiks, @michaldudak

add back-ticks to openOnHover
  docs/translations/api-docs/menu-root/menu-root.json
  packages/mui-base/src/Menu/Root/MenuRoot.tsx
Owners: @atomiks, @michaldudak, @colmtuite

Demo playground focus styles
  docs/src/modules/components/Demo.module.css
  docs/src/modules/components/Demo.tsx
Owners: @atomiks, @michaldudak

Revert unnecessary changes
  packages/mui-base/src/Menu/Root/MenuRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Typos
  packages/mui-base/src/Menu/Root/MenuRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Reset demo button
  docs/src/icons/Reset.tsx
  docs/src/modules/components/Demo.tsx
Owners: @atomiks, @michaldudak
