Repository mui/base-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atomiks, @michaldudak, @colmtuite

JSDocs
  docs/src/blocks/Demo/types.ts
  docs/src/utils/loadDemo.ts
Owners: @atomiks, @michaldudak

Fix the build
  docs/app/(content)/getting-started/[slug]/page.tsx
  docs/app/(content)/guides/[slug]/page.tsx
  docs/src/modules/common/MDXComponents.tsx
  docs/src/modules/components/DemoLoader.tsx
Owners: @atomiks, @michaldudak

Fix the build even more
  docs/src/modules/common/MDXComponents.tsx
Owners: @atomiks, @michaldudak

IconButton component
  docs/src/blocks/Demo/DemoSourceCopy.tsx
  docs/src/design-system/IconButton.module.css
  docs/src/design-system/IconButton.tsx
  docs/src/modules/common/AppBar.module.css
  docs/src/modules/common/AppBar.tsx
  docs/src/modules/common/Box.tsx
  docs/src/modules/common/MDXComponents.tsx
  docs/src/modules/components/CodeSandboxLink.tsx
  docs/src/modules/components/Demo.tsx
  docs/src/styles/components/app-bar.css
  docs/src/styles/style.css
Owners: @atomiks, @michaldudak

Add TooltipProvider
  docs/app/layout.tsx
  docs/src/modules/components/Demo.module.css
  docs/src/modules/components/Demo.tsx
Owners: @atomiks, @michaldudak

Add mdx extension to vscode recommendations
  .vscode/extensions.json
Owners: @atomiks, @michaldudak

[MenuRoot] Remove wrong default value from docs (#549)
  docs/pages/base-ui/api/menu-root.json
  docs/translations/api-docs/menu-root/menu-root.json
  packages/mui-base/src/Menu/Root/MenuRoot.tsx
Owners: @atomiks, @michaldudak, @colmtuite

Add the theme file to demos
  docs/src/blocks/sandbox/createCodeSandbox.ts
  docs/src/modules/components/CodeSandboxLink.tsx
  docs/src/utils/loadDemo.ts
Owners: @atomiks, @michaldudak

Plain CSS -> CSS modules
  docs/data/components/alert-dialog/AlertDialogIntroduction/css-modules/index.js
  docs/data/components/alert-dialog/AlertDialogIntroduction/css-modules/index.tsx
  docs/data/components/alert-dialog/AlertDialogIntroduction/css-modules/index.tsx.preview
  docs/data/components/alert-dialog/AlertDialogIntroduction/css-modules/styles.module.css
  docs/data/components/checkbox/UnstyledCheckboxIntroduction/css-modules/index.js
  docs/data/components/checkbox/UnstyledCheckboxIntroduction/css-modules/index.tsx
  docs/data/components/dialog/UnstyledDialogIntroduction/css-modules/index.js
  docs/data/components/dialog/UnstyledDialogIntroduction/css-modules/index.tsx
  docs/data/components/dialog/UnstyledDialogIntroduction/css-modules/styles.module.css
  docs/data/components/menu/MenuIntroduction/css-modules/Menu.js
  docs/data/components/menu/MenuIntroduction/css-modules/Menu.module.css
  docs/data/components/menu/MenuIntroduction/css-modules/Menu.tsx
  docs/data/components/menu/MenuIntroduction/css-modules/index.js
  docs/data/components/menu/MenuIntroduction/css-modules/index.tsx
  docs/data/components/menu/MenuIntroduction/css-modules/index.tsx.preview
  docs/data/components/number-field/UnstyledNumberFieldIntroduction/css-modules/index.js
  docs/data/components/number-field/UnstyledNumberFieldIntroduction/css-modules/index.tsx
  docs/data/components/progress/UnstyledProgressIntroduction/css-modules/index.js
  docs/data/components/progress/UnstyledProgressIntroduction/css-modules/index.tsx
  docs/data/components/progress/UnstyledProgressIntroduction/css-modules/index.tsx.preview
  docs/data/components/slider/UnstyledSliderIntroduction/css-modules/index.js
  docs/data/components/slider/UnstyledSliderIntroduction/css-modules/index.tsx
  docs/data/components/switch/UnstyledSwitchIntroduction/css-modules/index.js
  docs/data/components/switch/UnstyledSwitchIntroduction/css-modules/index.tsx
  docs/data/components/tabs/UnstyledTabsIntroduction/css-modules/index.js
  docs/data/components/tabs/UnstyledTabsIntroduction/css-modules/index.tsx
  docs/src/modules/components/CodeSandboxLink.tsx
  docs/src/modules/components/DemoVariantSelector.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Fix prop spreading
  docs/src/design-system/IconButton.tsx
Owners: @atomiks, @michaldudak

Split IconLinkButton
  docs/src/design-system/IconButton.tsx
  docs/src/design-system/IconLinkButton.tsx
  docs/src/modules/common/AppBar.tsx
Owners: @atomiks, @michaldudak

Lint
  .eslintrc.js
  docs/src/design-system/IconLinkButton.tsx
Owners: @atomiks, @michaldudak

Collapse/expand source code
  docs/src/components/demo/Demo.module.css
  docs/src/components/demo/Demo.tsx
  docs/src/components/demo/DemoVariantSelector.tsx
  docs/src/design-system/Button.module.css
  docs/src/design-system/Button.tsx
  docs/src/icons/ChevronDown.tsx
  docs/src/styles/style.css
Owners: @atomiks, @michaldudak

Page headers as links
  docs/src/components/content/MDXComponents.tsx
Owners: @atomiks, @michaldudak

[Collapsible] Add Collapsible components and hooks (#481)
  docs/data/base/components/collapsible/CssAnimatedCollapsible.js
  docs/data/base/components/collapsible/CssAnimatedCollapsible.tsx
  docs/data/base/components/collapsible/CssTransitionCollapsible.js
  docs/data/base/components/collapsible/CssTransitionCollapsible.tsx
  docs/data/base/components/collapsible/UnstyledCollapsibleIntroduction.js
  docs/data/base/components/collapsible/UnstyledCollapsibleIntroduction.tsx
  docs/data/base/components/collapsible/collapsible.md
  docs/data/base/pages.ts
  docs/data/base/pagesApi.js
  docs/pages/base-ui/api/collapsible-content.json
  docs/pages/base-ui/api/collapsible-root.json
  docs/pages/base-ui/api/collapsible-trigger.json
  docs/pages/base-ui/api/use-collapsible-content.json
  docs/pages/base-ui/api/use-collapsible-root.json
  docs/pages/base-ui/api/use-collapsible-trigger.json
  docs/pages/base-ui/react-collapsible/[docsTab]/index.js
  docs/pages/base-ui/react-collapsible/index.js
  docs/pages/experiments/collapsible-accordion.tsx
  docs/pages/experiments/collapsible-framer.tsx
  docs/pages/experiments/collapsible-hidden-until-found.tsx
  docs/pages/experiments/collapsible.tsx
  docs/translations/api-docs/collapsible-content/collapsible-content.json
  docs/translations/api-docs/collapsible-root/collapsible-root.json
  docs/translations/api-docs/collapsible-trigger/collapsible-trigger.json
  docs/translations/api-docs/use-collapsible-content/use-collapsible-content.json
  docs/translations/api-docs/use-collapsible-root/use-collapsible-root.json
  docs/translations/api-docs/use-collapsible-trigger/use-collapsible-trigger.json
  docs/translations/translations.json
  packages/mui-base/src/Collapsible/Content/CollapsibleContent.test.tsx
  packages/mui-base/src/Collapsible/Content/CollapsibleContent.tsx
  packages/mui-base/src/Collapsible/Content/useCollapsibleContent.ts
  packages/mui-base/src/Collapsible/Root/CollapsibleContext.tsx
  packages/mui-base/src/Collapsible/Root/CollapsibleRoot.test.tsx
  packages/mui-base/src/Collapsible/Root/CollapsibleRoot.tsx
  packages/mui-base/src/Collapsible/Root/styleHooks.ts
  packages/mui-base/src/Collapsible/Root/useCollapsibleRoot.ts
  packages/mui-base/src/Collapsible/Trigger/CollapsibleTrigger.test.tsx
  packages/mui-base/src/Collapsible/Trigger/CollapsibleTrigger.tsx
  packages/mui-base/src/Collapsible/Trigger/useCollapsibleTrigger.ts
  packages/mui-base/src/Collapsible/index.ts
Owners: @atomiks, @colmtuite, @michaldudak

WIP - New Accordion hooks and components
  docs/pages/experiments/accordion.tsx
  packages/mui-base/src/Accordion/Heading/AccordionHeading.test.tsx
  packages/mui-base/src/Accordion/Heading/AccordionHeading.tsx
  packages/mui-base/src/Accordion/Panel/AccordionPanel.test.tsx
  packages/mui-base/src/Accordion/Panel/AccordionPanel.tsx
  packages/mui-base/src/Accordion/Root/AccordionRoot.test.tsx
  packages/mui-base/src/Accordion/Root/AccordionRoot.tsx
  packages/mui-base/src/Accordion/Root/AccordionRootContext.tsx
  packages/mui-base/src/Accordion/Root/styleHooks.ts
  packages/mui-base/src/Accordion/Root/useAccordionRoot.ts
  packages/mui-base/src/Accordion/Section/AccordionSection.test.tsx
  packages/mui-base/src/Accordion/Section/AccordionSection.tsx
  packages/mui-base/src/Accordion/Section/AccordionSectionContext.tsx
  packages/mui-base/src/Accordion/Section/styleHooks.ts
  packages/mui-base/src/Accordion/Trigger/AccordionTrigger.test.tsx
  packages/mui-base/src/Accordion/Trigger/AccordionTrigger.tsx
  packages/mui-base/src/Accordion/index.barrel.ts
  packages/mui-base/src/Accordion/index.ts
  packages/mui-base/src/index.ts
  packages/mui-base/src/utils/defaultRenderFunctions.tsx
Owners: @atomiks, @michaldudak, @colmtuite

View code on GitHub
  docs/src/components/demo/Demo.tsx
  docs/src/components/demo/GitHubLink.tsx
  docs/src/design-system/IconButton.module.css
  docs/src/design-system/IconLinkButton.tsx
Owners: @atomiks, @michaldudak

StackBlitz link
  docs/src/blocks/sandbox/createStackBlitzProject.ts
  docs/src/components/demo/Demo.tsx
  docs/src/components/demo/StackBlitzLink.tsx
  docs/src/icons/StackBlitz.tsx
Owners: @atomiks, @michaldudak

Package manager instructions as tabs
  docs/src/blocks/PackageManagerSnippet/PackageManagerSnippetCode.tsx
  docs/src/blocks/PackageManagerSnippet/PackageManagerSnippetContext.tsx
  docs/src/blocks/PackageManagerSnippet/PackageManagerSnippetRoot.tsx
  docs/src/blocks/PackageManagerSnippet/index.ts
  docs/src/components/content/PackageManagerSnippet.module.css
  docs/src/components/content/PackageManagerSnippet.tsx
Owners: @atomiks, @michaldudak

polish tooltips
  docs/src/components/demo/Demo.tsx
  docs/src/components/demo/GitHubLink.tsx
  docs/src/design-system/Tooltip.module.css
  docs/src/design-system/Tooltip.tsx
Owners: @atomiks, @michaldudak

tweak description links
  docs/src/components/content/ComponentLinkHeader.module.css
  docs/src/components/content/ComponentLinkHeader.tsx
  docs/src/components/content/Description.module.css
Owners: @atomiks, @michaldudak

polish toolbar button
  docs/src/components/demo/Demo.module.css
  docs/src/design-system/Button.module.css
  docs/src/icons/ChevronDown.tsx
Owners: @atomiks, @michaldudak

tweak playground
  docs/src/components/demo/Demo.module.css
Owners: @atomiks, @michaldudak

polish version selector
  docs/src/components/DocsVersionSelector.module.css
Owners: @atomiks, @michaldudak

Calm down the dancing menu
  docs/src/components/DocsVersionSelector.tsx
Owners: @atomiks, @michaldudak

Remove hover styles from DocsVersionSelector
  docs/src/components/DocsVersionSelector.module.css
Owners: @atomiks, @michaldudak

Better a11y of demo viewer
  docs/src/components/demo/Demo.tsx
  docs/src/components/demo/DemoFileSelector.module.css
  docs/src/components/demo/DemoVariantSelector.module.css
  docs/src/design-system/ToggleButtonGroup.module.css
Owners: @atomiks, @michaldudak

Use Collapsible to hide code blocks
  docs/src/components/content/ComponentLinkHeader.module.css
  docs/src/components/demo/Demo.module.css
  docs/src/components/demo/Demo.tsx
  docs/src/components/demo/DemoFileSelector.module.css
Owners: @atomiks, @michaldudak

Refactor DemoContext
  docs/src/blocks/Demo/DemoContext.ts
  docs/src/blocks/Demo/DemoPlayground.tsx
  docs/src/blocks/Demo/DemoRoot.tsx
  docs/src/blocks/Demo/DemoSourceBrowser.tsx
  docs/src/blocks/Demo/DemoSourceCopy.tsx
  docs/src/components/demo/CodeSandboxLink.tsx
  docs/src/components/demo/DemoFileSelector.tsx
  docs/src/components/demo/DemoVariantSelector.tsx
  docs/src/components/demo/GitHubLink.tsx
  docs/src/components/demo/StackBlitzLink.tsx
Owners: @atomiks, @michaldudak

File selector as Tabs
  docs/src/components/demo/DemoFileSelector.tsx
Owners: @atomiks, @michaldudak

Fix hover style of file tabs
  docs/src/components/demo/DemoFileSelector.module.css
Owners: @atomiks, @michaldudak

Fix broken link checker
  .circleci/config.yml
  docs/.link-check-errors.txt
  docs/data/components/alert-dialog/alert-dialog.mdx
  docs/data/components/click-away-listener/click-away-listener.mdx
  docs/data/components/focus-trap/focus-trap.mdx
  docs/data/components/portal/portal.mdx
  docs/data/getting-started/quick-start/quick-start.mdx
  docs/data/getting-started/support/support.mdx
  docs/package.json
  docs/scripts/rehypeExtractLinkUrls.mts
  docs/scripts/reportBrokenLinks.js
  docs/scripts/reportBrokenLinks.mts
  docs/tsconfig.json
  package.json
  pnpm-lock.yaml
  renovate.json
Owners: @atomiks, @michaldudak, @colmtuite

Add missing dependency
  package.json
  pnpm-lock.yaml
  renovate.json
Owners: @atomiks, @michaldudak

Update API docs builder
  docs/package.json
  package.json
  pnpm-lock.yaml
Owners: @atomiks, @michaldudak

eslint
  packages/mui-base/src/legacy/NoSsr/index.ts
  packages/mui-base/src/legacy/Option/index.ts
  packages/mui-base/src/legacy/OptionGroup/index.ts
  packages/mui-base/src/legacy/Portal/index.ts
  packages/mui-base/src/legacy/Select/index.ts
  packages/mui-base/src/legacy/Snackbar/index.ts
  packages/mui-base/src/legacy/TablePagination/index.ts
  packages/mui-base/src/legacy/TextareaAutosize/index.ts
  packages/mui-base/src/legacy/Unstable_Popup/index.ts
  packages/mui-base/src/legacy/useOption/index.ts
  packages/mui-base/src/legacy/useSelect/index.ts
  packages/mui-base/src/legacy/useSnackbar/index.ts
  packages/mui-base/src/useButton/index.ts
  packages/mui-base/src/useCompound/index.ts
  packages/mui-base/src/useList/index.ts
Owners: @atomiks, @colmtuite, @michaldudak

Previous/next page links
  docs/app/(content)/components/[slug]/page.tsx
  docs/app/(content)/getting-started/[slug]/page.tsx
  docs/app/(content)/guides/[slug]/page.tsx
  docs/src/components/SiblingPageLinks.module.css
  docs/src/components/SiblingPageLinks.tsx
Owners: @atomiks, @michaldudak

Add keepMounted prop
  docs/pages/base-ui/api/radio-indicator.json
  docs/translations/api-docs/radio-indicator/radio-indicator.json
  packages/mui-base/src/Radio/Indicator/RadioIndicator.tsx
Owners: @atomiks, @michaldudak, @colmtuite

Add preserveChildStates prop
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupNested.tsx
  docs/pages/base-ui/api/checkbox-group-root.json
  docs/translations/api-docs/checkbox-group-root/checkbox-group-root.json
  packages/mui-base/src/CheckboxGroup/Parent/useCheckboxGroupParent.ts
  packages/mui-base/src/CheckboxGroup/Root/CheckboxGroupRoot.test.tsx
  packages/mui-base/src/CheckboxGroup/Root/CheckboxGroupRoot.tsx
  packages/mui-base/src/CheckboxGroup/Root/useCheckboxGroupRoot.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Edit page on GitHub link
  docs/app/(content)/components/[slug]/page.tsx
  docs/app/(content)/getting-started/[slug]/page.tsx
  docs/app/(content)/guides/[slug]/page.tsx
  docs/app/(content)/styles.module.css
  docs/src/components/EditPageGithhubLink.tsx
  docs/src/components/EditPageGithubLink.module.css
  docs/src/components/SiblingPageLinks.module.css
Owners: @atomiks, @michaldudak

Experiments
  docs/app/experiments/[slug]/page.tsx
  docs/app/experiments/anchor-positioning.tsx
  docs/app/experiments/collapsible-accordion.tsx
  docs/app/experiments/collapsible-framer.tsx
  docs/app/experiments/collapsible-hidden-until-found.tsx
  docs/app/experiments/collapsible.tsx
  docs/app/experiments/dialog.tsx
  docs/app/experiments/experiments.module.css
  docs/app/experiments/index.js
  docs/app/experiments/layout.tsx
  docs/app/experiments/page.tsx
  docs/app/experiments/progress.tsx
  docs/app/experiments/slider-change-committed-lag.tsx
  docs/app/experiments/slider-marks.tsx
  docs/app/experiments/slider-template.tsx
  docs/app/experiments/slider-tooltip.tsx
  docs/app/experiments/slider.tsx
  docs/app/experiments/tabs.tsx
  docs/app/experiments/tooltip.tsx
Owners: @atomiks, @michaldudak

.github/CODEOWNERS:

* @atomiks @michaldudak
/docs/data/ @atomiks @colmtuite @michaldudak
/examples/ @atomiks @colmtuite @michaldudak
/packages/mui-base/ @atomiks @colmtuite @michaldudak
/scripts/ @michaldudak
