Repository mui/base-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atomiks, @michaldudak, @colmtuite

.github/CODEOWNERS:

* @atomiks @michaldudak
/docs/data/ @atomiks @colmtuite @michaldudak
/packages/react/ @atomiks @colmtuite @michaldudak
/scripts/ @michaldudak

Update the lockflie
  pnpm-lock.yaml
Owners: @atomiks, @michaldudak

Update proptypes gen config
  scripts/coreTypeScriptProjects.js
  scripts/generateProptypes.ts
Owners: @michaldudak

Tweak Select icon size
  docs/src/components/Select.css
  docs/src/components/Select.tsx
Owners: @atomiks, @michaldudak

Fix conflicts
  docs/data/api/toggle-button-group-item.json
  docs/data/api/toggle-button-group-root.json
  docs/data/api/toggle-button-root.json
  docs/data/api/toggle-button.json
  docs/data/components/toggle-button-group/ToggleButtonGroupIntroduction.js
  docs/data/components/toggle-button-group/ToggleButtonGroupIntroduction.tsx
  docs/data/components/toggle-button-group/ToggleButtonGroupRtl.js
  docs/data/components/toggle-button-group/ToggleButtonGroupRtl.tsx
  docs/data/components/toggle-button-group/ToggleButtonGroupToggleMultiple.js
  docs/data/components/toggle-button-group/ToggleButtonGroupToggleMultiple.tsx
  docs/data/components/toggle-button-group/toggle-button-group.mdx
  docs/data/components/toggle-button/ToggleButtonIntroduction.js
  docs/data/components/toggle-button/ToggleButtonIntroduction.tsx
  docs/data/components/toggle-button/toggle-button.mdx
  docs/src/app/experiments/toggle-group.tsx
  packages/mui-base/src/ToggleButton/Root/ToggleButtonRoot.test.tsx
  packages/mui-base/src/ToggleButtonGroup/Item/ToggleButtonGroupItem.test.tsx
  packages/mui-base/src/ToggleButtonGroup/Root/ToggleButtonGroupRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

[docs] Rework colors and refactor components (#843)
  docs/src/components/Code.css
  docs/src/components/Code.tsx
  docs/src/components/CodeBlock.css
  docs/src/components/CodeBlock.tsx
  docs/src/components/GhostButton.css
  docs/src/components/GhostButton.tsx
  docs/src/components/Popup.css
  docs/src/components/Popup.tsx
  docs/src/components/Select.css
  docs/src/components/Select.tsx
  docs/src/components/Table.css
  docs/src/components/Table.tsx
  docs/src/components/TableCode.tsx
  docs/src/components/ToolbarButton.css
  docs/src/components/ToolbarButton.tsx
  docs/src/components/demo/CodeSandboxLink.tsx
  docs/src/components/demo/Demo.tsx
  docs/src/components/demo/DemoVariantSelector.tsx
  docs/src/components/demo/index.css
  docs/src/components/quick-nav/QuickNav.css
  docs/src/components/reference/AttributesTable.tsx
  docs/src/components/reference/CssVariablesTable.tsx
  docs/src/components/reference/PropsTable.tsx
  docs/src/components/reference/ReferenceTablePopover.tsx
  docs/src/icons/ChevronDown.tsx
  docs/src/icons/ThickCheckIcon.tsx
  docs/src/mdx-components.tsx
  docs/src/styles.css
  docs/src/syntax-highlighting/index.css
  docs/src/syntax-highlighting/rehypeInlineCode.mjs
Owners: @atomiks, @michaldudak

Place Quick Nav after the main demo in the DOM
  docs/src/components/demo/index.css
  docs/src/components/quick-nav/rehypeQuickNav.mjs
  docs/src/mdx-components.tsx
Owners: @atomiks, @michaldudak

Revert "Rename direction prop to dir"
  docs/data/api/toggle-button-group-root.json
  docs/data/components/toggle-button-group/ToggleButtonGroupRtl.js
  docs/data/components/toggle-button-group/ToggleButtonGroupRtl.tsx
  docs/data/components/toggle-button-group/toggle-button-group.mdx
  docs/data/translations/api-docs/toggle-button-group-root/toggle-button-group-root.json
  docs/reference/generated/toggle-button-group-item.json
  docs/reference/generated/toggle-button-group-root.json
  docs/reference/generated/toggle-button-root.json
  docs/src/app/experiments/toggle-group.tsx
  packages/mui-base/src/ToggleButtonGroup/Root/ToggleButtonGroupRoot.test.tsx
  packages/mui-base/src/ToggleButtonGroup/Root/ToggleButtonGroupRoot.tsx
  packages/mui-base/src/ToggleButtonGroup/Root/useToggleButtonGroupRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Use Composite for RTL detection
  docs/data/components/toggle-button-group/ToggleButtonGroupRtl.js
  docs/data/components/toggle-button-group/ToggleButtonGroupRtl.tsx
  docs/data/components/toggle-button-group/toggle-button-group.mdx
  docs/src/app/experiments/toggle-group.tsx
  docs/src/app/experiments/toggle.module.css
  packages/mui-base/src/ToggleButtonGroup/Root/useToggleButtonGroupRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

translate
  packages/mui-base/src/Popover/Root/PopoverRootContext.ts
  packages/mui-base/src/Popover/Root/usePopoverRoot.ts
  packages/mui-base/src/PreviewCard/Root/PreviewCardContext.ts
  packages/mui-base/src/PreviewCard/Root/usePreviewCardRoot.ts
  packages/mui-base/src/Tooltip/Root/TooltipRootContext.ts
  packages/mui-base/src/Tooltip/Root/useTooltipRoot.ts
  packages/mui-base/src/utils/translateOpenChangeReason.ts
Owners: @atomiks, @michaldudak

Rename the root package
  package.json
Owners: @atomiks, @michaldudak

[core] Use mapped `OpenChangeReason` (#838)
  packages/mui-base/src/Popover/Root/PopoverRootContext.ts
  packages/mui-base/src/Popover/Root/usePopoverRoot.ts
  packages/mui-base/src/PreviewCard/Root/PreviewCardContext.ts
  packages/mui-base/src/PreviewCard/Root/usePreviewCardRoot.ts
  packages/mui-base/src/Tooltip/Root/TooltipRootContext.ts
  packages/mui-base/src/Tooltip/Root/useTooltipRoot.ts
  packages/mui-base/src/utils/translateOpenChangeReason.ts
Owners: @atomiks, @michaldudak

[core] Use clipping-ancestors casing for public API (#839)
  docs/data/api/menu-positioner.json
  docs/data/api/popover-positioner.json
  docs/data/api/preview-card-positioner.json
  docs/data/api/select-positioner.json
  docs/data/api/tooltip-positioner.json
  docs/reference/generated/menu-positioner.json
  docs/reference/generated/popover-positioner.json
  docs/reference/generated/preview-card-positioner.json
  docs/reference/generated/select-positioner.json
  docs/reference/generated/tooltip-positioner.json
  packages/mui-base/src/Menu/Positioner/MenuPositioner.tsx
  packages/mui-base/src/Menu/Positioner/useMenuPositioner.ts
  packages/mui-base/src/Popover/Positioner/PopoverPositioner.tsx
  packages/mui-base/src/Popover/Positioner/usePopoverPositioner.tsx
  packages/mui-base/src/PreviewCard/Positioner/PreviewCardPositioner.tsx
  packages/mui-base/src/PreviewCard/Positioner/usePreviewCardPositioner.ts
  packages/mui-base/src/Select/Positioner/SelectPositioner.tsx
  packages/mui-base/src/Select/Positioner/useSelectPositioner.ts
  packages/mui-base/src/Tooltip/Positioner/TooltipPositioner.tsx
  packages/mui-base/src/Tooltip/Positioner/useTooltipPositioner.ts
  packages/mui-base/src/utils/useAnchorPositioning.ts
Owners: @atomiks, @colmtuite, @michaldudak

[core] Use `hidden` prop for `keepMounted` elements (#815)
  docs/src/app/experiments/anchor-positioning.tsx
  docs/src/app/experiments/tooltip.tsx
  packages/mui-base/src/Checkbox/Root/useCheckboxRoot.ts
  packages/mui-base/src/Dialog/Backdrop/useDialogBackdrop.ts
  packages/mui-base/src/Dialog/Popup/useDialogPopup.tsx
  packages/mui-base/src/Dialog/Root/useDialogRoot.ts
  packages/mui-base/src/Menu/Positioner/useMenuPositioner.ts
  packages/mui-base/src/Menu/Root/useMenuRoot.ts
  packages/mui-base/src/Popover/Backdrop/usePopoverBackdrop.ts
  packages/mui-base/src/Popover/Positioner/PopoverPositioner.test.tsx
  packages/mui-base/src/Popover/Positioner/PopoverPositioner.tsx
  packages/mui-base/src/Popover/Positioner/usePopoverPositioner.tsx
  packages/mui-base/src/Popover/Root/usePopoverRoot.ts
  packages/mui-base/src/PreviewCard/Backdrop/usePreviewCardBackdrop.ts
  packages/mui-base/src/PreviewCard/Positioner/usePreviewCardPositioner.ts
  packages/mui-base/src/PreviewCard/Root/usePreviewCardRoot.ts
  packages/mui-base/src/Select/Backdrop/useSelectBackdrop.ts
  packages/mui-base/src/Select/Positioner/useSelectPositioner.ts
  packages/mui-base/src/Select/Root/useSelectRoot.ts
  packages/mui-base/src/Tooltip/Positioner/TooltipPositioner.tsx
  packages/mui-base/src/Tooltip/Positioner/useTooltipPositioner.ts
  packages/mui-base/src/Tooltip/Root/useTooltipRoot.ts
  packages/mui-base/src/utils/getInertValue.ts
  packages/mui-base/src/utils/useAnchorPositioning.ts
Owners: @atomiks, @michaldudak

Fix file extension typo
  scripts/copyFilesUtils.mjs
Owners: @michaldudak
