Repository mui/base-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atomiks, @michaldudak, @colmtuite

.github/CODEOWNERS:

* @atomiks @michaldudak
/docs/data/ @atomiks @colmtuite @michaldudak
/examples/ @atomiks @colmtuite @michaldudak
/packages/mui-base/ @atomiks @colmtuite @michaldudak
/scripts/ @michaldudak

style figure element
  docs/app/base-ui-react/styles.module.css
Owners: @atomiks, @michaldudak

basic ass homepage
  docs/app/page.tsx
Owners: @atomiks, @michaldudak

refactor description component
  docs/data/base/components/dialog/dialog.mdx
  docs/data/base/components/number-field/number-field.mdx
  docs/data/base/components/preview-card/preview-card.mdx
  docs/src/modules/components/Description.module.css
  docs/src/modules/components/Description.tsx
Owners: @atomiks, @colmtuite, @michaldudak

componentise select adornment
  docs/src/modules/common/AppBar.tsx
  docs/src/styles/components/select.css
Owners: @atomiks, @michaldudak

fix strong tags
  docs/app/base-ui-react/styles.module.css
Owners: @atomiks, @michaldudak

replace kbd classnames
  docs/data/base/components/focus-trap/focus-trap.mdx
  docs/data/base/components/slider/slider.mdx
  docs/data/base/components/tabs/tabs.mdx
  docs/data/base/getting-started/accessibility/accessibility.mdx
Owners: @atomiks, @colmtuite, @michaldudak

remove layout from homepage
  docs/app/base-ui-react/[...slug]/page.tsx
  docs/app/base-ui-react/components/[slug]/page.tsx
  docs/app/layout.tsx
Owners: @atomiks, @michaldudak

improve mdx typography
  docs/app/base-ui-react/styles.module.css
Owners: @atomiks, @michaldudak

fix font family in code blocks
  docs/app/base-ui-react/styles.module.css
Owners: @atomiks, @michaldudak

improve main layout
  docs/app/base-ui-react/styles.module.css
  docs/app/layout.module.css
Owners: @atomiks, @michaldudak

style mdx links
  docs/app/base-ui-react/styles.module.css
Owners: @atomiks, @michaldudak

remove specificity declarations from mdx styles
  docs/app/base-ui-react/styles.module.css
Owners: @atomiks, @michaldudak

tweak heading spacing
  docs/app/base-ui-react/styles.module.css
  docs/src/modules/components/Description.module.css
Owners: @atomiks, @michaldudak

tweak homepage
  docs/app/page.tsx
Owners: @atomiks, @michaldudak

make homepage responsive
  docs/app/page.tsx
Owners: @atomiks, @michaldudak

Make markedDirty a ref
  packages/mui-base/src/Checkbox/Root/useCheckboxRoot.ts
  packages/mui-base/src/Field/Control/useFieldControl.ts
  packages/mui-base/src/Field/Control/useFieldControlValidation.ts
  packages/mui-base/src/Field/Root/FieldRoot.tsx
  packages/mui-base/src/Field/Root/FieldRootContext.ts
  packages/mui-base/src/NumberField/Root/useNumberFieldRoot.ts
  packages/mui-base/src/Slider/Root/useSliderRoot.ts
  packages/mui-base/src/Switch/Root/useSwitchRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

Update Form tests
  packages/mui-base/src/Form/Root/FormRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Version selector
  docs/app/base-ui-react/styles.module.css
  docs/src/modules/common/AppBar.tsx
  docs/src/modules/common/VersionSelector.module.css
  docs/src/modules/common/VersionSelector.tsx
Owners: @atomiks, @michaldudak

Remove the /base-ui-react/ route segment
  docs/app/(content)/[...slug]/page.tsx
  docs/app/(content)/components/[slug]/page.tsx
  docs/app/(content)/styles.module.css
  docs/app/page.tsx
  docs/data/base/pages.ts
  docs/next-env.d.ts
Owners: @atomiks, @michaldudak, @colmtuite

Lint
  docs/app/layout.module.css
  docs/app/layout.tsx
Owners: @atomiks, @michaldudak

Redirect to first subpage
  docs/app/(content)/[...slug]/page.tsx
Owners: @atomiks, @michaldudak

Runnable demos
  docs/app/(content)/components/[slug]/page.tsx
  docs/data/base/components/dialog/DialogWithTransitions.tsx
  docs/data/base/components/dialog/NestedDialogs.tsx
  docs/data/base/components/menu/NestedMenu.tsx
  docs/data/base/components/progress/IndeterminateProgress.tsx
  docs/data/base/components/progress/RtlProgress.tsx
  docs/package.json
  docs/src/modules/common/MDXComponents.tsx
  docs/src/modules/components/Demo.module.css
  docs/src/modules/components/Demo.tsx
  docs/tsconfig.json
  pnpm-lock.yaml
Owners: @atomiks, @michaldudak, @colmtuite

Render the System variant of complex demos temporarily
  docs/src/modules/components/Demo.tsx
  docs/tsconfig.json
Owners: @atomiks, @michaldudak

Display demo sources
  docs/src/modules/components/Demo.module.css
  docs/src/modules/components/Demo.tsx
Owners: @atomiks, @michaldudak

Remove redirection
  docs/app/(content)/[...slug]/page.tsx
Owners: @atomiks, @michaldudak

Unstyled demo viewer
  docs/src/blocks/Demo/DemoContext.ts
  docs/src/blocks/Demo/DemoPlayground.tsx
  docs/src/blocks/Demo/DemoRoot.tsx
  docs/src/blocks/Demo/DemoSourceBrowser.tsx
  docs/src/blocks/Demo/index.ts
  docs/src/blocks/Demo/types.ts
  docs/src/blocks/README.txt
  docs/src/modules/components/Demo.module.css
  docs/src/modules/components/Demo.tsx
  docs/src/modules/components/DemoVariantSelector.tsx
  docs/src/utils/loadDemo.ts
Owners: @atomiks, @michaldudak

[docs] Prepare security table for once it has its first release (#536)
  SECURITY.md
Owners: @atomiks, @michaldudak

Support multi-variant demos
  docs/src/modules/components/Demo.module.css
  docs/src/modules/components/Demo.tsx
  docs/src/utils/loadDemo.ts
Owners: @atomiks, @michaldudak

Add separate pages for /getting-started and /guides
  docs/app/(content)/getting-started/[slug]/page.tsx
  docs/app/(content)/guides/[slug]/page.tsx
Owners: @atomiks, @michaldudak

Support multiple files in demos
  docs/src/blocks/Demo/types.ts
  docs/src/modules/components/Demo.tsx
  docs/src/modules/components/DemoFileSelector.tsx
  docs/src/utils/loadDemo.ts
Owners: @atomiks, @michaldudak

Split AlertDialog CSS demo to two files
  docs/data/base/components/alert-dialog/AlertDialogIntroduction/css/index.js
  docs/data/base/components/alert-dialog/AlertDialogIntroduction/css/index.tsx
  docs/data/base/components/alert-dialog/AlertDialogIntroduction/css/index.tsx.preview
  docs/data/base/components/alert-dialog/AlertDialogIntroduction/css/styles.module.css
  docs/src/utils/loadDemo.ts
Owners: @atomiks, @colmtuite, @michaldudak

[Menu] Do not select an item when space is pressed during typeahead
  packages/mui-base/src/Menu/Item/MenuItem.tsx
  packages/mui-base/src/Menu/Item/useMenuItem.ts
  packages/mui-base/src/Menu/Root/MenuRoot.test.tsx
  packages/mui-base/src/Menu/Root/MenuRoot.tsx
  packages/mui-base/src/Menu/Root/MenuRootContext.ts
  packages/mui-base/src/Menu/Root/useMenuRoot.ts
Owners: @atomiks, @colmtuite, @michaldudak

static
  docs/pages/base-ui/api/slider-root.json
Owners: @atomiks, @michaldudak

add async
  packages/mui-base/src/Slider/Root/SliderRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

fix
  packages/mui-base/src/Slider/Root/SliderRoot.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Rename prop, fix TS issues
  docs/data/base/components/menu/menu.md
  packages/mui-base/src/Menu/Item/MenuItem.test.tsx
  packages/mui-base/src/Menu/Item/MenuItem.tsx
  packages/mui-base/src/Menu/Item/useMenuItem.ts
  packages/mui-base/src/Menu/Popup/MenuPopup.test.tsx
  packages/mui-base/src/Menu/Positioner/MenuPositioner.test.tsx
  packages/mui-base/src/Menu/Root/MenuRoot.tsx
  packages/mui-base/src/Menu/Root/MenuRootContext.ts
  packages/mui-base/src/Menu/SubmenuTrigger/SubmenuTrigger.tsx
  packages/mui-base/src/Menu/SubmenuTrigger/useSubmenuTrigger.ts
  packages/mui-base/src/Menu/Trigger/MenuTrigger.test.tsx
Owners: @atomiks, @colmtuite, @michaldudak

Update Playwright
  .circleci/config.yml
  package.json
  pnpm-lock.yaml
  test/package.json
Owners: @atomiks, @michaldudak

Dedupe
  pnpm-lock.yaml
Owners: @atomiks, @michaldudak

[typescript] Add `type` to export statements
  packages/mui-base/src/Progress/index.ts
  packages/mui-base/src/Slider/index.ts
Owners: @atomiks, @colmtuite, @michaldudak

Callout component
  docs/app/(content)/styles.module.css
  docs/data/base/components/click-away-listener/click-away-listener.mdx
  docs/data/base/components/dialog/dialog.mdx
  docs/data/base/components/focus-trap/focus-trap.mdx
  docs/data/base/components/no-ssr/no-ssr.mdx
  docs/data/base/components/number-field/number-field.mdx
  docs/data/base/components/popover/popover.mdx
  docs/data/base/components/portal/portal.mdx
  docs/data/base/components/toggle-button-group/toggle-button-group.mdx
  docs/data/base/getting-started/overview/overview.mdx
  docs/data/base/getting-started/quickstart/quickstart.mdx
  docs/data/base/getting-started/support/support.mdx
  docs/data/base/getting-started/usage/usage.mdx
  docs/data/base/guides/next-js-app-router/next-js-app-router.md
  docs/src/modules/common/Callout.module.css
  docs/src/modules/common/Callout.tsx
  docs/src/modules/common/MDXComponents.tsx
Owners: @atomiks, @michaldudak, @colmtuite
