Repository mui/base-ui, pull requests merged in 2024-10, with the labels that each got.

#660 [core] Reference `ownerDocument`
  packages/mui-base/src/Dialog/Popup/useDialogPopup.tsx
  packages/mui-base/src/NumberField/ScrubAreaCursor/NumberFieldScrubAreaCursor.tsx
  packages/mui-base/src/Slider/Root/useSliderRoot.ts
  packages/mui-base/src/utils/useScrollLock.ts
Labels: core

#643 [useButton] Modernize implementation
  packages/mui-base/src/Menu/CheckboxItem/MenuCheckboxItem.test.tsx
  packages/mui-base/src/Menu/Item/MenuItem.test.tsx
  packages/mui-base/src/Menu/Item/useMenuItem.ts
  packages/mui-base/src/Menu/RadioItem/MenuRadioItem.test.tsx
  packages/mui-base/src/Menu/Trigger/useMenuTrigger.ts
  packages/mui-base/src/Tabs/Tab/useTab.ts
  packages/mui-base/src/useButton/index.ts
  packages/mui-base/src/useButton/useButton.test.tsx
  packages/mui-base/src/useButton/useButton.ts
  packages/mui-base/src/useButton/useButton.types.ts
Labels: component: button

#605 [core] React 19 compatibility
  docs/app/experiments/dialog.tsx
  docs/data/components/tooltip/UnstyledTooltipFollowCursor.js
  docs/data/components/tooltip/UnstyledTooltipFollowCursor.tsx
  docs/data/components/tooltip/UnstyledTooltipFollowCursor.tsx.preview
  docs/next-env.d.ts
  docs/next.config.mjs
  docs/src/blocks/Demo/DemoSourceCopy.tsx
  docs/src/blocks/GoogleAnalytics.tsx
  docs/src/design-system/ToggleButtonGroup.tsx
  docs/src/design-system/Tooltip.tsx
  packages/mui-base/src/AlertDialog/Backdrop/AlertDialogBackdrop.test.tsx
  packages/mui-base/src/Checkbox/Root/useCheckboxRoot.ts
  packages/mui-base/src/Collapsible/Content/useCollapsibleContent.ts
  packages/mui-base/src/Dialog/Popup/useDialogPopup.tsx
  packages/mui-base/src/Field/Validity/FieldValidity.test.tsx
  packages/mui-base/src/Menu/Positioner/useMenuPositioner.ts
  packages/mui-base/src/NoSsr/NoSsr.tsx
  packages/mui-base/src/NumberField/Root/useNumberFieldRoot.ts
  packages/mui-base/src/NumberField/Root/useScrub.types.ts
  packages/mui-base/src/Popover/Positioner/usePopoverPositioner.tsx
  packages/mui-base/src/Popover/Root/PopoverRootContext.ts
  packages/mui-base/src/Popover/Root/usePopoverRoot.ts
  packages/mui-base/src/PreviewCard/Root/PreviewCardContext.ts
  packages/mui-base/src/PreviewCard/Root/usePreviewCardRoot.ts
  packages/mui-base/src/Slider/Control/useSliderControl.ts
  packages/mui-base/src/Slider/Root/SliderRoot.types.ts
  packages/mui-base/src/Slider/Root/useSliderRoot.ts
  packages/mui-base/src/Slider/Thumb/SliderThumb.tsx
  packages/mui-base/src/Slider/Thumb/SliderThumb.types.ts
  packages/mui-base/src/Tabs/Root/useTabsRoot.ts
  packages/mui-base/src/Tabs/TabsList/TabsListContext.ts
  packages/mui-base/src/Tabs/TabsList/useTabsList.ts
  packages/mui-base/src/Tooltip/Root/TooltipRootContext.ts
  packages/mui-base/src/Tooltip/Root/useTooltipRoot.ts
  packages/mui-base/src/useCompound/useCompound.test.tsx
  packages/mui-base/src/useCompound/useCompoundParent.ts
  packages/mui-base/src/utils/evaluateRenderProp.ts
  packages/mui-base/src/utils/getInertValue.ts
  packages/mui-base/src/utils/reactVersion.ts
  packages/mui-base/src/utils/types.ts
  packages/mui-base/src/utils/useAnimatedElement.ts
  packages/mui-base/src/utils/useAnimationsFinished.ts
  packages/mui-base/src/utils/useComponentRenderer.ts
  packages/mui-base/src/utils/useRenderPropForkRef.ts
  packages/mui-base/test/conformanceTests/className.tsx
  packages/mui-base/test/conformanceTests/propForwarding.tsx
  packages/mui-base/test/conformanceTests/refForwarding.tsx
  packages/mui-base/test/conformanceTests/renderProp.tsx
  packages/mui-base/test/createRenderer.ts
  packages/mui-base/test/describeConformance.tsx
  tsconfig.base.json
Labels: core, React 19 support

#703 [test] Fix the test_types_next CI job
  .circleci/config.yml
Labels: test

#704 [core] Rename positionStrategy to positionMethod
  docs/data/api/menu-positioner.json
  docs/data/api/popover-positioner.json
  docs/data/api/preview-card-positioner.json
  docs/data/api/tooltip-positioner.json
  docs/data/translations/api-docs/menu-positioner/menu-positioner.json
  docs/data/translations/api-docs/popover-positioner/popover-positioner.json
  docs/data/translations/api-docs/preview-card-positioner/preview-card-positioner.json
  docs/data/translations/api-docs/tooltip-positioner/tooltip-positioner.json
  docs/src/components/DocsVersionSelector.tsx
  packages/mui-base/src/Menu/Positioner/MenuPositioner.tsx
  packages/mui-base/src/Menu/Positioner/useMenuPositioner.ts
  packages/mui-base/src/Popover/Positioner/PopoverPositioner.tsx
  packages/mui-base/src/Popover/Positioner/usePopoverPositioner.tsx
  packages/mui-base/src/PreviewCard/Positioner/PreviewCardPositioner.tsx
  packages/mui-base/src/PreviewCard/Positioner/usePreviewCardPositioner.ts
  packages/mui-base/src/Tooltip/Positioner/TooltipPositioner.tsx
  packages/mui-base/src/Tooltip/Positioner/useTooltipPositioner.ts
  packages/mui-base/src/utils/useAnchorPositioning.ts
Labels: component: menu, component: tooltip, component: popover, component: preview card

#633 [docs] Make the readme specific to @base_ui/react
  README.md
Labels: docs

#708 [test] Improve visual screenshot canva
  test/regressions/TestViewer.js
Labels: test

#709 v1.0.0-alpha.3
  CHANGELOG.md
  package.json
  packages/mui-base/package.json
Labels: release

#640 [Switch] Modernize implementation
  docs/data/api/switch-root.json
  docs/data/components/switch/UnstyledSwitchIntroduction/css-modules/index.js
  docs/data/components/switch/UnstyledSwitchIntroduction/css-modules/index.tsx
  docs/data/components/switch/UnstyledSwitchIntroduction/css-modules/styles.module.css
  docs/data/components/switch/UnstyledSwitchIntroduction/tailwind/index.tsx
  docs/data/translations/api-docs/switch-root/switch-root.json
  packages/mui-base/src/Switch/Root/SwitchContext.ts
  packages/mui-base/src/Switch/Root/SwitchRoot.tsx
  packages/mui-base/src/Switch/Root/SwitchRoot.types.ts
  packages/mui-base/src/Switch/Root/SwitchRootContext.ts
  packages/mui-base/src/Switch/Root/useSwitchRoot.ts
  packages/mui-base/src/Switch/Root/useSwitchStyleHooks.ts
  packages/mui-base/src/Switch/Thumb/SwitchThumb.test.tsx
  packages/mui-base/src/Switch/Thumb/SwitchThumb.tsx
  packages/mui-base/src/Switch/Thumb/SwitchThumb.types.ts
  packages/mui-base/src/Switch/index.barrel.ts
  packages/mui-base/src/Switch/index.ts
  packages/mui-base/src/Switch/styleHooks.ts
Labels: component: switch

#711 [Fieldset] Move types to namespaces
  packages/mui-base/src/Fieldset/Legend/FieldsetLegend.tsx
  packages/mui-base/src/Fieldset/Legend/FieldsetLegend.types.ts
  packages/mui-base/src/Fieldset/Legend/useFieldsetLegend.ts
  packages/mui-base/src/Fieldset/Root/FieldsetRoot.tsx
  packages/mui-base/src/Fieldset/Root/FieldsetRoot.types.ts
  packages/mui-base/src/Fieldset/Root/FieldsetRootContext.ts
  packages/mui-base/src/Fieldset/index.barrel.ts
  packages/mui-base/src/Fieldset/index.ts
Labels: typescript, component: fieldset

#710 [Field] Move types to namespaces
  packages/mui-base/src/Checkbox/Root/CheckboxRoot.tsx
  packages/mui-base/src/CheckboxGroup/Root/CheckboxGroupRoot.tsx
  packages/mui-base/src/Field/Control/FieldControl.tsx
  packages/mui-base/src/Field/Control/FieldControl.types.ts
  packages/mui-base/src/Field/Control/useFieldControl.ts
  packages/mui-base/src/Field/Description/FieldDescription.tsx
  packages/mui-base/src/Field/Description/FieldDescription.types.tsx
  packages/mui-base/src/Field/Description/useFieldDescription.ts
  packages/mui-base/src/Field/Error/FieldError.tsx
  packages/mui-base/src/Field/Error/FieldError.types.tsx
  packages/mui-base/src/Field/Error/useFieldError.ts
  packages/mui-base/src/Field/Label/FieldLabel.tsx
  packages/mui-base/src/Field/Label/FieldLabel.types.ts
  packages/mui-base/src/Field/Label/useFieldLabel.ts
  packages/mui-base/src/Field/Root/FieldRoot.tsx
  packages/mui-base/src/Field/Root/FieldRoot.types.ts
  packages/mui-base/src/Field/Root/FieldRootContext.ts
  packages/mui-base/src/Field/Validity/FieldValidity.tsx
  packages/mui-base/src/Field/Validity/FieldValidity.types.ts
  packages/mui-base/src/Field/index.barrel.ts
  packages/mui-base/src/Field/index.ts
  packages/mui-base/src/Field/utils/getCombinedFieldValidityData.ts
  packages/mui-base/src/Form/Root/FormRootContext.ts
  packages/mui-base/src/NumberField/Root/NumberFieldRoot.tsx
  packages/mui-base/src/Slider/Root/SliderRoot.types.ts
  packages/mui-base/src/Switch/Root/SwitchRoot.tsx
Labels: typescript, component: field

#712 [Progress] Move types to namespaces
  docs/data/components/progress/UnstyledProgressIntroduction/tailwind/index.tsx
  packages/mui-base/src/Progress/Indicator/ProgressIndicator.test.tsx
  packages/mui-base/src/Progress/Indicator/ProgressIndicator.tsx
  packages/mui-base/src/Progress/Indicator/ProgressIndicator.types.ts
  packages/mui-base/src/Progress/Indicator/useProgressIndicator.ts
  packages/mui-base/src/Progress/Root/ProgressContext.tsx
  packages/mui-base/src/Progress/Root/ProgressRoot.test.tsx
  packages/mui-base/src/Progress/Root/ProgressRoot.tsx
  packages/mui-base/src/Progress/Root/ProgressRoot.types.ts
  packages/mui-base/src/Progress/Root/ProgressRootContext.tsx
  packages/mui-base/src/Progress/Root/styleHooks.ts
  packages/mui-base/src/Progress/Root/useProgressRoot.ts
  packages/mui-base/src/Progress/Track/ProgressTrack.test.tsx
  packages/mui-base/src/Progress/Track/ProgressTrack.tsx
  packages/mui-base/src/Progress/Track/ProgressTrack.types.ts
  packages/mui-base/src/Progress/index.barrel.ts
  packages/mui-base/src/Progress/index.ts
Labels: typescript, component: progress

#707 [test] Fix correct box-sizing reset in visual tests
  test/regressions/TestViewer.js
Labels: bug 🐛, test

#706 [test] Add missing async
  packages/mui-base/src/Checkbox/Root/CheckboxRoot.test.tsx
  packages/mui-base/src/Dialog/Root/DialogRoot.test.tsx
  packages/mui-base/src/Menu/CheckboxItem/MenuCheckboxItem.test.tsx
  packages/mui-base/src/Menu/Item/MenuItem.test.tsx
  packages/mui-base/src/Menu/RadioItem/MenuRadioItem.test.tsx
  packages/mui-base/src/Menu/Root/MenuRoot.test.tsx
  packages/mui-base/src/Menu/Trigger/MenuTrigger.test.tsx
  packages/mui-base/src/NumberField/Input/NumberFieldInput.test.tsx
  packages/mui-base/src/NumberField/Root/NumberFieldRoot.test.tsx
  packages/mui-base/src/Popover/Root/PopoverRoot.test.tsx
  packages/mui-base/src/PreviewCard/Root/PreviewCardRoot.test.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.test.tsx
  packages/mui-base/src/Slider/Root/SliderRoot.test.tsx
  packages/mui-base/src/Switch/Root/SwitchRoot.test.tsx
  packages/mui-base/src/Tabs/Root/TabsRoot.test.tsx
  packages/mui-base/src/Tabs/TabsList/TabsList.test.tsx
  packages/mui-base/src/Tooltip/Root/TooltipRoot.test.tsx
Labels: test

#722 [infra] Update renovate config
  renovate.json
Labels: dependencies, scope: code-infra

#720 [Field] Update APIs
  docs/data/api/field-error.json
  docs/data/api/field-root.json
  docs/data/components/field/UnstyledFieldAsync.js
  docs/data/components/field/UnstyledFieldAsync.tsx
  docs/data/components/field/UnstyledFieldIntroduction/system/index.js
  docs/data/components/field/UnstyledFieldIntroduction/system/index.tsx
  docs/data/components/field/field.mdx
  docs/data/translations/api-docs/field-error/field-error.json
  docs/data/translations/api-docs/field-root/field-root.json
  packages/mui-base/src/Field/Control/useFieldControlValidation.ts
  packages/mui-base/src/Field/Error/FieldError.test.tsx
  packages/mui-base/src/Field/Error/FieldError.tsx
  packages/mui-base/src/Field/Root/FieldRoot.test.tsx
  packages/mui-base/src/Field/Root/FieldRoot.tsx
  packages/mui-base/src/Field/Root/FieldRootContext.ts
  packages/mui-base/src/NumberField/Root/useNumberFieldRoot.ts
Labels: component: field

#726 [Popover] Fix `inert` attribute
  packages/mui-base/src/Popover/Positioner/PopoverPositioner.test.tsx
  packages/mui-base/src/Popover/Positioner/usePopoverPositioner.tsx
Labels: component: popover

#705 [core] Add explicit type annotations to components
  packages/mui-base/src/AlertDialog/Root/AlertDialogRoot.tsx
  packages/mui-base/src/Field/Validity/FieldValidity.tsx
  packages/mui-base/src/Menu/Root/MenuRoot.tsx
  packages/mui-base/src/Popover/Root/PopoverRoot.tsx
  packages/mui-base/src/PreviewCard/Root/PreviewCardRoot.tsx
  packages/mui-base/src/Slider/Root/SliderProvider.tsx
  packages/mui-base/src/Tabs/Root/TabsProvider.tsx
  packages/mui-base/src/Tabs/TabsList/TabsListProvider.tsx
  packages/mui-base/src/Tooltip/Provider/TooltipProvider.tsx
  packages/mui-base/src/Tooltip/Root/TooltipRoot.tsx
Labels: core, typescript

#658 [core] Increase the minimum Node.js version support to 14.0.0
  .browserslistrc
  packages/mui-base/package.json
Labels: core, breaking change

#721 [Checkbox][Switch] Split data-state into data-checked, data-unchecked…
  docs/data/components/checkbox-group/UnstyledCheckboxGroupIntroduction/css/index.js
  docs/data/components/checkbox-group/UnstyledCheckboxGroupIntroduction/css/index.tsx
  docs/data/components/checkbox-group/UnstyledCheckboxGroupIntroduction/system/index.js
  docs/data/components/checkbox-group/UnstyledCheckboxGroupIntroduction/system/index.tsx
  docs/data/components/checkbox-group/UnstyledCheckboxGroupIntroduction/tailwind/index.js
  docs/data/components/checkbox-group/UnstyledCheckboxGroupIntroduction/tailwind/index.tsx
  docs/data/components/checkbox-group/UnstyledCheckboxGroupNested.js
  docs/data/components/checkbox-group/UnstyledCheckboxGroupNested.tsx
  docs/data/components/checkbox/UnstyledCheckboxIndeterminate.js
  docs/data/components/checkbox/UnstyledCheckboxIndeterminate.tsx
  docs/data/components/checkbox/UnstyledCheckboxIndeterminateGroup.js
  docs/data/components/checkbox/UnstyledCheckboxIndeterminateGroup.tsx
  docs/data/components/checkbox/UnstyledCheckboxIntroduction/css-modules/index.js
  docs/data/components/checkbox/UnstyledCheckboxIntroduction/css-modules/index.tsx
  docs/data/components/checkbox/UnstyledCheckboxIntroduction/system/index.js
  docs/data/components/checkbox/UnstyledCheckboxIntroduction/system/index.tsx
  docs/data/components/checkbox/UnstyledCheckboxIntroduction/tailwind/index.js
  docs/data/components/checkbox/UnstyledCheckboxIntroduction/tailwind/index.tsx
  docs/data/components/switch/UnstyledSwitchIntroduction/css-modules/styles.module.css
  docs/data/components/switch/UnstyledSwitchIntroduction/system/index.js
  docs/data/components/switch/UnstyledSwitchIntroduction/system/index.tsx
  packages/mui-base/src/Checkbox/Root/CheckboxRoot.test.tsx
  packages/mui-base/src/Checkbox/utils/useCustomStyleHookMapping.ts
  packages/mui-base/src/Switch/Root/SwitchRoot.test.tsx
  packages/mui-base/src/Switch/styleHooks.ts
Labels: component: switch, component: checkbox

#701 [core] Restore development playground
  .gitignore
  docs/app/not-found.tsx
  docs/app/playground/[slug]/page.tsx
  docs/src/blocks/GoogleAnalytics.tsx
  docs/src/blocks/GoogleTagManager.tsx
Labels: core

#583 [Slider] Modernize implementation
  docs/app/experiments/slider-change-committed-lag.tsx
  docs/app/experiments/slider-marks.tsx
  docs/app/experiments/slider-template.tsx
  docs/app/experiments/slider-tooltip.tsx
  docs/app/experiments/slider.module.css
  docs/app/experiments/slider.tsx
  docs/data/api/slider-root.json
  docs/data/components/slider/RangeSlider.js
  docs/data/components/slider/RangeSlider.tsx
  docs/data/components/slider/RtlSlider.js
  docs/data/components/slider/RtlSlider.tsx
  docs/data/components/slider/RtlSlider.tsx.preview
  docs/data/components/slider/UnstyledSliderIntroduction/css-modules/index.js
  docs/data/components/slider/UnstyledSliderIntroduction/css-modules/index.tsx
  docs/data/components/slider/UnstyledSliderIntroduction/system/index.js
  docs/data/components/slider/UnstyledSliderIntroduction/system/index.tsx
  docs/data/components/slider/UnstyledSliderIntroduction/system/index.tsx.preview
  docs/data/components/slider/UnstyledSliderIntroduction/tailwind/index.js
  docs/data/components/slider/UnstyledSliderIntroduction/tailwind/index.tsx
  docs/data/components/slider/UnstyledSliderIntroduction/tailwind/index.tsx.preview
  docs/data/components/slider/VerticalSlider.js
  docs/data/components/slider/VerticalSlider.tsx
  docs/data/components/slider/slider.mdx
  docs/data/components/slider/styles.module.css
  docs/data/components/slider/vertical.module.css
  docs/data/translations/api-docs/slider-root/slider-root.json
  packages/mui-base/src/Slider/Control/SliderControl.test.tsx
  packages/mui-base/src/Slider/Control/SliderControl.tsx
  packages/mui-base/src/Slider/Control/SliderControl.types.ts
  packages/mui-base/src/Slider/Control/useSliderControl.ts
  packages/mui-base/src/Slider/Indicator/SliderIndicator.test.tsx
  packages/mui-base/src/Slider/Indicator/SliderIndicator.tsx
  packages/mui-base/src/Slider/Indicator/SliderIndicator.types.ts
  packages/mui-base/src/Slider/Indicator/useSliderIndicator.ts
  packages/mui-base/src/Slider/Output/SliderOutput.test.tsx
  packages/mui-base/src/Slider/Output/SliderOutput.tsx
  packages/mui-base/src/Slider/Output/SliderOutput.types.ts
  packages/mui-base/src/Slider/Output/useSliderOutput.ts
  packages/mui-base/src/Slider/Root/SliderContext.tsx
  packages/mui-base/src/Slider/Root/SliderProvider.tsx
  packages/mui-base/src/Slider/Root/SliderRoot.test.tsx
  packages/mui-base/src/Slider/Root/SliderRoot.tsx
  packages/mui-base/src/Slider/Root/SliderRoot.types.ts
  packages/mui-base/src/Slider/Root/styleHooks.ts
  packages/mui-base/src/Slider/Root/useSliderRoot.ts
  packages/mui-base/src/Slider/Thumb/SliderThumb.test.tsx
  packages/mui-base/src/Slider/Thumb/SliderThumb.tsx
  packages/mui-base/src/Slider/Thumb/SliderThumb.types.ts
  packages/mui-base/src/Slider/Thumb/useSliderThumb.ts
  packages/mui-base/src/Slider/Track/SliderTrack.test.tsx
  packages/mui-base/src/Slider/Track/SliderTrack.tsx
  packages/mui-base/src/Slider/Track/SliderTrack.types.ts
  packages/mui-base/src/Slider/index.parts.ts
Labels: component: slider

#742 Rename "docs-base" path alias to "docs"
  babel.config.js
  docs/app/(content)/components/[slug]/getApiReferenceData.ts
  docs/app/(content)/components/[slug]/page.tsx
  docs/app/(content)/getMarkdownPage.ts
  docs/app/(content)/getting-started/[slug]/page.tsx
  docs/app/(content)/guides/[slug]/page.tsx
  docs/app/(content)/layout.tsx
  docs/app/DocsProviders.tsx
  docs/app/layout.tsx
  docs/app/not-found.tsx
  docs/app/page.tsx
  docs/next.config.mjs
  docs/scripts/formattedTSDemos.js
  docs/src/blocks/sandbox/createCodeSandbox.ts
  docs/src/blocks/sandbox/createStackBlitzProject.ts
  docs/src/blocks/sandbox/packDemo.test.ts
  docs/src/blocks/sandbox/packDemo.ts
  docs/src/components/ApiReference.tsx
  docs/src/components/AppBar.tsx
  docs/src/components/DocsVersionSelector.tsx
  docs/src/components/Navigation.tsx
  docs/src/components/demo/CodeSandboxLink.tsx
  docs/src/components/demo/Demo.tsx
  docs/src/components/demo/DemoFileSelector.tsx
  docs/src/components/demo/DemoVariantSelector.tsx
  docs/src/components/demo/GitHubLink.tsx
  docs/src/components/demo/StackBlitzLink.tsx
  docs/src/components/demo/loadDemo.ts
  test/regressions/index.js
  test/regressions/webpack.config.js
  tsconfig.base.json
  webpackBaseConfig.js
Labels: core

#746 Clean up Tailwind config and docs styles
  docs/data/components/alert-dialog/AlertDialogIntroduction/tailwind/index.js
  docs/data/components/checkbox-group/UnstyledCheckboxGroupIntroduction/tailwind/index.js
  docs/data/components/checkbox/UnstyledCheckboxIntroduction/tailwind/index.js
  docs/data/components/dialog/UnstyledDialogIntroduction/tailwind/index.js
  docs/data/components/menu/MenuIntroduction/tailwind/index.js
  docs/data/components/number-field/UnstyledNumberFieldIntroduction/tailwind/index.js
  docs/data/components/progress/UnstyledProgressIntroduction/tailwind/index.js
  docs/data/components/slider/UnstyledSliderIntroduction/tailwind/index.js
  docs/data/components/tabs/UnstyledTabsIntroduction/tailwind/index.js
  docs/src/app/(content)/components/[slug]/page.tsx
  docs/src/app/(content)/getting-started/[slug]/page.tsx
  docs/src/app/(content)/guides/[slug]/page.tsx
  docs/src/app/(content)/layout.tsx
  docs/src/app/experiments/[slug]/page.tsx
  docs/src/app/layout.tsx
  docs/src/app/new/page.tsx
  docs/src/app/new/styles.css
  docs/src/app/not-found.tsx
  docs/src/app/page.tsx
  docs/src/app/playground/[slug]/page.tsx
  docs/src/components/content/Description.tsx
  docs/src/design-system/IconButton.module.css
  docs/src/design-system/IconButton.tsx
  docs/src/design-system/IconLinkButton.tsx
  docs/src/styles/components/select.css
  docs/src/styles/components/text.css
  docs/src/styles/content.css
  docs/src/styles/style.css
  docs/src/styles/utilities/align-items.css
  docs/src/styles/utilities/align-self.css
  docs/src/styles/utilities/display.css
  docs/src/styles/utilities/flex-direction.css
  docs/src/styles/utilities/gap.css
  docs/src/styles/utilities/height.css
  docs/src/styles/utilities/justify-content.css
  docs/src/styles/utilities/margin.css
  docs/src/styles/utilities/padding.css
  docs/src/styles/utilities/position.css
  docs/tailwind.config.ts
  package.json
  pnpm-lock.yaml
  prettier.config.js
Labels: docs

#747 Clean up stray docs types
  docs/src/app/(content)/components/[slug]/getApiReferenceData.ts
  docs/src/components/ApiReference.tsx
  docs/tsconfig.json
  docs/types.d.ts
  docs/types/ComponentAPIReference.ts
  docs/types/docs.d.ts
Labels: docs

#741 [Tooltip] Fix `trackCursorAxis` prop
  docs/data/components/tooltip/tooltip.mdx
  packages/mui-base/src/Menu/CheckboxItem/MenuCheckboxItem.test.tsx
  packages/mui-base/src/Menu/Item/MenuItem.test.tsx
  packages/mui-base/src/Menu/Popup/MenuPopup.test.tsx
  packages/mui-base/src/Menu/Positioner/MenuPositioner.test.tsx
  packages/mui-base/src/Menu/Positioner/MenuPositioner.tsx
  packages/mui-base/src/Menu/RadioItem/MenuRadioItem.test.tsx
  packages/mui-base/src/Menu/Root/useMenuRoot.ts
  packages/mui-base/src/Menu/Trigger/MenuTrigger.test.tsx
  packages/mui-base/src/Popover/Positioner/PopoverPositioner.tsx
  packages/mui-base/src/Popover/Root/PopoverRoot.tsx
  packages/mui-base/src/Popover/Root/PopoverRootContext.ts
  packages/mui-base/src/Popover/Root/usePopoverRoot.ts
  packages/mui-base/src/PreviewCard/Positioner/PreviewCardPositioner.tsx
  packages/mui-base/src/PreviewCard/Root/PreviewCardContext.ts
  packages/mui-base/src/PreviewCard/Root/PreviewCardRoot.tsx
  packages/mui-base/src/PreviewCard/Root/usePreviewCardRoot.ts
  packages/mui-base/src/Tooltip/Positioner/TooltipPositioner.tsx
  packages/mui-base/src/Tooltip/Root/TooltipRoot.tsx
  packages/mui-base/src/Tooltip/Root/TooltipRootContext.ts
  packages/mui-base/src/Tooltip/Root/useTooltipRoot.ts
Labels: component: tooltip

#757 [core] Fix gitignore to exclude playgrounds
  .gitignore
Labels: core

#748 [docs] Remove trailing slash from the URLs
  docs/data/components/alert-dialog/alert-dialog.mdx
  docs/data/components/menu/menu.mdx
  docs/data/getting-started/quick-start/quick-start.mdx
  docs/next.config.mjs
  docs/scripts/reportBrokenLinks.mts
Labels: docs

#738 [Field] Refactor `data-field` style hook to `data-valid`/`data-invalid`
  docs/data/components/field/UnstyledFieldAsync.js
  docs/data/components/field/UnstyledFieldAsync.tsx
  docs/data/components/field/UnstyledFieldIntroduction/system/index.js
  docs/data/components/field/UnstyledFieldIntroduction/system/index.tsx
  docs/data/components/field/UnstyledFieldPassword.js
  docs/data/components/field/UnstyledFieldPassword.tsx
  docs/data/components/field/UnstyledFieldServerError.js
  docs/data/components/field/UnstyledFieldServerError.tsx
  docs/data/components/field/field.mdx
  docs/data/components/form/FormIntroduction/system/index.js
  docs/data/components/form/FormIntroduction/system/index.tsx
  packages/mui-base/src/Field/Root/FieldRoot.test.tsx
  packages/mui-base/src/Field/utils/constants.ts
Labels: component: field

#739 [core] Refactor `data-state` to individual attributes
  docs/data/components/alert-dialog/alert-dialog.mdx
  docs/data/components/collapsible/CssAnimatedCollapsible.js
  docs/data/components/collapsible/CssAnimatedCollapsible.tsx
  docs/data/components/collapsible/CssTransitionCollapsible.js
  docs/data/components/collapsible/CssTransitionCollapsible.tsx
  docs/data/components/collapsible/UnstyledCollapsibleIntroduction.js
  docs/data/components/collapsible/UnstyledCollapsibleIntroduction.tsx
  docs/data/components/collapsible/collapsible.mdx
  docs/data/components/dialog/dialog.mdx
  docs/data/components/menu/MenuIntroduction/css-modules/Menu.module.css
  docs/data/components/menu/MenuIntroduction/system/index.js
  docs/data/components/menu/MenuIntroduction/system/index.tsx
  docs/data/components/menu/NestedMenu.js
  docs/data/components/menu/NestedMenu.tsx
  docs/data/components/menu/menu.mdx
  docs/data/components/popover/popover.mdx
  docs/data/components/preview-card/preview-card.mdx
  docs/data/components/progress/IndeterminateProgress.js
  docs/data/components/progress/IndeterminateProgress.tsx
  docs/data/components/progress/progress.mdx
  docs/data/components/tooltip/tooltip.mdx
  docs/src/app/experiments/collapsible-accordion.tsx
  docs/src/app/experiments/collapsible-framer.tsx
  docs/src/app/experiments/collapsible-hidden-until-found.tsx
  docs/src/app/experiments/collapsible.tsx
  docs/src/app/experiments/progress.tsx
  docs/src/components/demo/Demo.module.css
  packages/mui-base/src/Collapsible/Root/CollapsibleRoot.test.tsx
  packages/mui-base/src/Collapsible/Root/styleHooks.ts
  packages/mui-base/src/Progress/Indicator/ProgressIndicator.test.tsx
  packages/mui-base/src/Progress/Root/ProgressRoot.tsx
  packages/mui-base/src/Progress/Root/styleHooks.ts
  packages/mui-base/src/Progress/Track/ProgressTrack.test.tsx
Labels: core

#734 [Checkbox, Menu, Switch] Audit focus states on disabled components
  docs/data/api/menu-trigger.json
  docs/data/translations/api-docs/menu-trigger/menu-trigger.json
  packages/mui-base/src/Checkbox/Root/CheckboxRoot.test.tsx
  packages/mui-base/src/Checkbox/Root/useCheckboxRoot.ts
  packages/mui-base/src/Menu/Trigger/MenuTrigger.tsx
  packages/mui-base/src/Menu/Trigger/useMenuTrigger.ts
  packages/mui-base/src/Switch/Root/SwitchRoot.test.tsx
  packages/mui-base/src/Switch/Root/useSwitchRoot.ts
Labels: component: switch, component: menu, component: checkbox, accessibility

#761 [docs] Render demos on static MDX routes
  .eslintrc.js
  docs/next.config.mjs
  docs/package.json
  docs/src/app/new/(content)/components/dialog/NestedDialogs.tsx
  docs/src/app/new/(content)/components/dialog/UnstyledDialogIntroduction/css-modules/index.js
  docs/src/app/new/(content)/components/dialog/UnstyledDialogIntroduction/css-modules/index.tsx
  docs/src/app/new/(content)/components/dialog/UnstyledDialogIntroduction/css-modules/styles.module.css
  docs/src/app/new/(content)/components/dialog/UnstyledDialogIntroduction/index.ts
  docs/src/app/new/(content)/components/dialog/UnstyledDialogIntroduction/tailwind/index.js
  docs/src/app/new/(content)/components/dialog/UnstyledDialogIntroduction/tailwind/index.tsx
  docs/src/app/new/(content)/components/dialog/page.mdx
  docs/src/app/new/(content)/layout.tsx
  docs/src/app/new/layout.tsx
  docs/src/components/demo/Demo.tsx
  docs/src/components/demo/DemoLoader.tsx
  docs/src/components/demo/NewDemoLoader.tsx
  docs/src/components/demo/rehypeDemos.mjs
  docs/src/mdx-components.tsx
  pnpm-lock.yaml
Labels: docs

#749 [test] Run tests with vitest
  .circleci/config.yml
  docs/package.json
  docs/src/blocks/sandbox/packDemo.test.ts
  docs/vitest.config.ts
  package.json
  packages/mui-base/package.json
  packages/mui-base/src/AlertDialog/Root/AlertDialogRoot.test.ts
  packages/mui-base/src/Checkbox/Root/CheckboxRoot.test.tsx
  packages/mui-base/src/Collapsible/Root/CollapsibleRoot.test.tsx
  packages/mui-base/src/Dialog/Root/DialogRoot.test.tsx
  packages/mui-base/src/Menu/CheckboxItem/MenuCheckboxItem.test.tsx
  packages/mui-base/src/Menu/Item/MenuItem.test.tsx
  packages/mui-base/src/Menu/Positioner/MenuPositioner.test.tsx
  packages/mui-base/src/Menu/RadioItem/MenuRadioItem.test.tsx
  packages/mui-base/src/Menu/Root/MenuRoot.test.tsx
  packages/mui-base/src/NumberField/Root/NumberFieldRoot.test.tsx
  packages/mui-base/src/NumberField/ScrubArea/NumberFieldScrubArea.test.tsx
  packages/mui-base/src/NumberField/ScrubAreaCursor/NumberFieldScrubAreaCursor.test.tsx
  packages/mui-base/src/NumberField/utils/parse.test.ts
  packages/mui-base/src/Progress/Indicator/ProgressIndicator.test.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.test.tsx
  packages/mui-base/src/Slider/Root/SliderRoot.test.tsx
  packages/mui-base/src/Switch/Root/SwitchRoot.test.tsx
  packages/mui-base/src/Tabs/Root/TabsRoot.test.tsx
  packages/mui-base/src/Tabs/TabIndicator/TabIndicator.test.tsx
  packages/mui-base/vitest.config.ts
  pnpm-lock.yaml
  test/package.json
  test/setupVitest.ts
  vitest.config.mts
  vitest.shared.ts
  vitest.workspace.ts
Labels: test

#765 [test] Fix JSDOM detection in tests
  docs/vitest.config.ts
  test/setupVitest.ts
Labels: bug 🐛, test

#760 [TextInput] Create new component
  docs/data/api/text-input.json
  docs/data/components/field/UnstyledFieldIntroduction/system/index.js
  docs/data/components/field/UnstyledFieldIntroduction/system/index.tsx
  docs/data/components/field/UnstyledFieldPassword.js
  docs/data/components/field/UnstyledFieldPassword.tsx
  docs/data/components/field/UnstyledFieldPassword.tsx.preview
  docs/data/components/field/UnstyledFieldServerError.js
  docs/data/components/field/UnstyledFieldServerError.tsx
  docs/data/components/field/field.mdx
  docs/data/components/form/FormIntroduction/system/index.js
  docs/data/components/form/FormIntroduction/system/index.tsx
  docs/data/components/text-input/TextInputIntroduction/system/index.js
  docs/data/components/text-input/TextInputIntroduction/system/index.tsx
  docs/data/components/text-input/TextInputIntroduction/system/index.tsx.preview
  docs/data/components/text-input/text-input.mdx
  docs/data/pages.ts
  docs/data/translations/api-docs/text-input/text-input.json
  packages/mui-base/src/Field/Control/FieldControl.tsx
  packages/mui-base/src/TextInput/TextInput.test.tsx
  packages/mui-base/src/TextInput/TextInput.tsx
  packages/mui-base/src/TextInput/index.ts
  packages/mui-base/src/index.ts
Labels: component: text input

#768 [docs] Remove trailing slash from link
  docs/data/components/text-input/text-input.mdx
Labels: docs

#764 [docs] New code blocks
  docs/next.config.mjs
  docs/package.json
  docs/src/app/(content)/components/[slug]/page.tsx
  docs/src/app/(content)/getMarkdownPage.ts
  docs/src/app/(content)/layout.tsx
  docs/src/app/new/(content)/components/dialog/page.mdx
  docs/src/app/new/layout.css
  docs/src/app/new/layout.tsx
  docs/src/app/new/page.tsx
  docs/src/blocks/Demo/DemoRoot.tsx
  docs/src/blocks/Demo/DemoSourceBrowser.tsx
  docs/src/components/CodeBlock.css
  docs/src/components/CodeBlock.tsx
  docs/src/components/ToolbarButton.css
  docs/src/components/ToolbarButton.tsx
  docs/src/components/content/InstallationInstructions.tsx
  docs/src/components/content/MDXComponents.tsx
  docs/src/components/content/PackageManagerSnippet.module.css
  docs/src/components/content/PackageManagerSnippet.tsx
  docs/src/components/demo/CodeSandboxLink.tsx
  docs/src/components/demo/Demo.module.css
  docs/src/components/demo/Demo.tsx
  docs/src/components/demo/DemoFileSelector.module.css
  docs/src/components/demo/DemoFileSelector.tsx
  docs/src/components/demo/DemoLoader.module.css
  docs/src/components/demo/DemoLoader.tsx
  docs/src/components/demo/DemoVariantSelector.module.css
  docs/src/components/demo/DemoVariantSelector.tsx
  docs/src/components/demo/NewDemoLoader.tsx
  docs/src/components/demo/StackBlitzLink.tsx
  docs/src/components/demo/index.css
  docs/src/components/demo/loadDemo.ts
  docs/src/fonts/fonts.css
  docs/src/fonts/index.css
  docs/src/icons/Check.tsx
  docs/src/icons/ChevronDown.tsx
  docs/src/icons/Copy.tsx
  docs/src/icons/ExternalLink.tsx
  docs/src/mdx-components.tsx
  docs/src/styles.css
  docs/src/styles/content.css
  docs/src/styles/style.css
  docs/src/syntax-highlighting/index.css
  docs/src/syntax-highlighting/index.mjs
  docs/src/syntax-highlighting/index.ts
  docs/tailwind.config.ts
  pnpm-lock.yaml
Labels: docs

#771 [docs] Upgrade to Tailwind v4-alpha
  docs/data/components/alert-dialog/AlertDialogIntroduction/tailwind/index.js
  docs/data/components/checkbox-group/UnstyledCheckboxGroupIntroduction/tailwind/index.js
  docs/data/components/checkbox/UnstyledCheckboxIntroduction/tailwind/index.js
  docs/data/components/dialog/UnstyledDialogIntroduction/tailwind/index.js
  docs/data/components/menu/MenuIntroduction/tailwind/index.js
  docs/data/components/number-field/UnstyledNumberFieldIntroduction/tailwind/index.js
  docs/data/components/tabs/UnstyledTabsIntroduction/tailwind/index.js
  docs/package.json
  docs/postcss.config.js
  docs/src/app/experiments/dialog.module.css
  docs/src/app/experiments/experiments.module.css
  docs/src/app/new/layout.tsx
  docs/src/app/page.tsx
  docs/src/components/ApiReference.module.css
  docs/src/components/content/Callout.module.css
  docs/src/components/demo/index.css
  docs/src/styles.css
  docs/src/styles/content.css
  docs/src/styles/shiki.css
  docs/src/styles/style.css
  docs/tailwind.config.ts
  package.json
  pnpm-lock.yaml
  test/regressions/tailwind.css
  test/regressions/webpack.config.js
Labels: docs

#762 [docs] Upgrade to Next.js 15
  .circleci/config.yml
  docs/config.ts
  docs/next.config.mjs
  docs/package.json
  docs/src/app/(content)/components/[slug]/page.tsx
  docs/src/app/(content)/getting-started/[slug]/page.tsx
  docs/src/app/(content)/guides/[slug]/page.tsx
  docs/src/app/experiments/[slug]/page.tsx
  docs/src/app/playground/[slug]/page.tsx
  docs/tsconfig.json
  package.json
  packages/mui-base/package.json
  packages/mui-base/src/Menu/CheckboxItem/MenuCheckboxItem.tsx
  packages/mui-base/src/Menu/Item/MenuItem.tsx
  packages/mui-base/src/Menu/RadioItem/MenuRadioItem.tsx
  pnpm-lock.yaml
  test/package.json
Labels: docs
