Repository mui/base-ui, pull requests merged in 2024-05, with the labels that each got.

#353 [test] Fix Firefox browser version in karma profile config and resolve user-event test TODOs
  packages/mui-base/src/MenuButton/MenuButton.test.tsx
  packages/mui-base/src/Select/Select.test.tsx
  test/karma.conf.profile.js
Labels: test

#393 [popper][docs] Prepare React 19
  docs/data/base/components/popper/PlacementPopper.js
  docs/data/base/components/popper/PlacementPopper.tsx
Labels: docs, typescript

#395 [test] Port e2e infra back to Base UI
  .circleci/config.yml
  package.json
  test/e2e/.mocharc.js
  test/e2e/README.md
  test/e2e/TestViewer.js
  test/e2e/fixtures/FocusTrap/ClosedFocusTrap.tsx
  test/e2e/fixtures/FocusTrap/DefaultOpenLazyFocusTrap.tsx
  test/e2e/fixtures/FocusTrap/DisableEnforceFocusFocusTrap.tsx
  test/e2e/fixtures/FocusTrap/OpenFocusTrap.tsx
  test/e2e/fixtures/TextareaAutosize/TextareaAutosizeSuspense.tsx
  test/e2e/index.js
  test/e2e/index.test.ts
  test/e2e/serve.json
  test/e2e/template.html
  test/e2e/webpack.config.js
Labels: test

#189 [TextareaAutosize] Fix resizing instability
  packages/mui-base/src/TextareaAutosize/TextareaAutosize.tsx
  test/e2e/fixtures/TextareaAutosize/BasicTextareaAutosize.tsx
  test/e2e/index.test.ts
Labels: component: textarea, bug 🐛, regression

#400 [core] Export NumberField components and hooks
  packages/mui-base/package.json
Labels: core, component: number field

#394 [docs] Link to docs on PRs
  .circleci/config.yml
  dangerfile.ts
Labels: docs, scope: docs-infra

#397 [docs] Consistent arrow style
  docs/data/base/components/tabs/tabs.md
Labels: docs

#401 [docs] Fix incorrect Tabs import instructions
  docs/pages/base-ui/api/tab-indicator.json
  docs/pages/base-ui/api/tab-panel.json
  docs/pages/base-ui/api/tab.json
  packages/mui-base/src/Tabs/Root/TabsRoot.tsx
  packages/mui-base/src/Tabs/index.barrel.ts
  packages/mui-base/src/Tabs/index.ts
  scripts/buildApiDocs/config/getComponentImports.ts
Labels: component: tabs, docs

#402 [release] v1.0.0 alpha.1
  CHANGELOG.md
  package.json
  packages/mui-base/package.json
Labels: release

#404 [code-infra] Remove raw-loader
  package.json
  pnpm-lock.yaml
Labels: scope: code-infra

#408 [core] Encapsulate the common rendering logic in `useComponentRenderer`
  packages/mui-base/src/Tabs/Root/TabsRoot.tsx
  packages/mui-base/src/Tabs/Root/styleHooks.ts
  packages/mui-base/src/Tabs/Root/useTabsRootStyleHooks.ts
  packages/mui-base/src/Tabs/Tab/Tab.tsx
  packages/mui-base/src/Tabs/Tab/useTabStyleHooks.ts
  packages/mui-base/src/Tabs/TabIndicator/TabIndicator.tsx
  packages/mui-base/src/Tabs/TabIndicator/useTabIndicatorStyleHooks.ts
  packages/mui-base/src/Tabs/TabPanel/TabPanel.tsx
  packages/mui-base/src/Tabs/TabPanel/useTabPanelStyleHooks.ts
  packages/mui-base/src/Tabs/TabsList/TabsList.tsx
  packages/mui-base/src/Tabs/TabsList/useTabsListStyleHooks.ts
  packages/mui-base/src/utils/defaultRenderFunctions.tsx
  packages/mui-base/src/utils/evaluateRenderProp.ts
  packages/mui-base/src/utils/getStyleHookProps.ts
  packages/mui-base/src/utils/useComponentRenderer.ts
Labels: core

#418 [core] Upgrade to core-js v3
  docs/babel.config.js
  docs/package.json
  pnpm-lock.yaml
Labels: core

#378 [docs-infra] Integrate the latest @mui/docs
  docs/data/base/components/autocomplete/autocomplete.md
  docs/data/base/components/badge/badge.md
  docs/data/base/components/button/button.md
  docs/data/base/components/checkbox/checkbox.md
  docs/data/base/components/click-away-listener/click-away-listener.md
  docs/data/base/components/focus-trap/focus-trap.md
  docs/data/base/components/form-control/form-control.md
  docs/data/base/components/input/input.md
  docs/data/base/components/menu/menu.md
  docs/data/base/components/modal/modal.md
  docs/data/base/components/no-ssr/no-ssr.md
  docs/data/base/components/number-field/number-field.md
  docs/data/base/components/popper/popper.md
  docs/data/base/components/popup/popup.md
  docs/data/base/components/portal/portal.md
  docs/data/base/components/select/select.md
  docs/data/base/components/slider/slider.md
  docs/data/base/components/snackbar/snackbar.md
  docs/data/base/components/switch/switch.md
  docs/data/base/components/table-pagination/table-pagination.md
  docs/data/base/components/tabs/tabs.md
  docs/data/base/components/textarea-autosize/textarea-autosize.md
  docs/src/modules/components/ComponentLinkHeader.js
  pnpm-lock.yaml
Labels: scope: docs-infra

#417 [core] Refactor animation hooks
  packages/mui-base/src/utils/useAnimationsFinished.ts
  packages/mui-base/src/utils/useExecuteIfNotAnimated.ts
  packages/mui-base/src/utils/useTransitionStatus.ts
Labels: core

#415 [code-infra] Use shared .stylelintrc.js config
  .stylelintrc.js
  package.json
  stylelint.config.js
Labels: scope: code-infra

#419 [docs] Correct Bundlephobia links
  docs/data/base/components/checkbox/checkbox.md
  docs/data/base/components/number-field/number-field.md
  docs/data/base/components/switch/switch.md
  docs/data/base/components/tabs/tabs.md
Labels: docs

#425 [Tooltip][docs] Use the correct version of ComponentLinkHeader
  docs/data/base/components/tooltip/tooltip.md
Labels: docs, component: tooltip

#421 [docs-infra] Fix a stylelint issue
  docs/data/base/components/autocomplete/AutocompleteIntroduction/css/index.js
  docs/data/base/components/autocomplete/AutocompleteIntroduction/css/index.tsx
  docs/data/base/components/autocomplete/AutocompleteIntroduction/system/index.js
  docs/data/base/components/autocomplete/AutocompleteIntroduction/system/index.tsx
  docs/data/base/components/autocomplete/ControlledStates.js
  docs/data/base/components/autocomplete/ControlledStates.tsx
  docs/data/base/components/autocomplete/UseAutocomplete.js
  docs/data/base/components/autocomplete/UseAutocomplete.tsx
  docs/data/base/components/autocomplete/UseAutocompletePopper.js
  docs/data/base/components/autocomplete/UseAutocompletePopper.tsx
  docs/data/base/components/menu/MenuIntroduction/css/index.js
  docs/data/base/components/menu/MenuIntroduction/css/index.tsx
  docs/data/base/components/menu/MenuIntroduction/system/index.js
  docs/data/base/components/menu/MenuIntroduction/system/index.tsx
  docs/data/base/components/menu/MenuSimple/css/index.js
  docs/data/base/components/menu/MenuSimple/css/index.tsx
  docs/data/base/components/menu/MenuSimple/system/index.js
  docs/data/base/components/menu/MenuSimple/system/index.tsx
  docs/data/base/components/menu/MenuTransitions.js
  docs/data/base/components/menu/MenuTransitions.tsx
  docs/data/base/components/menu/UseMenu.js
  docs/data/base/components/menu/UseMenu.tsx
  docs/data/base/components/menu/WrappedMenuItems.js
  docs/data/base/components/menu/WrappedMenuItems.tsx
  docs/data/base/components/select/UnstyledSelectBasic/css/index.js
  docs/data/base/components/select/UnstyledSelectBasic/css/index.tsx
  docs/data/base/components/select/UnstyledSelectBasic/system/index.js
  docs/data/base/components/select/UnstyledSelectBasic/system/index.tsx
  docs/data/base/components/select/UnstyledSelectControlled.js
  docs/data/base/components/select/UnstyledSelectControlled.tsx
  docs/data/base/components/select/UnstyledSelectCustomRenderValue.js
  docs/data/base/components/select/UnstyledSelectCustomRenderValue.tsx
  docs/data/base/components/select/UnstyledSelectForm.js
  docs/data/base/components/select/UnstyledSelectForm.tsx
  docs/data/base/components/select/UnstyledSelectGrouping.js
  docs/data/base/components/select/UnstyledSelectGrouping.tsx
  docs/data/base/components/select/UnstyledSelectIntroduction/css/index.js
  docs/data/base/components/select/UnstyledSelectIntroduction/css/index.tsx
  docs/data/base/components/select/UnstyledSelectIntroduction/system/index.js
  docs/data/base/components/select/UnstyledSelectIntroduction/system/index.tsx
  docs/data/base/components/select/UnstyledSelectMultiple.js
  docs/data/base/components/select/UnstyledSelectMultiple.tsx
  docs/data/base/components/select/UnstyledSelectObjectValues.js
  docs/data/base/components/select/UnstyledSelectObjectValues.tsx
  docs/data/base/components/select/UnstyledSelectObjectValuesForm.js
  docs/data/base/components/select/UnstyledSelectObjectValuesForm.tsx
  docs/data/base/components/select/UnstyledSelectRichOptions.js
  docs/data/base/components/select/UnstyledSelectRichOptions.tsx
  docs/data/base/components/select/UnstyledSelectTransitions.js
  docs/data/base/components/select/UnstyledSelectTransitions.tsx
  docs/data/base/components/select/UseSelect.js
  docs/data/base/components/select/UseSelect.tsx
  docs/data/base/getting-started/accessibility/KeyboardNavigation.js
  docs/data/base/getting-started/accessibility/KeyboardNavigation.tsx
  docs/public/static/components-gallery/base-theme.css
  docs/src/modules/home/BaseUIThemesDemo.tsx
Labels: scope: docs-infra
