Repository mui/base-ui, pull requests merged in 2024-12, with the labels that each got.

#903 [docs] Content 3: Text Input, Field, Fieldset, Form demos
  docs/next.config.mjs
  docs/reference/generated/field-root.json
  docs/reference/overrides/field-root.json
  docs/scripts/reportBrokenLinks.mts
  docs/src/app/new/(content)/components/accordion/demos/hero/css-modules/index.module.css
  docs/src/app/new/(content)/components/accordion/demos/hero/css-modules/index.tsx
  docs/src/app/new/(content)/components/accordion/demos/hero/tailwind/index.tsx
  docs/src/app/new/(content)/components/accordion/page.mdx
  docs/src/app/new/(content)/components/alert-dialog/demos/hero/css-modules/index.module.css
  docs/src/app/new/(content)/components/alert-dialog/page.mdx
  docs/src/app/new/(content)/components/checkbox-group/demos/hero/css-modules/index.module.css
  docs/src/app/new/(content)/components/checkbox-group/demos/hero/css-modules/index.tsx
  docs/src/app/new/(content)/components/checkbox-group/demos/hero/tailwind/index.tsx
  docs/src/app/new/(content)/components/checkbox-group/page.mdx
  docs/src/app/new/(content)/components/checkbox/page.mdx
  docs/src/app/new/(content)/components/collapsible/demos/hero/css-modules/index.module.css
  docs/src/app/new/(content)/components/collapsible/demos/hero/css-modules/index.tsx
  docs/src/app/new/(content)/components/collapsible/demos/hero/tailwind/index.tsx
  docs/src/app/new/(content)/components/collapsible/page.mdx
  docs/src/app/new/(content)/components/dialog/demos/hero/css-modules/index.module.css
  docs/src/app/new/(content)/components/dialog/page.mdx
  docs/src/app/new/(content)/components/field/demos/hero/css-modules/index.module.css
  docs/src/app/new/(content)/components/field/demos/hero/css-modules/index.tsx
  docs/src/app/new/(content)/components/field/demos/hero/index.ts
  docs/src/app/new/(content)/components/field/demos/hero/tailwind/index.tsx
  docs/src/app/new/(content)/components/field/page.mdx
  docs/src/app/new/(content)/components/fieldset/demos/hero/css-modules/index.module.css
  docs/src/app/new/(content)/components/fieldset/demos/hero/css-modules/index.tsx
  docs/src/app/new/(content)/components/fieldset/demos/hero/index.ts
  docs/src/app/new/(content)/components/fieldset/demos/hero/tailwind/index.tsx
  docs/src/app/new/(content)/components/fieldset/page.mdx
  docs/src/app/new/(content)/components/form/demos/hero/css-modules/index.module.css
  docs/src/app/new/(content)/components/form/demos/hero/css-modules/index.tsx
  docs/src/app/new/(content)/components/form/demos/hero/index.ts
  docs/src/app/new/(content)/components/form/demos/hero/tailwind/index.tsx
  docs/src/app/new/(content)/components/form/page.mdx
  docs/src/app/new/(content)/components/text-input/demos/hero/css-modules/index.module.css
  docs/src/app/new/(content)/components/text-input/demos/hero/css-modules/index.tsx
  docs/src/app/new/(content)/components/text-input/demos/hero/index.ts
  docs/src/app/new/(content)/components/text-input/demos/hero/tailwind/index.tsx
  docs/src/app/new/(content)/components/text-input/page.mdx
  docs/src/components/Link.css
  docs/src/components/Link.tsx
  docs/src/components/MobileNav.tsx
  docs/src/components/SideNav.tsx
  docs/src/components/demo/Demo.css
  docs/src/components/reference/rehypeReference.mjs
  docs/src/components/subtitle/Subtitle.css
  docs/src/components/subtitle/Subtitle.tsx
  docs/src/components/subtitle/rehypeSubtitle.mjs
  docs/src/mdx-components.tsx
  docs/src/styles.css
Labels: docs

#901 [docs] Logo B
  docs/public/static/favicon-dev.ico
  docs/public/static/favicon.ico
  docs/src/app/Favicons.tsx
  docs/src/components/Header.css
  docs/src/components/Header.tsx
Labels: docs

#938 [core] Fix TS error in reportBrokenLinks script
  docs/scripts/reportBrokenLinks.mts
Labels: core

#933 [CheckboxGroup] Remove `preserveChildStates` prop and default to `true`
  docs/data/api/checkbox-group-root.json
  docs/data/components/checkbox-group/UnstyledCheckboxGroupNested.js
  docs/data/components/checkbox-group/UnstyledCheckboxGroupNested.tsx
  docs/data/components/checkbox-group/checkbox-group.mdx
  docs/data/translations/api-docs/checkbox-group-root/checkbox-group-root.json
  docs/reference/generated/checkbox-group-root.json
  packages/react/src/checkbox-group/parent/useCheckboxGroupParent.test.tsx
  packages/react/src/checkbox-group/parent/useCheckboxGroupParent.ts
  packages/react/src/checkbox-group/root/CheckboxGroupRoot.test.tsx
  packages/react/src/checkbox-group/root/CheckboxGroupRoot.tsx
  packages/react/src/checkbox-group/root/useCheckboxGroupRoot.tsx
Labels: checkbox group

#935 [Field] Default to `input` only types for `Control`
  docs/src/app/new/(content)/components/field/demos/hero/css-modules/index.tsx
  docs/src/app/new/(content)/components/field/demos/hero/tailwind/index.tsx
  docs/src/app/new/(content)/components/fieldset/demos/hero/css-modules/index.tsx
  docs/src/app/new/(content)/components/fieldset/demos/hero/tailwind/index.tsx
  docs/src/app/new/(content)/components/form/demos/hero/css-modules/index.tsx
  docs/src/app/new/(content)/components/form/demos/hero/tailwind/index.tsx
  packages/react/src/field/control/FieldControl.tsx
Labels: component: field

#928 [CheckboxGroup] Fix controlled usage
  docs/data/components/checkbox-group/UnstyledCheckboxGroupIntroduction/system/index.js
  docs/data/components/checkbox-group/UnstyledCheckboxGroupIntroduction/system/index.tsx
  packages/react/src/checkbox-group/root/CheckboxGroupRoot.test.tsx
  packages/react/src/checkbox-group/root/CheckboxGroupRoot.tsx
  packages/react/src/checkbox-group/root/CheckboxGroupRootContext.ts
  packages/react/src/checkbox/root/useCheckboxRoot.ts
Labels: checkbox group

#889 [Collapsible][Accordion] Modernize implementation
  docs/data/api/accordion-panel.json
  docs/data/api/accordion-root.json
  docs/data/api/collapsible-panel.json
  docs/data/api/collapsible-root.json
  docs/data/components/accordion/AccordionIntroduction.js
  docs/data/components/accordion/AccordionIntroduction.tsx
  docs/data/components/accordion/UnstyledAccordionIntroduction.js
  docs/data/components/accordion/UnstyledAccordionIntroduction.tsx
  docs/data/components/accordion/accordion.mdx
  docs/data/components/accordion/styles.module.css
  docs/data/components/collapsible/CollapsibleIntroduction.js
  docs/data/components/collapsible/CollapsibleIntroduction.tsx
  docs/data/components/collapsible/collapsible.mdx
  docs/data/translations/api-docs/accordion-panel/accordion-panel.json
  docs/data/translations/api-docs/accordion-root/accordion-root.json
  docs/data/translations/api-docs/collapsible-panel/collapsible-panel.json
  docs/reference/generated/accordion-panel.json
  docs/reference/generated/accordion-root.json
  docs/reference/generated/collapsible-panel.json
  docs/reference/generated/collapsible-root.json
  docs/src/app/experiments/accordion-animations.tsx
  docs/src/app/experiments/accordion.tsx
  docs/src/app/experiments/collapsible-accordion.tsx
  docs/src/app/experiments/collapsible-cls.tsx
  docs/src/app/experiments/collapsible-framer.tsx
  docs/src/app/experiments/collapsible-hidden-until-found.tsx
  docs/src/app/experiments/collapsible-transitions.tsx
  docs/src/app/experiments/collapsible.module.css
  docs/src/app/experiments/collapsible.tsx
  docs/src/components/demo/Demo.tsx
  packages/react/src/accordion/header/AccordionHeader.test.tsx
  packages/react/src/accordion/item/AccordionItem.test.tsx
  packages/react/src/accordion/item/AccordionItem.tsx
  packages/react/src/accordion/panel/AccordionPanel.test.tsx
  packages/react/src/accordion/panel/AccordionPanel.tsx
  packages/react/src/accordion/root/AccordionRoot.test.tsx
  packages/react/src/accordion/root/AccordionRoot.tsx
  packages/react/src/accordion/root/AccordionRootContext.ts
  packages/react/src/accordion/root/useAccordionRoot.ts
  packages/react/src/accordion/trigger/AccordionTrigger.test.tsx
  packages/react/src/accordion/trigger/AccordionTrigger.tsx
  packages/react/src/collapsible/panel/CollapsiblePanel.test.tsx
  packages/react/src/collapsible/panel/CollapsiblePanel.tsx
  packages/react/src/collapsible/panel/useCollapsiblePanel.ts
  packages/react/src/collapsible/root/CollapsibleRoot.test.tsx
  packages/react/src/collapsible/root/CollapsibleRoot.tsx
  packages/react/src/collapsible/root/useCollapsibleRoot.ts
  packages/react/src/collapsible/trigger/CollapsibleTrigger.test.tsx
  packages/react/src/collapsible/trigger/CollapsibleTrigger.tsx
  packages/react/src/collapsible/trigger/useCollapsibleTrigger.ts
  packages/react/src/utils/collapsibleOpenStateMapping.ts
Labels: component: collapsible, component: accordion

#763 [Toggle][ToggleGroup] Create `Toggle` and `ToggleGroup`
  docs/data/api/toggle-group-root.json
  docs/data/api/toggle-root.json
  docs/data/components/toggle-group/ToggleGroupIntroduction.js
  docs/data/components/toggle-group/ToggleGroupIntroduction.tsx
  docs/data/components/toggle-group/ToggleGroupToggleMultiple.js
  docs/data/components/toggle-group/ToggleGroupToggleMultiple.tsx
  docs/data/components/toggle-group/styles.module.css
  docs/data/components/toggle-group/toggle-group.mdx
  docs/data/components/toggle/ToggleIntroduction.js
  docs/data/components/toggle/ToggleIntroduction.tsx
  docs/data/components/toggle/ToggleIntroduction.tsx.preview
  docs/data/components/toggle/styles.module.css
  docs/data/components/toggle/toggle.mdx
  docs/data/pages.ts
  docs/data/translations/api-docs/toggle-group-root/toggle-group-root.json
  docs/data/translations/api-docs/toggle-root/toggle-root.json
  docs/reference/generated/toggle-group-root.json
  docs/reference/generated/toggle-root.json
  docs/src/app/experiments/toggle-group.tsx
  docs/src/app/experiments/toggle.module.css
  packages/react/src/composite/root/useCompositeRoot.ts
  packages/react/src/index.ts
  packages/react/src/toggle-group/index.parts.ts
  packages/react/src/toggle-group/index.ts
  packages/react/src/toggle-group/root/ToggleGroupRoot.test.tsx
  packages/react/src/toggle-group/root/ToggleGroupRoot.tsx
  packages/react/src/toggle-group/root/ToggleGroupRootContext.ts
  packages/react/src/toggle-group/root/useToggleGroupRoot.ts
  packages/react/src/toggle/index.parts.ts
  packages/react/src/toggle/index.ts
  packages/react/src/toggle/root/ToggleRoot.test.tsx
  packages/react/src/toggle/root/ToggleRoot.tsx
  packages/react/src/toggle/root/useToggleRoot.ts
Labels: new feature, component: toggle button

#884 [test] Remove the stray test file
  packages/react/src/select/root/tempname/SeparatorRoot.test.tsx
Labels: test

#932 [Input] Rename TextInput to Input
  docs/data/api/input.json
  docs/data/components/field/UnstyledFieldIntroduction/system/index.js
  docs/data/components/field/UnstyledFieldIntroduction/system/index.tsx
  docs/data/components/field/UnstyledFieldPassword.js
  docs/data/components/field/UnstyledFieldPassword.tsx
  docs/data/components/field/UnstyledFieldServerError.js
  docs/data/components/field/UnstyledFieldServerError.tsx
  docs/data/components/form/FormIntroduction/system/index.js
  docs/data/components/form/FormIntroduction/system/index.tsx
  docs/data/components/input/InputIntroduction/system/index.js
  docs/data/components/input/InputIntroduction/system/index.tsx
  docs/data/components/input/InputIntroduction/system/index.tsx.preview
  docs/data/components/input/input.mdx
  docs/data/components/text-input/TextInputIntroduction/system/index.tsx.preview
  docs/data/components/text-input/text-input.mdx
  docs/data/pages.ts
  docs/data/translations/api-docs/input/input.json
  docs/reference/generated/input.json
  docs/src/app/new/(content)/components/input/demos/hero/css-modules/index.module.css
  docs/src/app/new/(content)/components/input/demos/hero/css-modules/index.tsx
  docs/src/app/new/(content)/components/input/demos/hero/index.ts
  docs/src/app/new/(content)/components/input/demos/hero/tailwind/index.tsx
  docs/src/app/new/(content)/components/input/page.mdx
  docs/src/app/new/(content)/components/text-input/demos/hero/css-modules/index.tsx
  docs/src/nav.ts
  packages/react/src/index.ts
  packages/react/src/input/Input.test.tsx
  packages/react/src/input/Input.tsx
  packages/react/src/input/index.ts
  packages/react/src/text-input/index.ts
Labels: component: text input

#945 [core] Fix Twitter link to Base UI
  docs/data/components/preview-card/UnstyledPreviewCardIntroduction/system/index.js
  docs/data/components/preview-card/UnstyledPreviewCardIntroduction/system/index.tsx
  docs/src/app/layout.tsx
Labels: core

#861 [ScrollArea] Fix margin/padding scrollbar calculations
  docs/src/app/experiments/scroll-area.tsx
  packages/react/src/scroll-area/root/ScrollAreaRoot.test.tsx
  packages/react/src/scroll-area/root/useScrollAreaRoot.ts
  packages/react/src/scroll-area/scrollbar/useScrollAreaScrollbar.ts
  packages/react/src/scroll-area/utils/getOffset.ts
  packages/react/src/scroll-area/viewport/useScrollAreaViewport.tsx
Labels: component: scroll area

#874 [infra] Automatically get info for CSS variables
  docs/data/api/dialog-popup.json
  docs/data/translations/api-docs/dialog-popup/dialog-popup.json
  docs/reference/generated/dialog-popup.json
  docs/reference/overrides/dialog-popup.json
  package.json
  packages/react/src/dialog/popup/DialogPopup.tsx
  packages/react/src/dialog/popup/DialogPopupCssVars.ts
  pnpm-lock.yaml
  scripts/buildApiDocs/buildReference.ts
  scripts/buildApiDocs/index.ts
Labels: scope: infra

#944 [Fieldset] Render `div` for `Legend` part
  docs/data/api/fieldset-legend.json
  packages/react/src/fieldset/legend/FieldsetLegend.test.tsx
  packages/react/src/fieldset/legend/FieldsetLegend.tsx
Labels: component: fieldset

#956 [docs] Add CSS vars enums for all components
  docs/data/api/accordion-panel.json
  docs/data/api/collapsible-panel.json
  docs/data/api/menu-positioner.json
  docs/data/api/popover-positioner.json
  docs/data/api/preview-card-positioner.json
  docs/data/api/scroll-area-root.json
  docs/data/api/scroll-area-scrollbar.json
  docs/data/api/select-positioner.json
  docs/data/api/tab-indicator.json
  docs/data/api/tooltip-positioner.json
  docs/data/translations/api-docs/accordion-panel/accordion-panel.json
  docs/data/translations/api-docs/collapsible-panel/collapsible-panel.json
  docs/data/translations/api-docs/menu-positioner/menu-positioner.json
  docs/data/translations/api-docs/popover-positioner/popover-positioner.json
  docs/data/translations/api-docs/preview-card-positioner/preview-card-positioner.json
  docs/data/translations/api-docs/scroll-area-root/scroll-area-root.json
  docs/data/translations/api-docs/scroll-area-scrollbar/scroll-area-scrollbar.json
  docs/data/translations/api-docs/select-positioner/select-positioner.json
  docs/data/translations/api-docs/tab-indicator/tab-indicator.json
  docs/data/translations/api-docs/tooltip-positioner/tooltip-positioner.json
  docs/reference/generated/accordion-panel.json
  docs/reference/generated/collapsible-panel.json
  docs/reference/generated/menu-positioner.json
  docs/reference/generated/popover-positioner.json
  docs/reference/generated/preview-card-positioner.json
  docs/reference/generated/scroll-area-root.json
  docs/reference/generated/scroll-area-scrollbar.json
  docs/reference/generated/select-positioner.json
  docs/reference/generated/tab-indicator.json
  docs/reference/generated/tooltip-positioner.json
  packages/react/src/accordion/panel/AccordionPanel.tsx
  packages/react/src/accordion/panel/AccordionPanelCssVars.ts
  packages/react/src/collapsible/panel/CollapsiblePanel.tsx
  packages/react/src/collapsible/panel/CollapsiblePanelCssVars.ts
  packages/react/src/menu/positioner/MenuPositionerCssVars.ts
  packages/react/src/popover/positioner/PopoverPositionerCssVars.ts
  packages/react/src/preview-card/positioner/PreviewCardPositionerCssVars.ts
  packages/react/src/scroll-area/root/ScrollAreaRootCssVars.ts
  packages/react/src/scroll-area/root/useScrollAreaRoot.ts
  packages/react/src/scroll-area/scrollbar/ScrollAreaScrollbarCssVars.ts
  packages/react/src/scroll-area/scrollbar/useScrollAreaScrollbar.ts
  packages/react/src/scroll-area/thumb/ScrollAreaThumb.tsx
  packages/react/src/select/positioner/SelectPositionerCssVars.ts
  packages/react/src/tabs/tab-indicator/TabIndicatorCssVars.ts
  packages/react/src/tabs/tab-indicator/useTabIndicator.ts
  packages/react/src/tooltip/positioner/TooltipPositionerCssVars.ts
Labels: docs

#957 [core] Remove unused dependency
  docs/package.json
  pnpm-lock.yaml
Labels: core

#967 [Select] Fix vertical text align
  packages/react/src/select/popup/useSelectPopup.ts
Labels: component: select

#943 [Tooltip] `useAfterExitAnimation`
  packages/react/src/dialog/root/useDialogRoot.ts
  packages/react/src/menu/root/useMenuRoot.ts
  packages/react/src/popover/root/usePopoverRoot.ts
  packages/react/src/preview-card/root/usePreviewCardRoot.ts
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/tooltip/root/useTooltipRoot.ts
  packages/react/src/utils/useAfterExitAnimation.tsx
Labels: component: tooltip

#970 [Radio] Use expanded attributes
  docs/data/components/radio-group/UnstyledRadioGroupIntroduction/system/index.js
  docs/data/components/radio-group/UnstyledRadioGroupIntroduction/system/index.tsx
  docs/data/components/radio-group/radio-group.mdx
  packages/react/src/radio-group/root/RadioGroupRoot.test.tsx
  packages/react/src/radio/indicator/RadioIndicator.test.tsx
  packages/react/src/radio/indicator/RadioIndicator.tsx
  packages/react/src/radio/root/RadioRoot.test.tsx
  packages/react/src/radio/root/RadioRoot.tsx
  packages/react/src/radio/utils/customStyleHookMapping.ts
Labels: component: radio

#964 [docs] Fix API info generation for Menu.* and Tabs.* components
  docs/data/api/menu-submenu-trigger.json
  docs/data/api/tabs-tab-indicator.json
  docs/data/api/tabs-tab-panel.json
  docs/data/api/tabs-tab.json
  docs/data/components/menu/menu.mdx
  docs/data/components/tabs/tabs.mdx
  docs/data/translations/api-docs/menu-submenu-trigger/menu-submenu-trigger.json
  docs/data/translations/api-docs/tabs-tab-indicator/tabs-tab-indicator.json
  docs/data/translations/api-docs/tabs-tab-panel/tabs-tab-panel.json
  docs/data/translations/api-docs/tabs-tab/tabs-tab.json
  docs/reference/generated/menu-submenu-trigger.json
  docs/reference/generated/tabs-tab-indicator.json
  docs/reference/generated/tabs-tab-panel.json
  docs/reference/generated/tabs-tab.json
  docs/src/app/new/(content)/components/menu/page.mdx
  packages/react/src/menu/index.parts.ts
  packages/react/src/menu/submenu-trigger/MenuSubmenuTrigger.tsx
  packages/react/src/menu/submenu-trigger/useMenuSubmenuTrigger.ts
  packages/react/src/tabs/index.parts.ts
  packages/react/src/tabs/root/TabsRoot.tsx
  packages/react/src/tabs/root/TabsRootContext.ts
  packages/react/src/tabs/root/useTabsRoot.ts
  packages/react/src/tabs/tab-indicator/TabsTabIndicator.test.tsx
  packages/react/src/tabs/tab-indicator/TabsTabIndicator.tsx
  packages/react/src/tabs/tab-indicator/TabsTabIndicatorCssVars.ts
  packages/react/src/tabs/tab-indicator/useTabsTabIndicator.ts
  packages/react/src/tabs/tab-panel/TabsTabPanel.test.tsx
  packages/react/src/tabs/tab-panel/TabsTabPanel.tsx
  packages/react/src/tabs/tab-panel/useTabsTabPanel.ts
  packages/react/src/tabs/tab/TabsTab.test.tsx
  packages/react/src/tabs/tab/TabsTab.tsx
  packages/react/src/tabs/tab/useTabsTab.ts
  packages/react/src/tabs/tabs-list/TabsList.tsx
Labels: docs

#978 [docs] about page
  docs/src/app/new/(content)/overview/about/page.mdx
Labels: docs

#971 [Select] Remove `focusableWhenDisabled` prop from `Trigger`
  docs/data/api/select-trigger.json
  docs/data/translations/api-docs/select-trigger/select-trigger.json
  docs/reference/generated/select-trigger.json
  packages/react/src/select/trigger/SelectTrigger.tsx
  packages/react/src/select/trigger/useSelectTrigger.ts
Labels: component: select

#973 [Popover] Better handle impatient clicks
  packages/react/src/popover/root/usePopoverRoot.ts
  packages/react/src/popover/trigger/PopoverTrigger.test.tsx
  packages/react/src/popover/utils/constants.ts
Labels: component: popover

#987 [core] Remove `@floating-ui/react-dom` dependency
  packages/react/package.json
  pnpm-lock.yaml
Labels: core

#953 [docs] Work around iOS Safari flicker
  docs/src/components/CodeBlock.css
  docs/src/components/MobileNav.tsx
  docs/src/components/Table.css
  docs/src/styles.css
Labels: docs

#994 [docs] Content 8: Toggle, Toggle Group, Switch demos
  docs/src/app/new/(content)/components/slider/demos/hero/tailwind/index.tsx
  docs/src/app/new/(content)/components/switch/demos/hero/css-modules/index.module.css
  docs/src/app/new/(content)/components/switch/demos/hero/css-modules/index.tsx
  docs/src/app/new/(content)/components/switch/demos/hero/index.ts
  docs/src/app/new/(content)/components/switch/demos/hero/tailwind/index.tsx
  docs/src/app/new/(content)/components/switch/page.mdx
  docs/src/app/new/(content)/components/toggle-group/demos/hero/css-modules/index.module.css
  docs/src/app/new/(content)/components/toggle-group/demos/hero/css-modules/index.tsx
  docs/src/app/new/(content)/components/toggle-group/demos/hero/index.ts
  docs/src/app/new/(content)/components/toggle-group/demos/hero/tailwind/index.tsx
  docs/src/app/new/(content)/components/toggle-group/page.mdx
  docs/src/app/new/(content)/components/toggle/demos/hero/css-modules/index.module.css
  docs/src/app/new/(content)/components/toggle/demos/hero/css-modules/index.tsx
  docs/src/app/new/(content)/components/toggle/demos/hero/index.ts
  docs/src/app/new/(content)/components/toggle/demos/hero/tailwind/index.tsx
  docs/src/app/new/(content)/components/toggle/page.mdx
  docs/src/app/new/(content)/components/tooltip/demos/hero/css-modules/index.module.css
  docs/src/app/new/(content)/components/tooltip/demos/hero/css-modules/index.tsx
  docs/src/app/new/(content)/components/tooltip/demos/hero/tailwind/index.tsx
  docs/src/nav.ts
Labels: docs

#870 [core] Explicitly define exported subpaths
  .circleci/config.yml
  .eslintignore
  .eslintrc.js
  babel.config.js
  docs/data/api/no-ssr.json
  docs/data/components/no-ssr/FrameDeferring.js
  docs/data/components/no-ssr/FrameDeferring.tsx
  docs/data/components/no-ssr/SimpleNoSsr.js
  docs/data/components/no-ssr/SimpleNoSsr.tsx
  docs/src/app/experiments/slider-marks.tsx
  docs/src/app/experiments/slider-tooltip.tsx
  docs/src/blocks/GoogleAnalytics.tsx
  docs/src/components/SideNav.tsx
  docs/src/components/reference/ReferenceTablePopover.tsx
  package.json
  packages/react/package.json
  packages/react/scripts/createPackageManifest.mts
  packages/react/src/scroll-area/index.ts
  packages/react/src/unstable-no-ssr/NoSsr.test.tsx
  packages/react/src/unstable-no-ssr/NoSsr.tsx
  packages/react/src/unstable-no-ssr/NoSsr.types.ts
  packages/react/src/unstable-no-ssr/index.ts
  packages/react/src/unstable-use-media-query/index.ts
  packages/react/src/use-button/useButton.test.tsx
  pnpm-lock.yaml
  scripts/copyFiles.mjs
  scripts/copyFilesUtils.mjs
  test/e2e/webpack.config.js
  test/regressions/webpack.config.js
  webpackBaseConfig.js
Labels: core

#996 Content 9: Tabs, Direction Provider, MDX processing tweaks
  docs/src/app/new/(content)/components/radio/demos/hero/css-modules/index.module.css
  docs/src/app/new/(content)/components/radio/demos/hero/tailwind/index.tsx
  docs/src/app/new/(content)/components/tabs/demos/hero/css-modules/index.module.css
  docs/src/app/new/(content)/components/tabs/demos/hero/css-modules/index.tsx
  docs/src/app/new/(content)/components/tabs/demos/hero/index.ts
  docs/src/app/new/(content)/components/tabs/demos/hero/tailwind/index.tsx
  docs/src/app/new/(content)/components/tabs/page.mdx
  docs/src/app/new/(content)/utilities/direction-provider/demos/hero/css-modules/index.module.css
  docs/src/app/new/(content)/utilities/direction-provider/demos/hero/css-modules/index.tsx
  docs/src/app/new/(content)/utilities/direction-provider/demos/hero/index.ts
  docs/src/app/new/(content)/utilities/direction-provider/demos/hero/tailwind/index.tsx
  docs/src/app/new/(content)/utilities/direction-provider/page.mdx
  docs/src/mdx-components.tsx
  docs/src/nav.ts
  docs/src/syntax-highlighting/index.mjs
  docs/src/syntax-highlighting/rehypeJsxExpressions.mjs
  docs/src/syntax-highlighting/rehypePrettierIgnore.mjs
Labels: docs

#1013 [popups] Add `data-closed` style hook
  packages/react/src/utils/popupStateMapping.ts
Labels: core

#1014 [Select] Rename `Select.Option` to `Select.Item`
  docs/data/api/select-item-indicator.json
  docs/data/api/select-item-text.json
  docs/data/api/select-item.json
  docs/data/api/submenu-trigger.json
  docs/data/api/tab-indicator.json
  docs/data/api/tab-panel.json
  docs/data/api/tab.json
  docs/data/components/select/SelectAlign.js
  docs/data/components/select/SelectAlign.tsx
  docs/data/components/select/SelectEmpty.js
  docs/data/components/select/SelectEmpty.tsx
  docs/data/components/select/SelectGroup.js
  docs/data/components/select/SelectGroup.tsx
  docs/data/components/select/SelectIntroduction/system/index.js
  docs/data/components/select/SelectIntroduction/system/index.tsx
  docs/data/components/select/select.mdx
  docs/data/translations/api-docs/select-item-indicator/select-item-indicator.json
  docs/data/translations/api-docs/select-item-text/select-item-text.json
  docs/data/translations/api-docs/select-item/select-item.json
  docs/reference/generated/select-item-indicator.json
  docs/reference/generated/select-item-text.json
  docs/reference/generated/select-item.json
  docs/src/app/(private)/experiments/select-perf.tsx
  docs/src/app/(public)/(content)/react/components/select/demos/hero/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/select/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/select/page.mdx
  docs/src/components/Select.css
  docs/src/components/Select.tsx
  docs/src/components/demo/DemoVariantSelector.tsx
  packages/react/src/field/root/FieldRoot.test.tsx
  packages/react/src/select/group-label/SelectGroupLabel.tsx
  packages/react/src/select/group/SelectGroup.test.tsx
  packages/react/src/select/group/SelectGroup.tsx
  packages/react/src/select/index.parts.ts
  packages/react/src/select/item-indicator/SelectItemIndicator.test.tsx
  packages/react/src/select/item-indicator/SelectItemIndicator.tsx
  packages/react/src/select/item-text/SelectItemText.test.tsx
  packages/react/src/select/item-text/SelectItemText.tsx
  packages/react/src/select/item/SelectItem.test.tsx
  packages/react/src/select/item/SelectItem.tsx
  packages/react/src/select/item/SelectItemContext.ts
  packages/react/src/select/item/useSelectItem.ts
  packages/react/src/select/option/SelectOptionContext.ts
  packages/react/src/select/root/SelectRoot.test.tsx
Labels: component: select

#1016 [Select] Handle additional option -> item changes
  docs/data/api/select-root.json
  docs/data/components/select/SelectAlign.js
  docs/data/components/select/SelectAlign.tsx
  docs/data/components/select/SelectAlign.tsx.preview
  docs/data/components/select/select.mdx
  docs/data/translations/api-docs/select-item/select-item.json
  docs/data/translations/api-docs/select-root/select-root.json
  docs/reference/generated/select-item.json
  docs/reference/generated/select-root.json
  docs/src/app/(private)/experiments/select-perf.tsx
  docs/src/app/(public)/(content)/react/components/select/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/select/demos/hero/css-modules/index.tsx
  packages/react/src/select/arrow/SelectArrow.test.tsx
  packages/react/src/select/arrow/SelectArrow.tsx
  packages/react/src/select/group/SelectGroup.test.tsx
  packages/react/src/select/item-indicator/SelectItemIndicator.tsx
  packages/react/src/select/item-text/SelectItemText.tsx
  packages/react/src/select/item/SelectItem.test.tsx
  packages/react/src/select/item/SelectItem.tsx
  packages/react/src/select/item/useSelectItem.ts
  packages/react/src/select/popup/SelectPopup.tsx
  packages/react/src/select/popup/useSelectPopup.ts
  packages/react/src/select/positioner/useSelectPositioner.ts
  packages/react/src/select/root/SelectRoot.test.tsx
  packages/react/src/select/root/SelectRoot.tsx
  packages/react/src/select/root/SelectRootContext.ts
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/select/scroll-arrow/SelectScrollArrow.tsx
  packages/react/src/select/trigger/useSelectTrigger.ts
Labels: component: select

#936 [Checkbox] Default `Indicator` to `keepMounted=false`
  docs/data/api/checkbox-indicator.json
  docs/data/translations/api-docs/checkbox-indicator/checkbox-indicator.json
  docs/reference/generated/checkbox-indicator.json
  packages/react/src/accordion/item/styleHooks.ts
  packages/react/src/alert-dialog/backdrop/AlertDialogBackdrop.tsx
  packages/react/src/alert-dialog/popup/AlertDialogPopup.tsx
  packages/react/src/checkbox/indicator/CheckboxIndicator.test.tsx
  packages/react/src/checkbox/indicator/CheckboxIndicator.tsx
  packages/react/src/checkbox/root/CheckboxRoot.test.tsx
  packages/react/src/collapsible/root/styleHooks.ts
  packages/react/src/dialog/backdrop/DialogBackdrop.tsx
  packages/react/src/dialog/popup/DialogPopup.tsx
  packages/react/src/menu/backdrop/MenuBackdrop.tsx
  packages/react/src/menu/popup/MenuPopup.tsx
  packages/react/src/menu/root/useMenuRoot.ts
  packages/react/src/popover/backdrop/PopoverBackdrop.tsx
  packages/react/src/popover/popup/PopoverPopup.tsx
  packages/react/src/preview-card/backdrop/PreviewCardBackdrop.tsx
  packages/react/src/preview-card/popup/PreviewCardPopup.tsx
  packages/react/src/select/backdrop/SelectBackdrop.tsx
  packages/react/src/select/popup/SelectPopup.tsx
  packages/react/src/tooltip/popup/TooltipPopup.tsx
  packages/react/src/utils/styleHookMapping.ts
  packages/react/src/utils/useTransitionStatus.ts
Labels: component: checkbox

#974 [popups] Use `data-uncentered` attribute for arrows
  docs/data/api/menu-arrow.json
  docs/data/api/popover-arrow.json
  docs/data/api/preview-card-arrow.json
  docs/data/api/select-arrow.json
  docs/data/api/tooltip-arrow.json
  docs/data/translations/api-docs/menu-arrow/menu-arrow.json
  docs/data/translations/api-docs/popover-arrow/popover-arrow.json
  docs/data/translations/api-docs/preview-card-arrow/preview-card-arrow.json
  docs/data/translations/api-docs/select-arrow/select-arrow.json
  docs/data/translations/api-docs/tooltip-arrow/tooltip-arrow.json
  docs/reference/generated/menu-arrow.json
  docs/reference/generated/popover-arrow.json
  docs/reference/generated/preview-card-arrow.json
  docs/reference/generated/select-arrow.json
  docs/reference/generated/tooltip-arrow.json
  packages/react/src/menu/arrow/MenuArrow.tsx
  packages/react/src/menu/arrow/useMenuArrow.ts
  packages/react/src/popover/arrow/PopoverArrow.tsx
  packages/react/src/popover/arrow/usePopoverArrow.ts
  packages/react/src/preview-card/arrow/PreviewCardArrow.tsx
  packages/react/src/preview-card/arrow/usePreviewCardArrow.ts
  packages/react/src/select/arrow/SelectArrow.tsx
  packages/react/src/tooltip/arrow/TooltipArrow.tsx
  packages/react/src/tooltip/arrow/useTooltipArrow.ts
Labels: component: select, component: menu, component: tooltip, component: popover, component: preview card

#950 [Positioner] Support logical values for `side` prop
  docs/data/api/menu-positioner.json
  docs/data/api/popover-positioner.json
  docs/data/api/preview-card-positioner.json
  docs/data/api/select-positioner.json
  docs/data/api/tooltip-positioner.json
  docs/data/components/menu/menu.mdx
  docs/data/components/popover/popover.mdx
  docs/data/components/preview-card/preview-card.mdx
  docs/data/components/tooltip/tooltip.mdx
  docs/reference/generated/menu-positioner.json
  docs/reference/generated/popover-positioner.json
  docs/reference/generated/preview-card-positioner.json
  docs/reference/generated/select-positioner.json
  docs/reference/generated/tooltip-positioner.json
  docs/src/app/(private)/experiments/anchor-positioning.tsx
  docs/src/app/(private)/experiments/menu-rtl.tsx
  docs/src/app/(private)/experiments/menu.module.css
  docs/src/app/(private)/experiments/rtl.module.css
  docs/src/app/(private)/experiments/rtl.tsx
  packages/react/src/menu/popup/MenuPopup.tsx
  packages/react/src/menu/positioner/MenuPositioner.tsx
  packages/react/src/menu/positioner/MenuPositionerContext.ts
  packages/react/src/menu/positioner/useMenuPositioner.ts
  packages/react/src/popover/positioner/PopoverPositioner.tsx
  packages/react/src/popover/positioner/usePopoverPositioner.tsx
  packages/react/src/preview-card/positioner/PreviewCardPositioner.tsx
  packages/react/src/preview-card/positioner/usePreviewCardPositioner.ts
  packages/react/src/select/popup/SelectPopup.tsx
  packages/react/src/select/positioner/SelectPositioner.tsx
  packages/react/src/select/positioner/useSelectPositioner.ts
  packages/react/src/tooltip/positioner/TooltipPositioner.tsx
  packages/react/src/tooltip/positioner/useTooltipPositioner.ts
  packages/react/src/utils/useAnchorPositioning.ts
Labels: component: select, component: menu, component: tooltip, component: popover, component: preview card

#1021 [docs] Fix unexpected red text
  docs/src/styles.css
Labels: docs

#1020 [docs]: Homepage, 404, icons cleanup
  docs/src/app/(public)/(content)/layout.css
  docs/src/app/(public)/(content)/layout.tsx
  docs/src/app/(public)/(content)/react/overview/about/page.mdx
  docs/src/app/(public)/(content)/react/utils/direction-provider/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/utils/direction-provider/demos/hero/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/utils/direction-provider/demos/hero/index.ts
  docs/src/app/(public)/(content)/react/utils/direction-provider/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/utils/direction-provider/page.mdx
  docs/src/app/(public)/layout.css
  docs/src/app/(public)/layout.tsx
  docs/src/app/(public)/page.css
  docs/src/app/(public)/page.tsx
  docs/src/app/not-found.css
  docs/src/app/not-found.tsx
  docs/src/components/CodeBlock.tsx
  docs/src/components/Header.css
  docs/src/components/Header.tsx
  docs/src/components/Logo.tsx
  docs/src/components/Select.tsx
  docs/src/components/demo/CodeSandboxLink.tsx
  docs/src/components/demo/Demo.tsx
  docs/src/components/icons/ArrowRightIcon.tsx
  docs/src/components/icons/CheckIcon.tsx
  docs/src/components/icons/ChevronDownIcon.tsx
  docs/src/components/icons/CopyIcon.tsx
  docs/src/components/icons/ExternalLinkIcon.tsx
  docs/src/components/icons/GitHub.tsx
  docs/src/components/icons/Npm.tsx
  docs/src/components/icons/ThickCheckIcon.tsx
  docs/src/icons/Codesandbox.tsx
  docs/src/icons/Reset.tsx
  docs/src/icons/ResetFocus.tsx
  docs/src/icons/Select.tsx
  docs/src/icons/Settings.tsx
  docs/src/icons/StackBlitz.tsx
  docs/src/nav.ts
  docs/src/styles.css
Labels: docs

#1026 [docs] Share image and branding details cleanup
  .codesandbox/template/README.md
  .codesandbox/template/src/App.tsx
  docs/public/static/apple-touch-icon.png
  docs/public/static/favicon.svg
  docs/public/static/logo.svg
  docs/public/static/readme/browserstack-darkmode.svg
  docs/public/static/readme/browserstack-lightmode.svg
  docs/public/static/readme/crowdin-darkmode.svg
  docs/public/static/readme/crowdin-lightmode.svg
  docs/public/static/readme/github-darkmode.svg
  docs/public/static/readme/github-lightmode.svg
  docs/public/static/readme/netlify-darkmode.svg
  docs/public/static/readme/netlify-lightmode.svg
  docs/public/static/sponsors/doit-dark.svg
  docs/public/static/sponsors/doit-light.svg
  docs/public/static/sponsors/doit-square.svg
  docs/public/static/sponsors/marblism-dark.png
  docs/public/static/sponsors/marblism-dark.svg
  docs/public/static/sponsors/marblism-light.svg
  docs/public/static/sponsors/marblism-rectangular.svg
  docs/public/static/sponsors/marblism-square.png
  docs/public/static/sponsors/marblism-square.svg
  docs/public/static/sponsors/megafamous.png
  docs/public/static/sponsors/octopus-dark.svg
  docs/public/static/sponsors/octopus-light.svg
  docs/public/static/sponsors/octopus-square.svg
  docs/public/static/sponsors/tidelift.svg
  docs/src/app/(public)/opengraph-image.png
  packages/react/README.md
  packages/react/package.json
Labels: docs

#1028 [Collapsible] Fix trigger `aria-controls` referencing nonexistent `id`
  packages/react/src/collapsible/panel/CollapsiblePanel.test.tsx
  packages/react/src/collapsible/panel/useCollapsiblePanel.ts
  packages/react/src/collapsible/root/CollapsibleRoot.test.tsx
Labels: bug 🐛, component: collapsible

#985 Bug report template
  .github/ISSUE_TEMPLATE/1.bug.md
  .github/ISSUE_TEMPLATE/1.bug.yml
Labels: dx

#1034 Update GH templates and clean up readme
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/1.bug.md
  .github/ISSUE_TEMPLATE/2.feature-request.md
  .github/ISSUE_TEMPLATE/2.feature.yml
  .github/ISSUE_TEMPLATE/3.get-help.md
  .github/ISSUE_TEMPLATE/3.rfc.yml
  .github/ISSUE_TEMPLATE/4.docs-feedback.md
  .github/ISSUE_TEMPLATE/4.docs-feedback.yml
  .github/ISSUE_TEMPLATE/5.priority-support.yml
  README.md
  SECURITY.md
Labels: docs

#1037 [docs] Add focus styles to the tabs demo
  docs/src/app/(public)/(content)/react/components/tabs/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/tabs/demos/hero/tailwind/index.tsx
Labels: docs

#988 [useAfterExitAnimation] `flushSync` the `onFinished` call
  packages/react/src/collapsible/panel/useCollapsiblePanel.ts
  packages/react/src/dialog/root/DialogRoot.test.tsx
  packages/react/src/menu/root/MenuRoot.test.tsx
  packages/react/src/popover/root/PopoverRoot.test.tsx
  packages/react/src/preview-card/root/PreviewCardRoot.test.tsx
  packages/react/src/select/root/SelectRoot.test.tsx
  packages/react/src/utils/useAnimationsFinished.ts
Labels: core

#992 [Menu, Popover, PreviewCard, Select, Tooltip] Force `transition: none` while in `starting-style` status
  docs/src/app/(private)/experiments/anchor-side-animations.module.css
  docs/src/app/(private)/experiments/anchor-side-animations.tsx
  docs/src/app/(private)/experiments/tooltip.tsx
  packages/react/src/menu/popup/MenuPopup.tsx
  packages/react/src/popover/popup/PopoverPopup.tsx
  packages/react/src/preview-card/popup/PreviewCardPopup.tsx
  packages/react/src/select/popup/SelectPopup.tsx
  packages/react/src/tooltip/popup/TooltipPopup.tsx
Labels: component: select, component: menu, component: tooltip, component: popover, component: preview card

#1017 [Slider] API Tweaks
  docs/data/components/slider/RtlSlider.js
  docs/data/components/slider/RtlSlider.tsx
  docs/data/components/slider/UnstyledSliderIntroduction/tailwind/index.tsx
  docs/data/components/slider/styles.module.css
  docs/data/components/slider/vertical.module.css
  docs/data/getting-started/accessibility/FocusRing.js
  docs/data/getting-started/accessibility/FocusRing.tsx
  docs/src/app/(public)/(content)/react/utils/direction-provider/demos/hero/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/utils/direction-provider/demos/hero/tailwind/index.tsx
  packages/react/src/slider/control/SliderControl.test.tsx
  packages/react/src/slider/control/SliderControl.tsx
  packages/react/src/slider/control/useSliderControl.ts
  packages/react/src/slider/indicator/SliderIndicator.test.tsx
  packages/react/src/slider/indicator/SliderIndicator.tsx
  packages/react/src/slider/indicator/useSliderIndicator.ts
  packages/react/src/slider/output/SliderOutput.test.tsx
  packages/react/src/slider/root/SliderRoot.test.tsx
  packages/react/src/slider/root/SliderRoot.tsx
  packages/react/src/slider/root/useSliderRoot.ts
  packages/react/src/slider/thumb/SliderThumb.test.tsx
  packages/react/src/slider/thumb/SliderThumb.tsx
  packages/react/src/slider/thumb/useSliderThumb.ts
  packages/react/src/slider/track/SliderTrack.test.tsx
  packages/react/src/slider/track/SliderTrack.tsx
Labels: component: slider

#1022 [infra] Add support for automatic generation of data-attributes API
  docs/reference/generated/collapsible-trigger.json
  docs/reference/generated/dialog-backdrop.json
  docs/reference/generated/dialog-popup.json
  docs/reference/generated/dialog-trigger.json
  docs/reference/overrides/dialog-backdrop.json
  docs/reference/overrides/dialog-popup.json
  docs/reference/overrides/dialog-trigger.json
  docs/src/components/reference/rehypeReference.mjs
  docs/src/components/reference/types.ts
  package.json
  packages/react/src/collapsible/trigger/CollapsibleTriggerDataAttributes.ts
  pnpm-lock.yaml
  scripts/buildApiDocs/buildReference.ts
Labels: scope: docs-infra

#1040 [Menu] Move `FocusManager` to `Popup`
  packages/react/src/menu/checkbox-item/MenuCheckboxItem.test.tsx
  packages/react/src/menu/item/MenuItem.test.tsx
  packages/react/src/menu/popup/MenuPopup.test.tsx
  packages/react/src/menu/popup/MenuPopup.tsx
  packages/react/src/menu/positioner/MenuPositioner.test.tsx
  packages/react/src/menu/positioner/MenuPositioner.tsx
  packages/react/src/menu/positioner/MenuPositionerContext.ts
  packages/react/src/menu/radio-item/MenuRadioItem.test.tsx
  packages/react/src/menu/root/MenuRoot.test.tsx
  packages/react/src/menu/root/useMenuRoot.ts
  packages/react/src/menu/trigger/MenuTrigger.test.tsx
Labels: component: menu

#1023 [ScrollArea] Remove `gutter` prop
  docs/data/components/scroll-area/ScrollAreaInset.js
  docs/data/components/scroll-area/ScrollAreaInset.tsx
  docs/data/components/scroll-area/scroll-area.mdx
  docs/reference/generated/scroll-area-root.json
  docs/src/app/(private)/experiments/scroll-area-inset.module.css
  docs/src/app/(private)/experiments/scroll-area-inset.tsx
  packages/react/src/scroll-area/root/ScrollAreaRoot.test.tsx
  packages/react/src/scroll-area/root/ScrollAreaRoot.tsx
  packages/react/src/scroll-area/root/ScrollAreaRootContext.ts
  packages/react/src/scroll-area/root/useScrollAreaRoot.ts
  packages/react/src/scroll-area/viewport/useScrollAreaViewport.tsx
Labels: component: scroll area

#972 [Select] Retain highlight while transitioning out
  packages/react/src/select/item/SelectItem.test.tsx
  packages/react/src/select/item/useSelectItem.ts
  packages/react/src/select/root/useSelectRoot.ts
Labels: component: select

#1044 [Collapsible] Update `data-closed` attr
  packages/react/src/accordion/header/AccordionHeader.test.tsx
  packages/react/src/accordion/panel/AccordionPanel.test.tsx
  packages/react/src/accordion/trigger/AccordionTrigger.test.tsx
  packages/react/src/collapsible/panel/CollapsiblePanel.test.tsx
  packages/react/src/collapsible/root/CollapsibleRoot.tsx
  packages/react/src/collapsible/trigger/CollapsibleTrigger.test.tsx
  packages/react/src/utils/collapsibleOpenStateMapping.ts
Labels: component: collapsible

#1030 [core] Run argos tests on new docs
  test/regressions/index.js
  test/regressions/tailwind.css
  test/regressions/template.html
  test/regressions/webpack.config.js
Labels: core

#1041 [core] Exclude `undefined` className from render fn props
  packages/react/src/utils/useComponentRenderer.test.tsx
  packages/react/src/utils/useComponentRenderer.ts
Labels: core, bug 🐛

#1054 [docs] Remove position property from Slider demos
  docs/src/app/(public)/(content)/react/components/slider/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/slider/demos/hero/tailwind/index.tsx
Labels: component: slider, docs

#1057 [docs] Revert unintended demo changes
  docs/src/app/(public)/(content)/react/components/accordion/demos/hero/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/checkbox/demos/hero/css-modules/index.tsx
Labels: docs

#1056 [docs] Remove space from part names but preserve anchor urls
  docs/src/components/reference/rehypeReference.mjs
Labels: docs

#1027 [Tabs] Do not display the indicator before layout is settled
  packages/react/src/tabs/indicator/prehydrationScript.min.ts
  packages/react/src/tabs/indicator/prehydrationScript.template.js
  packages/react/src/tabs/indicator/useTabsIndicator.ts
Labels: component: tabs, bug 🐛

#1060 [docs] Various fixes and cleanup
  docs/src/app/(public)/(content)/react/components/switch/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/switch/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/layout.css
  docs/src/components/Header.css
  docs/src/components/Select.tsx
  docs/src/components/SideNav.tsx
  docs/src/components/demo/Demo.css
  docs/src/components/demo/DemoSourceBrowser.tsx
Labels: docs

#1062 [docs-infra] Tweak `buildReference` script
  docs/reference/generated/menu-checkbox-item.json
  docs/reference/generated/menu-radio-item.json
  docs/reference/generated/radio-root.json
  docs/reference/generated/select-root.json
  docs/reference/generated/select-value.json
  docs/reference/generated/slider-value.json
  docs/reference/overrides/menu-checkbox-item.json
  docs/reference/overrides/select-root.json
  docs/reference/overrides/select-value.json
  docs/reference/overrides/slider-value.json
  scripts/buildApiDocs/buildReference.ts
Labels: scope: docs-infra

#1047 [core] Simplify isReactVersionAtLeast()
  packages/react/src/utils/reactVersion.ts
Labels: core

#1077 [visuallyHidden] Set top left position
  packages/react/src/utils/visuallyHidden.ts
Labels: core

#1069 [docs] API reference fixes/improvements
  docs/src/app/(public)/(content)/react/components/accordion/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/accordion/demos/hero/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/accordion/demos/hero/tailwind/index.tsx
  docs/src/components/Popup.css
  docs/src/components/Select.tsx
  docs/src/components/Table.css
  docs/src/components/TableCode.tsx
  docs/src/components/demo/DemoVariantSelector.tsx
  docs/src/components/reference/AttributesTable.tsx
  docs/src/components/reference/CssVariablesTable.tsx
  docs/src/components/reference/PropsTable.tsx
  docs/src/components/reference/rehypeReference.mjs
  docs/src/syntax-highlighting/index.css
  docs/src/syntax-highlighting/rehypeInlineCode.mjs
Labels: docs

#1049 [Menu] Use internal Composite component
  packages/react/src/menu/checkbox-item/MenuCheckboxItem.tsx
  packages/react/src/menu/item/MenuItem.tsx
  packages/react/src/menu/positioner/MenuPositioner.tsx
  packages/react/src/menu/radio-item/MenuRadioItem.tsx
  packages/react/src/menu/submenu-trigger/MenuSubmenuTrigger.tsx
Labels: component: menu

#1071 [docs] Generate external links from mdx
  docs/src/app/not-found.tsx
  docs/src/components/Link.tsx
Labels: docs

#1081 [Menu] Default to `inline-end` side and `start` align for submenus
  docs/reference/generated/menu-positioner.json
  packages/react/src/menu/positioner/MenuPositioner.tsx
  packages/react/src/menu/positioner/useMenuPositioner.ts
Labels: component: menu

#1086 [docs] Expose data attrs descriptions and improve table code formatter
  docs/src/components/TableCode.tsx
  docs/src/components/reference/AttributesTable.tsx
  docs/src/components/reference/CssVariablesTable.tsx
  docs/src/components/reference/PropsTable.tsx
  docs/src/mdx-components.tsx
Labels: docs

#1085 [Radio][Toggle] Set both `disabled` and `data-disabled`
  packages/react/src/radio-group/RadioGroup.test.tsx
  packages/react/src/radio/root/useRadioRoot.tsx
  packages/react/src/toggle-group/ToggleGroup.test.tsx
  packages/react/src/toggle/Toggle.test.tsx
  packages/react/src/toggle/Toggle.tsx
Labels: component: toggle button, component: radio

#1089 [docs-infra] Fix `--grep` option when building docs
  package.json
  scripts/buildApiDocs/buildReference.ts
  scripts/buildApiDocs/index.ts
Labels: bug 🐛, scope: docs-infra

#1048 [CheckboxGroup] Propagate disabled state to checkboxes
  packages/react/src/checkbox-group/CheckboxGroup.test.tsx
  packages/react/src/checkbox-group/CheckboxGroup.tsx
  packages/react/src/checkbox-group/CheckboxGroupContext.ts
  packages/react/src/checkbox/root/CheckboxRoot.tsx
Labels: checkbox group

#1058 [NumberField] Check for Field disabled state
  packages/react/src/field/root/FieldRoot.test.tsx
  packages/react/src/number-field/root/useNumberFieldRoot.ts
Labels: component: number field

#1080 [NumberField] Commit value upon increment/decrement
  packages/react/src/number-field/decrement/NumberFieldDecrement.test.tsx
  packages/react/src/number-field/increment/NumberFieldIncrement.test.tsx
  packages/react/src/number-field/root/useNumberFieldRoot.ts
Labels: component: number field

#986 [useAnchorPositioning] Fix `transform-origin` calculation
  docs/src/app/(private)/experiments/popup-transform-origin.module.css
  docs/src/app/(private)/experiments/popup-transform-origin.tsx
  packages/react/src/utils/useAnchorPositioning.ts
Labels: core

#1094 [Menu, Select] Do not ignore the Trigger's `label` prop
  docs/reference/generated/menu-trigger.json
  docs/reference/generated/select-trigger.json
  packages/react/src/menu/trigger/MenuTrigger.tsx
  packages/react/src/select/trigger/SelectTrigger.tsx
Labels: component: select, component: menu

#1052 [Checkbox, Select, Switch] Point `id` to control element
  packages/react/src/checkbox/root/useCheckboxRoot.ts
  packages/react/src/field/label/FieldLabel.test.tsx
  packages/react/src/field/label/FieldLabel.tsx
  packages/react/src/field/label/useFieldLabel.ts
  packages/react/src/radio-group/useRadioGroup.ts
  packages/react/src/select/root/SelectRoot.tsx
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/select/trigger/useSelectTrigger.ts
  packages/react/src/switch/root/useSwitchRoot.ts
Labels: component: select, component: switch, component: checkbox

#977 [Dialog] Modality changes
  docs/reference/generated/alert-dialog-root.json
  docs/reference/generated/dialog-root.json
  docs/reference/overrides/alert-dialog-root.json
  docs/reference/overrides/dialog-root.json
  packages/react/src/alert-dialog/close/AlertDialogClose.tsx
  packages/react/src/alert-dialog/popup/AlertDialogPopup.tsx
  packages/react/src/alert-dialog/root/AlertDialogRoot.test.tsx
  packages/react/src/dialog/close/DialogClose.tsx
  packages/react/src/dialog/close/useDialogClose.ts
  packages/react/src/dialog/popup/DialogPopup.tsx
  packages/react/src/dialog/popup/useDialogPopup.tsx
  packages/react/src/dialog/root/DialogRoot.test.tsx
  packages/react/src/dialog/root/useDialogRoot.ts
Labels: component: alert dialog, component: dialog

#1091 [docs] Reshuffle font sizes
  docs/src/app/(public)/(content)/react/components/accordion/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/accordion/demos/hero/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/accordion/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/collapsible/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/field/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/fieldset/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/form/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/menu/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/number-field/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/preview-card/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/scroll-area/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/scroll-area/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/select/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/separator/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/tabs/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/tabs/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/tooltip/demos/hero/css-modules/index.module.css
  docs/src/components/CodeBlock.css
  docs/src/components/Header.css
  docs/src/components/Header.tsx
  docs/src/components/Link.tsx
  docs/src/components/Select.css
  docs/src/components/SideNav.css
  docs/src/components/Table.css
  docs/src/components/TableCode.tsx
  docs/src/components/quick-nav/QuickNav.css
  docs/src/components/reference/AttributesTable.tsx
  docs/src/components/reference/CssVariablesTable.tsx
  docs/src/components/reference/PropsTable.tsx
  docs/src/components/reference/ReferenceTablePopover.tsx
  docs/src/mdx-components.tsx
  docs/src/styles.css
Labels: docs

#1101 [docs] Remove or replace mui.com links
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/priority-support-validation-prompt.yml
  .github/workflows/support-stackoverflow.yml
Labels: docs

#1103 [docs] Use the root package.json version
  docs/src/components/Header.tsx
Labels: docs

#1104 [docs] Data attributes typos
  docs/reference/generated/checkbox-root.json
  docs/reference/generated/collapsible-panel.json
  docs/reference/generated/menu-arrow.json
  docs/reference/generated/menu-checkbox-item.json
  docs/reference/generated/number-field-decrement.json
  docs/reference/generated/number-field-group.json
  docs/reference/generated/number-field-increment.json
  docs/reference/generated/number-field-input.json
  docs/reference/generated/number-field-root.json
  docs/reference/generated/number-field-scrub-area-cursor.json
  docs/reference/generated/number-field-scrub-area.json
  docs/reference/generated/popover-arrow.json
  docs/reference/generated/preview-card-arrow.json
  docs/reference/generated/radio-indicator.json
  docs/reference/generated/radio-root.json
  docs/reference/generated/select-arrow.json
  docs/reference/generated/select-trigger.json
  docs/reference/generated/slider-control.json
  docs/reference/generated/slider-indicator.json
  docs/reference/generated/slider-root.json
  docs/reference/generated/slider-thumb.json
  docs/reference/generated/slider-track.json
  docs/reference/generated/slider-value.json
  docs/reference/generated/switch-root.json
  docs/reference/generated/switch-thumb.json
  packages/react/src/checkbox/root/CheckboxRootDataAttributes.ts
  packages/react/src/collapsible/panel/CollapsiblePanelDataAttributes.ts
  packages/react/src/menu/arrow/MenuArrowDataAttributes.ts
  packages/react/src/menu/checkbox-item/MenuCheckboxItemDataAttributes.ts
  packages/react/src/number-field/decrement/NumberFieldDecrementDataAttributes.ts
  packages/react/src/number-field/group/NumberFieldGroupDataAttributes.ts
  packages/react/src/number-field/increment/NumberFieldIncrementDataAttributes.ts
  packages/react/src/number-field/input/NumberFieldInputDataAttributes.ts
  packages/react/src/number-field/root/NumberFieldRootDataAttributes.ts
  packages/react/src/number-field/scrub-area-cursor/NumberFieldScrubAreaCursorDataAttributes.ts
  packages/react/src/number-field/scrub-area/NumberFieldScrubAreaDataAttributes.ts
  packages/react/src/popover/arrow/PopoverArrowDataAttributes.ts
  packages/react/src/preview-card/arrow/PreviewCardArrowDataAttributes.ts
  packages/react/src/radio/indicator/RadioIndicatorDataAttributes.ts
  packages/react/src/radio/root/RadioRootDataAttributes.ts
  packages/react/src/select/arrow/SelectArrowDataAttributes.ts
  packages/react/src/select/trigger/SelectTriggerDataAttributes.ts
  packages/react/src/slider/control/SliderControlDataAttributes.ts
  packages/react/src/slider/indicator/SliderIndicatorDataAttributes.ts
  packages/react/src/slider/root/SliderRootDataAttributes.ts
  packages/react/src/slider/thumb/SliderThumbDataAttributes.ts
  packages/react/src/slider/track/SliderTrackDataAttributes.ts
  packages/react/src/slider/value/SliderValueDataAttributes.ts
  packages/react/src/switch/root/SwitchRootDataAttributes.ts
  packages/react/src/switch/thumb/SwitchThumbDataAttributes.ts
Labels: docs

#1097 [docs] Account for the scroll lock in quick nav
  docs/src/components/quick-nav/QuickNav.tsx
Labels: docs

#1095 [use-scroll-lock] Fix scroll lock with scroll-behavior: smooth
  packages/react/src/utils/useScrollLock.ts
Labels: component: modal

#1096 [docs] Viewport tweaks
  docs/src/app/(public)/(content)/layout.tsx
  docs/src/app/(public)/layout.tsx
  docs/src/app/(public)/page.tsx
  docs/src/app/layout.tsx
  docs/src/styles.css
Labels: docs

#1105 [docs] Fix arrow and positioner data attribute
  docs/reference/generated/menu-arrow.json
  docs/reference/generated/menu-positioner.json
  docs/reference/generated/popover-arrow.json
  docs/reference/generated/popover-positioner.json
  docs/reference/generated/preview-card-arrow.json
  docs/reference/generated/preview-card-positioner.json
  docs/reference/generated/select-arrow.json
  docs/reference/generated/select-positioner.json
  packages/react/src/menu/arrow/MenuArrowDataAttributes.ts
  packages/react/src/menu/positioner/MenuPositionerDataAttributes.ts
  packages/react/src/popover/arrow/PopoverArrowDataAttributes.ts
  packages/react/src/popover/positioner/PopoverPositionerDataAttributes.ts
  packages/react/src/preview-card/arrow/PreviewCardArrowDataAttributes.ts
  packages/react/src/preview-card/positioner/PreviewCardPositionerDataAttributes.ts
  packages/react/src/select/arrow/SelectArrowDataAttributes.ts
  packages/react/src/select/positioner/SelectPositionerDataAttributes.ts
Labels: docs

#991 [Menu, Select] Add the `modal` prop
  docs/data/components/menu/CheckboxItems.js
  docs/data/components/menu/CheckboxItems.tsx
  docs/data/components/menu/RadioItems.js
  docs/data/components/menu/RadioItems.tsx
  docs/data/components/menu/menu.mdx
  docs/data/components/select/select.mdx
  docs/reference/generated/menu-root.json
  docs/reference/generated/select-root.json
  docs/src/app/(private)/experiments/menu-nested.tsx
  docs/src/app/(private)/experiments/modality.tsx
  docs/src/app/(private)/experiments/popups-in-popups.tsx
  packages/react/package.json
  packages/react/src/menu/checkbox-item/MenuCheckboxItem.test.tsx
  packages/react/src/menu/checkbox-item/MenuCheckboxItem.tsx
  packages/react/src/menu/item/MenuItem.test.tsx
  packages/react/src/menu/item/MenuItem.tsx
  packages/react/src/menu/item/useMenuItem.ts
  packages/react/src/menu/popup/MenuPopup.tsx
  packages/react/src/menu/positioner/MenuPositioner.test.tsx
  packages/react/src/menu/positioner/MenuPositioner.tsx
  packages/react/src/menu/positioner/useMenuPositioner.ts
  packages/react/src/menu/radio-item/MenuRadioItem.test.tsx
  packages/react/src/menu/radio-item/MenuRadioItem.tsx
  packages/react/src/menu/root/MenuRoot.test.tsx
  packages/react/src/menu/root/MenuRoot.tsx
  packages/react/src/menu/root/MenuRootContext.ts
  packages/react/src/menu/root/useMenuRoot.ts
  packages/react/src/menu/submenu-trigger/MenuSubmenuTrigger.tsx
  packages/react/src/menu/submenu-trigger/useMenuSubmenuTrigger.ts
  packages/react/src/menu/trigger/MenuTrigger.test.tsx
  packages/react/src/menu/trigger/MenuTrigger.tsx
  packages/react/src/menu/trigger/useMenuTrigger.ts
  packages/react/src/select/popup/SelectPopup.tsx
  packages/react/src/select/positioner/useSelectPositioner.ts
  packages/react/src/select/root/SelectRoot.test.tsx
  packages/react/src/select/root/SelectRoot.tsx
  packages/react/src/select/root/SelectRootContext.ts
  packages/react/src/select/root/useSelectRoot.ts
  pnpm-lock.yaml
Labels: component: select, component: menu

#1018 [Select, Radio] Unify conditional component transitions
  packages/react/src/checkbox/indicator/CheckboxIndicator.test.tsx
  packages/react/src/checkbox/indicator/CheckboxIndicator.tsx
  packages/react/src/radio/indicator/RadioIndicator.test.tsx
  packages/react/src/radio/indicator/RadioIndicator.tsx
  packages/react/src/radio/utils/customStyleHookMapping.ts
  packages/react/src/select/item-indicator/SelectItemIndicator.tsx
  packages/react/src/select/scroll-arrow/SelectScrollArrow.tsx
Labels: component: select, component: radio

#1093 [Checkbox] Handle the `value` prop correctly
  docs/reference/generated/checkbox-root.json
  packages/react/src/checkbox/root/CheckboxRoot.test.tsx
  packages/react/src/checkbox/root/CheckboxRoot.tsx
  packages/react/src/checkbox/root/useCheckboxRoot.ts
Labels: component: checkbox

#1109 [Dialog] Disable modality of closing dialogs
  packages/react/src/alert-dialog/popup/AlertDialogPopup.tsx
  packages/react/src/dialog/popup/DialogPopup.tsx
  packages/react/src/dialog/popup/useDialogPopup.tsx
Labels: component: alert dialog, component: dialog

#1083 [docs] Accessibility and Quick Start overview pages
  docs/src/app/(public)/(content)/react/overview/accessibility/page.mdx
  docs/src/app/(public)/(content)/react/overview/quick-start/page.mdx
  docs/src/app/(public)/(content)/react/overview/releases/page.mdx
  docs/src/app/(public)/page.tsx
  docs/src/app/not-found.tsx
Labels: docs

#1114 [docs] Style kbd
  docs/next.config.mjs
  docs/src/app/(public)/(content)/react/overview/accessibility/page.mdx
  docs/src/components/Link.tsx
  docs/src/components/kbd/Kbd.css
  docs/src/components/kbd/Kbd.tsx
  docs/src/components/kbd/rehype-kbd.mjs
  docs/src/components/subtitle/rehypeSubtitle.mjs
  docs/src/mdx-components.tsx
  docs/src/styles.css
Labels: docs

#1117 [docs] Fix CodeSandbox dark theme
  docs/src/blocks/sandbox/CreateReactApp.ts
  docs/src/blocks/sandbox/packDemo.test.ts
  docs/src/blocks/sandbox/packDemo.ts
  docs/src/components/demo/CodeSandboxLink.tsx
Labels: docs

#1116 [docs] Fix demos centering
  docs/src/components/demo/Demo.css
Labels: docs

#1115 [docs] Automatic nice typography
  docs/next.config.mjs
  docs/package.json
  docs/src/styles.css
  pnpm-lock.yaml
Labels: docs

#1123 [Menu] Unmount indicators when unchecked
  docs/reference/generated/menu-checkbox-item-indicator.json
  docs/reference/generated/menu-radio-item-indicator.json
  packages/react/src/menu/checkbox-item-indicator/MenuCheckboxItemIndicator.test.tsx
  packages/react/src/menu/checkbox-item-indicator/MenuCheckboxItemIndicator.tsx
  packages/react/src/menu/checkbox-item-indicator/MenuCheckboxItemIndicatorDataAttributes.ts
  packages/react/src/menu/radio-item-indicator/MenuRadioItemIndicator.test.tsx
  packages/react/src/menu/radio-item-indicator/MenuRadioItemIndicator.tsx
  packages/react/src/menu/radio-item-indicator/MenuRadioItemIndicatorDataAttributes.ts
  packages/react/src/menu/utils/styleHookMapping.ts
Labels: component: menu

#1129 [use-scroll-lock] Fix iOS html overflow
  packages/react/src/utils/useScrollLock.ts
Labels: docs

#1124 [Menu] Fix item `closeOnClick` docs
  docs/reference/generated/menu-checkbox-item.json
  docs/reference/generated/menu-radio-item.json
  packages/react/src/menu/checkbox-item/MenuCheckboxItem.tsx
  packages/react/src/menu/radio-item/MenuRadioItem.tsx
Labels: component: menu

#1126 [Select] Fix instant close with no set value
  packages/react/src/select/popup/SelectPopup.tsx
  packages/react/src/select/root/SelectRoot.test.tsx
  packages/react/src/select/root/useSelectRoot.ts
Labels: component: select

#1131 [docs] Fix CSS vars generation
  docs/reference/generated/accordion-panel.json
  docs/reference/generated/collapsible-panel.json
  docs/reference/generated/dialog-popup.json
  docs/reference/generated/menu-positioner.json
  docs/reference/generated/popover-positioner.json
  docs/reference/generated/preview-card-positioner.json
  docs/reference/generated/scroll-area-root.json
  docs/reference/generated/scroll-area-scrollbar.json
  docs/reference/generated/select-positioner.json
  docs/reference/generated/tabs-indicator.json
  docs/reference/generated/tooltip-positioner.json
  scripts/buildApiDocs/buildReference.ts
Labels: docs, bug 🐛

#1118 [docs] Improve API reference copy
  docs/src/app/(public)/(content)/react/components/accordion/page.mdx
  docs/src/app/(public)/(content)/react/components/alert-dialog/page.mdx
  docs/src/app/(public)/(content)/react/components/checkbox/page.mdx
  docs/src/app/(public)/(content)/react/components/collapsible/page.mdx
  docs/src/app/(public)/(content)/react/components/dialog/page.mdx
  docs/src/app/(public)/(content)/react/components/field/page.mdx
  docs/src/app/(public)/(content)/react/components/fieldset/page.mdx
  docs/src/app/(public)/(content)/react/components/menu/page.mdx
  docs/src/app/(public)/(content)/react/components/number-field/page.mdx
  docs/src/app/(public)/(content)/react/components/popover/page.mdx
  docs/src/app/(public)/(content)/react/components/preview-card/page.mdx
  docs/src/app/(public)/(content)/react/components/progress/page.mdx
  docs/src/app/(public)/(content)/react/components/scroll-area/page.mdx
  docs/src/app/(public)/(content)/react/components/select/page.mdx
  docs/src/app/(public)/(content)/react/components/slider/page.mdx
  docs/src/app/(public)/(content)/react/components/switch/page.mdx
  docs/src/app/(public)/(content)/react/components/tabs/page.mdx
  docs/src/app/(public)/(content)/react/components/tooltip/page.mdx
Labels: docs

#1136 [core] Remove unused clsx dependency
  packages/react/package.json
  pnpm-lock.yaml
Labels: core, dependencies

#1133 [useScrollLock] Handle Safari pinch-zooming
  packages/react/src/utils/useScrollLock.ts
Labels: core

#1140 [Dialog, AlertDialog] Add the `nested` style hook
  packages/react/src/alert-dialog/backdrop/AlertDialogBackdrop.tsx
  packages/react/src/alert-dialog/popup/AlertDialogPopup.test.tsx
  packages/react/src/alert-dialog/popup/AlertDialogPopup.tsx
  packages/react/src/alert-dialog/root/AlertDialogRoot.tsx
  packages/react/src/alert-dialog/root/AlertDialogRootContext.ts
  packages/react/src/dialog/backdrop/DialogBackdrop.tsx
  packages/react/src/dialog/popup/DialogPopup.test.tsx
  packages/react/src/dialog/popup/DialogPopup.tsx
  packages/react/src/dialog/root/DialogRoot.tsx
  packages/react/src/dialog/root/DialogRootContext.ts
Labels: component: alert dialog, component: dialog

#1142 [docs] Release header improvement
  docs/src/app/(public)/(content)/react/overview/releases/page.mdx
Labels: docs

#1144 [Dialog, AlertDialog] Add the `data-has-nested-dialogs` hook
  docs/reference/generated/alert-dialog-popup.json
  docs/reference/generated/dialog-popup.json
  packages/react/src/alert-dialog/popup/AlertDialogPopup.test.tsx
  packages/react/src/alert-dialog/popup/AlertDialogPopup.tsx
  packages/react/src/alert-dialog/popup/AlertDialogPopupDataAttributes.ts
  packages/react/src/dialog/popup/DialogPopup.test.tsx
  packages/react/src/dialog/popup/DialogPopup.tsx
  packages/react/src/dialog/popup/DialogPopupDataAttributes.ts
Labels: component: alert dialog, component: dialog

#1138 [Menu] Handle Enter keypress the same as click
  packages/react/src/menu/checkbox-item/MenuCheckboxItem.test.tsx
  packages/react/src/menu/item/useMenuItem.ts
Labels: component: menu

#1143 [useScrollLock] Patch firefox
  packages/react/src/utils/useScrollLock.ts
Labels: core

#1098 [docs] Mobile nav fixes
  docs/src/components/CodeBlock.tsx
  docs/src/components/MobileNav.css
  docs/src/components/MobileNav.tsx
Labels: docs

#1141 [docs] Handbook pages
  docs/src/app/(public)/(content)/react/handbook/animation/page.mdx
  docs/src/app/(public)/(content)/react/handbook/composition/page.mdx
  docs/src/app/(public)/(content)/react/handbook/styling/page.mdx
  docs/src/app/(public)/(content)/react/overview/quick-start/page.mdx
Labels: docs

#1153 [docs] Nested dialogs nit
  docs/src/app/(public)/(content)/react/components/dialog/demos/nested/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/dialog/demos/nested/tailwind/index.tsx
Labels: docs

#1159 [useScrollLock] New implementation
  docs/src/app/(private)/experiments/scroll-lock.tsx
  docs/src/components/CodeBlock.css
  docs/src/components/Demo/Demo.css
  docs/src/components/MobileNav.tsx
  docs/src/components/QuickNav/QuickNav.tsx
  docs/src/components/Table.css
  packages/react/package.json
  packages/react/src/utils/detectBrowser.ts
  packages/react/src/utils/useScrollLock.ts
  pnpm-lock.yaml
Labels: core

#1170 [docs] Skip unnecessary position changes when quick nav height is similar to viewport
  docs/src/components/QuickNav/QuickNav.css
  docs/src/components/QuickNav/QuickNav.tsx
Labels: docs

#1171 [docs] Quick nav actually first
  docs/src/components/Demo/DemoSourceBrowser.tsx
  docs/src/components/QuickNav/QuickNav.css
  docs/src/components/QuickNav/QuickNav.tsx
  docs/src/components/QuickNav/rehypeQuickNav.mjs
Labels: docs

#1151 [docs] Fix vale errors
  .github/ISSUE_TEMPLATE/1.bug.md
  .github/ISSUE_TEMPLATE/4.docs-feedback.md
  README.md
  docs/src/app/(public)/(content)/react/handbook/animation/page.mdx
  docs/src/app/(public)/(content)/react/handbook/composition/page.mdx
  docs/src/app/(public)/(content)/react/handbook/styling/page.mdx
  docs/src/app/(public)/(content)/react/overview/about/page.mdx
  docs/src/app/(public)/(content)/react/overview/accessibility/page.mdx
  docs/src/app/(public)/(content)/react/overview/quick-start/page.mdx
Labels: docs

#1082 [Slider] Replace internal map with `Composite` metadata
  packages/react/src/slider/control/SliderControl.test.tsx
  packages/react/src/slider/indicator/SliderIndicator.test.tsx
  packages/react/src/slider/root/useSliderRoot.ts
  packages/react/src/slider/thumb/SliderThumb.test.tsx
  packages/react/src/slider/thumb/SliderThumb.tsx
  packages/react/src/slider/thumb/useSliderThumb.ts
  packages/react/src/slider/track/SliderTrack.test.tsx
  packages/react/src/slider/value/SliderValue.test.tsx
  packages/react/src/slider/value/SliderValue.tsx
  packages/react/src/slider/value/useSliderValue.ts
Labels: component: slider

#1167 [Dialog, AlertDialog] Fix the nesting of different dialogs
  packages/react/src/alert-dialog/popup/AlertDialogPopup.test.tsx
  packages/react/src/alert-dialog/root/AlertDialogRootContext.ts
  packages/react/src/dialog/popup/DialogPopup.test.tsx
  packages/react/src/dialog/root/DialogRoot.tsx
  packages/react/src/dialog/root/DialogRootContext.ts
  packages/react/src/dialog/utils/DialogContext.ts
Labels: component: alert dialog, component: dialog

#1172 [docs] Add a dialog from menu example
  docs/src/app/(public)/(content)/react/components/alert-dialog/page.mdx
  docs/src/app/(public)/(content)/react/components/dialog/page.mdx
  docs/src/app/(public)/(content)/react/components/menu/page.mdx
  docs/src/components/Code.css
  docs/src/syntax-highlighting/index.css
Labels: docs

#1196 [popups] Apply `aria-hidden` to `Arrow` parts
  packages/react/src/menu/arrow/MenuArrow.tsx
  packages/react/src/menu/arrow/useMenuArrow.ts
  packages/react/src/popover/arrow/PopoverArrow.tsx
  packages/react/src/popover/arrow/usePopoverArrow.ts
  packages/react/src/preview-card/arrow/PreviewCardArrow.tsx
  packages/react/src/preview-card/arrow/usePreviewCardArrow.ts
  packages/react/src/select/arrow/SelectArrow.tsx
  packages/react/src/tooltip/arrow/TooltipArrow.tsx
  packages/react/src/tooltip/arrow/useTooltipArrow.ts
Labels: component: select, component: menu, component: tooltip, component: popover, component: preview card

#1188 [ScrollArea] Differentiate `x`/`y` orientation `data-scrolling`
  packages/react/src/scroll-area/root/ScrollAreaRootContext.ts
  packages/react/src/scroll-area/root/useScrollAreaRoot.ts
  packages/react/src/scroll-area/scrollbar/ScrollAreaScrollbar.test.tsx
  packages/react/src/scroll-area/scrollbar/ScrollAreaScrollbar.tsx
  packages/react/src/scroll-area/thumb/ScrollAreaThumb.tsx
  packages/react/src/scroll-area/viewport/useScrollAreaViewport.tsx
Labels: component: scroll area

#1190 [docs] Fix typos
  docs/reference/generated/form.json
  docs/reference/generated/menu-arrow.json
  docs/reference/generated/menu-popup.json
  docs/reference/generated/menu-positioner.json
  docs/reference/generated/popover-arrow.json
  docs/reference/generated/popover-popup.json
  docs/reference/generated/popover-positioner.json
  docs/reference/generated/preview-card-arrow.json
  docs/reference/generated/preview-card-popup.json
  docs/reference/generated/preview-card-positioner.json
  docs/reference/generated/tooltip-arrow.json
  docs/reference/generated/tooltip-popup.json
  docs/reference/generated/tooltip-positioner.json
  docs/src/app/(public)/(content)/react/handbook/animation/page.mdx
  packages/react/src/form/Form.tsx
  packages/react/src/menu/arrow/MenuArrowDataAttributes.ts
  packages/react/src/menu/popup/MenuPopupDataAttributes.ts
  packages/react/src/menu/positioner/MenuPositionerDataAttributes.ts
  packages/react/src/popover/arrow/PopoverArrowDataAttributes.ts
  packages/react/src/popover/popup/PopoverPopupDataAttributes.ts
  packages/react/src/popover/positioner/PopoverPositionerDataAttributes.ts
  packages/react/src/preview-card/arrow/PreviewCardArrowDataAttributes.ts
  packages/react/src/preview-card/popup/PreviewCardPopupDataAttributes.ts
  packages/react/src/preview-card/positioner/PreviewCardPositionerDataAttributes.ts
  packages/react/src/tooltip/arrow/TooltipArrowDataAttributes.ts
  packages/react/src/tooltip/popup/TooltipPopupDataAttributes.ts
  packages/react/src/tooltip/positioner/TooltipPositionerDataAttributes.ts
Labels: docs

#1182 [docs] Sturdier quick nav math
  docs/src/components/QuickNav/QuickNav.tsx
Labels: docs

#1185 [docs] Full Tailwind v3 compatibility
  docs/src/app/(public)/(content)/react/components/accordion/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/alert-dialog/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/checkbox-group/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/checkbox/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/collapsible/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/dialog/demos/close-confirmation/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/dialog/demos/close-confirmation/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/dialog/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/dialog/demos/nested/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/dialog/demos/nested/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/field/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/fieldset/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/form/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/input/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/menu/demos/checkbox-items/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/menu/demos/group-labels/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/menu/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/menu/demos/open-on-hover/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/menu/demos/radio-items/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/menu/demos/submenu/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/number-field/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/popover/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/preview-card/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/radio/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/scroll-area/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/select/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/separator/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/slider/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/switch/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/tabs/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/toggle-group/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/toggle/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/tooltip/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/handbook/styling/page.mdx
  docs/src/app/(public)/(content)/react/utils/direction-provider/demos/hero/tailwind/index.tsx
  docs/src/components/Demo/CodeSandboxLink.tsx
Labels: docs

#1187 [docs] Code block scroll improvements
  docs/src/components/Demo/Demo.css
  docs/src/components/Demo/Demo.tsx
  docs/src/components/Demo/DemoCodeBlock.tsx
  docs/src/components/Demo/DemoSourceBrowser.tsx
  docs/src/components/ScrollArea.css
  docs/src/components/ScrollArea.tsx
  docs/src/syntax-highlighting/index.mjs
  docs/src/syntax-highlighting/rehypeEmptyLines.mjs
Labels: docs

#1199 [docs] Full width sidenav links
  docs/src/components/SideNav.css
  docs/src/components/SideNav.tsx
Labels: docs

#1204 [Progress] Set zero width when value is zero
  packages/react/src/progress/indicator/ProgressIndicator.test.tsx
  packages/react/src/progress/indicator/useProgressIndicator.ts
Labels: bug 🐛, component: progress

#1212 [docs] Remove `rehypeEmptyLines`
  docs/src/syntax-highlighting/index.mjs
Labels: docs

#1206 [core] Remove closing issue message workflow
  .github/workflows/closed-issue-message.yaml
Labels: core

#1173 [docs] Rename MUI -> Material UI
  docs/src/app/(public)/(content)/react/overview/about/page.mdx
Labels: docs

#1139 [Select] Fallback to standard positioning when pinch-zoomed in Safari
  packages/react/src/select/popup/useSelectPopup.ts
Labels: component: select

#1174 [Select] Allow `id` to be passed to trigger
  packages/react/src/select/trigger/SelectTrigger.tsx
Labels: component: select

#1213 [core] Fix render prop types
  packages/react/src/tooltip/trigger/TooltipTrigger.spec.tsx
  packages/react/src/tooltip/trigger/TooltipTrigger.tsx
  packages/react/src/utils/types.ts
Labels: core, component: tooltip

#1161 [Menu, Select, Dialog] Use internal backdrop for pointer modality
  docs/src/app/(private)/experiments/popups-in-popups.tsx
  packages/react/src/alert-dialog/popup/AlertDialogPopup.tsx
  packages/react/src/dialog/popup/DialogPopup.tsx
  packages/react/src/dialog/popup/useDialogPopup.tsx
  packages/react/src/dialog/root/DialogRoot.test.tsx
  packages/react/src/menu/checkbox-item/MenuCheckboxItem.test.tsx
  packages/react/src/menu/item/MenuItem.test.tsx
  packages/react/src/menu/item/useMenuItem.ts
  packages/react/src/menu/popup/MenuPopup.tsx
  packages/react/src/menu/positioner/MenuPositioner.tsx
  packages/react/src/menu/radio-item/MenuRadioItem.test.tsx
  packages/react/src/menu/root/MenuRoot.test.tsx
  packages/react/src/menu/root/MenuRoot.tsx
  packages/react/src/menu/root/useMenuRoot.ts
  packages/react/src/menu/trigger/useMenuTrigger.ts
  packages/react/src/popover/root/PopoverRoot.test.tsx
  packages/react/src/select/positioner/SelectPositioner.tsx
  packages/react/src/select/root/SelectRoot.test.tsx
  packages/react/src/select/root/SelectRoot.tsx
  packages/react/src/utils/InternalBackdrop.tsx
Labels: component: select, component: menu, component: alert dialog, component: dialog

#1183 [core] Rely more on baseline prettier config
  prettier.config.js
Labels: core, scope: code-infra

#1221 [Dialog, Menu, Select] Set `pointer-events` on `InternalBackdrop` based on `open` state
  packages/react/src/alert-dialog/popup/AlertDialogPopup.tsx
  packages/react/src/dialog/popup/DialogPopup.tsx
  packages/react/src/menu/positioner/MenuPositioner.tsx
  packages/react/src/select/positioner/SelectPositioner.tsx
  packages/react/src/utils/InternalBackdrop.tsx
Labels: component: select, component: menu, component: dialog

#1228 [docs] Fix line break for Floating UI brand name
  README.md
  docs/src/app/(public)/(content)/react/overview/about/page.mdx
  docs/src/app/(public)/page.tsx
Labels: docs

#1240 [docs] Have 404 link points to first page of docs
  docs/src/app/not-found.tsx
Labels: docs
