Repository mui/base-ui, pull requests merged in 2024-06, with the labels that each got.

#416 [website] Fix /base-ui/ code duplication
  docs/pages/base-ui.tsx
  docs/public/_redirects
  docs/src/modules/home/BaseUIComponents.tsx
  docs/src/modules/home/BaseUICustomization.tsx
  docs/src/modules/home/BaseUIEnd.tsx
  docs/src/modules/home/BaseUIHero.tsx
  docs/src/modules/home/BaseUISummary.tsx
  docs/src/modules/home/BaseUITestimonial.tsx
  docs/src/modules/home/BaseUIThemesDemo.tsx
  docs/src/modules/home/GetStartedButtons.tsx
  docs/src/modules/home/componentDemos/BaseButtonDemo.tsx
  docs/src/modules/home/componentDemos/BaseInputDemo.tsx
  docs/src/modules/home/componentDemos/BaseMenuDemo.tsx
  docs/src/modules/home/componentDemos/BaseSliderDemo.tsx
  docs/src/modules/home/componentDemos/BaseTabsDemo.tsx
  docs/src/modules/home/heroVariables.ts
  docs/src/modules/home/themed-controls/Switch.tsx
Labels: core, website

#446 [core] Allow Renovate to update pnpm
  renovate.json
Labels: core

#448 [docs] Add the logo to the README
  README.md
Labels: docs

#450 [docs] Fix the X link
  docs/data/base/getting-started/support/support.md
Labels: docs

#392 [docs] Convert alpha component docs to new docs template
  docs/data/base/components/checkbox/checkbox.md
  docs/data/base/components/number-field/number-field.md
  docs/data/base/components/switch/switch.md
  docs/data/base/components/tabs/tabs.md
Labels: docs

#424 [test] Use internal-test-utils from npm
  .circleci/config.yml
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-base/src/NumberField/Decrement/NumberFieldDecrement.test.tsx
  packages/mui-base/src/NumberField/Increment/NumberFieldIncrement.test.tsx
  packages/mui-base/src/NumberField/Input/NumberFieldInput.test.tsx
  packages/mui-base/src/NumberField/Root/NumberFieldRoot.test.tsx
  packages/mui-base/src/Tooltip/Provider/TooltipProvider.test.tsx
  packages/mui-base/src/legacy/useSelect/useSelect.test.tsx
  packages/mui-base/src/legacy/useTransition/useTransitionTrigger.test.ts
  pnpm-lock.yaml
  test/package.json
Labels: test

#456 Improve performance of `mergeReactProps`
  packages/mui-base/src/utils/mergeReactProps.ts
Labels: package: base-ui

#461 [core] Add `useAnchorPositioning` Hook
  docs/pages/experiments/anchor-positioning.tsx
  packages/mui-base/package.json
  packages/mui-base/src/Tooltip/Positioner/useTooltipPositioner.ts
  packages/mui-base/src/utils/useAnchorPositioning.ts
  pnpm-lock.yaml
Labels: core

#457 [core] Verify types in test code
  .gitignore
  docs/scripts/tsconfig.json
  docs/tsconfig.json
  package.json
  packages/mui-base/package.json
  packages/mui-base/test/createRenderer.ts
  packages/mui-base/tsconfig.build.json
  packages/mui-base/tsconfig.json
  packages/mui-base/tsconfig.test.json
  scripts/buildApiDocs/config/projectSettings.ts
  scripts/coreTypeScriptProjects.js
  test/tsconfig.json
  tsconfig.base.json
  tsconfig.json
  tsconfig.typecheck.json
Labels: core

#467 [Checkbox] Fix checked change when clicking button with wrapping label
  packages/mui-base/src/Checkbox/Root/CheckboxRoot.test.tsx
  packages/mui-base/src/Checkbox/Root/useCheckboxRoot.ts
Labels: component: checkbox

#465 [Switch/Checkbox] Rename `onChange` prop to `onCheckedChange`
  docs/data/base/components/badge/BadgeVisibility.js
  docs/data/base/components/badge/BadgeVisibility.tsx
  docs/data/base/components/checkbox/UnstyledCheckboxIndeterminateGroup.js
  docs/data/base/components/checkbox/UnstyledCheckboxIndeterminateGroup.tsx
  docs/pages/base-ui/api/checkbox-root.json
  docs/pages/base-ui/api/switch-root.json
  docs/pages/base-ui/api/use-checkbox-root.json
  docs/pages/base-ui/api/use-switch-root.json
  docs/translations/api-docs/checkbox-root/checkbox-root.json
  docs/translations/api-docs/switch-root/switch-root.json
  docs/translations/api-docs/use-checkbox-root/use-checkbox-root.json
  docs/translations/api-docs/use-switch-root/use-switch-root.json
  packages/mui-base/src/Checkbox/Root/CheckboxRoot.test.tsx
  packages/mui-base/src/Checkbox/Root/CheckboxRoot.tsx
  packages/mui-base/src/Checkbox/Root/CheckboxRoot.types.ts
  packages/mui-base/src/Checkbox/Root/useCheckboxRoot.ts
  packages/mui-base/src/Switch/Root/SwitchRoot.test.tsx
  packages/mui-base/src/Switch/Root/SwitchRoot.tsx
  packages/mui-base/src/Switch/Root/SwitchRoot.types.ts
  packages/mui-base/src/Switch/Root/useSwitchRoot.ts
Labels: component: switch, component: checkbox, breaking change

#464 [NumberField] Rename `onChange` prop to `onValueChange`
  docs/data/base/components/number-field/number-field.md
  docs/pages/base-ui/api/number-field-root.json
  docs/pages/base-ui/api/use-number-field-root.json
  docs/translations/api-docs/number-field-root/number-field-root.json
  docs/translations/api-docs/use-number-field-root/use-number-field-root.json
  packages/mui-base/src/NumberField/Root/NumberFieldRoot.test.tsx
  packages/mui-base/src/NumberField/Root/NumberFieldRoot.tsx
  packages/mui-base/src/NumberField/Root/NumberFieldRoot.types.ts
  packages/mui-base/src/NumberField/Root/useNumberFieldRoot.ts
Labels: component: number field, breaking change
