Repository mui/base-ui, pull requests merged in 2024-07, with the labels that each got.

#490 [PreviewCard] Fix Firefox browser hang
  packages/mui-base/src/PreviewCard/Root/PreviewCardRoot.test.tsx
Labels: component: PreviewCard

#489 [Popover] Fix `keepMounted` focus management
  packages/mui-base/src/Popover/Positioner/PopoverPositioner.tsx
  packages/mui-base/src/Popover/Root/PopoverRoot.test.tsx
Labels: component: Popover

#491 [Popover] Wait for focus to settle in tests
  packages/mui-base/src/Popover/Root/PopoverRoot.test.tsx
Labels: test, component: Popover

#445 [website] Redirect to an existing page on dev
  .github/workflows/ci.yml
  docs/next.config.mjs
Labels: website

#478 [code-infra] Propagate API docs builder package interface changes
  scripts/buildApiDocs/config/generateApiLinks.ts
Labels: scope: code-infra

#492 [docs] Fix Vale errors
  README.md
  docs/data/base/components/alert-dialog/alert-dialog.md
  docs/data/base/components/checkbox/checkbox.md
  docs/data/base/components/dialog/dialog.md
  docs/data/base/components/number-field/number-field.md
  docs/data/base/components/switch/switch.md
  packages/mui-base/src/legacy/README.md
Labels: docs

#470 [Progress] New `Progress` components
  docs/data/base/components/progress/IndeterminateProgress.js
  docs/data/base/components/progress/IndeterminateProgress.tsx
  docs/data/base/components/progress/IndeterminateProgress.tsx.preview
  docs/data/base/components/progress/RtlProgress.js
  docs/data/base/components/progress/RtlProgress.tsx
  docs/data/base/components/progress/RtlProgress.tsx.preview
  docs/data/base/components/progress/UnstyledProgressIntroduction/css/index.js
  docs/data/base/components/progress/UnstyledProgressIntroduction/css/index.tsx
  docs/data/base/components/progress/UnstyledProgressIntroduction/css/index.tsx.preview
  docs/data/base/components/progress/UnstyledProgressIntroduction/system/index.js
  docs/data/base/components/progress/UnstyledProgressIntroduction/system/index.tsx
  docs/data/base/components/progress/UnstyledProgressIntroduction/system/index.tsx.preview
  docs/data/base/components/progress/UnstyledProgressIntroduction/tailwind/index.js
  docs/data/base/components/progress/UnstyledProgressIntroduction/tailwind/index.tsx
  docs/data/base/components/progress/UnstyledProgressIntroduction/tailwind/index.tsx.preview
  docs/data/base/components/progress/progress.md
  docs/data/base/pages.ts
  docs/data/base/pagesApi.js
  docs/pages/base-ui/api/progress-indicator.json
  docs/pages/base-ui/api/progress-root.json
  docs/pages/base-ui/api/progress-track.json
  docs/pages/base-ui/api/use-progress-indicator.json
  docs/pages/base-ui/api/use-progress-root.json
  docs/pages/base-ui/react-progress/[docsTab]/index.js
  docs/pages/base-ui/react-progress/index.js
  docs/pages/experiments/progress.tsx
  docs/translations/api-docs/progress-indicator/progress-indicator.json
  docs/translations/api-docs/progress-root/progress-root.json
  docs/translations/api-docs/progress-track/progress-track.json
  docs/translations/api-docs/use-progress-indicator/use-progress-indicator.json
  docs/translations/api-docs/use-progress-root/use-progress-root.json
  docs/translations/translations.json
  packages/mui-base/src/Progress/Indicator/ProgressIndicator.test.tsx
  packages/mui-base/src/Progress/Indicator/ProgressIndicator.tsx
  packages/mui-base/src/Progress/Indicator/ProgressIndicator.types.ts
  packages/mui-base/src/Progress/Indicator/useProgressIndicator.ts
  packages/mui-base/src/Progress/Root/ProgressContext.tsx
  packages/mui-base/src/Progress/Root/ProgressRoot.test.tsx
  packages/mui-base/src/Progress/Root/ProgressRoot.tsx
  packages/mui-base/src/Progress/Root/ProgressRoot.types.ts
  packages/mui-base/src/Progress/Root/styleHooks.ts
  packages/mui-base/src/Progress/Root/useProgressRoot.ts
  packages/mui-base/src/Progress/Track/ProgressTrack.test.tsx
  packages/mui-base/src/Progress/Track/ProgressTrack.tsx
  packages/mui-base/src/Progress/Track/ProgressTrack.types.ts
  packages/mui-base/src/Progress/index.barrel.ts
  packages/mui-base/src/Progress/index.ts
  packages/mui-base/src/index.ts
Labels: new feature, component: progress
