Repository mui/base-ui, pull requests merged in 2024-08, with the labels that each got.

#515 [dependencies] Do not try to update eslint
  renovate.json
Labels: core, dependencies

#524 [NumberField] Fix tests on non-English locale machines
  packages/mui-base/src/NumberField/Input/NumberFieldInput.test.tsx
  packages/mui-base/src/NumberField/Root/NumberFieldRoot.test.tsx
  packages/mui-base/src/NumberField/utils/format.test.ts
  packages/mui-base/src/NumberField/utils/parse.test.ts
Labels: component: number field, test

#519 [core] Add `trackAnchor` prop for anchor positioning
  docs/pages/experiments/anchor-positioning.tsx
  packages/mui-base/src/Popover/Positioner/usePopoverPositioner.types.ts
  packages/mui-base/src/PreviewCard/Positioner/usePreviewCardPositioner.types.ts
  packages/mui-base/src/Tooltip/Positioner/useTooltipPositioner.types.ts
  packages/mui-base/src/utils/useAnchorPositioning.ts
Labels: core

#527 [SliderRoot] improve `disabled` prop description
  docs/translations/api-docs/slider-root/slider-root.json
  packages/mui-base/src/Slider/Root/SliderRoot.tsx
  packages/mui-base/src/Slider/Root/SliderRoot.types.ts
Labels: component: slider, package: base-ui

#525 [useCompoundParent] Display `displayName` only in dev
  packages/mui-base/src/useCompound/useCompoundParent.ts
Labels: component: menu

#529 [core] Make pnpm version permissive
  package.json
Labels: core

#536 [docs] Prepare security table for once it has its first release
  SECURITY.md
Labels: docs, security

#544 [typescript] Add `type` to export statements
  packages/mui-base/src/Progress/index.ts
  packages/mui-base/src/Slider/index.ts
Labels: component: slider, typescript, component: progress

#545 1.0.0-alpha.2
  CHANGELOG.md
  package.json
  packages/mui-base/package.json
Labels: release

#542 [Menu] Do not select an item when space is pressed during typeahead
  docs/data/base/components/menu/menu.md
  packages/mui-base/src/Menu/Item/MenuItem.test.tsx
  packages/mui-base/src/Menu/Item/MenuItem.tsx
  packages/mui-base/src/Menu/Item/useMenuItem.ts
  packages/mui-base/src/Menu/Popup/MenuPopup.test.tsx
  packages/mui-base/src/Menu/Positioner/MenuPositioner.test.tsx
  packages/mui-base/src/Menu/Root/MenuRoot.test.tsx
  packages/mui-base/src/Menu/Root/MenuRoot.tsx
  packages/mui-base/src/Menu/Root/MenuRootContext.ts
  packages/mui-base/src/Menu/Root/useMenuRoot.ts
  packages/mui-base/src/Menu/SubmenuTrigger/SubmenuTrigger.tsx
  packages/mui-base/src/Menu/SubmenuTrigger/useSubmenuTrigger.ts
  packages/mui-base/src/Menu/Trigger/MenuTrigger.test.tsx
Labels: component: menu

#552 [docs] Fix pnpm docs:link-check script
  docs/.link-check-errors.txt
  docs/scripts/reportBrokenLinks.js
Labels: docs, bug 🐛, scope: docs-infra

#549 [MenuRoot] Remove wrong default value from docs
  docs/pages/base-ui/api/menu-root.json
  docs/translations/api-docs/menu-root/menu-root.json
  packages/mui-base/src/Menu/Root/MenuRoot.tsx
Labels: component: menu, docs

#481 [Collapsible] Add Collapsible components and hooks
  docs/data/base/components/collapsible/CssAnimatedCollapsible.js
  docs/data/base/components/collapsible/CssAnimatedCollapsible.tsx
  docs/data/base/components/collapsible/CssTransitionCollapsible.js
  docs/data/base/components/collapsible/CssTransitionCollapsible.tsx
  docs/data/base/components/collapsible/UnstyledCollapsibleIntroduction.js
  docs/data/base/components/collapsible/UnstyledCollapsibleIntroduction.tsx
  docs/data/base/components/collapsible/collapsible.md
  docs/data/base/pages.ts
  docs/data/base/pagesApi.js
  docs/pages/base-ui/api/collapsible-content.json
  docs/pages/base-ui/api/collapsible-root.json
  docs/pages/base-ui/api/collapsible-trigger.json
  docs/pages/base-ui/api/use-collapsible-content.json
  docs/pages/base-ui/api/use-collapsible-root.json
  docs/pages/base-ui/api/use-collapsible-trigger.json
  docs/pages/base-ui/react-collapsible/[docsTab]/index.js
  docs/pages/base-ui/react-collapsible/index.js
  docs/pages/experiments/collapsible-accordion.tsx
  docs/pages/experiments/collapsible-framer.tsx
  docs/pages/experiments/collapsible-hidden-until-found.tsx
  docs/pages/experiments/collapsible.tsx
  docs/translations/api-docs/collapsible-content/collapsible-content.json
  docs/translations/api-docs/collapsible-root/collapsible-root.json
  docs/translations/api-docs/collapsible-trigger/collapsible-trigger.json
  docs/translations/api-docs/use-collapsible-content/use-collapsible-content.json
  docs/translations/api-docs/use-collapsible-root/use-collapsible-root.json
  docs/translations/api-docs/use-collapsible-trigger/use-collapsible-trigger.json
  docs/translations/translations.json
  packages/mui-base/src/Collapsible/Content/CollapsibleContent.test.tsx
  packages/mui-base/src/Collapsible/Content/CollapsibleContent.tsx
  packages/mui-base/src/Collapsible/Content/useCollapsibleContent.ts
  packages/mui-base/src/Collapsible/Root/CollapsibleContext.tsx
  packages/mui-base/src/Collapsible/Root/CollapsibleRoot.test.tsx
  packages/mui-base/src/Collapsible/Root/CollapsibleRoot.tsx
  packages/mui-base/src/Collapsible/Root/styleHooks.ts
  packages/mui-base/src/Collapsible/Root/useCollapsibleRoot.ts
  packages/mui-base/src/Collapsible/Trigger/CollapsibleTrigger.test.tsx
  packages/mui-base/src/Collapsible/Trigger/CollapsibleTrigger.tsx
  packages/mui-base/src/Collapsible/Trigger/useCollapsibleTrigger.ts
  packages/mui-base/src/Collapsible/index.ts
Labels: new feature, component: collapsible
