Repository mui/base-ui, pull requests merged in 2024-11, with the labels that each got.

#732 [AlertDialog, Dialog, Popover] Configure initial focus
  docs/data/api/alert-dialog-popup.json
  docs/data/api/dialog-popup.json
  docs/data/api/popover-positioner.json
  docs/data/translations/api-docs/alert-dialog-popup/alert-dialog-popup.json
  docs/data/translations/api-docs/dialog-popup/dialog-popup.json
  docs/data/translations/api-docs/popover-positioner/popover-positioner.json
  packages/mui-base/src/AlertDialog/Popup/AlertDialogPopup.test.tsx
  packages/mui-base/src/AlertDialog/Popup/AlertDialogPopup.tsx
  packages/mui-base/src/AlertDialog/Root/AlertDialogRoot.test.ts
  packages/mui-base/src/AlertDialog/Root/AlertDialogRoot.test.tsx
  packages/mui-base/src/AlertDialog/Trigger/AlertDialogTrigger.tsx
  packages/mui-base/src/Dialog/Popup/DialogPopup.test.tsx
  packages/mui-base/src/Dialog/Popup/DialogPopup.tsx
  packages/mui-base/src/Dialog/Popup/useDialogPopup.tsx
  packages/mui-base/src/Dialog/Root/DialogRoot.test.tsx
  packages/mui-base/src/Dialog/Root/useDialogRoot.ts
  packages/mui-base/src/Dialog/Trigger/DialogTrigger.tsx
  packages/mui-base/src/Dialog/Trigger/useDialogTrigger.ts
  packages/mui-base/src/Popover/Positioner/PopoverPositioner.test.tsx
  packages/mui-base/src/Popover/Positioner/PopoverPositioner.tsx
  packages/mui-base/src/Popover/Positioner/usePopoverPositioner.tsx
  packages/mui-base/src/Popover/Root/PopoverRoot.tsx
  packages/mui-base/src/Popover/Root/PopoverRootContext.ts
  packages/mui-base/src/Popover/Root/usePopoverRoot.ts
  packages/mui-base/src/utils/useEnhancedClickHandler.ts
Labels: component: alert dialog, enhancement, component: dialog, component: popover

#769 [docs-infra] Add mdx support to vale lint
  .vale.ini
  CHANGELOG.md
  docs/data/components/accordion/accordion.mdx
  docs/data/components/collapsible/collapsible.mdx
  docs/data/components/menu/menu.mdx
Labels: bug 🐛, regression, scope: docs-infra

#802 [Tabs] Fix inline script
  packages/mui-base/src/Tabs/TabIndicator/prehydrationScript.min.ts
Labels: component: tabs

#808 [Dialog, AlertDialog] Fix trigger issues
  docs/data/translations/api-docs/dialog-trigger/dialog-trigger.json
  packages/mui-base/src/AlertDialog/Backdrop/AlertDialogBackdrop.tsx
  packages/mui-base/src/AlertDialog/Popup/AlertDialogPopup.tsx
  packages/mui-base/src/AlertDialog/Root/AlertDialogRoot.tsx
  packages/mui-base/src/AlertDialog/Trigger/AlertDialogTrigger.tsx
  packages/mui-base/src/Dialog/Backdrop/DialogBackdrop.tsx
  packages/mui-base/src/Dialog/Backdrop/useDialogBackdrop.ts
  packages/mui-base/src/Dialog/Popup/DialogPopup.tsx
  packages/mui-base/src/Dialog/Popup/useDialogPopup.tsx
  packages/mui-base/src/Dialog/Root/DialogRoot.tsx
  packages/mui-base/src/Dialog/Root/useDialogRoot.ts
  packages/mui-base/src/Dialog/Trigger/DialogTrigger.tsx
  packages/mui-base/src/Dialog/Trigger/useDialogTrigger.ts
  packages/mui-base/src/Popover/Root/usePopoverRoot.ts
  packages/mui-base/src/utils/useOpenInteractionType.ts
Labels: component: alert dialog, bug 🐛, component: dialog

#773 [AlertDialog, Dialog, Popover] Allow specifying final focus
  docs/data/api/alert-dialog-popup.json
  docs/data/api/dialog-popup.json
  docs/data/api/popover-positioner.json
  docs/data/translations/api-docs/alert-dialog-popup/alert-dialog-popup.json
  docs/data/translations/api-docs/dialog-popup/dialog-popup.json
  docs/data/translations/api-docs/popover-positioner/popover-positioner.json
  packages/mui-base/src/AlertDialog/Popup/AlertDialogPopup.test.tsx
  packages/mui-base/src/AlertDialog/Popup/AlertDialogPopup.tsx
  packages/mui-base/src/Dialog/Popup/DialogPopup.test.tsx
  packages/mui-base/src/Dialog/Popup/DialogPopup.tsx
  packages/mui-base/src/Popover/Positioner/PopoverPositioner.test.tsx
  packages/mui-base/src/Popover/Positioner/PopoverPositioner.tsx
Labels: component: alert dialog, enhancement, component: dialog, component: popover

#803 [NumberField] Change composition input check
  packages/mui-base/src/NumberField/Root/useNumberFieldRoot.ts
Labels: component: number field

#733 [CheckboxGroup] Handle disabled children
  packages/mui-base/src/Checkbox/Root/CheckboxRoot.tsx
  packages/mui-base/src/CheckboxGroup/Parent/useCheckboxGroupParent.test.tsx
  packages/mui-base/src/CheckboxGroup/Parent/useCheckboxGroupParent.ts
Labels: component: checkbox

#822 [docs] Add missing API definition files for Select
  docs/reference/generated/select-arrow.json
  docs/reference/generated/select-backdrop.json
  docs/reference/generated/select-group-label.json
  docs/reference/generated/select-group.json
  docs/reference/generated/select-icon.json
  docs/reference/generated/select-option-indicator.json
  docs/reference/generated/select-option-text.json
  docs/reference/generated/select-option.json
  docs/reference/generated/select-popup.json
  docs/reference/generated/select-positioner.json
  docs/reference/generated/select-root.json
  docs/reference/generated/select-scroll-down-arrow.json
  docs/reference/generated/select-scroll-up-arrow.json
  docs/reference/generated/select-trigger.json
  docs/reference/generated/select-value.json
Labels: docs

#823 [test] Switch vitest to forks mode and limit concurrency on CI
  vitest.config.mts
Labels: test

#825 [Composite] Support RTL navigation, Home/End keys
  packages/mui-base/src/Composite/Root/CompositeRoot.test.tsx
  packages/mui-base/src/Composite/Root/CompositeRoot.tsx
  packages/mui-base/src/Composite/Root/useCompositeRoot.ts
  packages/mui-base/src/Composite/composite.ts
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.tsx
  packages/mui-base/src/utils/hasComputedStyleMapSupport.ts
Labels: core

#826 [Menu, Popover, Select] Add `data-pressed` to MenuTrigger, PopoverTrigger and SelectTrigger
  docs/data/api/select-trigger.json
  packages/mui-base/src/Menu/Trigger/MenuTrigger.test.tsx
  packages/mui-base/src/Menu/Trigger/MenuTrigger.tsx
  packages/mui-base/src/Popover/Root/PopoverRoot.tsx
  packages/mui-base/src/Popover/Root/PopoverRootContext.ts
  packages/mui-base/src/Popover/Root/usePopoverRoot.ts
  packages/mui-base/src/Popover/Trigger/PopoverTrigger.test.tsx
  packages/mui-base/src/Popover/Trigger/PopoverTrigger.tsx
  packages/mui-base/src/Select/Trigger/SelectTrigger.test.tsx
  packages/mui-base/src/Select/Trigger/SelectTrigger.tsx
  packages/mui-base/src/utils/popupOpenStateMapping.ts
Labels: component: select, component: menu, component: popover

#833 [docs] Add default value annotations to JSDocs
  docs/data/api/alert-dialog-root.json
  docs/data/api/dialog-root.json
  docs/data/api/menu-checkbox-item.json
  docs/data/api/switch-root.json
  docs/data/translations/api-docs/menu-checkbox-item/menu-checkbox-item.json
  docs/data/translations/api-docs/switch-root/switch-root.json
  docs/reference/generated/alert-dialog-root.json
  docs/reference/generated/dialog-root.json
  docs/reference/generated/menu-checkbox-item.json
  docs/reference/generated/switch-root.json
  packages/mui-base/src/AlertDialog/Root/AlertDialogRoot.tsx
  packages/mui-base/src/Dialog/Root/DialogRoot.tsx
  packages/mui-base/src/Dialog/Root/useDialogRoot.ts
  packages/mui-base/src/Menu/CheckboxItem/MenuCheckboxItem.tsx
  packages/mui-base/src/Switch/Root/SwitchRoot.tsx
  packages/mui-base/src/Switch/Root/useSwitchRoot.ts
Labels: docs

#832 [core] Make callback parameters consistent
  docs/data/api/slider-root.json
  docs/data/translations/api-docs/slider-root/slider-root.json
  docs/reference/generated/slider-root.json
  docs/reference/overrides/slider-root.json
  packages/mui-base/src/Menu/RadioGroup/MenuRadioGroup.tsx
  packages/mui-base/src/Menu/Root/MenuRoot.tsx
  packages/mui-base/src/Menu/Root/useMenuRoot.ts
  packages/mui-base/src/Popover/Root/usePopoverRoot.ts
  packages/mui-base/src/PreviewCard/Root/usePreviewCardRoot.ts
  packages/mui-base/src/Radio/Root/useRadioRoot.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRootContext.ts
  packages/mui-base/src/Slider/Root/SliderRoot.test.tsx
  packages/mui-base/src/Slider/Root/SliderRoot.tsx
  packages/mui-base/src/Slider/Root/useSliderRoot.ts
  packages/mui-base/src/Switch/Root/useSwitchRoot.ts
  packages/mui-base/src/Tabs/Root/TabsRoot.tsx
  packages/mui-base/src/Tabs/Root/TabsRootContext.ts
  packages/mui-base/src/Tabs/Root/useTabsRoot.ts
  packages/mui-base/src/Tabs/TabsList/useTabsList.ts
  packages/mui-base/src/Tooltip/Root/useTooltipRoot.ts
Labels: core

#834 [Dialog] Remove data-modal style hook
  packages/mui-base/src/AlertDialog/Trigger/AlertDialogTrigger.tsx
  packages/mui-base/src/Dialog/Backdrop/DialogBackdrop.tsx
  packages/mui-base/src/Dialog/Popup/DialogPopup.tsx
  packages/mui-base/src/Dialog/Trigger/DialogTrigger.tsx
Labels: component: dialog

#835 [Menu] Correct the MenuGroupLabel's role attribute
  packages/mui-base/src/Menu/GroupLabel/MenuGroupLabel.test.tsx
  packages/mui-base/src/Menu/GroupLabel/MenuGroupLabel.tsx
Labels: component: menu, bug 🐛, accessibility

#843 [docs] Rework colors and refactor components
  docs/src/components/Code.css
  docs/src/components/Code.tsx
  docs/src/components/CodeBlock.css
  docs/src/components/CodeBlock.tsx
  docs/src/components/GhostButton.css
  docs/src/components/GhostButton.tsx
  docs/src/components/Popup.css
  docs/src/components/Popup.tsx
  docs/src/components/Select.css
  docs/src/components/Select.tsx
  docs/src/components/Table.css
  docs/src/components/Table.tsx
  docs/src/components/TableCode.tsx
  docs/src/components/ToolbarButton.css
  docs/src/components/ToolbarButton.tsx
  docs/src/components/demo/CodeSandboxLink.tsx
  docs/src/components/demo/Demo.tsx
  docs/src/components/demo/DemoVariantSelector.tsx
  docs/src/components/demo/index.css
  docs/src/components/quick-nav/QuickNav.css
  docs/src/components/reference/AttributesTable.tsx
  docs/src/components/reference/CssVariablesTable.tsx
  docs/src/components/reference/PropsTable.tsx
  docs/src/components/reference/ReferenceTablePopover.tsx
  docs/src/icons/ChevronDown.tsx
  docs/src/icons/ThickCheckIcon.tsx
  docs/src/mdx-components.tsx
  docs/src/styles.css
  docs/src/syntax-highlighting/index.css
  docs/src/syntax-highlighting/rehypeInlineCode.mjs
Labels: docs

#838 [core] Use mapped `OpenChangeReason`
  packages/mui-base/src/Popover/Root/PopoverRootContext.ts
  packages/mui-base/src/Popover/Root/usePopoverRoot.ts
  packages/mui-base/src/PreviewCard/Root/PreviewCardContext.ts
  packages/mui-base/src/PreviewCard/Root/usePreviewCardRoot.ts
  packages/mui-base/src/Tooltip/Root/TooltipRootContext.ts
  packages/mui-base/src/Tooltip/Root/useTooltipRoot.ts
  packages/mui-base/src/utils/translateOpenChangeReason.ts
Labels: core

#839 [core] Use clipping-ancestors casing for public API
  docs/data/api/menu-positioner.json
  docs/data/api/popover-positioner.json
  docs/data/api/preview-card-positioner.json
  docs/data/api/select-positioner.json
  docs/data/api/tooltip-positioner.json
  docs/reference/generated/menu-positioner.json
  docs/reference/generated/popover-positioner.json
  docs/reference/generated/preview-card-positioner.json
  docs/reference/generated/select-positioner.json
  docs/reference/generated/tooltip-positioner.json
  packages/mui-base/src/Menu/Positioner/MenuPositioner.tsx
  packages/mui-base/src/Menu/Positioner/useMenuPositioner.ts
  packages/mui-base/src/Popover/Positioner/PopoverPositioner.tsx
  packages/mui-base/src/Popover/Positioner/usePopoverPositioner.tsx
  packages/mui-base/src/PreviewCard/Positioner/PreviewCardPositioner.tsx
  packages/mui-base/src/PreviewCard/Positioner/usePreviewCardPositioner.ts
  packages/mui-base/src/Select/Positioner/SelectPositioner.tsx
  packages/mui-base/src/Select/Positioner/useSelectPositioner.ts
  packages/mui-base/src/Tooltip/Positioner/TooltipPositioner.tsx
  packages/mui-base/src/Tooltip/Positioner/useTooltipPositioner.ts
  packages/mui-base/src/utils/useAnchorPositioning.ts
Labels: core

#848 [useScrollLock] Use visible overflow to avoid double scrollbars
  packages/react/src/utils/useScrollLock.ts
Labels: core

#849 [dependencies] Update Tailwind CSS packages together
  renovate.json
Labels: dependencies

#846 [docs] Main demo design
  docs/data/components/alert-dialog/AlertDialogIntroduction/css-modules/styles.module.css
  docs/data/components/alert-dialog/AlertDialogIntroduction/tailwind/index.js
  docs/data/components/alert-dialog/AlertDialogIntroduction/tailwind/index.tsx
  docs/data/components/checkbox-group/UnstyledCheckboxGroupIntroduction/tailwind/index.js
  docs/data/components/checkbox-group/UnstyledCheckboxGroupIntroduction/tailwind/index.tsx
  docs/data/components/checkbox/UnstyledCheckboxIntroduction/tailwind/index.js
  docs/data/components/checkbox/UnstyledCheckboxIntroduction/tailwind/index.tsx
  docs/data/components/dialog/UnstyledDialogIntroduction/css-modules/styles.module.css
  docs/data/components/dialog/UnstyledDialogIntroduction/tailwind/index.js
  docs/data/components/dialog/UnstyledDialogIntroduction/tailwind/index.tsx
  docs/data/components/menu/MenuIntroduction/css-modules/Menu.module.css
  docs/data/components/menu/MenuIntroduction/tailwind/index.js
  docs/data/components/menu/MenuIntroduction/tailwind/index.tsx
  docs/data/components/number-field/UnstyledNumberFieldIntroduction/tailwind/index.js
  docs/data/components/number-field/UnstyledNumberFieldIntroduction/tailwind/index.tsx
  docs/data/components/progress/UnstyledProgressIntroduction/tailwind/index.js
  docs/data/components/progress/UnstyledProgressIntroduction/tailwind/index.tsx
  docs/data/components/slider/styles.module.css
  docs/data/components/slider/vertical.module.css
  docs/data/components/switch/UnstyledSwitchIntroduction/css-modules/styles.module.css
  docs/data/components/switch/UnstyledSwitchIntroduction/tailwind/index.js
  docs/data/components/switch/UnstyledSwitchIntroduction/tailwind/index.tsx
  docs/data/components/tabs/UnstyledTabsIntroduction/tailwind/index.js
  docs/data/components/tabs/UnstyledTabsIntroduction/tailwind/index.tsx
  docs/src/app/experiments/slider.module.css
  docs/src/app/new/(content)/components/dialog/NestedDialogs.tsx
  docs/src/app/new/(content)/components/dialog/UnstyledDialogIntroduction/css-modules/index.js
  docs/src/app/new/(content)/components/dialog/UnstyledDialogIntroduction/css-modules/index.tsx
  docs/src/app/new/(content)/components/dialog/UnstyledDialogIntroduction/css-modules/styles.module.css
  docs/src/app/new/(content)/components/dialog/UnstyledDialogIntroduction/tailwind/index.js
  docs/src/app/new/(content)/components/dialog/UnstyledDialogIntroduction/tailwind/index.tsx
  docs/src/app/new/(content)/components/dialog/demos/hero/css-modules/index.module.css
  docs/src/app/new/(content)/components/dialog/demos/hero/css-modules/index.tsx
  docs/src/app/new/(content)/components/dialog/demos/hero/index.ts
  docs/src/app/new/(content)/components/dialog/demos/hero/tailwind/index.tsx
  docs/src/app/new/(content)/components/dialog/page.mdx
  docs/src/app/new/layout.tsx
  docs/src/components/Select.css
  docs/src/components/demo/Demo.tsx
  docs/src/components/demo/DemoPlayground.tsx
  docs/src/components/demo/index.css
  docs/src/design-system/Tooltip.module.css
  docs/src/styles.css
  docs/src/styles/demo-colors.css
Labels: docs

#853 [docs, core] Upgrade Tailwind (again) and Prettier
  docs/package.json
  docs/src/app/new/(content)/components/dialog/demos/hero/css-modules/index.module.css
  docs/src/app/new/(content)/components/dialog/demos/hero/tailwind/index.tsx
  docs/src/app/new/layout.css
  docs/src/app/new/layout.tsx
  docs/src/components/GhostButton.css
  docs/src/components/Select.css
  docs/src/components/content/PackageManagerSnippet.tsx
  docs/src/components/demo/index.css
  docs/src/mdx-components.tsx
  package.json
  packages/react/src/Collapsible/Panel/useCollapsiblePanel.ts
  packages/react/src/Composite/List/useCompositeListItem.ts
  packages/react/src/Field/Control/useFieldControlValidation.ts
  packages/react/src/Progress/Root/useProgressRoot.ts
  packages/react/src/Slider/Thumb/useSliderThumb.ts
  packages/react/src/useButton/useButton.ts
  pnpm-lock.yaml
  prettier.config.js
Labels: core, docs

#852 [docs] Tweak code sizes
  docs/src/app/new/layout.css
  docs/src/components/CodeBlock.css
  docs/src/components/Popup.css
  docs/src/components/demo/index.css
  docs/src/fonts/index.css
Labels: docs

#850 [core] Clean up config files
  .eslintignore
  .gitattributes
  .gitignore
  package.json
  pnpm-lock.yaml
  renovate.json
  scripts/sizeSnapshot/create.js
Labels: core

#821 [core] Add exports field and build proper ES modules (no import extensions variant)
  .circleci/config.yml
  babel.config.js
  docs/vitest.config.mts
  package.json
  packages/react/package.json
  packages/react/tsconfig.build.json
  packages/react/vitest.config.mts
  pnpm-lock.yaml
  scripts/build.mjs
  scripts/buildTypes.mts
  scripts/copyFiles.mjs
  scripts/copyFilesUtils.mjs
  tsconfig.base.json
  vitest.shared.mts
  vitest.workspace.mts
  vitest.workspace.ts
Labels: core, scope: code-infra

#830 [Popover] Move focus management props to Popup
  docs/data/api/popover-popup.json
  docs/data/api/popover-positioner.json
  docs/data/translations/api-docs/popover-popup/popover-popup.json
  docs/data/translations/api-docs/popover-positioner/popover-positioner.json
  docs/reference/generated/popover-popup.json
  docs/reference/generated/popover-positioner.json
  packages/react/src/Popover/Popup/PopoverPopup.test.tsx
  packages/react/src/Popover/Popup/PopoverPopup.tsx
  packages/react/src/Popover/Popup/usePopoverPopup.ts
  packages/react/src/Popover/Positioner/PopoverPositioner.test.tsx
  packages/react/src/Popover/Positioner/PopoverPositioner.tsx
  packages/react/src/Popover/Positioner/PopoverPositionerContext.ts
  packages/react/src/Popover/Positioner/usePopoverPositioner.tsx
  packages/react/src/Select/Popup/SelectPopup.tsx
  packages/react/src/Select/Positioner/SelectPositioner.tsx
Labels: component: popover

#817 [useAnchorPositioning] Disable auto axis flipping
  packages/react/src/utils/useAnchorPositioning.ts
Labels: core

#751 [tabs] Modernize implementation
  docs/data/api/tabs-root.json
  docs/data/translations/api-docs/tab/tab.json
  docs/data/translations/api-docs/tabs-root/tabs-root.json
  docs/reference/generated/tab.json
  docs/reference/generated/tabs-root.json
  packages/react/src/Composite/Item/CompositeItem.tsx
  packages/react/src/Composite/Item/useCompositeItem.ts
  packages/react/src/Composite/List/CompositeList.tsx
  packages/react/src/Composite/List/CompositeListContext.ts
  packages/react/src/Composite/List/useCompositeListItem.ts
  packages/react/src/Composite/Root/CompositeRoot.test.tsx
  packages/react/src/Composite/Root/CompositeRoot.tsx
  packages/react/src/Composite/Root/CompositeRootContext.ts
  packages/react/src/Composite/Root/useCompositeRoot.ts
  packages/react/src/Tabs/Root/TabsProvider.tsx
  packages/react/src/Tabs/Root/TabsRoot.test.tsx
  packages/react/src/Tabs/Root/TabsRoot.tsx
  packages/react/src/Tabs/Root/TabsRootContext.ts
  packages/react/src/Tabs/Root/useTabsRoot.ts
  packages/react/src/Tabs/Tab/Tab.test.tsx
  packages/react/src/Tabs/Tab/Tab.tsx
  packages/react/src/Tabs/Tab/useTab.test.tsx
  packages/react/src/Tabs/Tab/useTab.ts
  packages/react/src/Tabs/TabIndicator/TabIndicator.tsx
  packages/react/src/Tabs/TabIndicator/useTabIndicator.ts
  packages/react/src/Tabs/TabPanel/TabPanel.test.tsx
  packages/react/src/Tabs/TabPanel/TabPanel.tsx
  packages/react/src/Tabs/TabPanel/useTabPanel.test.tsx
  packages/react/src/Tabs/TabPanel/useTabPanel.ts
  packages/react/src/Tabs/TabsList/TabsList.test.tsx
  packages/react/src/Tabs/TabsList/TabsList.tsx
  packages/react/src/Tabs/TabsList/TabsListContext.ts
  packages/react/src/Tabs/TabsList/TabsListProvider.tsx
  packages/react/src/Tabs/TabsList/tabsListReducer.ts
  packages/react/src/Tabs/TabsList/useTabsList.test.tsx
  packages/react/src/Tabs/TabsList/useTabsList.ts
  packages/react/src/useCompound/index.ts
  packages/react/src/useCompound/useCompound.test.tsx
  packages/react/src/useCompound/useCompoundItem.ts
  packages/react/src/useCompound/useCompoundParent.ts
  packages/react/src/useList/ListContext.ts
  packages/react/src/useList/index.ts
  packages/react/src/useList/listActions.types.ts
  packages/react/src/useList/listReducer.test.ts
  packages/react/src/useList/listReducer.ts
  packages/react/src/useList/useList.test.tsx
  packages/react/src/useList/useList.ts
  packages/react/src/useList/useList.types.ts
  packages/react/src/useList/useListItem.ts
  packages/react/src/useList/useListItem.types.ts
  packages/react/src/utils/fastObjectShallowCompare.ts
  packages/react/src/utils/useOnMount.ts
Labels: component: tabs

#857 [docs] Add side nav, dabble in mobile responsiveness
  docs/package.json
  docs/postcss.config.js
  docs/src/app/new/(content)/components/dialog/demos/hero/css-modules/index.module.css
  docs/src/app/new/(content)/components/dialog/demos/hero/tailwind/index.tsx
  docs/src/app/new/(content)/layout.css
  docs/src/app/new/(content)/layout.tsx
  docs/src/app/new/layout.css
  docs/src/app/new/layout.tsx
  docs/src/breakpoints.css
  docs/src/components/Select.css
  docs/src/components/SideNav.css
  docs/src/components/SideNav.tsx
  docs/src/components/demo/Demo.tsx
  docs/src/components/demo/index.css
  docs/src/components/quick-nav/QuickNav.css
  docs/src/components/quick-nav/QuickNav.tsx
  docs/src/styles.css
  pnpm-lock.yaml
Labels: docs

#847 [Select] Fix `min-height` fallback check
  packages/react/src/Select/Popup/useSelectPopup.ts
Labels: component: select

#855 [Popover] Disable focus management when opened via hover
  packages/react/src/Popover/Popup/PopoverPopup.tsx
  packages/react/src/Popover/Root/PopoverRoot.test.tsx
  packages/react/src/Popover/Root/usePopoverRoot.ts
Labels: component: popover

#858 [core] Add no-relative-packages
  .eslintrc.js
  docs/src/components/AppBar.tsx
  docs/vitest.config.mts
  packages/react/vitest.config.mts
Labels: core

#865 [docs] Add a basic header
  docs/src/app/new/layout.css
  docs/src/app/new/layout.tsx
  docs/src/components/Header.css
  docs/src/components/Header.tsx
  docs/src/icons/GitHub.tsx
  docs/src/styles.css
Labels: docs

#863 [docs] Automatic title and meta description
  docs/src/app/new/(content)/layout.tsx
  docs/src/components/TableCode.tsx
  docs/src/getChildrenText.ts
  docs/src/mdx-components.tsx
Labels: docs

#871 [Composite] Detect text direction in event handler instead
  packages/react/src/Composite/Root/useCompositeRoot.ts
Labels: core, performance

#873 [docs] Tailwind upgrade to v4.0.0-beta.2
  docs/package.json
  docs/src/app/new/(content)/components/dialog/demos/hero/tailwind/index.tsx
  docs/src/components/GhostButton.css
  docs/src/components/Table.css
  docs/src/components/demo/index.css
  docs/src/styles.css
  package.json
  pnpm-lock.yaml
Labels: docs

#878 [popups] Look for animations when `open` is set to `false` externally
  packages/react/src/alert-dialog/root/AlertDialogRoot.tsx
  packages/react/src/dialog/popup/useDialogPopup.tsx
  packages/react/src/dialog/root/DialogRoot.test.tsx
  packages/react/src/dialog/root/DialogRoot.tsx
  packages/react/src/dialog/root/useDialogRoot.ts
  packages/react/src/menu/root/MenuRoot.test.tsx
  packages/react/src/menu/root/useMenuRoot.ts
  packages/react/src/popover/root/PopoverRoot.test.tsx
  packages/react/src/popover/root/usePopoverRoot.ts
  packages/react/src/preview-card/root/PreviewCardRoot.test.tsx
  packages/react/src/preview-card/root/usePreviewCardRoot.ts
  packages/react/src/select/root/SelectRoot.test.tsx
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/utils/types.ts
  packages/react/src/utils/useUnmountAfterCloseAnimation.tsx
Labels: component: select, component: menu, component: alert dialog, bug 🐛, component: dialog, component: popover, component: preview card

#887 [core] Optionally delay `useTransitionStatus`'s `entering` status with a param
  docs/src/app/experiments/collapsible-transitions.tsx
  docs/src/app/experiments/collapsible.module.css
  packages/react/src/collapsible/root/useCollapsibleRoot.ts
  packages/react/src/utils/useTransitionStatus.ts
Labels: core

#881 [docs] Mobile nav
  docs/src/app/layout.tsx
  docs/src/app/new/(content)/components/dialog/demos/hero/css-modules/index.module.css
  docs/src/app/new/(content)/components/dialog/demos/hero/tailwind/index.tsx
  docs/src/app/new/(content)/layout.css
  docs/src/app/new/(content)/layout.tsx
  docs/src/app/new/layout.css
  docs/src/components/Header.css
  docs/src/components/Header.tsx
  docs/src/components/MobileNav.css
  docs/src/components/MobileNav.tsx
  docs/src/components/Popup.css
  docs/src/components/SideNav.css
  docs/src/components/SideNav.tsx
  docs/src/components/quick-nav/QuickNav.css
  docs/src/components/reference/ReferenceTablePopover.tsx
  docs/src/icons/Npm.tsx
  docs/src/mdx-components.tsx
  docs/src/nav.ts
  docs/src/styles.css
Labels: docs

#893 [docs] Fix select arrow alignment
  docs/src/components/Select.css
Labels: docs

#888 [Popover] Fix regression on disabling focus management on hover
  packages/react/src/dialog/root/useDialogRoot.ts
  packages/react/src/menu/root/useMenuRoot.ts
  packages/react/src/popover/root/PopoverRoot.test.tsx
  packages/react/src/popover/root/usePopoverRoot.ts
  packages/react/src/preview-card/root/usePreviewCardRoot.ts
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/utils/useAfterCloseAnimation.tsx
  packages/react/src/utils/useUnmountAfterCloseAnimation.tsx
Labels: bug 🐛, component: popover

#897 [docs] Content 2: Collapsible, demo fixes
  .eslintrc.js
  docs/data/components/checkbox-group/UnstyledCheckboxGroupIntroduction/tailwind/index.js
  docs/data/components/checkbox-group/UnstyledCheckboxGroupIntroduction/tailwind/index.tsx
  docs/src/app/new/(content)/components/accordion/demos/hero/tailwind/index.tsx
  docs/src/app/new/(content)/components/alert-dialog/demos/hero/tailwind/index.tsx
  docs/src/app/new/(content)/components/checkbox-group/demos/hero/css-modules/index.module.css
  docs/src/app/new/(content)/components/checkbox-group/demos/hero/css-modules/index.tsx
  docs/src/app/new/(content)/components/checkbox-group/demos/hero/tailwind/index.tsx
  docs/src/app/new/(content)/components/checkbox/demos/hero/css-modules/index.module.css
  docs/src/app/new/(content)/components/checkbox/demos/hero/tailwind/index.tsx
  docs/src/app/new/(content)/components/collapsible/demos/hero/css-modules/index.module.css
  docs/src/app/new/(content)/components/collapsible/demos/hero/css-modules/index.tsx
  docs/src/app/new/(content)/components/collapsible/demos/hero/index.ts
  docs/src/app/new/(content)/components/collapsible/demos/hero/tailwind/index.tsx
  docs/src/app/new/(content)/components/collapsible/page.mdx
  docs/src/app/new/(content)/components/dialog/demos/hero/css-modules/index.tsx
  docs/src/app/new/(content)/components/dialog/demos/hero/tailwind/index.tsx
  docs/src/components/MobileNav.css
  docs/src/components/Select.css
  docs/src/components/Select.tsx
  docs/src/components/demo/DemoPlayground.tsx
  docs/src/components/demo/index.css
  docs/src/components/quick-nav/rehypeQuickNav.mjs
  docs/src/icons/ThickCheckIcon.tsx
  docs/src/nav.ts
  docs/src/styles.css
  docs/src/styles/demo-colors.css
  packages/react/src/utils/defaultRenderFunctions.tsx
Labels: docs

#885 [Progress][RadioGroup][Tabs] Unify text direction (LTR/RTL) handling
  docs/data/api/progress-root.json
  docs/data/api/tabs-root.json
  docs/data/components/progress/IndeterminateProgress.js
  docs/data/components/progress/IndeterminateProgress.tsx
  docs/data/components/progress/IndeterminateProgress.tsx.preview
  docs/data/components/progress/RtlProgress.js
  docs/data/components/progress/RtlProgress.tsx
  docs/data/components/progress/RtlProgress.tsx.preview
  docs/data/components/progress/UnstyledProgressIntroduction/css-modules/index.js
  docs/data/components/progress/UnstyledProgressIntroduction/css-modules/index.tsx
  docs/data/components/progress/UnstyledProgressIntroduction/css-modules/index.tsx.preview
  docs/data/components/progress/UnstyledProgressIntroduction/system/index.js
  docs/data/components/progress/UnstyledProgressIntroduction/system/index.tsx
  docs/data/components/progress/UnstyledProgressIntroduction/tailwind/index.js
  docs/data/components/progress/UnstyledProgressIntroduction/tailwind/index.tsx
  docs/data/components/progress/progress.mdx
  docs/data/components/progress/styles.module.css
  docs/data/components/radio-group/radio-group.mdx
  docs/data/components/tabs/tabs.mdx
  docs/data/translations/api-docs/progress-root/progress-root.json
  docs/data/translations/api-docs/tabs-root/tabs-root.json
  docs/reference/generated/progress-root.json
  docs/reference/generated/tabs-root.json
  docs/src/app/experiments/progress.tsx
  packages/react/src/progress/index.parts.ts
  packages/react/src/progress/indicator/ProgressIndicator.test.tsx
  packages/react/src/progress/indicator/ProgressIndicator.tsx
  packages/react/src/progress/indicator/useProgressIndicator.ts
  packages/react/src/progress/root/ProgressRoot.tsx
  packages/react/src/progress/root/styleHooks.ts
  packages/react/src/progress/root/useProgressRoot.ts
  packages/react/src/progress/track/ProgressTrack.test.tsx
  packages/react/src/radio-group/root/RadioGroupRoot.test.tsx
  packages/react/src/tabs/root/TabsRoot.test.tsx
  packages/react/src/tabs/root/TabsRoot.tsx
  packages/react/src/tabs/root/TabsRootContext.ts
  packages/react/src/tabs/root/styleHooks.ts
  packages/react/src/tabs/root/useTabsRoot.ts
  packages/react/src/tabs/tab-indicator/TabIndicator.tsx
  packages/react/src/tabs/tab-panel/TabPanel.test.tsx
  packages/react/src/tabs/tab-panel/TabPanel.tsx
  packages/react/src/tabs/tab/Tab.test.tsx
  packages/react/src/tabs/tabs-list/TabsList.test.tsx
  packages/react/src/tabs/tabs-list/TabsList.tsx
Labels: component: tabs, component: radio group, component: progress

#879 [core] Pin pnpm's version
  package.json
Labels: core
