Repository mui/base-ui, pull requests merged in 2024-09, with the labels that each got.

#546 [test] Fix tests on Safari
  packages/mui-base/src/Dialog/Root/DialogRoot.test.tsx
  packages/mui-base/src/Menu/Item/MenuItem.test.tsx
  packages/mui-base/src/Menu/Root/MenuRoot.test.tsx
  test/karma.conf.js
Labels: test

#458 [CheckboxGroup] Implement components and hooks
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupIntroduction/css/index.js
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupIntroduction/css/index.tsx
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupIntroduction/system/index.js
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupIntroduction/system/index.tsx
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupIntroduction/tailwind/index.js
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupIntroduction/tailwind/index.tsx
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupNested.js
  docs/data/base/components/checkbox-group/UnstyledCheckboxGroupNested.tsx
  docs/data/base/components/checkbox-group/checkbox-group.md
  docs/data/base/components/checkbox/UnstyledCheckboxIndeterminateGroup.js
  docs/data/base/components/checkbox/UnstyledCheckboxIndeterminateGroup.tsx
  docs/data/base/pages.ts
  docs/data/base/pagesApi.js
  docs/pages/base-ui/api/checkbox-group-root.json
  docs/pages/base-ui/api/checkbox-root.json
  docs/pages/base-ui/api/use-checkbox-group-parent.json
  docs/pages/base-ui/api/use-checkbox-group-root.json
  docs/pages/base-ui/api/use-checkbox-root.json
  docs/pages/base-ui/react-checkbox-group/[docsTab]/index.js
  docs/pages/base-ui/react-checkbox-group/index.js
  docs/translations/api-docs/checkbox-group-root/checkbox-group-root.json
  docs/translations/api-docs/checkbox-root/checkbox-root.json
  docs/translations/api-docs/use-checkbox-group-parent/use-checkbox-group-parent.json
  docs/translations/api-docs/use-checkbox-group-root/use-checkbox-group-root.json
  docs/translations/api-docs/use-checkbox-root/use-checkbox-root.json
  docs/translations/translations.json
  packages/mui-base/src/Checkbox/Root/CheckboxRoot.tsx
  packages/mui-base/src/Checkbox/Root/CheckboxRoot.types.ts
  packages/mui-base/src/Checkbox/Root/CheckboxRootContext.ts
  packages/mui-base/src/Checkbox/Root/useCheckboxRoot.ts
  packages/mui-base/src/CheckboxGroup/Parent/useCheckboxGroupParent.test.tsx
  packages/mui-base/src/CheckboxGroup/Parent/useCheckboxGroupParent.ts
  packages/mui-base/src/CheckboxGroup/Root/CheckboxGroupRoot.test.tsx
  packages/mui-base/src/CheckboxGroup/Root/CheckboxGroupRoot.tsx
  packages/mui-base/src/CheckboxGroup/Root/CheckboxGroupRootContext.ts
  packages/mui-base/src/CheckboxGroup/Root/useCheckboxGroupRoot.tsx
  packages/mui-base/src/CheckboxGroup/index.barrel.ts
  packages/mui-base/src/CheckboxGroup/index.ts
  packages/mui-base/src/index.ts
Labels: component: checkbox

#487 [RadioGroup] Create new `RadioGroup` component
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.js
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.tsx
  docs/data/base/components/radio-group/UnstyledRadioGroupIntroduction/system/index.tsx.preview
  docs/data/base/components/radio-group/radio-group.md
  docs/data/base/pages.ts
  docs/data/base/pagesApi.js
  docs/pages/base-ui/api/radio-group-root.json
  docs/pages/base-ui/api/radio-indicator.json
  docs/pages/base-ui/api/radio-root.json
  docs/pages/base-ui/api/use-composite-item.json
  docs/pages/base-ui/api/use-composite-list-item.json
  docs/pages/base-ui/api/use-radio-group-root.json
  docs/pages/base-ui/api/use-radio-root.json
  docs/pages/base-ui/react-radio-group/[docsTab]/index.js
  docs/pages/base-ui/react-radio-group/index.js
  docs/translations/api-docs/radio-group-root/radio-group-root.json
  docs/translations/api-docs/radio-indicator/radio-indicator.json
  docs/translations/api-docs/radio-root/radio-root.json
  docs/translations/api-docs/use-composite-item/use-composite-item.json
  docs/translations/api-docs/use-composite-list-item/use-composite-list-item.json
  docs/translations/api-docs/use-radio-group-root/use-radio-group-root.json
  docs/translations/api-docs/use-radio-root/use-radio-root.json
  docs/translations/translations.json
  packages/mui-base/src/Composite/Item/CompositeItem.tsx
  packages/mui-base/src/Composite/Item/useCompositeItem.ts
  packages/mui-base/src/Composite/List/CompositeList.tsx
  packages/mui-base/src/Composite/List/CompositeListContext.ts
  packages/mui-base/src/Composite/List/useCompositeListItem.ts
  packages/mui-base/src/Composite/Root/CompositeRoot.tsx
  packages/mui-base/src/Composite/Root/CompositeRootContext.ts
  packages/mui-base/src/Composite/Root/useCompositeRoot.ts
  packages/mui-base/src/Composite/composite.ts
  packages/mui-base/src/Field/Description/FieldDescription.test.tsx
  packages/mui-base/src/Field/Label/FieldLabel.test.tsx
  packages/mui-base/src/Field/Root/FieldRoot.test.tsx
  packages/mui-base/src/Radio/Indicator/RadioIndicator.test.tsx
  packages/mui-base/src/Radio/Indicator/RadioIndicator.tsx
  packages/mui-base/src/Radio/Root/RadioRoot.test.tsx
  packages/mui-base/src/Radio/Root/RadioRoot.tsx
  packages/mui-base/src/Radio/Root/RadioRootContext.ts
  packages/mui-base/src/Radio/Root/useRadioRoot.tsx
  packages/mui-base/src/Radio/index.barrel.ts
  packages/mui-base/src/Radio/index.ts
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.test.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRoot.tsx
  packages/mui-base/src/RadioGroup/Root/RadioGroupRootContext.ts
  packages/mui-base/src/RadioGroup/Root/useRadioGroupRoot.ts
  packages/mui-base/src/RadioGroup/index.barrel.ts
  packages/mui-base/src/RadioGroup/index.ts
  packages/mui-base/src/utils/noop.ts
Labels: component: radio group

#578 [test] Run Browserstack tests on master only
  test/karma.conf.js
Labels: test

#580 Add default value as `clippingAncestors` to collisionBoundary prop
  packages/mui-base/src/Menu/Positioner/MenuPositioner.tsx
  packages/mui-base/src/Popover/Positioner/PopoverPositioner.tsx
  packages/mui-base/src/PreviewCard/Positioner/PreviewCardPositioner.tsx
  packages/mui-base/src/Tooltip/Positioner/TooltipPositioner.tsx
Labels: package: base-ui

#589 [Form] Create new `Form` component
  docs/data/api/field-control.json
  docs/data/api/field-root.json
  docs/data/api/form-root.json
  docs/data/components/field/UnstyledFieldAsync.js
  docs/data/components/field/UnstyledFieldAsync.tsx
  docs/data/components/field/UnstyledFieldServerError.js
  docs/data/components/field/UnstyledFieldServerError.tsx
  docs/data/components/form/FormIntroduction/system/index.js
  docs/data/components/form/FormIntroduction/system/index.tsx
  docs/data/components/form/form.mdx
  docs/data/pages.ts
  docs/data/translations/api-docs/field-control/field-control.json
  docs/data/translations/api-docs/field-root/field-root.json
  docs/data/translations/api-docs/form-root/form-root.json
  packages/mui-base/src/Checkbox/Root/useCheckboxRoot.ts
  packages/mui-base/src/Field/Control/FieldControl.tsx
  packages/mui-base/src/Field/Control/FieldControl.types.ts
  packages/mui-base/src/Field/Control/useFieldControl.ts
  packages/mui-base/src/Field/Control/useFieldControlValidation.ts
  packages/mui-base/src/Field/Error/FieldError.tsx
  packages/mui-base/src/Field/Error/useFieldError.ts
  packages/mui-base/src/Field/Root/FieldRoot.test.tsx
  packages/mui-base/src/Field/Root/FieldRoot.tsx
  packages/mui-base/src/Field/Root/FieldRoot.types.ts
  packages/mui-base/src/Field/Root/FieldRootContext.ts
  packages/mui-base/src/Field/Validity/FieldValidity.tsx
  packages/mui-base/src/Field/useField.ts
  packages/mui-base/src/Field/utils/constants.ts
  packages/mui-base/src/Field/utils/getCombinedFieldValidityData.ts
  packages/mui-base/src/Form/Root/FormRoot.test.tsx
  packages/mui-base/src/Form/Root/FormRoot.tsx
  packages/mui-base/src/Form/Root/FormRootContext.ts
  packages/mui-base/src/Form/index.barrel.ts
  packages/mui-base/src/Form/index.ts
  packages/mui-base/src/NumberField/Root/useNumberFieldRoot.ts
  packages/mui-base/src/RadioGroup/Root/useRadioGroupRoot.ts
  packages/mui-base/src/Slider/Root/useSliderRoot.ts
  packages/mui-base/src/Switch/Root/useSwitchRoot.ts
  packages/mui-base/src/utils/defaultRenderFunctions.tsx
Labels: component: form

#590 [Number Field] Modernize implementation
  docs/data/components/number-field/UnstyledNumberFieldIntroduction/tailwind/index.tsx
  packages/mui-base/src/NumberField/Decrement/NumberFieldDecrement.test.tsx
  packages/mui-base/src/NumberField/Decrement/NumberFieldDecrement.tsx
  packages/mui-base/src/NumberField/Decrement/NumberFieldDecrement.types.ts
  packages/mui-base/src/NumberField/Group/NumberFieldGroup.test.tsx
  packages/mui-base/src/NumberField/Group/NumberFieldGroup.tsx
  packages/mui-base/src/NumberField/Group/NumberFieldGroup.types.ts
  packages/mui-base/src/NumberField/Increment/NumberFieldIncrement.test.tsx
  packages/mui-base/src/NumberField/Increment/NumberFieldIncrement.tsx
  packages/mui-base/src/NumberField/Increment/NumberFieldIncrement.types.ts
  packages/mui-base/src/NumberField/Input/NumberFieldInput.test.tsx
  packages/mui-base/src/NumberField/Input/NumberFieldInput.tsx
  packages/mui-base/src/NumberField/Input/NumberFieldInput.types.ts
  packages/mui-base/src/NumberField/Root/NumberFieldContext.ts
  packages/mui-base/src/NumberField/Root/NumberFieldRoot.test.tsx
  packages/mui-base/src/NumberField/Root/NumberFieldRoot.tsx
  packages/mui-base/src/NumberField/Root/NumberFieldRoot.types.ts
  packages/mui-base/src/NumberField/Root/useNumberFieldRoot.ts
  packages/mui-base/src/NumberField/Root/useScrub.ts
  packages/mui-base/src/NumberField/ScrubArea/NumberFieldScrubArea.test.tsx
  packages/mui-base/src/NumberField/ScrubArea/NumberFieldScrubArea.tsx
  packages/mui-base/src/NumberField/ScrubArea/NumberFieldScrubArea.types.ts
  packages/mui-base/src/NumberField/ScrubAreaCursor/NumberFieldScrubAreaCursor.test.tsx
  packages/mui-base/src/NumberField/ScrubAreaCursor/NumberFieldScrubAreaCursor.tsx
  packages/mui-base/src/NumberField/ScrubAreaCursor/NumberFieldScrubAreaCursor.types.ts
  packages/mui-base/src/NumberField/index.barrel.ts
  packages/mui-base/src/NumberField/index.ts
Labels: component: number field

#592 [Menu] Increase test timeout
  packages/mui-base/src/Menu/Item/MenuItem.test.tsx
Labels: component: menu, test

#596 [core] Remove /.yarn
  .eslintignore
Labels: core

#613 [docs-infra] Fix double //
  docs/app/(content)/components/[slug]/page.tsx
  docs/app/(content)/getting-started/[slug]/page.tsx
  docs/app/(content)/guides/[slug]/page.tsx
  docs/src/components/EditPageGithubLink.tsx
Labels: docs, bug 🐛, scope: docs-infra

#614 [docs] Fix rel attribute on edit GitHub links
  docs/src/components/EditPageGithubLink.tsx
Labels: docs, bug 🐛, regression, scope: docs-infra

#595 [docs-infra] Strengthen CSP
  docs/public/_headers
Labels: security, scope: docs-infra

#610 [docs] Avoid dead links in demos
  docs/public/_redirects
Labels: docs, bug 🐛

#598 [infra] Adds reusable workflow for closing message on issues
  .github/workflows/closed-issue-message.yaml
Labels: scope: infra

#594 [Checkbox] Modernize implementation
  docs/data/api/checkbox-indicator.json
  docs/data/api/checkbox-root.json
  docs/data/components/checkbox-group/UnstyledCheckboxGroupIntroduction/tailwind/index.tsx
  docs/data/components/checkbox/UnstyledCheckboxIntroduction/tailwind/index.tsx
  docs/data/translations/api-docs/checkbox-root/checkbox-root.json
  packages/mui-base/src/Checkbox/Indicator/CheckboxIndicator.test.tsx
  packages/mui-base/src/Checkbox/Indicator/CheckboxIndicator.tsx
  packages/mui-base/src/Checkbox/Indicator/CheckboxIndicator.types.ts
  packages/mui-base/src/Checkbox/Root/CheckboxContext.ts
  packages/mui-base/src/Checkbox/Root/CheckboxRoot.tsx
  packages/mui-base/src/Checkbox/Root/CheckboxRoot.types.ts
  packages/mui-base/src/Checkbox/Root/CheckboxRootContext.ts
  packages/mui-base/src/Checkbox/Root/useCheckboxRoot.ts
  packages/mui-base/src/Checkbox/index.barrel.ts
  packages/mui-base/src/Checkbox/index.ts
  packages/mui-base/src/Checkbox/utils/useCustomStyleHookMapping.ts
Labels: component: checkbox

#626 [PreviewCard] Modernize implementation
  docs/data/translations/api-docs/preview-card-root/preview-card-root.json
  packages/mui-base/src/PreviewCard/Arrow/PreviewCardArrow.tsx
  packages/mui-base/src/PreviewCard/Arrow/PreviewCardArrow.types.ts
  packages/mui-base/src/PreviewCard/Arrow/usePreviewCardArrow.ts
  packages/mui-base/src/PreviewCard/Arrow/usePreviewCardArrow.types.ts
  packages/mui-base/src/PreviewCard/Backdrop/PreviewCardBackdrop.tsx
  packages/mui-base/src/PreviewCard/Backdrop/PreviewCardBackdrop.types.ts
  packages/mui-base/src/PreviewCard/Backdrop/usePreviewCardBackdrop.ts
  packages/mui-base/src/PreviewCard/Backdrop/usePreviewCardBackdrop.types.ts
  packages/mui-base/src/PreviewCard/Popup/PreviewCardPopup.tsx
  packages/mui-base/src/PreviewCard/Popup/PreviewCardPopup.types.ts
  packages/mui-base/src/PreviewCard/Popup/usePreviewCardPopup.ts
  packages/mui-base/src/PreviewCard/Popup/usePreviewCardPopup.types.ts
  packages/mui-base/src/PreviewCard/Positioner/PreviewCardPositioner.tsx
  packages/mui-base/src/PreviewCard/Positioner/PreviewCardPositioner.types.ts
  packages/mui-base/src/PreviewCard/Positioner/PreviewCardPositionerContext.ts
  packages/mui-base/src/PreviewCard/Positioner/usePreviewCardPositioner.ts
  packages/mui-base/src/PreviewCard/Positioner/usePreviewCardPositioner.types.ts
  packages/mui-base/src/PreviewCard/Root/PreviewCardContext.ts
  packages/mui-base/src/PreviewCard/Root/PreviewCardRoot.test.tsx
  packages/mui-base/src/PreviewCard/Root/PreviewCardRoot.tsx
  packages/mui-base/src/PreviewCard/Root/PreviewCardRoot.types.ts
  packages/mui-base/src/PreviewCard/Root/usePreviewCardRoot.ts
  packages/mui-base/src/PreviewCard/Root/usePreviewCardRoot.types.ts
  packages/mui-base/src/PreviewCard/Trigger/PreviewCardTrigger.tsx
  packages/mui-base/src/PreviewCard/Trigger/PreviewCardTrigger.types.ts
  packages/mui-base/src/PreviewCard/index.barrel.ts
  packages/mui-base/src/PreviewCard/index.ts
Labels: component: preview card

#606 [Tooltip] Modernize implementation
  docs/data/api/tooltip-root.json
  docs/data/translations/api-docs/tooltip-positioner/tooltip-positioner.json
  docs/data/translations/api-docs/tooltip-root/tooltip-root.json
  packages/mui-base/src/Tooltip/Arrow/TooltipArrow.tsx
  packages/mui-base/src/Tooltip/Arrow/TooltipArrow.types.ts
  packages/mui-base/src/Tooltip/Arrow/useTooltipArrow.ts
  packages/mui-base/src/Tooltip/Arrow/useTooltipArrow.types.ts
  packages/mui-base/src/Tooltip/Popup/TooltipPopup.tsx
  packages/mui-base/src/Tooltip/Popup/TooltipPopup.types.ts
  packages/mui-base/src/Tooltip/Popup/useTooltipPopup.ts
  packages/mui-base/src/Tooltip/Popup/useTooltipPopup.types.ts
  packages/mui-base/src/Tooltip/Positioner/TooltipPositioner.tsx
  packages/mui-base/src/Tooltip/Positioner/TooltipPositioner.types.ts
  packages/mui-base/src/Tooltip/Positioner/TooltipPositionerContext.ts
  packages/mui-base/src/Tooltip/Positioner/useTooltipPositioner.ts
  packages/mui-base/src/Tooltip/Positioner/useTooltipPositioner.types.ts
  packages/mui-base/src/Tooltip/Provider/TooltipProvider.tsx
  packages/mui-base/src/Tooltip/Provider/TooltipProvider.types.ts
  packages/mui-base/src/Tooltip/Root/TooltipRoot.test.tsx
  packages/mui-base/src/Tooltip/Root/TooltipRoot.tsx
  packages/mui-base/src/Tooltip/Root/TooltipRoot.types.ts
  packages/mui-base/src/Tooltip/Root/TooltipRootContext.ts
  packages/mui-base/src/Tooltip/Root/useTooltipRoot.ts
  packages/mui-base/src/Tooltip/Root/useTooltipRoot.types.ts
  packages/mui-base/src/Tooltip/Trigger/TooltipTrigger.tsx
  packages/mui-base/src/Tooltip/Trigger/TooltipTrigger.types.ts
  packages/mui-base/src/Tooltip/index.barrel.ts
  packages/mui-base/src/Tooltip/index.ts
Labels: component: tooltip

#604 [useScrollLock] Avoid scrollbar layout shift issues
  docs/app/experiments/scroll-lock.tsx
  packages/mui-base/src/utils/useScrollLock.ts
Labels: core, component: dialog

#609 [Menu] Fix custom anchor positioning
  docs/app/experiments/[slug]/page.tsx
  docs/app/experiments/menu-anchor-el.tsx
  docs/app/experiments/menu-anchor-ref.tsx
  packages/mui-base/src/Menu/Positioner/MenuPositioner.test.tsx
  packages/mui-base/src/utils/useAnchorPositioning.ts
Labels: component: menu, bug 🐛

#632 [test] Use `waitFor` instead of fixed timeout in tests
  packages/mui-base/src/Tabs/TabIndicator/TabIndicator.test.tsx
Labels: test

#591 [AlertDialog] Move types to namespaces
  docs/data/components/alert-dialog/AlertDialogIntroduction/tailwind/index.tsx
  packages/mui-base/src/AlertDialog/Backdrop/AlertDialogBackdrop.tsx
  packages/mui-base/src/AlertDialog/Backdrop/AlertDialogBackdrop.types.ts
  packages/mui-base/src/AlertDialog/Close/AlertDialogClose.tsx
  packages/mui-base/src/AlertDialog/Close/AlertDialogClose.types.ts
  packages/mui-base/src/AlertDialog/Description/AlertDialogDescription.tsx
  packages/mui-base/src/AlertDialog/Description/AlertDialogDescription.types.ts
  packages/mui-base/src/AlertDialog/Popup/AlertDialogPopup.tsx
  packages/mui-base/src/AlertDialog/Popup/AlertDialogPopup.types.ts
  packages/mui-base/src/AlertDialog/Root/AlertDialogRoot.tsx
  packages/mui-base/src/AlertDialog/Root/AlertDialogRoot.types.ts
  packages/mui-base/src/AlertDialog/Root/AlertDialogRootContext.ts
  packages/mui-base/src/AlertDialog/Title/AlertDialogTitle.tsx
  packages/mui-base/src/AlertDialog/Title/AlertDialogTitle.types.ts
  packages/mui-base/src/AlertDialog/Trigger/AlertDialogTrigger.tsx
  packages/mui-base/src/AlertDialog/Trigger/AlertDialogTrigger.types.ts
  packages/mui-base/src/AlertDialog/index.barrel.ts
  packages/mui-base/src/AlertDialog/index.ts
Labels: component: alert dialog, typescript

#636 [docs] Fix 301 to chromium
  packages/mui-base/src/Slider/Root/SliderRoot.test.tsx
Labels: docs

#534 [Menu] RadioItem component
  docs/data/api/menu-radio-group.json
  docs/data/api/menu-radio-item-indicator.json
  docs/data/api/menu-radio-item.json
  docs/data/components/menu/RadioItems.js
  docs/data/components/menu/RadioItems.tsx
  docs/data/components/menu/menu.mdx
  docs/data/translations/api-docs/menu-radio-group/menu-radio-group.json
  docs/data/translations/api-docs/menu-radio-item-indicator/menu-radio-item-indicator.json
  docs/data/translations/api-docs/menu-radio-item/menu-radio-item.json
  packages/mui-base/src/Menu/Item/useMenuItem.ts
  packages/mui-base/src/Menu/Positioner/MenuPositioner.tsx
  packages/mui-base/src/Menu/Positioner/useMenuPositioner.ts
  packages/mui-base/src/Menu/RadioGroup/MenuRadioGroup.test.tsx
  packages/mui-base/src/Menu/RadioGroup/MenuRadioGroup.tsx
  packages/mui-base/src/Menu/RadioGroup/MenuRadioGroupContext.ts
  packages/mui-base/src/Menu/RadioItem/MenuRadioItem.test.tsx
  packages/mui-base/src/Menu/RadioItem/MenuRadioItem.tsx
  packages/mui-base/src/Menu/RadioItem/MenuRadioItemContext.ts
  packages/mui-base/src/Menu/RadioItem/useMenuRadioItem.ts
  packages/mui-base/src/Menu/RadioItemIndicator/MenuRadioItemIndicator.test.tsx
  packages/mui-base/src/Menu/RadioItemIndicator/MenuRadioItemIndicator.tsx
  packages/mui-base/src/Menu/Root/MenuRoot.test.tsx
  packages/mui-base/src/Menu/index.ts
Labels: component: menu, new feature

#533 [Menu] CheckboxItem component
  docs/data/api/menu-checkbox-item-indicator.json
  docs/data/api/menu-checkbox-item.json
  docs/data/components/menu/CheckboxItems.js
  docs/data/components/menu/CheckboxItems.tsx
  docs/data/components/menu/menu.mdx
  docs/data/translations/api-docs/menu-checkbox-item-indicator/menu-checkbox-item-indicator.json
  docs/data/translations/api-docs/menu-checkbox-item/menu-checkbox-item.json
  docs/src/components/demo/DemoLoader.tsx
  docs/translations/api-docs/menu-checkbox-item/menu-checkbox-item.json
  docs/translations/api-docs/use-menu-checkbox-item/use-menu-checkbox-item.json
  packages/mui-base/src/Menu/CheckboxItem/MenuCheckboxItem.test.tsx
  packages/mui-base/src/Menu/CheckboxItem/MenuCheckboxItem.tsx
  packages/mui-base/src/Menu/CheckboxItem/MenuCheckboxItemContext.ts
  packages/mui-base/src/Menu/CheckboxItem/useMenuCheckboxItem.ts
  packages/mui-base/src/Menu/CheckboxItemIndicator/MenuCheckboxItemIndicator.test.tsx
  packages/mui-base/src/Menu/CheckboxItemIndicator/MenuCheckboxItemIndicator.tsx
  packages/mui-base/src/Menu/index.ts
Labels: component: menu, new feature

#641 [Dialog][Collapsible] Fix style prop merging
  packages/mui-base/src/AlertDialog/Popup/AlertDialogPopup.tsx
  packages/mui-base/src/Collapsible/Content/CollapsibleContent.tsx
  packages/mui-base/src/Dialog/Popup/DialogPopup.tsx
  packages/mui-base/test/conformanceTests/propForwarding.tsx
Labels: component: alert dialog, bug 🐛, component: collapsible, component: dialog

#647 [Menu] Remove the unused prop
  docs/data/api/submenu-trigger.json
  docs/data/translations/api-docs/submenu-trigger/submenu-trigger.json
  packages/mui-base/src/Menu/SubmenuTrigger/SubmenuTrigger.tsx
Labels: component: menu

#535 [Menu] Group and Separator components
  docs/data/api/menu-group-label.json
  docs/data/api/menu-group.json
  docs/data/api/menu-separator.json
  docs/data/api/separator-root.json
  docs/data/components/menu/MenuIntroduction/css-modules/Menu.js
  docs/data/components/menu/MenuIntroduction/css-modules/Menu.module.css
  docs/data/components/menu/MenuIntroduction/css-modules/Menu.tsx
  docs/data/components/menu/MenuIntroduction/css-modules/index.js
  docs/data/components/menu/MenuIntroduction/css-modules/index.tsx
  docs/data/components/menu/MenuIntroduction/css-modules/index.tsx.preview
  docs/data/components/menu/MenuIntroduction/system/index.js
  docs/data/components/menu/MenuIntroduction/system/index.tsx
  docs/data/components/menu/MenuIntroduction/system/index.tsx.preview
  docs/data/components/menu/MenuIntroduction/tailwind/index.js
  docs/data/components/menu/MenuIntroduction/tailwind/index.tsx
  docs/data/components/menu/MenuIntroduction/tailwind/index.tsx.preview
  docs/data/components/menu/menu.mdx
  docs/data/components/separator/SeparatorIntroduction.js
  docs/data/components/separator/SeparatorIntroduction.tsx
  docs/data/components/separator/SeparatorIntroduction.tsx.preview
  docs/data/components/separator/separator.mdx
  docs/data/pages.ts
  docs/data/translations/api-docs/menu-group-label/menu-group-label.json
  docs/data/translations/api-docs/menu-group/menu-group.json
  docs/data/translations/api-docs/separator-root/separator-root.json
  docs/next-env.d.ts
  docs/translations/api-docs/menu-group/menu-group.json
  docs/translations/api-docs/menu-separator/menu-separator.json
  packages/mui-base/src/Menu/CheckboxItem/MenuCheckboxItem.test.tsx
  packages/mui-base/src/Menu/Group/MenuGroup.test.tsx
  packages/mui-base/src/Menu/Group/MenuGroup.tsx
  packages/mui-base/src/Menu/Group/MenuGroupContext.ts
  packages/mui-base/src/Menu/GroupLabel/MenuGroupLabel.test.tsx
  packages/mui-base/src/Menu/GroupLabel/MenuGroupLabel.tsx
  packages/mui-base/src/Menu/Item/MenuItem.test.tsx
  packages/mui-base/src/Menu/Popup/MenuPopup.test.tsx
  packages/mui-base/src/Menu/Positioner/MenuPositioner.test.tsx
  packages/mui-base/src/Menu/RadioItem/MenuRadioItem.test.tsx
  packages/mui-base/src/Menu/Trigger/MenuTrigger.test.tsx
  packages/mui-base/src/Menu/index.barrel.ts
  packages/mui-base/src/Menu/index.ts
  packages/mui-base/src/Separator/Root/SeparatorRoot.test.tsx
  packages/mui-base/src/Separator/Root/SeparatorRoot.tsx
  packages/mui-base/src/Separator/index.barrel.ts
  packages/mui-base/src/Separator/index.ts
  packages/mui-base/src/index.ts
Labels: component: menu, new feature

#657 [test] Point Istanbul to correct URL
  test/README.md
Labels: bug 🐛, test

#646 [code-infra] Remove custom playwright installation steps
  .circleci/config.yml
Labels: scope: code-infra
