Repository mui/base-ui, pull requests merged in 2025-05, with the labels that each got.

#1755 [form][field] Fix integration of Base UI components
  docs/src/app/(private)/experiments/form.module.css
  docs/src/app/(private)/experiments/form.tsx
  packages/react/src/checkbox-group/CheckboxGroup.test.tsx
  packages/react/src/checkbox/root/CheckboxRoot.test.tsx
  packages/react/src/checkbox/root/useCheckboxRoot.ts
  packages/react/src/field/control/useFieldControl.ts
  packages/react/src/field/control/useFieldControlValidation.ts
  packages/react/src/field/description/FieldDescription.test.tsx
  packages/react/src/field/label/FieldLabel.test.tsx
  packages/react/src/field/root/FieldRoot.test.tsx
  packages/react/src/form/Form.test.tsx
  packages/react/src/form/Form.tsx
  packages/react/src/form/FormContext.ts
  packages/react/src/number-field/input/NumberFieldInput.tsx
  packages/react/src/number-field/root/NumberFieldRoot.test.tsx
  packages/react/src/number-field/root/useNumberFieldRoot.ts
  packages/react/src/number-field/scrub-area-cursor/NumberFieldScrubAreaCursor.test.tsx
  packages/react/src/radio-group/RadioGroup.test.tsx
  packages/react/src/radio-group/RadioGroup.tsx
  packages/react/src/radio-group/RadioGroupContext.ts
  packages/react/src/radio-group/useRadioGroup.ts
  packages/react/src/radio/root/useRadioRoot.tsx
  packages/react/src/select/root/SelectRoot.test.tsx
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/slider/root/SliderRoot.test.tsx
  packages/react/src/slider/root/SliderRoot.tsx
  packages/react/src/switch/root/SwitchRoot.test.tsx
  packages/react/src/switch/root/useSwitchRoot.ts
Labels: component: form, component: field

#1851 [Menu] Add missing `'use client'` to `RadioGroup` part
  packages/react/src/menu/radio-group/MenuRadioGroup.tsx
Labels: component: menu

#1847 [Menu][Select] Ensure `null` items are removed from composite lists
  packages/react/src/composite/list/CompositeList.tsx
  packages/react/src/composite/list/useCompositeListItem.ts
  packages/react/src/menu/root/MenuRoot.test.tsx
  packages/react/src/select/root/SelectRoot.test.tsx
Labels: component: select, component: menu

#1862 [Select] Fix `id` prop forwarding to hidden input
  packages/react/src/select/root/SelectRoot.test.tsx
  packages/react/src/select/root/SelectRoot.tsx
Labels: component: select

#1865 [infra] Set up canary releases
  .github/workflows/ci.yml
Labels: scope: infra

#1866 [infra] Add links to canary releases on closed issues
  .github/workflows/fixed-issue.yml
Labels: scope: infra

#1858 [Form] Select inputs on focus
  packages/react/src/form/Form.tsx
Labels: component: form

#1810 [field] Set `valueMissing` to false if only error and not dirtied
  packages/react/src/field/control/useFieldControlValidation.ts
  packages/react/src/field/error/FieldError.test.tsx
  packages/react/src/field/root/FieldRoot.test.tsx
Labels: component: field

#1852 [Select][Popover][Tooltip] Avoid prop getters when merging props
  packages/react/src/popover/popup/PopoverPopup.tsx
  packages/react/src/popover/root/PopoverRootContext.ts
  packages/react/src/popover/root/usePopoverRoot.ts
  packages/react/src/popover/trigger/PopoverTrigger.tsx
  packages/react/src/select/popup/SelectPopup.tsx
  packages/react/src/select/root/SelectRootContext.ts
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/select/trigger/useSelectTrigger.ts
  packages/react/src/tooltip/popup/TooltipPopup.tsx
  packages/react/src/tooltip/root/TooltipRootContext.ts
  packages/react/src/tooltip/root/useTooltipRoot.ts
  packages/react/src/tooltip/trigger/TooltipTrigger.tsx
Labels: component: tooltip, component: popover

#1795 [docs] Link `h2` and `h3` in docs
  docs/src/components/HeadingLink.css
  docs/src/components/HeadingLink.tsx
  docs/src/mdx-components.tsx
  docs/src/styles.css
Labels: docs

#1850 [Field][NumberField] `validate` with latest value on blur
  packages/react/src/number-field/input/NumberFieldInput.tsx
  packages/react/src/number-field/root/NumberFieldRoot.test.tsx
Labels: component: number field, component: field

#1859 [NumberField] Move scrubbing logic to `ScrubArea` component
  packages/react/src/number-field/root/useNumberFieldRoot.ts
  packages/react/src/number-field/scrub-area-cursor/NumberFieldScrubAreaCursor.test.tsx
  packages/react/src/number-field/scrub-area-cursor/NumberFieldScrubAreaCursor.tsx
  packages/react/src/number-field/scrub-area/NumberFieldScrubArea.tsx
  packages/react/src/number-field/scrub-area/NumberFieldScrubAreaContext.ts
  packages/react/src/number-field/scrub-area/useScrub.ts
Labels: component: number field, performance

#1768 [core] Use `useRenderElement()` in Composite Item and Composite Root
  packages/react/src/composite/item/CompositeItem.tsx
  packages/react/src/composite/item/useCompositeItem.ts
  packages/react/src/composite/root/CompositeRoot.tsx
  packages/react/src/composite/root/useCompositeRoot.ts
  packages/react/src/tabs/tab/useTabsTab.ts
Labels: core

#1870 [Field][Fieldset] Refactor to `useRenderElement`
  packages/react/src/field/control/FieldControl.tsx
  packages/react/src/field/control/useFieldControl.ts
  packages/react/src/field/description/FieldDescription.tsx
  packages/react/src/field/description/useFieldDescription.ts
  packages/react/src/field/error/FieldError.tsx
  packages/react/src/field/error/useFieldError.ts
  packages/react/src/field/label/FieldLabel.tsx
  packages/react/src/field/label/useFieldLabel.ts
  packages/react/src/field/root/FieldRoot.tsx
  packages/react/src/fieldset/root/FieldsetRoot.tsx
  packages/react/src/fieldset/root/useFieldsetRoot.ts
  packages/react/src/form/Form.tsx
Labels: core, component: field, component: fieldset

#1883 [infra] Do not wait for `dedupe` check before running other CI jobs
  .circleci/config.yml
Labels: scope: code-infra

#1882 [infra] Add `--peerDeps` to pkg.pr.new publish command
  .github/workflows/ci.yml
Labels: scope: infra

#1884 [docs-infra] Make it possible to override the displayed type in API reference
  scripts/api-docs-builder/src/formatter.ts
Labels: scope: docs-infra

#1815 [docs] Typography fixes
  docs/src/components/QuickNav/QuickNav.css
  docs/src/components/SideNav.css
  docs/src/components/Table.css
  docs/src/styles.css
Labels: docs

#1890 [core] Use basic scroll lock on iOS
  packages/react/package.json
  packages/react/src/dialog/root/useDialogRoot.ts
  packages/react/src/utils/useIOSKeyboardSlideFix.ts
  packages/react/src/utils/useScrollLock.ts
  pnpm-lock.yaml
Labels: core

#1846 [Select][Menu] Avoid `:focus-visible` style appearing
  packages/react/src/dialog/root/useDialogRoot.ts
  packages/react/src/menu/backdrop/MenuBackdrop.test.tsx
  packages/react/src/menu/positioner/MenuPositioner.test.tsx
  packages/react/src/menu/root/MenuRoot.test.tsx
  packages/react/src/menu/root/useMenuRoot.ts
  packages/react/src/menu/trigger/MenuTrigger.test.tsx
  packages/react/src/popover/backdrop/PopoverBackdrop.test.tsx
  packages/react/src/popover/root/usePopoverRoot.ts
  packages/react/src/preview-card/root/usePreviewCardRoot.ts
  packages/react/src/select/root/SelectRoot.test.tsx
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/utils/floating-ui/useClick.ts
  packages/react/src/utils/floating-ui/useFocusWithDelay.ts
  packages/react/test/popupConformanceTests.tsx
Labels: component: select, component: menu

#1876 [core] perf: avoid calling clearTimeout & cancelAnimationFrame
  packages/react/src/avatar/fallback/AvatarFallback.tsx
  packages/react/src/collapsible/panel/useCollapsiblePanel.ts
  packages/react/src/collapsible/root/useCollapsibleRoot.ts
  packages/react/src/field/control/useFieldControlValidation.ts
  packages/react/src/menu/root/useMenuRoot.ts
  packages/react/src/menu/trigger/useMenuTrigger.ts
  packages/react/src/number-field/decrement/NumberFieldDecrement.tsx
  packages/react/src/number-field/increment/NumberFieldIncrement.tsx
  packages/react/src/number-field/root/useNumberFieldButton.ts
  packages/react/src/number-field/root/useNumberFieldRoot.ts
  packages/react/src/popover/root/usePopoverRoot.ts
  packages/react/src/scroll-area/root/useScrollAreaRoot.ts
  packages/react/src/select/item/useSelectItem.ts
  packages/react/src/select/scroll-arrow/SelectScrollArrow.tsx
  packages/react/src/select/trigger/useSelectTrigger.ts
  packages/react/src/toast/provider/useToastProvider.ts
  packages/react/src/toast/root/useToastRoot.ts
  packages/react/src/tooltip/root/TooltipRoot.test.tsx
  packages/react/src/utils/floating-ui/useFocusWithDelay.ts
  packages/react/src/utils/useAnimationFrame.ts
  packages/react/src/utils/useAnimationsFinished.ts
  packages/react/src/utils/useInterval.ts
  packages/react/src/utils/useLazyRef.ts
  packages/react/src/utils/useScrollLock.ts
  packages/react/src/utils/useTimeout.ts
  packages/react/src/utils/useTransitionStatus.ts
Labels: performance

#1895 [Tooltip] Remove `trackCursorAxis` type from `Positioner`
  docs/reference/generated/tooltip-positioner.json
  packages/react/src/tooltip/positioner/useTooltipPositioner.ts
Labels: component: tooltip, typescript

#1871 [composites] Stop event propagation
  packages/react/src/accordion/root/AccordionRoot.tsx
  packages/react/src/composite/composite.ts
  packages/react/src/composite/root/useCompositeRoot.ts
  packages/react/src/dialog/popup/useDialogPopup.tsx
  packages/react/src/number-field/input/NumberFieldInput.tsx
  packages/react/src/radio-group/RadioGroup.tsx
  packages/react/src/slider/thumb/SliderThumb.tsx
  packages/react/src/tabs/root/TabsRoot.test.tsx
  packages/react/src/toggle-group/ToggleGroup.tsx
  packages/react/src/toolbar/button/ToolbarButton.test.tsx
  packages/react/src/toolbar/input/useToolbarInput.ts
Labels: component: slider, component: number field, component: toggle button, component: radio group, component: accordion, component: toolbar, component: radio

#1898 [code-infra] Prefer `describe.skipIf` instead of `describeSkipIf` on tests
  packages/react/src/menu/positioner/MenuPositioner.test.tsx
  packages/react/src/popover/positioner/PopoverPositioner.test.tsx
  packages/react/src/preview-card/positioner/PreviewCardPositioner.test.tsx
  packages/react/src/select/positioner/SelectPositioner.test.tsx
  packages/react/src/tooltip/positioner/TooltipPositioner.test.tsx
Labels: core, scope: code-infra

#1684 [menubar] Create the Menubar component
  docs/reference/generated/menu-popup.json
  docs/reference/generated/menubar.json
  docs/src/app/(private)/experiments/menu/menu-horizontal.tsx
  docs/src/app/(private)/experiments/menu/menu.module.css
  docs/src/app/(private)/experiments/menubar.module.css
  docs/src/app/(private)/experiments/menubar.tsx
  docs/src/app/(public)/(content)/react/components/menubar/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/menubar/demos/hero/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/menubar/demos/hero/index.ts
  docs/src/app/(public)/(content)/react/components/menubar/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/menubar/page.mdx
  docs/src/nav.ts
  packages/react/package.json
  packages/react/src/composite/item/useCompositeItem.ts
  packages/react/src/composite/root/CompositeRoot.tsx
  packages/react/src/composite/root/CompositeRootContext.ts
  packages/react/src/index.ts
  packages/react/src/menu/backdrop/MenuBackdrop.test.tsx
  packages/react/src/menu/backdrop/MenuBackdrop.tsx
  packages/react/src/menu/checkbox-item/MenuCheckboxItem.test.tsx
  packages/react/src/menu/item/useMenuItem.ts
  packages/react/src/menu/popup/MenuPopup.tsx
  packages/react/src/menu/popup/MenuPopupDataAttributes.ts
  packages/react/src/menu/popup/useMenuPopup.ts
  packages/react/src/menu/positioner/MenuPositioner.test.tsx
  packages/react/src/menu/positioner/MenuPositioner.tsx
  packages/react/src/menu/positioner/useMenuPositioner.ts
  packages/react/src/menu/radio-item/MenuRadioItem.test.tsx
  packages/react/src/menu/root/MenuRoot.test.tsx
  packages/react/src/menu/root/MenuRoot.tsx
  packages/react/src/menu/root/MenuRootContext.ts
  packages/react/src/menu/root/useMenuRoot.ts
  packages/react/src/menu/submenu-trigger/MenuSubmenuTrigger.tsx
  packages/react/src/menu/trigger/MenuTrigger.tsx
  packages/react/src/menu/trigger/useMenuTrigger.ts
  packages/react/src/menubar/Menubar.test.tsx
  packages/react/src/menubar/Menubar.tsx
  packages/react/src/menubar/MenubarContext.ts
  packages/react/src/menubar/MenubarDataAttributes.ts
  packages/react/src/menubar/index.ts
  packages/react/src/tabs/root/TabsRoot.test.tsx
  packages/react/src/tabs/tab/TabsTab.test.tsx
  packages/react/src/toolbar/button/ToolbarButton.test.tsx
  packages/react/src/toolbar/group/ToolbarGroup.test.tsx
  packages/react/src/toolbar/input/ToolbarInput.test.tsx
  packages/react/src/toolbar/link/ToolbarLink.test.tsx
  packages/react/src/utils/InternalBackdrop.tsx
  packages/react/src/utils/floating-ui/useClick.ts
  packages/react/src/utils/translateOpenChangeReason.ts
  packages/react/test/setup.ts
  pnpm-lock.yaml
  test/setupVitest.ts
  vitest.shared.mts
Labels: new feature, component: menubar

#1868 [Toast] Refactor to `useRenderElement`
  docs/reference/generated/menu-positioner.json
  docs/reference/generated/popover-positioner.json
  docs/reference/generated/preview-card-positioner.json
  docs/reference/generated/select-positioner.json
  docs/reference/generated/toast-root.json
  docs/reference/generated/tooltip-positioner.json
  packages/react/src/toast/action/ToastAction.tsx
  packages/react/src/toast/close/ToastClose.tsx
  packages/react/src/toast/description/ToastDescription.tsx
  packages/react/src/toast/provider/ToastProvider.tsx
  packages/react/src/toast/provider/useToastProvider.ts
  packages/react/src/toast/root/ToastRoot.tsx
  packages/react/src/toast/root/useToastRoot.ts
  packages/react/src/toast/title/ToastTitle.tsx
  packages/react/src/toast/viewport/ToastViewport.tsx
  packages/react/src/toast/viewport/useToastViewport.ts
  packages/react/src/utils/useRenderElement.tsx
Labels: core, component: toast

#1914 [slider] Drop `inputId` prop from Thumb
  docs/reference/generated/slider-thumb.json
  packages/react/src/slider/thumb/SliderThumb.tsx
Labels: component: slider, breaking change

#1915 [input] Fix `Input.Props` type
  docs/reference/generated/input.json
  packages/react/src/input/Input.tsx
Labels: component: input, typescript

#1925 [select] Fix `transitionStatus` mapping on `ItemIndicator`
  packages/react/src/select/item-indicator/SelectItemIndicator.tsx
Labels: component: select

#1869 [ScrollArea] Refactor to `useRenderElement`
  packages/react/src/scroll-area/content/ScrollAreaContent.tsx
  packages/react/src/scroll-area/corner/ScrollAreaCorner.tsx
  packages/react/src/scroll-area/root/ScrollAreaRoot.tsx
  packages/react/src/scroll-area/root/useScrollAreaRoot.ts
  packages/react/src/scroll-area/scrollbar/ScrollAreaScrollbar.tsx
  packages/react/src/scroll-area/scrollbar/useScrollAreaScrollbar.ts
  packages/react/src/scroll-area/thumb/ScrollAreaThumb.tsx
  packages/react/src/scroll-area/viewport/ScrollAreaViewport.tsx
  packages/react/src/scroll-area/viewport/useScrollAreaViewport.tsx
Labels: core, component: scroll area

#1901 [core] Refactor: remove raw requestAnimationFrame
  packages/react/src/utils/floating-ui/useClick.ts
Labels: core, improvement

#1921 [perf] Fix `useLockScroll` forced reflows
  packages/react/src/utils/useScrollLock.ts
Labels: improvement, performance

#1840 [Field] Revalidate only `required` on change
  packages/react/src/field/control/useFieldControlValidation.ts
  packages/react/src/field/root/FieldRoot.test.tsx
  packages/react/src/number-field/input/NumberFieldInput.tsx
Labels: component: field

#1897 [docs] Add skip to main content link
  docs/src/app/(public)/(content)/layout.tsx
  docs/src/components/Header.tsx
  docs/src/components/SkipNav.css
  docs/src/components/SkipNav.tsx
  docs/src/styles.css
Labels: docs, accessibility

#1937 [core] Refactor Popover root
  packages/react/src/popover/root/PopoverRoot.tsx
  packages/react/src/popover/root/usePopoverRoot.ts
Labels: core, improvement, performance

#1934 [core] Performance/refactor: `useRender`
  docs/reference/generated/use-render.json
  docs/src/app/(public)/(content)/react/utils/use-render/demos/render-callback/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/utils/use-render/demos/render/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/utils/use-render/page.mdx
  packages/react/src/use-render/useRender.test.tsx
  packages/react/src/use-render/useRender.ts
  packages/react/src/utils/useRenderElement.tsx
Labels: core, improvement, performance, breaking change

#1899 [code-infra] Replace babel-plugin-add-import-extension
  babel.config.js
  package.json
  pnpm-lock.yaml
Labels: improvement, scope: code-infra

#1811 [docs] Add `SideNav.Badge` to SideNav
  docs/src/app/(public)/(content)/layout.tsx
  docs/src/components/SideNav.css
  docs/src/components/SideNav.tsx
  docs/src/nav.ts
Labels: docs

#1926 [field] Run validate function after native validations
  packages/react/src/field/control/useFieldControlValidation.ts
  packages/react/src/field/error/FieldError.test.tsx
  packages/react/src/field/root/FieldRoot.test.tsx
Labels: component: field

#1877 [number field] Refactor to `useRenderElement`
  packages/react/src/number-field/decrement/NumberFieldDecrement.tsx
  packages/react/src/number-field/group/NumberFieldGroup.tsx
  packages/react/src/number-field/increment/NumberFieldIncrement.tsx
  packages/react/src/number-field/input/NumberFieldInput.tsx
  packages/react/src/number-field/root/NumberFieldRoot.tsx
  packages/react/src/number-field/root/NumberFieldRootContext.ts
  packages/react/src/number-field/root/useNumberFieldRoot.ts
  packages/react/src/number-field/scrub-area-cursor/NumberFieldScrubAreaCursor.test.tsx
  packages/react/src/number-field/scrub-area-cursor/NumberFieldScrubAreaCursor.tsx
  packages/react/src/number-field/scrub-area/NumberFieldScrubArea.tsx
  packages/react/src/number-field/scrub-area/NumberFieldScrubAreaContext.ts
  packages/react/src/number-field/scrub-area/useScrub.ts
Labels: core, component: number field

#1867 [infra] Add links to canary releases on closed issues
  .github/workflows/fixed-issue.yml
Labels: scope: infra

#1924 [test][toast] Fix flaking test
  packages/react/src/toast/viewport/ToastViewport.test.tsx
Labels: test

#1954 [input] Extend `Field.Control.State`
  packages/react/src/input/Input.tsx
Labels: component: input

#1802 [number field][radio][switch] Button components use `useButton`
  packages/react/src/checkbox/root/useCheckboxRoot.ts
  packages/react/src/number-field/decrement/NumberFieldDecrement.tsx
  packages/react/src/number-field/increment/NumberFieldIncrement.tsx
  packages/react/src/number-field/root/useNumberFieldButton.ts
  packages/react/src/radio-group/RadioGroup.test.tsx
  packages/react/src/radio/root/RadioRoot.tsx
  packages/react/src/radio/root/useRadioRoot.tsx
  packages/react/src/switch/root/SwitchRoot.tsx
  packages/react/src/switch/root/useSwitchRoot.ts
  packages/react/src/use-button/useButton.ts
Labels: component: switch, component: number field, component: radio group

#1920 [core] Refactor: remove manual `displayName`
  babel.config.js
  package.json
  packages/react/src/accordion/item/AccordionItemContext.ts
  packages/react/src/accordion/root/AccordionRootContext.ts
  packages/react/src/avatar/root/AvatarRootContext.ts
  packages/react/src/checkbox-group/CheckboxGroupContext.ts
  packages/react/src/checkbox/root/CheckboxRootContext.ts
  packages/react/src/collapsible/root/CollapsibleRootContext.ts
  packages/react/src/composite/list/CompositeListContext.ts
  packages/react/src/composite/root/CompositeRootContext.ts
  packages/react/src/dialog/root/DialogRootContext.ts
  packages/react/src/dialog/utils/DialogContext.ts
  packages/react/src/direction-provider/DirectionContext.tsx
  packages/react/src/field/root/FieldRootContext.ts
  packages/react/src/fieldset/root/FieldsetRootContext.ts
  packages/react/src/form/FormContext.ts
  packages/react/src/menu/group/MenuGroupContext.ts
  packages/react/src/menu/positioner/MenuPositionerContext.ts
  packages/react/src/menu/radio-group/MenuRadioGroupContext.ts
  packages/react/src/menu/radio-item/MenuRadioItemContext.ts
  packages/react/src/menu/root/MenuRootContext.ts
  packages/react/src/meter/root/MeterRootContext.ts
  packages/react/src/number-field/root/NumberFieldRootContext.ts
  packages/react/src/number-field/scrub-area/NumberFieldScrubAreaContext.ts
  packages/react/src/popover/positioner/PopoverPositionerContext.ts
  packages/react/src/popover/root/PopoverRootContext.ts
  packages/react/src/preview-card/positioner/PreviewCardPositionerContext.ts
  packages/react/src/preview-card/root/PreviewCardContext.ts
  packages/react/src/progress/root/ProgressRootContext.tsx
  packages/react/src/radio-group/RadioGroupContext.ts
  packages/react/src/radio/root/RadioRootContext.ts
  packages/react/src/scroll-area/root/ScrollAreaRootContext.ts
  packages/react/src/scroll-area/scrollbar/ScrollAreaScrollbarContext.ts
  packages/react/src/scroll-area/viewport/ScrollAreaViewportContext.ts
  packages/react/src/select/group/SelectGroupContext.ts
  packages/react/src/slider/root/SliderRootContext.ts
  packages/react/src/switch/root/SwitchRootContext.ts
  packages/react/src/tabs/list/TabsListContext.ts
  packages/react/src/tabs/root/TabsRootContext.ts
  packages/react/src/toggle-group/ToggleGroupContext.ts
  packages/react/src/toolbar/group/ToolbarGroupContext.ts
  packages/react/src/toolbar/root/ToolbarRootContext.ts
  packages/react/src/tooltip/positioner/TooltipPositionerContext.ts
  packages/react/src/tooltip/provider/TooltipProviderContext.ts
  pnpm-lock.yaml
Labels: core, improvement

#1906 [select] Defer mounting until typeahead is needed
  docs/reference/generated/select-value.json
  docs/src/app/(private)/experiments/form.tsx
  docs/src/app/(private)/experiments/long-select.tsx
  docs/src/app/(private)/experiments/modality.tsx
  docs/src/app/(private)/experiments/popups/popups-in-popups.tsx
  docs/src/app/(private)/experiments/scroll-area/inside-select.tsx
  docs/src/app/(private)/experiments/select-perf.tsx
  docs/src/app/(private)/experiments/toolbar/text-editor.tsx
  docs/src/app/(public)/(content)/react/components/select/demos/hero/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/select/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/toolbar/demos/hero/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/toolbar/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/handbook/animation/page.mdx
  docs/src/components/Demo/DemoVariantSelector.tsx
  docs/src/components/Experiments/Select.tsx
  docs/src/components/Select.tsx
  packages/react/src/select/item-indicator/SelectItemIndicator.test.tsx
  packages/react/src/select/item/SelectItem.test.tsx
  packages/react/src/select/portal/SelectPortal.tsx
  packages/react/src/select/root/SelectRoot.test.tsx
  packages/react/src/select/root/SelectRootContext.ts
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/select/trigger/SelectTrigger.test.tsx
  packages/react/src/select/trigger/useSelectTrigger.ts
  packages/react/src/select/value/SelectValue.test.tsx
  packages/react/src/select/value/SelectValue.tsx
  packages/react/test/popupConformanceTests.tsx
Labels: component: select, breaking change

#1939 [useButton] Default `tabIndex` to `0`
  packages/react/src/menu/trigger/useMenuTrigger.ts
  packages/react/src/select/trigger/useSelectTrigger.ts
  packages/react/src/use-button/useButton.test.tsx
  packages/react/src/use-button/useButton.ts
Labels: core, browser: Safari

#1919 [field] Consolidate `Field.Error` `forceShow` into `match` prop
  docs/reference/generated/field-error.json
  packages/react/src/field/error/FieldError.test.tsx
  packages/react/src/field/error/FieldError.tsx
Labels: breaking change, component: field

#1782 [popups] Refine `OpenChangeReason`
  docs/reference/generated/alert-dialog-root.json
  docs/reference/generated/dialog-root.json
  docs/reference/generated/menu-root.json
  docs/reference/generated/popover-root.json
  docs/reference/generated/preview-card-root.json
  docs/reference/generated/select-root.json
  docs/reference/generated/tooltip-root.json
  packages/react/src/alert-dialog/root/AlertDialogRoot.test.tsx
  packages/react/src/alert-dialog/root/AlertDialogRoot.tsx
  packages/react/src/dialog/close/useDialogClose.ts
  packages/react/src/dialog/popup/useDialogPopup.tsx
  packages/react/src/dialog/root/DialogRoot.test.tsx
  packages/react/src/dialog/root/DialogRoot.tsx
  packages/react/src/dialog/root/useDialogRoot.ts
  packages/react/src/menu/backdrop/MenuBackdrop.tsx
  packages/react/src/menu/popup/useMenuPopup.ts
  packages/react/src/menu/positioner/MenuPositioner.tsx
  packages/react/src/menu/root/MenuRoot.tsx
  packages/react/src/menu/root/MenuRootContext.ts
  packages/react/src/menu/root/useMenuRoot.ts
  packages/react/src/menu/trigger/useMenuTrigger.ts
  packages/react/src/popover/backdrop/PopoverBackdrop.tsx
  packages/react/src/popover/close/PopoverClose.tsx
  packages/react/src/popover/popup/PopoverPopup.tsx
  packages/react/src/popover/positioner/PopoverPositioner.tsx
  packages/react/src/popover/root/PopoverRoot.tsx
  packages/react/src/popover/root/PopoverRootContext.ts
  packages/react/src/popover/trigger/PopoverTrigger.tsx
  packages/react/src/preview-card/root/PreviewCardContext.ts
  packages/react/src/preview-card/root/PreviewCardRoot.tsx
  packages/react/src/preview-card/root/usePreviewCardRoot.ts
  packages/react/src/select/item/useSelectItem.ts
  packages/react/src/select/popup/useSelectPopup.ts
  packages/react/src/select/root/SelectRoot.tsx
  packages/react/src/select/root/SelectRootContext.ts
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/select/trigger/useSelectTrigger.ts
  packages/react/src/toast/close/ToastClose.test.tsx
  packages/react/src/toast/useToastManager.test.tsx
  packages/react/src/toast/utils/test-utils.tsx
  packages/react/src/tooltip/root/TooltipRoot.tsx
  packages/react/src/tooltip/root/TooltipRootContext.ts
  packages/react/src/tooltip/root/useTooltipRoot.ts
  packages/react/src/utils/translateOpenChangeReason.ts
Labels: component: select, component: menu, component: alert dialog, component: tooltip, component: dialog, breaking change, component: popover, component: preview card

#1861 [select][menu] Better handle dynamic and non-string items
  packages/react/src/menu/popup/MenuPopup.tsx
  packages/react/src/menubar/Menubar.test.tsx
  packages/react/src/select/item-text/SelectItemText.tsx
  packages/react/src/select/popup/SelectPopup.tsx
  packages/react/src/select/popup/useSelectPopup.ts
  packages/react/src/select/positioner/SelectPositioner.tsx
  packages/react/src/select/positioner/SelectPositionerContext.ts
  packages/react/src/select/root/SelectRoot.test.tsx
  packages/react/src/select/root/SelectRootContext.ts
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/select/scroll-arrow/SelectScrollArrow.tsx
Labels: component: select, component: menu

#1917 [tooltip] Apply `pointer-events: none` to `Positioner` when not hoverable
  packages/react/src/tooltip/positioner/useTooltipPositioner.ts
  packages/react/src/tooltip/root/TooltipRoot.test.tsx
  packages/react/src/tooltip/root/TooltipRoot.tsx
  packages/react/src/tooltip/root/TooltipRootContext.ts
Labels: component: tooltip

#1959 [field][checkbox group] Fix `validate` fn incorrectly running twice
  packages/react/src/checkbox-group/CheckboxGroup.test.tsx
  packages/react/src/checkbox/root/useCheckboxRoot.ts
Labels: component: field, component: checkbox group

#1964 [menu] Move logic from hooks to components
  docs/reference/generated/context-menu-root.json
  docs/reference/generated/menu-root.json
  docs/reference/generated/menubar.json
  packages/react/src/menu/checkbox-item/MenuCheckboxItem.tsx
  packages/react/src/menu/checkbox-item/useMenuCheckboxItem.ts
  packages/react/src/menu/item/useMenuItem.ts
  packages/react/src/menu/popup/MenuPopup.tsx
  packages/react/src/menu/popup/useMenuPopup.ts
  packages/react/src/menu/positioner/MenuPositioner.tsx
  packages/react/src/menu/positioner/useMenuPositioner.ts
  packages/react/src/menu/radio-item/MenuRadioItem.tsx
  packages/react/src/menu/radio-item/useMenuRadioItem.ts
  packages/react/src/menu/root/MenuRoot.tsx
  packages/react/src/menu/root/MenuRootContext.ts
  packages/react/src/menu/root/useMenuRoot.ts
  packages/react/src/menu/submenu-trigger/MenuSubmenuTrigger.tsx
  packages/react/src/menu/submenu-trigger/useMenuSubmenuTrigger.ts
  packages/react/src/menu/trigger/MenuTrigger.tsx
  packages/react/src/menu/trigger/useMenuTrigger.ts
  packages/react/src/menubar/Menubar.tsx
  packages/react/src/menubar/MenubarContext.ts
Labels: component: menu, internal

#1967 [performance] Skip most of useRenderElement logic when unnecessary
  docs/reference/generated/use-render.json
  packages/react/src/number-field/scrub-area-cursor/NumberFieldScrubAreaCursor.tsx
  packages/react/src/radio/root/RadioRoot.tsx
  packages/react/src/use-render/useRender.ts
  packages/react/src/utils/useRenderElement.tsx
  scripts/api-docs-builder/src/formatter.ts
Labels: performance, all-components, internal

#1849 [useAnchorPositioning] Add `collisionAvoidance` prop
  docs/reference/generated/menu-positioner.json
  docs/reference/generated/popover-positioner.json
  docs/reference/generated/preview-card-positioner.json
  docs/reference/generated/select-positioner.json
  docs/reference/generated/tooltip-positioner.json
  docs/src/app/(private)/experiments/anchor-positioning.module.css
  docs/src/app/(private)/experiments/anchor-positioning.tsx
  packages/react/src/menu/positioner/MenuPositioner.tsx
  packages/react/src/popover/positioner/PopoverPositioner.tsx
  packages/react/src/preview-card/positioner/PreviewCardPositioner.tsx
  packages/react/src/select/positioner/SelectPositioner.tsx
  packages/react/src/tooltip/positioner/TooltipPositioner.tsx
  packages/react/src/utils/constants.ts
  packages/react/src/utils/useAnchorPositioning.ts
Labels: component: select, component: menu, type: improvement, component: tooltip, component: popover, component: preview card

#1968 [useRender] Fix return type
  docs/reference/generated/slider-root.json
  docs/reference/generated/use-render.json
  packages/react/src/slider/root/SliderRoot.tsx
  packages/react/src/use-render/useRender.spec.tsx
  packages/react/src/use-render/useRender.test.tsx
  packages/react/src/use-render/useRender.ts
  packages/react/src/utils/useRenderElement.spec.tsx
  packages/react/src/utils/useRenderElement.tsx
  pnpm-lock.yaml
  scripts/api-docs-builder/package.json
  scripts/api-docs-builder/src/componentHandler.ts
  scripts/api-docs-builder/src/formatter.ts
  scripts/api-docs-builder/src/hookHandler.ts
  scripts/api-docs-builder/src/index.ts
Labels: type: bug, typescript, hook: useRender

#1918 [menu] Add `finalFocus` and `closeDelay` props
  docs/reference/generated/menu-popup.json
  docs/reference/generated/menu-root.json
  packages/react/src/context-menu/root/ContextMenuRoot.tsx
  packages/react/src/menu/popup/MenuPopup.test.tsx
  packages/react/src/menu/popup/MenuPopup.tsx
  packages/react/src/menu/root/MenuRoot.test.tsx
  packages/react/src/menu/root/MenuRoot.tsx
Labels: component: menu

#1938 [popover] Fix nested `openOnHover`
  packages/react/src/popover/positioner/PopoverPositioner.tsx
  packages/react/src/popover/root/PopoverRoot.tsx
  packages/react/src/popover/root/PopoverRootContext.ts
Labels: component: popover

#1979 [core] Fix CSS transition interruptibility
  packages/react/src/collapsible/root/useCollapsibleRoot.ts
  packages/react/src/utils/useTransitionStatus.ts
Labels: type: bug, internal

#1987 [infra] Update the changelog generator to use new GH labels
  scripts/releaseChangelog.mts
Labels: scope: infra

#1977 [popups] Adjust `collisionAvoidance` defaults
  docs/src/app/(private)/experiments/popups/popups-transform-origin.module.css
  docs/src/app/(private)/experiments/popups/popups-transform-origin.tsx
  packages/react/src/menu/positioner/MenuPositioner.tsx
  packages/react/src/navigation-menu/positioner/NavigationMenuPositioner.tsx
  packages/react/src/popover/positioner/PopoverPositioner.tsx
  packages/react/src/preview-card/positioner/PreviewCardPositioner.tsx
  packages/react/src/select/positioner/SelectPositioner.tsx
  packages/react/src/tooltip/positioner/TooltipPositioner.tsx
  packages/react/src/utils/constants.ts
  packages/react/src/utils/useAnchorPositioning.ts
Labels: internal

#1989 [docs] Fix issues in useRender docs
  docs/src/app/(public)/(content)/react/utils/use-render/page.mdx
Labels: docs, hook: useRender

#1990 [docs] checkbox group: granny smith apple naming consistency
  docs/src/app/(public)/(content)/react/components/checkbox-group/demos/parent/css-modules/index.tsx
Labels: docs, component: checkbox group

#1791 [code-infra] Add bundle size monitor
  .circleci/config.yml
  dangerfile.js
  package.json
  packages/react/package.json
  packages/react/scripts/createPackageManifest.mts
  pnpm-lock.yaml
  scripts/dangerFileContent.ts
  scripts/sizeSnapshot/.gitignore
  scripts/sizeSnapshot/create.js
  scripts/sizeSnapshot/index.js
  scripts/sizeSnapshot/loadComparison.js
  scripts/sizeSnapshot/webpack.config.js
  scripts/sizeSnapshot/worker.js
  test/bundle-size/base-entry.js
  test/bundle-size/bundle-size-checker.config.mjs
  test/bundle-size/package.json
Labels: performance, scope: infra

#1991 [docs] Fix additional issues in useRender docs
  docs/src/app/(public)/(content)/react/utils/use-render/page.mdx
Labels: docs, hook: useRender

#1985 [select] Revert `placeholder` API
  docs/reference/generated/select-value.json
  docs/src/app/(private)/experiments/form.tsx
  docs/src/app/(private)/experiments/long-select.tsx
  docs/src/app/(private)/experiments/modality.tsx
  docs/src/app/(private)/experiments/popups/popups-in-popups.tsx
  docs/src/app/(private)/experiments/scroll-area/inside-select.tsx
  docs/src/app/(private)/experiments/select-perf.tsx
  docs/src/app/(private)/experiments/toolbar/text-editor.tsx
  docs/src/app/(public)/(content)/react/components/select/demos/hero/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/select/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/toolbar/demos/hero/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/toolbar/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/handbook/animation/page.mdx
  docs/src/components/Demo/DemoVariantSelector.tsx
  docs/src/components/Experiments/Select.tsx
  docs/src/components/Select.tsx
  packages/react/src/select/item-indicator/SelectItemIndicator.test.tsx
  packages/react/src/select/item/SelectItem.test.tsx
  packages/react/src/select/root/SelectRoot.test.tsx
  packages/react/src/select/trigger/SelectTrigger.test.tsx
  packages/react/src/select/value/SelectValue.test.tsx
  packages/react/src/select/value/SelectValue.tsx
Labels: component: select

#1992 [docs] Add new badge to MobileNav
  docs/src/components/Header.tsx
  docs/src/components/MobileNav.css
  docs/src/components/MobileNav.tsx
Labels: docs

#2009 [context menu] Fix CheckboxItemIndicator export
  packages/react/src/context-menu/index.parts.ts
Labels: bug 🐛, component: context menu
