Repository mui/base-ui, pull requests merged in 2025-02, with the labels that each got.

#1405 [core] Fix corepack installation in CircleCI
  .circleci/config.yml
Labels: core

#1372 [core] Allow undefined function for `useEventCallback`
  packages/react/src/checkbox-group/useCheckboxGroupParent.ts
  packages/react/src/checkbox/root/useCheckboxRoot.ts
  packages/react/src/form/Form.tsx
  packages/react/src/menu/radio-group/MenuRadioGroup.tsx
  packages/react/src/number-field/root/useNumberFieldRoot.ts
  packages/react/src/popover/root/usePopoverRoot.ts
  packages/react/src/preview-card/root/usePreviewCardRoot.ts
  packages/react/src/switch/root/useSwitchRoot.ts
  packages/react/src/tooltip/root/useTooltipRoot.ts
  packages/react/src/utils/useEventCallback.ts
Labels: core

#1357 [docs] Underline links by default
  docs/src/components/Link.css
Labels: docs

#1149 [infra] Fix support tier-1 flow regression
  .github/ISSUE_TEMPLATE/1.bug.md
  .github/ISSUE_TEMPLATE/2.feature-request.md
  .github/ISSUE_TEMPLATE/3.get-help.md
  .github/ISSUE_TEMPLATE/4.docs-feedback.md
Labels: enhancement, scope: infra

#1210 [Avatar] Add avatar component
  docs/reference/generated/avatar-fallback.json
  docs/reference/generated/avatar-image.json
  docs/reference/generated/avatar-root.json
  docs/reference/overrides/avatar-image.json
  docs/src/app/(public)/(content)/react/components/avatar/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/avatar/demos/hero/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/avatar/demos/hero/index.ts
  docs/src/app/(public)/(content)/react/components/avatar/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/avatar/page.mdx
  docs/src/nav.ts
  packages/react/package.json
  packages/react/src/avatar/fallback/AvatarFallback.test.tsx
  packages/react/src/avatar/fallback/AvatarFallback.tsx
  packages/react/src/avatar/image/AvatarImage.test.tsx
  packages/react/src/avatar/image/AvatarImage.tsx
  packages/react/src/avatar/image/useImageLoadingStatus.ts
  packages/react/src/avatar/index.parts.ts
  packages/react/src/avatar/index.ts
  packages/react/src/avatar/root/AvatarRoot.test.tsx
  packages/react/src/avatar/root/AvatarRoot.tsx
  packages/react/src/avatar/root/AvatarRootContext.ts
  packages/react/src/avatar/root/styleHooks.ts
  packages/react/src/utils/defaultRenderFunctions.tsx
Labels: component: avatar

#1352 [Dialogs] Remove `modal={open}` state
  packages/react/src/alert-dialog/popup/AlertDialogPopup.tsx
  packages/react/src/dialog/popup/DialogPopup.tsx
Labels: component: alert dialog, component: dialog

#1305 [popups] `onOpenChangeComplete` prop
  docs/reference/generated/alert-dialog-root.json
  docs/reference/generated/dialog-root.json
  docs/reference/generated/menu-root.json
  docs/reference/generated/popover-root.json
  docs/reference/generated/preview-card-root.json
  docs/reference/generated/select-root.json
  docs/reference/generated/tooltip-root.json
  docs/reference/overrides/common.json
  packages/react/src/alert-dialog/popup/AlertDialogPopup.tsx
  packages/react/src/alert-dialog/root/AlertDialogRoot.test.tsx
  packages/react/src/alert-dialog/root/AlertDialogRoot.tsx
  packages/react/src/checkbox/indicator/CheckboxIndicator.test.tsx
  packages/react/src/checkbox/indicator/CheckboxIndicator.tsx
  packages/react/src/dialog/popup/DialogPopup.tsx
  packages/react/src/dialog/root/DialogRoot.test.tsx
  packages/react/src/dialog/root/DialogRoot.tsx
  packages/react/src/dialog/root/useDialogRoot.ts
  packages/react/src/dialog/utils/DialogContext.ts
  packages/react/src/menu/checkbox-item-indicator/MenuCheckboxItemIndicator.test.tsx
  packages/react/src/menu/checkbox-item-indicator/MenuCheckboxItemIndicator.tsx
  packages/react/src/menu/popup/MenuPopup.tsx
  packages/react/src/menu/radio-item-indicator/MenuRadioItemIndicator.test.tsx
  packages/react/src/menu/radio-item-indicator/MenuRadioItemIndicator.tsx
  packages/react/src/menu/root/MenuRoot.test.tsx
  packages/react/src/menu/root/MenuRoot.tsx
  packages/react/src/menu/root/MenuRootContext.ts
  packages/react/src/menu/root/useMenuRoot.ts
  packages/react/src/popover/popup/PopoverPopup.tsx
  packages/react/src/popover/root/PopoverRoot.test.tsx
  packages/react/src/popover/root/PopoverRoot.tsx
  packages/react/src/popover/root/PopoverRootContext.ts
  packages/react/src/popover/root/usePopoverRoot.ts
  packages/react/src/preview-card/popup/PreviewCardPopup.tsx
  packages/react/src/preview-card/root/PreviewCardContext.ts
  packages/react/src/preview-card/root/PreviewCardRoot.test.tsx
  packages/react/src/preview-card/root/PreviewCardRoot.tsx
  packages/react/src/preview-card/root/usePreviewCardRoot.ts
  packages/react/src/radio/indicator/RadioIndicator.test.tsx
  packages/react/src/radio/indicator/RadioIndicator.tsx
  packages/react/src/select/item-indicator/SelectItemIndicator.tsx
  packages/react/src/select/popup/SelectPopup.tsx
  packages/react/src/select/root/SelectRoot.test.tsx
  packages/react/src/select/root/SelectRoot.tsx
  packages/react/src/select/root/SelectRootContext.ts
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/select/scroll-arrow/SelectScrollArrow.tsx
  packages/react/src/tooltip/popup/TooltipPopup.tsx
  packages/react/src/tooltip/root/TooltipRoot.test.tsx
  packages/react/src/tooltip/root/TooltipRoot.tsx
  packages/react/src/tooltip/root/TooltipRootContext.ts
  packages/react/src/tooltip/root/useTooltipRoot.ts
  packages/react/src/utils/useAfterExitAnimation.tsx
  packages/react/src/utils/useAnimationsFinished.ts
  packages/react/src/utils/useOpenChangeComplete.tsx
Labels: component: dialog, component: popover

#1366 [core] Remove unused utils
  packages/react/src/utils/isHostComponent.ts
  packages/react/src/utils/useControllableReducer.test.tsx
  packages/react/src/utils/useControllableReducer.ts
  packages/react/src/utils/useControllableReducer.types.ts
  packages/react/src/utils/useTextNavigation.ts
Labels: core

#1244 [NoSsr] Reduce bundle size
  packages/react/src/unstable-no-ssr/NoSsr.tsx
Labels: performance, component: NoSsr

#1410 [useAnchorPositioning] Ensure `keepMounted` is a private param
  packages/react/src/menu/positioner/MenuPositioner.spec.tsx
  packages/react/src/popover/positioner/PopoverPositioner.spec.tsx
  packages/react/src/preview-card/positioner/PreviewCardPositioner.spec.tsx
  packages/react/src/select/positioner/SelectPositioner.spec.tsx
  packages/react/src/tooltip/positioner/TooltipPositioner.spec.tsx
  packages/react/src/utils/useAnchorPositioning.ts
Labels: core, component: select, component: menu, component: tooltip, component: popover, component: preview card

#1184 [core] Enable stylelint on CSS files
  docs/src/app/(private)/experiments/rtl.module.css
  docs/src/app/(public)/(content)/react/components/menu/demos/checkbox-items/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/menu/demos/group-labels/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/menu/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/menu/demos/open-on-hover/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/menu/demos/radio-items/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/menu/demos/submenu/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/number-field/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/popover/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/preview-card/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/select/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/switch/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/tooltip/demos/hero/css-modules/index.module.css
  docs/src/components/Select.css
  docs/src/demo-theme.css
  docs/src/styles.css
  package.json
  stylelint.config.mjs
Labels: core, scope: code-infra

#1411 [Slider] Fix thumb positioning
  packages/react/src/slider/control/SliderControl.test.tsx
  packages/react/src/slider/control/SliderControl.tsx
  packages/react/src/slider/control/useSliderControl.ts
  packages/react/src/slider/indicator/SliderIndicator.test.tsx
  packages/react/src/slider/root/useSliderRoot.ts
  packages/react/src/slider/thumb/SliderThumb.test.tsx
  packages/react/src/slider/track/SliderTrack.test.tsx
  packages/react/src/slider/value/SliderValue.test.tsx
Labels: component: slider, bug 🐛

#1053 [field controls] Respect `validationMode`
  packages/react/src/checkbox-group/CheckboxGroup.tsx
  packages/react/src/checkbox/indicator/CheckboxIndicator.tsx
  packages/react/src/checkbox/root/useCheckboxRoot.ts
  packages/react/src/field/control/FieldControl.tsx
  packages/react/src/field/control/useFieldControl.ts
  packages/react/src/field/description/FieldDescription.tsx
  packages/react/src/field/error/FieldError.tsx
  packages/react/src/field/label/FieldLabel.tsx
  packages/react/src/field/root/FieldRoot.test.tsx
  packages/react/src/field/root/FieldRoot.tsx
  packages/react/src/field/utils/constants.ts
  packages/react/src/number-field/input/NumberFieldInput.tsx
  packages/react/src/number-field/root/useNumberFieldRoot.ts
  packages/react/src/radio-group/RadioGroup.tsx
  packages/react/src/radio-group/RadioGroupContext.ts
  packages/react/src/radio-group/useRadioGroup.ts
  packages/react/src/radio/root/useRadioRoot.tsx
  packages/react/src/radio/utils/customStyleHookMapping.ts
  packages/react/src/select/root/SelectRoot.tsx
  packages/react/src/select/trigger/SelectTrigger.tsx
  packages/react/src/select/trigger/useSelectTrigger.ts
  packages/react/src/slider/root/useSliderRoot.ts
  packages/react/src/slider/thumb/useSliderThumb.ts
  packages/react/src/switch/root/useSwitchRoot.ts
  packages/react/src/switch/styleHooks.ts
Labels: component: field

#1365 [docs] Zod Form example
  docs/package.json
  docs/src/app/(public)/(content)/react/components/form/demos/zod/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/form/demos/zod/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/form/demos/zod/index.ts
  docs/src/app/(public)/(content)/react/components/form/demos/zod/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/form/page.mdx
  pnpm-lock.yaml
Labels: docs

#1421 [docs] Update demo sandboxes to use React 19
  docs/src/components/Demo/CodeSandboxLink.tsx
Labels: docs

#1424 [release] 1.0.0-alpha.6
  CHANGELOG.md
  docs/src/app/(public)/(content)/react/overview/releases/page.mdx
  package.json
  packages/react/package.json
Labels: release

#1417 [docs] Update release instructions
  scripts/README.md
Labels: docs

#1428 [Avatar] Add missing Avatar export
  packages/react/src/index.ts
Labels: component: avatar

#1429 [docs] Mention Progress.Value in API reference
  docs/src/app/(public)/(content)/react/components/progress/page.mdx
Labels: docs, component: progress

#1422 [core] Fix stylelint violations
  docs/src/app/(private)/experiments/accordion/accordion.horizontal.module.css
  docs/src/app/(private)/experiments/accordion/accordion.module.css
  docs/src/app/(private)/experiments/collapsible/collapsible.module.css
  docs/src/app/(private)/experiments/dialog.module.css
  docs/src/app/(private)/experiments/rtl.module.css
  docs/src/app/(private)/experiments/toggle.module.css
  docs/src/app/(public)/(content)/react/components/collapsible/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/dialog/demos/close-confirmation/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/dialog/demos/nested/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/menu/demos/checkbox-items/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/menu/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/number-field/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/layout.css
  docs/src/breakpoints.css
  docs/src/components/Code.css
  docs/src/components/CodeBlock.css
  docs/src/components/Demo/Demo.css
  docs/src/components/Experiments/Select.module.css
  docs/src/components/GhostButton.css
  docs/src/components/Header.css
  docs/src/components/MobileNav.css
  docs/src/components/Popup.css
  docs/src/components/QuickNav/QuickNav.css
  docs/src/components/Select.css
  docs/src/components/SideNav.css
  docs/src/components/Table.css
  docs/src/demo-theme.css
  docs/src/fonts/index.css
  docs/src/styles.css
  package.json
  stylelint.config.mjs
Labels: core

#1409 [core] Remove babel-plugin-istanbul
  babel.config.js
  package.json
  pnpm-lock.yaml
Labels: core, dependencies

#1440 [core] Make `mergeReactProps` work with non-native event handlers
  packages/react/src/utils/mergeReactProps.test.ts
  packages/react/src/utils/mergeReactProps.ts
Labels: core

#1433 [Avatar] Support cross origin in useImageLoadingStatus
  packages/react/src/avatar/image/AvatarImage.tsx
  packages/react/src/avatar/image/useImageLoadingStatus.ts
Labels: component: avatar

#1444 [docs] Update the release instructions
  scripts/README.md
Labels: docs

#1416 [Tooltip] Fix `Provider` `delay=0` not being respected
  packages/react/src/tooltip/provider/TooltipProvider.test.tsx
  packages/react/src/tooltip/provider/TooltipProvider.tsx
  packages/react/src/tooltip/root/TooltipRoot.test.tsx
  packages/react/src/tooltip/root/useTooltipRoot.ts
Labels: bug 🐛, component: tooltip

#1446 [test] Skip flaky FieldRoot tests in real browsers
  packages/react/src/field/root/FieldRoot.test.tsx
Labels: component: select, test, component: field

#1356 [docs] Tooltip guidelines
  docs/src/app/(public)/(content)/react/components/tooltip/page.mdx
Labels: docs

#1241 [Slider] Narrow the type of `value` in callbacks
  packages/react/src/slider/root/SliderRoot.spec.tsx
  packages/react/src/slider/root/SliderRoot.tsx
  packages/react/test/index.ts
  packages/react/test/utils.ts
  pnpm-lock.yaml
Labels: component: slider, typescript

#1351 [Menu, Popover, PreviewCard] Set `pointer-events: none` style on backdrops when hoverable
  packages/react/src/menu/backdrop/MenuBackdrop.test.tsx
  packages/react/src/menu/backdrop/MenuBackdrop.tsx
  packages/react/src/popover/backdrop/PopoverBackdrop.test.tsx
  packages/react/src/popover/backdrop/PopoverBackdrop.tsx
  packages/react/src/preview-card/backdrop/PreviewCardBackdrop.test.tsx
  packages/react/src/preview-card/backdrop/PreviewCardBackdrop.tsx
Labels: component: menu, component: popover, component: preview card

#1371 [test] Fix flaky browser tests
  packages/react/src/avatar/fallback/AvatarFallback.test.tsx
  packages/react/src/menu/root/MenuRoot.test.tsx
Labels: test

#1445 [Menu] Fix prop merging issues
  docs/reference/generated/menu-submenu-trigger.json
  docs/src/app/(private)/experiments/menu/menu-fully-featured.tsx
  docs/src/app/(private)/experiments/menu/menu-nested.tsx
  docs/src/app/(private)/experiments/menu/menu.module.css
  docs/src/app/(private)/experiments/popups/popups-in-popups.tsx
  packages/react/src/menu/arrow/MenuArrow.tsx
  packages/react/src/menu/checkbox-item-indicator/MenuCheckboxItemIndicator.tsx
  packages/react/src/menu/checkbox-item/MenuCheckboxItem.test.tsx
  packages/react/src/menu/checkbox-item/MenuCheckboxItem.tsx
  packages/react/src/menu/checkbox-item/useMenuCheckboxItem.ts
  packages/react/src/menu/item/MenuItem.test.tsx
  packages/react/src/menu/item/MenuItem.tsx
  packages/react/src/menu/item/useMenuItem.ts
  packages/react/src/menu/popup/MenuPopup.tsx
  packages/react/src/menu/positioner/MenuPositioner.tsx
  packages/react/src/menu/positioner/useMenuPositioner.ts
  packages/react/src/menu/radio-item-indicator/MenuRadioItemIndicator.tsx
  packages/react/src/menu/radio-item/MenuRadioItem.test.tsx
  packages/react/src/menu/radio-item/MenuRadioItem.tsx
  packages/react/src/menu/radio-item/useMenuRadioItem.ts
  packages/react/src/menu/root/useMenuRoot.ts
  packages/react/src/menu/submenu-trigger/MenuSubmenuTrigger.tsx
  packages/react/src/menu/submenu-trigger/useMenuSubmenuTrigger.ts
  packages/react/src/menu/trigger/MenuTrigger.test.tsx
  packages/react/src/menu/trigger/MenuTrigger.tsx
  packages/react/src/menu/trigger/useMenuTrigger.ts
  packages/react/src/use-button/useButton.test.tsx
  packages/react/src/use-button/useButton.ts
  packages/react/src/utils/mergeReactProps.test.ts
  packages/react/src/utils/mergeReactProps.ts
  packages/react/src/utils/types.ts
Labels: component: menu

#1448 [RadioGroup] Fix `Form`/`Field` validation integration
  packages/react/src/radio-group/RadioGroup.test.tsx
  packages/react/src/radio-group/useRadioGroup.ts
Labels: bug 🐛, component: radio group, component: field

#1460 [docs] Fix `actionsRef` propTypes
  docs/reference/generated/alert-dialog-root.json
  docs/reference/generated/dialog-root.json
  docs/reference/generated/menu-root.json
  docs/reference/generated/popover-root.json
  docs/reference/generated/preview-card-root.json
  docs/reference/generated/tooltip-root.json
  packages/react/src/alert-dialog/root/AlertDialogRoot.tsx
  packages/react/src/dialog/root/DialogRoot.tsx
  packages/react/src/menu/root/MenuRoot.tsx
  packages/react/src/popover/root/PopoverRoot.tsx
  packages/react/src/preview-card/root/PreviewCardRoot.tsx
  packages/react/src/tooltip/root/TooltipRoot.tsx
Labels: docs

#1358 [test] Extract common popup tests
  packages/react/src/accordion/root/AccordionRoot.test.tsx
  packages/react/src/alert-dialog/root/AlertDialogRoot.test.tsx
  packages/react/src/checkbox/root/CheckboxRoot.test.tsx
  packages/react/src/collapsible/root/CollapsibleRoot.test.tsx
  packages/react/src/dialog/root/DialogRoot.test.tsx
  packages/react/src/dialog/root/useDialogRoot.ts
  packages/react/src/menu/root/MenuRoot.test.tsx
  packages/react/src/number-field/root/NumberFieldRoot.test.tsx
  packages/react/src/popover/root/PopoverRoot.test.tsx
  packages/react/src/preview-card/positioner/usePreviewCardPositioner.ts
  packages/react/src/preview-card/root/PreviewCardRoot.test.tsx
  packages/react/src/progress/root/ProgressRoot.test.tsx
  packages/react/src/select/root/SelectRoot.test.tsx
  packages/react/src/slider/root/SliderRoot.test.tsx
  packages/react/src/switch/root/SwitchRoot.test.tsx
  packages/react/src/tabs/indicator/TabsIndicator.test.tsx
  packages/react/src/tabs/root/TabsRoot.test.tsx
  packages/react/src/toggle-group/ToggleGroup.test.tsx
  packages/react/src/tooltip/root/TooltipRoot.test.tsx
  packages/react/test/createRenderer.ts
  packages/react/test/describeConformance.tsx
  packages/react/test/index.ts
  packages/react/test/popupConformanceTests.tsx
Labels: test

#1461 [Menu] Reset `hoverEnabled` state on close
  packages/react/src/menu/root/useMenuRoot.ts
Labels: component: menu

#1469 [Collapsible] Update props destructuring to fix Trigger disabled state
  packages/react/src/collapsible/root/CollapsibleRoot.test.tsx
  packages/react/src/collapsible/trigger/CollapsibleTrigger.tsx
Labels: bug 🐛, component: collapsible

#1449 [Tabs] Fix keyboard navigation involving disabled Tabs
  packages/react/src/composite/root/CompositeRoot.test.tsx
  packages/react/src/composite/root/CompositeRoot.tsx
  packages/react/src/composite/root/useCompositeRoot.ts
  packages/react/src/tabs/list/TabsList.tsx
  packages/react/src/tabs/root/TabsRoot.test.tsx
  packages/react/src/tabs/tab/useTabsTab.ts
Labels: component: tabs, bug 🐛

#1473 [AlertDialog][Dialog][Popover] Fix non-interactive button disabled state
  docs/reference/generated/alert-dialog-close.json
  docs/reference/generated/alert-dialog-trigger.json
  docs/reference/generated/dialog-close.json
  docs/reference/generated/dialog-trigger.json
  packages/react/src/alert-dialog/close/AlertDialogClose.test.tsx
  packages/react/src/alert-dialog/close/AlertDialogClose.tsx
  packages/react/src/alert-dialog/close/AlertDialogCloseDataAttributes.ts
  packages/react/src/alert-dialog/trigger/AlertDialogTrigger.test.tsx
  packages/react/src/alert-dialog/trigger/AlertDialogTrigger.tsx
  packages/react/src/alert-dialog/trigger/AlertDialogTriggerDataAttributes.ts
  packages/react/src/dialog/close/DialogClose.test.tsx
  packages/react/src/dialog/close/DialogClose.tsx
  packages/react/src/dialog/close/DialogCloseDataAttributes.ts
  packages/react/src/dialog/close/useDialogClose.ts
  packages/react/src/dialog/trigger/DialogTrigger.test.tsx
  packages/react/src/dialog/trigger/DialogTrigger.tsx
  packages/react/src/dialog/trigger/DialogTriggerDataAttributes.ts
  packages/react/src/popover/trigger/PopoverTrigger.test.tsx
  packages/react/src/popover/trigger/PopoverTrigger.tsx
Labels: component: alert dialog, bug 🐛, component: dialog, component: popover

#1472 [core] Export namespaces consistently
  packages/react/src/accordion/header/AccordionHeader.tsx
  packages/react/src/accordion/item/AccordionItem.tsx
  packages/react/src/accordion/panel/AccordionPanel.tsx
  packages/react/src/accordion/root/AccordionRoot.tsx
  packages/react/src/avatar/fallback/AvatarFallback.tsx
  packages/react/src/avatar/image/AvatarImage.tsx
  packages/react/src/avatar/root/AvatarRoot.tsx
  packages/react/src/checkbox-group/CheckboxGroupContext.ts
  packages/react/src/checkbox-group/useCheckboxGroup.tsx
  packages/react/src/checkbox-group/useCheckboxGroupParent.ts
  packages/react/src/checkbox/root/CheckboxRoot.tsx
  packages/react/src/checkbox/root/useCheckboxRoot.ts
  packages/react/src/collapsible/root/CollapsibleRoot.tsx
  packages/react/src/number-field/root/NumberFieldRoot.tsx
  packages/react/src/number-field/root/NumberFieldRootContext.ts
  packages/react/src/number-field/root/useNumberFieldRoot.ts
  packages/react/src/number-field/root/useScrub.ts
  packages/react/src/slider/control/SliderControl.tsx
  packages/react/src/slider/indicator/SliderIndicator.tsx
  packages/react/src/slider/root/SliderRoot.tsx
  packages/react/src/slider/thumb/SliderThumb.tsx
  packages/react/src/slider/track/SliderTrack.tsx
  packages/react/src/slider/value/SliderValue.tsx
  packages/react/src/toggle-group/ToggleGroup.tsx
  packages/react/src/toggle-group/useToggleGroup.ts
  packages/react/src/toggle/Toggle.tsx
Labels: core, typescript

#1482 [code-infra] Fix build:types not copying on some setups
  scripts/buildTypes.mts
Labels: scope: code-infra

#1475 [Slider] Warn when `min` is not less than `max`
  packages/react/src/slider/root/useSliderRoot.ts
Labels: component: slider, bug 🐛

#1487 [test] Fix PreviewCard test flake
  docs/src/app/(public)/(content)/react/handbook/animation/page.mdx
  packages/react/src/alert-dialog/root/AlertDialogRoot.test.tsx
  packages/react/src/dialog/root/DialogRoot.test.tsx
  packages/react/src/menu/root/MenuRoot.test.tsx
  packages/react/src/popover/root/PopoverRoot.test.tsx
  packages/react/src/preview-card/root/PreviewCardRoot.test.tsx
  packages/react/src/select/root/SelectRoot.test.tsx
  packages/react/src/tooltip/root/TooltipRoot.test.tsx
Labels: test, component: preview card

#1490 [test] Fix wrong env skip
  packages/react/src/preview-card/root/PreviewCardRoot.test.tsx
Labels: test

#1489 [Composite] Derive sorted map state
  packages/react/src/composite/list/CompositeList.tsx
Labels: core
