Repository mui/base-ui, pull requests merged in 2025-01, with the labels that each got.

#1194 [ScrollArea] Read `DirectionProvider` and use logical positioning CSS props
  packages/react/src/scroll-area/corner/ScrollAreaCorner.tsx
  packages/react/src/scroll-area/root/ScrollAreaRoot.tsx
  packages/react/src/scroll-area/root/ScrollAreaRootContext.ts
  packages/react/src/scroll-area/root/useScrollAreaRoot.ts
  packages/react/src/scroll-area/scrollbar/useScrollAreaScrollbar.ts
  packages/react/src/scroll-area/viewport/useScrollAreaViewport.tsx
Labels: bug 🐛, component: scroll area

#1242 [docs-infra] Remove Next.js production profiler
  docs/package.json
Labels: docs, performance, scope: docs-infra

#1152 [core] Remove tsbuildinfo from the built package
  packages/react/.npmignore
  packages/react/package.json
Labels: core

#1113 [core] Use stable React packages
  docs/next-env.d.ts
  docs/package.json
  package.json
  packages/react/package.json
  pnpm-lock.yaml
  test/package.json
Labels: core, dependencies

#1251 [useButton] Fix Enter key preventDefault when rendering links
  packages/react/package.json
  packages/react/src/menu/item/MenuItem.test.tsx
  packages/react/src/use-button/useButton.ts
  pnpm-lock.yaml
Labels: component: menu, bug 🐛

#1150 [docs] Add security coverage
  SECURITY.md
Labels: docs, security

#1233 [Select] Fix highlight flash on Safari
  packages/react/src/select/item/useSelectItem.ts
Labels: component: select

#1175 [Slider] Set `position: relative` on range slider indicator
  packages/react/src/slider/indicator/useSliderIndicator.ts
Labels: component: slider, bug 🐛

#1127 [test] Use vite and vitest for e2e and regression tests
  .circleci/config.yml
  .eslintrc.js
  package.json
  pnpm-lock.yaml
  test/README.md
  test/e2e/.mocharc.js
  test/e2e/README.md
  test/e2e/TestViewer.tsx
  test/e2e/fixtures/Radio.tsx
  test/e2e/index.html
  test/e2e/index.test.ts
  test/e2e/main.tsx
  test/e2e/postcss.config.js
  test/e2e/serve.json
  test/e2e/vite.config.mjs
  test/e2e/vitest.config.mts
  test/e2e/webpack.config.js
  test/package.json
  test/regressions/.mocharc.js
  test/regressions/README.md
  test/regressions/TestViewer.tsx
  test/regressions/index.html
  test/regressions/index.test.js
  test/regressions/index.test.ts
  test/regressions/main.tsx
  test/regressions/postcss.config.js
  test/regressions/serve.json
  test/regressions/vite.config.mjs
  test/regressions/vitest.config.mts
  test/regressions/webpack.config.js
  test/tsconfig.json
  test/vite.d.ts
  test/vite.shared.config.mjs
  vitest.workspace.mts
Labels: test

#1226 [docs-infra] Always document the `className` and `render` props
  docs/reference/generated/menu-checkbox-item.json
  docs/reference/generated/menu-item.json
  docs/reference/generated/menu-radio-item.json
  docs/reference/generated/select-item-text.json
  docs/reference/generated/select-item.json
  docs/reference/generated/select-scroll-down-arrow.json
  docs/reference/generated/select-scroll-up-arrow.json
  packages/react/src/menu/checkbox-item/MenuCheckboxItem.tsx
  packages/react/src/menu/item/MenuItem.tsx
  packages/react/src/menu/radio-item/MenuRadioItem.tsx
  packages/react/src/select/item-text/SelectItemText.tsx
  packages/react/src/select/item/SelectItem.tsx
  packages/react/src/select/scroll-down-arrow/SelectScrollDownArrow.tsx
  packages/react/src/select/scroll-up-arrow/SelectScrollUpArrow.tsx
  scripts/generateProptypes.ts
Labels: scope: docs-infra

#1280 [Dialog] Don't call `onNestedDialogOpen` when unmounting a closed nested dialog
  packages/react/src/dialog/popup/DialogPopup.test.tsx
  packages/react/src/dialog/root/useDialogRoot.ts
Labels: bug 🐛, component: dialog

#1290 [docs] Add accessible label to demo variant selector
  docs/src/components/Demo/DemoVariantSelector.tsx
Labels: docs, accessibility

#1219 [Slider] Use un-rounded values to position thumbs
  docs/reference/generated/slider-root.json
  docs/reference/generated/slider-thumb.json
  packages/react/src/slider/control/SliderControl.test.tsx
  packages/react/src/slider/control/SliderControl.tsx
  packages/react/src/slider/control/useSliderControl.ts
  packages/react/src/slider/indicator/SliderIndicator.test.tsx
  packages/react/src/slider/indicator/SliderIndicator.tsx
  packages/react/src/slider/indicator/useSliderIndicator.ts
  packages/react/src/slider/root/SliderRoot.tsx
  packages/react/src/slider/root/SliderRootContext.ts
  packages/react/src/slider/root/useSliderRoot.ts
  packages/react/src/slider/thumb/SliderThumb.test.tsx
  packages/react/src/slider/thumb/SliderThumb.tsx
  packages/react/src/slider/thumb/useSliderThumb.ts
  packages/react/src/slider/track/SliderTrack.test.tsx
  packages/react/src/slider/utils/getSliderValue.ts
  packages/react/src/slider/utils/replaceArrayItemAtIndex.ts
  packages/react/src/slider/utils/roundValueToStep.ts
  packages/react/src/slider/utils/setValueIndex.ts
  packages/react/src/slider/value/SliderValue.test.tsx
  packages/react/src/slider/value/SliderValue.tsx
  packages/react/src/slider/value/useSliderValue.ts
Labels: component: slider, enhancement, performance

#1250 [Select, Menu] Handle pseudo-element bounds in mouseup detection
  packages/react/src/menu/trigger/useMenuTrigger.ts
  packages/react/src/select/trigger/useSelectTrigger.ts
  packages/react/src/utils/getPseudoElementBounds.ts
Labels: component: select, component: menu

#1299 [test] Ensure `Portal` is used in `MenuItem` test
  packages/react/src/menu/item/MenuItem.test.tsx
Labels: component: menu, test

#1296 [Slider] Ensure `onValueCommitted` is called with the same value as latest `onValueChange`
  docs/src/app/(private)/experiments/slider-change-committed-lag.tsx
  docs/src/app/(private)/experiments/slider-format.tsx
  docs/src/app/(private)/experiments/slider.module.css
  packages/react/src/slider/control/SliderControl.test.tsx
  packages/react/src/slider/control/SliderControl.tsx
  packages/react/src/slider/control/useSliderControl.ts
  packages/react/src/slider/indicator/SliderIndicator.test.tsx
  packages/react/src/slider/root/SliderRoot.test.tsx
  packages/react/src/slider/root/SliderRoot.tsx
  packages/react/src/slider/root/useSliderRoot.ts
  packages/react/src/slider/thumb/SliderThumb.test.tsx
  packages/react/src/slider/track/SliderTrack.test.tsx
  packages/react/src/slider/value/SliderValue.test.tsx
Labels: component: slider, bug 🐛

#1249 [core] Refactor data passing
  docs/reference/generated/menu-positioner.json
  docs/reference/generated/popover-positioner.json
  docs/reference/generated/preview-card-positioner.json
  docs/reference/generated/select-positioner.json
  docs/reference/generated/tooltip-positioner.json
  docs/src/app/(private)/experiments/anchor-positioning.tsx
  packages/react/src/dialog/root/DialogRoot.tsx
  packages/react/src/dialog/root/useDialogRoot.ts
  packages/react/src/menu/positioner/MenuPositioner.tsx
  packages/react/src/menu/positioner/useMenuPositioner.ts
  packages/react/src/popover/popup/PopoverPopup.tsx
  packages/react/src/popover/positioner/PopoverPositioner.tsx
  packages/react/src/popover/positioner/usePopoverPositioner.tsx
  packages/react/src/popover/root/PopoverRoot.tsx
  packages/react/src/preview-card/positioner/PreviewCardPositioner.tsx
  packages/react/src/preview-card/positioner/usePreviewCardPositioner.ts
  packages/react/src/preview-card/root/PreviewCardRoot.tsx
  packages/react/src/select/popup/SelectPopup.tsx
  packages/react/src/select/positioner/SelectPositioner.tsx
  packages/react/src/select/positioner/SelectPositionerContext.ts
  packages/react/src/select/positioner/useSelectPositioner.ts
  packages/react/src/tooltip/positioner/TooltipPositioner.tsx
  packages/react/src/tooltip/positioner/useTooltipPositioner.ts
  packages/react/src/tooltip/root/TooltipRoot.tsx
  packages/react/src/utils/useAnchorPositioning.ts
Labels: core

#1278 [Tooltip, PreviewCard] Use `FloatingPortalLite`
  packages/react/src/preview-card/portal/PreviewCardPortal.tsx
  packages/react/src/tooltip/portal/TooltipPortal.tsx
  packages/react/src/utils/FloatingPortalLite.tsx
Labels: component: tooltip, component: preview card

#1294 [NumberField] Correctly handle quick touches
  packages/react/src/number-field/decrement/NumberFieldDecrement.test.tsx
  packages/react/src/number-field/increment/NumberFieldIncrement.test.tsx
  packages/react/src/number-field/root/useNumberFieldRoot.ts
Labels: component: number field

#1235 [popups] Add `onCloseComplete` callback
  docs/reference/generated/alert-dialog-root.json
  docs/reference/generated/dialog-root.json
  docs/reference/generated/menu-root.json
  docs/reference/generated/popover-root.json
  docs/reference/generated/preview-card-root.json
  docs/reference/generated/select-root.json
  docs/reference/generated/tooltip-root.json
  packages/react/src/alert-dialog/root/AlertDialogRoot.test.tsx
  packages/react/src/alert-dialog/root/AlertDialogRoot.tsx
  packages/react/src/dialog/root/DialogRoot.test.tsx
  packages/react/src/dialog/root/DialogRoot.tsx
  packages/react/src/dialog/root/useDialogRoot.ts
  packages/react/src/menu/root/MenuRoot.test.tsx
  packages/react/src/menu/root/MenuRoot.tsx
  packages/react/src/menu/root/useMenuRoot.ts
  packages/react/src/popover/root/PopoverRoot.test.tsx
  packages/react/src/popover/root/PopoverRoot.tsx
  packages/react/src/popover/root/usePopoverRoot.ts
  packages/react/src/preview-card/root/PreviewCardRoot.test.tsx
  packages/react/src/preview-card/root/PreviewCardRoot.tsx
  packages/react/src/preview-card/root/usePreviewCardRoot.ts
  packages/react/src/select/root/SelectRoot.test.tsx
  packages/react/src/select/root/SelectRoot.tsx
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/tooltip/root/TooltipRoot.test.tsx
  packages/react/src/tooltip/root/TooltipRoot.tsx
  packages/react/src/tooltip/root/useTooltipRoot.ts
Labels: component: select, component: menu, component: alert dialog, component: tooltip, component: dialog, component: popover, component: preview card

#1300 [Dialog] Remove `useFloating` call from the Popup
  packages/react/package.json
  packages/react/src/alert-dialog/popup/AlertDialogPopup.tsx
  packages/react/src/dialog/popup/DialogPopup.tsx
  packages/react/src/dialog/popup/useDialogPopup.tsx
  packages/react/src/dialog/root/useDialogRoot.ts
  pnpm-lock.yaml
Labels: component: alert dialog, component: dialog

#1191 [Menu] Fix `openOnHover` issues
  docs/reference/generated/menu-popup.json
  docs/reference/generated/popover-popup.json
  docs/reference/generated/tooltip-popup.json
  packages/react/src/menu/checkbox-item/MenuCheckboxItem.test.tsx
  packages/react/src/menu/item/MenuItem.test.tsx
  packages/react/src/menu/popup/MenuPopup.tsx
  packages/react/src/menu/popup/MenuPopupDataAttributes.ts
  packages/react/src/menu/positioner/MenuPositioner.test.tsx
  packages/react/src/menu/radio-item/MenuRadioItem.test.tsx
  packages/react/src/menu/root/MenuRoot.tsx
  packages/react/src/menu/root/MenuRootContext.ts
  packages/react/src/menu/root/useMenuRoot.ts
  packages/react/src/menu/trigger/MenuTrigger.test.tsx
  packages/react/src/popover/popup/PopoverPopupDataAttributes.ts
  packages/react/src/popover/root/usePopoverRoot.ts
  packages/react/src/popover/trigger/PopoverTrigger.test.tsx
  packages/react/src/popover/utils/constants.ts
  packages/react/src/tooltip/popup/TooltipPopupDataAttributes.ts
  packages/react/src/utils/constants.ts
Labels: component: menu

#1281 [test] Add the isJSDOM utility
  packages/react/src/accordion/root/AccordionRoot.test.tsx
  packages/react/src/alert-dialog/root/AlertDialogRoot.test.tsx
  packages/react/src/checkbox/indicator/CheckboxIndicator.test.tsx
  packages/react/src/checkbox/root/CheckboxRoot.test.tsx
  packages/react/src/collapsible/panel/CollapsiblePanel.test.tsx
  packages/react/src/collapsible/root/CollapsibleRoot.test.tsx
  packages/react/src/composite/root/CompositeRoot.test.tsx
  packages/react/src/dialog/popup/DialogPopup.test.tsx
  packages/react/src/dialog/root/DialogRoot.test.tsx
  packages/react/src/menu/checkbox-item-indicator/MenuCheckboxItemIndicator.test.tsx
  packages/react/src/menu/checkbox-item/MenuCheckboxItem.test.tsx
  packages/react/src/menu/item/MenuItem.test.tsx
  packages/react/src/menu/positioner/MenuPositioner.test.tsx
  packages/react/src/menu/radio-item-indicator/MenuRadioItemIndicator.test.tsx
  packages/react/src/menu/radio-item/MenuRadioItem.test.tsx
  packages/react/src/menu/root/MenuRoot.test.tsx
  packages/react/src/number-field/root/NumberFieldRoot.test.tsx
  packages/react/src/number-field/scrub-area/NumberFieldScrubArea.test.tsx
  packages/react/src/popover/root/PopoverRoot.test.tsx
  packages/react/src/preview-card/root/PreviewCardRoot.test.tsx
  packages/react/src/progress/indicator/ProgressIndicator.test.tsx
  packages/react/src/radio-group/RadioGroup.test.tsx
  packages/react/src/radio/indicator/RadioIndicator.test.tsx
  packages/react/src/scroll-area/corner/ScrollAreaCorner.test.tsx
  packages/react/src/scroll-area/root/ScrollAreaRoot.test.tsx
  packages/react/src/select/item/SelectItem.test.tsx
  packages/react/src/select/root/SelectRoot.test.tsx
  packages/react/src/slider/root/SliderRoot.test.tsx
  packages/react/src/switch/root/SwitchRoot.test.tsx
  packages/react/src/tabs/indicator/TabsIndicator.test.tsx
  packages/react/src/tabs/root/TabsRoot.test.tsx
  packages/react/src/toggle-group/ToggleGroup.test.tsx
  packages/react/src/tooltip/root/TooltipRoot.test.tsx
  packages/react/src/use-button/useButton.test.tsx
  packages/react/test/index.ts
  packages/react/test/utils.ts
Labels: test

#1306 Revert "[popups] Add onCloseComplete callback"
  docs/reference/generated/alert-dialog-root.json
  docs/reference/generated/dialog-root.json
  docs/reference/generated/menu-root.json
  docs/reference/generated/popover-root.json
  docs/reference/generated/preview-card-root.json
  docs/reference/generated/select-root.json
  docs/reference/generated/tooltip-root.json
  packages/react/src/alert-dialog/root/AlertDialogRoot.test.tsx
  packages/react/src/alert-dialog/root/AlertDialogRoot.tsx
  packages/react/src/dialog/root/DialogRoot.test.tsx
  packages/react/src/dialog/root/DialogRoot.tsx
  packages/react/src/dialog/root/useDialogRoot.ts
  packages/react/src/menu/root/MenuRoot.test.tsx
  packages/react/src/menu/root/MenuRoot.tsx
  packages/react/src/menu/root/useMenuRoot.ts
  packages/react/src/popover/root/PopoverRoot.test.tsx
  packages/react/src/popover/root/PopoverRoot.tsx
  packages/react/src/popover/root/usePopoverRoot.ts
  packages/react/src/preview-card/root/PreviewCardRoot.test.tsx
  packages/react/src/preview-card/root/PreviewCardRoot.tsx
  packages/react/src/preview-card/root/usePreviewCardRoot.ts
  packages/react/src/select/root/SelectRoot.test.tsx
  packages/react/src/select/root/SelectRoot.tsx
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/tooltip/root/TooltipRoot.test.tsx
  packages/react/src/tooltip/root/TooltipRoot.tsx
  packages/react/src/tooltip/root/useTooltipRoot.ts
Labels: core

#1304 [Separator] Support vertical orientation
  docs/reference/generated/separator.json
  docs/src/app/(public)/(content)/react/components/separator/demos/hero/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/separator/demos/hero/tailwind/index.tsx
  packages/react/src/separator/Separator.test.tsx
  packages/react/src/separator/Separator.tsx
Labels: component: separator, enhancement

#1307 [core] Remove dangerfile
  .circleci/config.yml
  dangerfile.ts
  package.json
  pnpm-lock.yaml
Labels: core

#1293 [core] Fix wrong JSDocs in `useTransitionStatus`
  packages/react/src/utils/useTransitionStatus.ts
Labels: core

#1227 [docs] Use discord redirect
  .github/ISSUE_TEMPLATE/3.get-help.md
  docs/public/_redirects
  docs/src/app/(public)/(content)/react/overview/about/page.mdx
Labels: docs

#1313 [useButton] Fix `focusableWhenDisabled` components
  docs/reference/generated/menu-radio-group.json
  packages/react/src/accordion/root/useAccordionRoot.ts
  packages/react/src/collapsible/trigger/useCollapsibleTrigger.ts
  packages/react/src/menu/checkbox-item/MenuCheckboxItem.test.tsx
  packages/react/src/menu/item/MenuItem.test.tsx
  packages/react/src/menu/radio-group/MenuRadioGroup.tsx
  packages/react/src/menu/radio-group/MenuRadioGroupContext.ts
  packages/react/src/menu/radio-item/MenuRadioItem.test.tsx
  packages/react/src/menu/radio-item/MenuRadioItem.tsx
  packages/react/src/menu/trigger/useMenuTrigger.ts
  packages/react/src/select/item/SelectItem.test.tsx
  packages/react/src/select/item/useSelectItem.ts
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/select/trigger/SelectTrigger.test.tsx
  packages/react/src/select/trigger/SelectTrigger.tsx
  packages/react/src/select/trigger/useSelectTrigger.ts
  packages/react/src/use-button/useButton.test.tsx
  packages/react/src/use-button/useButton.ts
Labels: component: select, component: menu, component: tabs, bug 🐛, component: collapsible

#1316 [release] v1.0.0-alpha.5
  CHANGELOG.md
  docs/src/app/(public)/(content)/react/overview/releases/page.mdx
  package.json
  packages/react/package.json
Labels: release

#1326 [Dialogs] Fix missing `id`s on Title and Description
  packages/react/src/alert-dialog/description/AlertDialogDescription.tsx
  packages/react/src/alert-dialog/root/AlertDialogRoot.test.tsx
  packages/react/src/alert-dialog/title/AlertDialogTitle.tsx
  packages/react/src/dialog/description/DialogDescription.tsx
  packages/react/src/dialog/root/DialogRoot.test.tsx
  packages/react/src/dialog/title/DialogTitle.tsx
Labels: component: alert dialog, bug 🐛, component: dialog

#1318 [Tabs] Fix tabs activating incorrectly on non-primary button clicks
  packages/react/src/tabs/root/TabsRoot.test.tsx
  packages/react/src/tabs/tab/useTabsTab.ts
Labels: component: tabs, bug 🐛

#1342 [Menu] Fix iPad detection when applying scroll lock
  packages/react/src/utils/detectBrowser.ts
Labels: component: menu, bug 🐛

#1339 [docs][Slider] Prevent long presses from triggering context menu or text selection
  docs/src/app/(public)/(content)/react/components/slider/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/slider/demos/hero/tailwind/index.tsx
Labels: component: slider, docs

#1345 [docs][Tabs] Fix example component names
  docs/src/app/(public)/(content)/react/components/tabs/demos/hero/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/tabs/demos/hero/tailwind/index.tsx
Labels: component: tabs

#1327 [Dialogs] Support multiple non-nested modal backdrops
  packages/react/src/alert-dialog/backdrop/AlertDialogBackdrop.tsx
  packages/react/src/alert-dialog/popup/AlertDialogPopup.tsx
  packages/react/src/alert-dialog/root/AlertDialogRoot.test.tsx
  packages/react/src/dialog/backdrop/DialogBackdrop.tsx
  packages/react/src/dialog/popup/DialogPopup.test.tsx
  packages/react/src/dialog/popup/DialogPopup.tsx
  packages/react/src/dialog/root/DialogRoot.test.tsx
  packages/react/src/dialog/root/useDialogRoot.ts
  packages/react/src/utils/InternalBackdrop.tsx
Labels: component: alert dialog, component: dialog

#1329 [Checkbox, Menu, and Radio] Fix: Update keepMounted Prop Logic for Inline Elements
  docs/reference/generated/radio-indicator.json
  packages/react/src/checkbox/indicator/CheckboxIndicator.test.tsx
  packages/react/src/checkbox/indicator/CheckboxIndicator.tsx
  packages/react/src/menu/checkbox-item-indicator/MenuCheckboxItemIndicator.test.tsx
  packages/react/src/menu/checkbox-item-indicator/MenuCheckboxItemIndicator.tsx
  packages/react/src/menu/radio-item-indicator/MenuRadioItemIndicator.test.tsx
  packages/react/src/menu/radio-item-indicator/MenuRadioItemIndicator.tsx
  packages/react/src/radio-group/RadioGroup.test.tsx
  packages/react/src/radio/indicator/RadioIndicator.test.tsx
  packages/react/src/radio/indicator/RadioIndicator.tsx
Labels: component: menu, component: checkbox, component: radio

#1343 [useScrollLock] Fix jump with `scroll-behavior` style
  packages/react/src/utils/useScrollLock.ts
Labels: core, component: modal

#1354 [test] Speed up regression and E2E tests
  test/e2e/TestViewer.tsx
  test/e2e/main.tsx
  test/regressions/TestViewer.tsx
  test/regressions/main.tsx
Labels: test

#1338 [Menu] Support submenus with `openOnHover` prop
  packages/react/src/menu/positioner/useMenuPositioner.ts
  packages/react/src/menu/root/MenuRoot.test.tsx
  packages/react/src/menu/root/MenuRootContext.ts
  packages/react/src/menu/root/useMenuRoot.ts
Labels: component: menu

#1359 [Tabs] Fix being able to activate a disabled tab
  packages/react/src/tabs/root/TabsRoot.test.tsx
  packages/react/src/tabs/tab/useTabsTab.ts
Labels: component: tabs, bug 🐛

#1223 [useAnchorPositioning] Add `OffsetFunction` for `sideOffset` and `alignOffset`
  docs/reference/generated/menu-positioner.json
  docs/reference/generated/popover-positioner.json
  docs/reference/generated/preview-card-positioner.json
  docs/reference/generated/select-positioner.json
  docs/reference/generated/tooltip-positioner.json
  docs/reference/overrides/common.json
  docs/src/app/(private)/experiments/tooltip.tsx
  packages/react/src/menu/positioner/MenuPositioner.test.tsx
  packages/react/src/menu/positioner/MenuPositioner.tsx
  packages/react/src/popover/positioner/PopoverPositioner.test.tsx
  packages/react/src/popover/positioner/PopoverPositioner.tsx
  packages/react/src/preview-card/positioner/PreviewCardPositioner.test.tsx
  packages/react/src/preview-card/positioner/PreviewCardPositioner.tsx
  packages/react/src/select/positioner/SelectPositioner.test.tsx
  packages/react/src/select/positioner/SelectPositioner.tsx
  packages/react/src/tooltip/positioner/TooltipPositioner.test.tsx
  packages/react/src/tooltip/positioner/TooltipPositioner.tsx
  packages/react/src/utils/useAnchorPositioning.ts
Labels: component: select, component: menu, component: tooltip, component: popover, component: preview card

#1321 [code-infra] CircleCI maintenance
  .circleci/config.yml
Labels: core

#1368 [core] Update to new Tailwind docs
  docs/src/components/Demo/CodeSandboxLink.tsx
Labels: core
