Repository mui/base-ui, pull requests merged in 2025-08, with the labels that each got.

#2397 [select] Fix stale items prop
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/select/value/SelectValue.test.tsx
Labels: component: select, bug 🐛

#2441 [navigation menu] Unshare AbortController instance
  packages/react/src/navigation-menu/trigger/NavigationMenuTrigger.tsx
Labels: component: navigation menu

#2446 [docs][radio group] Fix error in code snippet
  docs/src/app/(public)/(content)/react/components/radio/page.mdx
Labels: docs, bug 🐛, component: radio group

#2472 [internal] Remove explicit `@next/eslint-plugin-next` dependency
  package.json
  pnpm-lock.yaml
Labels: enhancement, internal

#2438 [support-infra] Rename label core to internal
  scripts/releaseChangelog.mts
Labels: enhancement, internal, scope: support-infra

#2479 [dialog][popover] Restore focus to popup when focused element is removed
  packages/react/src/dialog/popup/DialogPopup.tsx
  packages/react/src/dialog/root/DialogRoot.test.tsx
  packages/react/src/dialog/root/useDialogRoot.ts
  packages/react/src/floating-ui-react/components/FloatingFocusManager.tsx
  packages/react/src/floating-ui-react/hooks/useDismiss.ts
  packages/react/src/popover/backdrop/PopoverBackdrop.tsx
  packages/react/src/popover/popup/PopoverPopup.tsx
  packages/react/src/popover/positioner/PopoverPositioner.tsx
  packages/react/src/popover/root/PopoverRoot.test.tsx
  packages/react/src/popover/root/PopoverRoot.tsx
  packages/react/src/popover/root/PopoverRootContext.ts
Labels: type: bug, scope: dialog, scope: popover

#2526 [navigation menu] Semantic element structure and `active` page prop
  docs/reference/generated/navigation-menu-link.json
  docs/src/app/(private)/experiments/navigation-menu.module.css
  docs/src/app/(public)/(content)/react/components/navigation-menu/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/navigation-menu/demos/nested/css-modules/index.module.css
  packages/react/src/composite/root/CompositeRoot.tsx
  packages/react/src/navigation-menu/item/NavigationMenuItem.test.tsx
  packages/react/src/navigation-menu/item/NavigationMenuItem.tsx
  packages/react/src/navigation-menu/link/NavigationMenuLinikDataAttributes.ts
  packages/react/src/navigation-menu/link/NavigationMenuLink.test.tsx
  packages/react/src/navigation-menu/link/NavigationMenuLink.tsx
  packages/react/src/navigation-menu/list/NavigationMenuList.test.tsx
  packages/react/src/navigation-menu/list/NavigationMenuList.tsx
Labels: breaking change, scope: navigation menu

#2483 [menu] Fix submenu events
  docs/src/app/(private)/experiments/menu/menu-fully-featured.tsx
  packages/react/src/floating-ui-react/hooks/useHover.ts
  packages/react/src/menu/checkbox-item/MenuCheckboxItem.tsx
  packages/react/src/menu/item/MenuItem.tsx
  packages/react/src/menu/item/useMenuItem.ts
  packages/react/src/menu/positioner/MenuPositioner.tsx
  packages/react/src/menu/positioner/MenuPositionerContext.ts
  packages/react/src/menu/radio-item/MenuRadioItem.tsx
  packages/react/src/menu/root/MenuRoot.test.tsx
  packages/react/src/menu/submenu-trigger/MenuSubmenuTrigger.tsx
Labels: scope: menu, type: bug

#2542 [scroll area] Prevent pointer events from sibling portals triggering hover
  docs/src/app/(private)/experiments/scroll-area/inside-menu.module.css
  docs/src/app/(private)/experiments/scroll-area/inside-menu.tsx
  packages/react/src/scroll-area/root/ScrollAreaRoot.tsx
Labels: type: bug, scope: scroll area

#2566 [internal] Remove implicit private: false in package.json
  packages/react/package.json
Labels: type: enhancement, internal

#2493 [menu] Fix `closeParentOnEsc` default value
  packages/react/src/menu/popup/MenuPopup.tsx
  packages/react/src/menu/root/MenuRoot.test.tsx
  packages/react/src/menu/submenu-root/MenuSubmenuRoot.tsx
Labels: scope: menu, type: bug, accessibility, breaking change

#2541 [website] Hide the Design Engineer role
  docs/src/components/Header.tsx
Labels: website

#2581 [docs] Update package import path in few examples
  docs/src/app/(public)/(content)/react/components/alert-dialog/page.mdx
  docs/src/app/(public)/(content)/react/components/dialog/page.mdx
  docs/src/app/(public)/(content)/react/components/menu/page.mdx
Labels: docs, type: bug

#2568 [internal] Improve useControlled() strict mode handling
  packages/utils/src/useControlled.test.tsx
  packages/utils/src/useControlled.ts
Labels: type: bug, internal, package: utils

#2569 [select] Fix `data-highlighted` and DOM focus item desync
  packages/react/src/select/item/SelectItem.tsx
  packages/react/src/select/popup/SelectPopup.tsx
  packages/react/src/select/root/SelectRootContext.ts
  packages/react/src/select/root/useSelectRoot.ts
Labels: scope: select, type: bug

#2584 [slider] Fix thumb `:focus-visible` with mixed keyboard and pointer modality
  docs/src/app/(private)/experiments/forms/form.module.css
  docs/src/app/(private)/experiments/slider/inset.mac.module.css
  docs/src/app/(private)/experiments/slider/inset.native.module.css
  docs/src/app/(private)/experiments/slider/slider.module.css
  docs/src/app/(private)/experiments/slider/small.module.css
  docs/src/app/(private)/experiments/slider/vertical.module.css
  packages/react/src/slider/control/SliderControl.tsx
  packages/react/src/slider/root/SliderRoot.test.tsx
  packages/react/src/slider/root/SliderRoot.tsx
  packages/react/src/slider/root/SliderRootContext.ts
  packages/react/src/slider/thumb/SliderThumb.tsx
Labels: scope: slider, type: bug

#2523 [select] Fix scroll arrows not propagating scroll fully to start/end of list
  docs/reference/generated/select-popup.json
  docs/src/app/(private)/experiments/long-select.module.css
  docs/src/app/(private)/experiments/long-select.tsx
  docs/src/app/(private)/experiments/scroll-area/inside-select.module.css
  docs/src/app/(private)/experiments/scroll-area/inside-select.tsx
  docs/src/app/(private)/experiments/select-perf.module.css
  docs/src/app/(public)/(content)/react/components/select/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/select/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/select/demos/multiple/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/select/demos/multiple/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/select/demos/multiple/tailwind/index.tsx
  packages/react/src/floating-ui-react/hooks/useListNavigation.ts
  packages/react/src/select/popup/SelectPopup.tsx
  packages/react/src/select/positioner/SelectPositioner.tsx
  packages/react/src/select/positioner/SelectPositionerContext.ts
  packages/react/src/select/root/SelectRootContext.ts
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/select/scroll-arrow/SelectScrollArrow.tsx
  packages/react/src/utils/styles.tsx
Labels: scope: select, type: bug

#2591 [number field] Fix duplicate `onValueChange` calls
  packages/react/src/number-field/decrement/NumberFieldDecrement.test.tsx
  packages/react/src/number-field/increment/NumberFieldIncrement.test.tsx
  packages/react/src/number-field/input/NumberFieldInput.test.tsx
  packages/react/src/number-field/root/NumberFieldRoot.tsx
  packages/react/src/number-field/root/useNumberFieldButton.ts
Labels: scope: number field, type: bug
