Repository mui/base-ui, pull requests merged in 2025-06, with the labels that each got.

#2034 [docs] Fix misc errors
  docs/reference/generated/navigation-menu-popup.json
  docs/reference/generated/navigation-menu-positioner.json
  docs/src/app/(public)/(content)/react/components/context-menu/page.mdx
  docs/src/app/(public)/(content)/react/components/menubar/page.mdx
  docs/src/app/(public)/(content)/react/components/navigation-menu/page.mdx
  docs/src/app/(public)/(content)/react/utils/use-render/page.mdx
  packages/react/package.json
  packages/react/src/navigation-menu/popup/NavigationMenuPopupCssVars.ts
  packages/react/src/navigation-menu/positioner/NavigationMenuPositionerCssVars.ts
  pnpm-lock.yaml
Labels: docs

#2040 [avatar] Refactor to `useRenderElement`
  packages/react/src/avatar/fallback/AvatarFallback.tsx
  packages/react/src/avatar/image/AvatarImage.tsx
  packages/react/src/avatar/root/AvatarRoot.tsx
Labels: core, component: avatar

#2041 [separator] Refactor to `useRenderElement`
  packages/react/src/separator/Separator.tsx
Labels: core, component: separator

#1999 [toolbar] Refactor to `useRenderElement`
  docs/reference/generated/toolbar-root.json
  packages/react/src/toolbar/button/ToolbarButton.tsx
  packages/react/src/toolbar/group/ToolbarGroup.tsx
  packages/react/src/toolbar/input/ToolbarInput.tsx
  packages/react/src/toolbar/input/useToolbarInput.ts
  packages/react/src/toolbar/link/ToolbarLink.tsx
  packages/react/src/toolbar/root/ToolbarRoot.tsx
  packages/react/src/toolbar/root/ToolbarRootContext.ts
  packages/react/src/toolbar/root/useToolbarRoot.ts
  packages/react/src/toolbar/separator/ToolbarSeparator.tsx
Labels: core, component: toolbar

#2052 [meter] Refactor to `useRenderElement`
  packages/react/src/meter/indicator/MeterIndicator.tsx
  packages/react/src/meter/label/MeterLabel.tsx
  packages/react/src/meter/root/MeterRoot.tsx
  packages/react/src/meter/track/MeterTrack.tsx
  packages/react/src/meter/value/MeterValue.tsx
Labels: core, component: meter

#2047 [menu] Unset `role` from Trigger
  packages/react/src/menu/root/MenuRoot.tsx
  packages/react/src/menu/trigger/MenuTrigger.test.tsx
Labels: component: menu, regression 🐛

#1909 [useButton] `nativeButton` prop
  docs/reference/generated/accordion-trigger.json
  docs/reference/generated/alert-dialog-close.json
  docs/reference/generated/alert-dialog-trigger.json
  docs/reference/generated/checkbox-root.json
  docs/reference/generated/collapsible-trigger.json
  docs/reference/generated/dialog-close.json
  docs/reference/generated/dialog-trigger.json
  docs/reference/generated/menu-checkbox-item.json
  docs/reference/generated/menu-item.json
  docs/reference/generated/menu-radio-item.json
  docs/reference/generated/menu-submenu-trigger.json
  docs/reference/generated/menu-trigger.json
  docs/reference/generated/popover-trigger.json
  docs/reference/generated/select-item.json
  docs/reference/generated/select-trigger.json
  docs/reference/generated/tabs-tab.json
  docs/reference/generated/toast-action.json
  docs/reference/generated/toast-close.json
  docs/reference/generated/toggle.json
  docs/reference/generated/toolbar-button.json
  packages/react/src/accordion/trigger/AccordionTrigger.tsx
  packages/react/src/alert-dialog/close/AlertDialogClose.test.tsx
  packages/react/src/alert-dialog/close/AlertDialogClose.tsx
  packages/react/src/alert-dialog/trigger/AlertDialogTrigger.test.tsx
  packages/react/src/alert-dialog/trigger/AlertDialogTrigger.tsx
  packages/react/src/checkbox/root/CheckboxRoot.tsx
  packages/react/src/collapsible/trigger/CollapsibleTrigger.tsx
  packages/react/src/dialog/close/DialogClose.test.tsx
  packages/react/src/dialog/close/DialogClose.tsx
  packages/react/src/dialog/close/useDialogClose.ts
  packages/react/src/dialog/trigger/DialogTrigger.test.tsx
  packages/react/src/dialog/trigger/DialogTrigger.tsx
  packages/react/src/menu/checkbox-item/MenuCheckboxItem.tsx
  packages/react/src/menu/item/MenuItem.tsx
  packages/react/src/menu/item/useMenuItem.ts
  packages/react/src/menu/radio-item/MenuRadioItem.tsx
  packages/react/src/menu/submenu-trigger/MenuSubmenuTrigger.tsx
  packages/react/src/menu/trigger/MenuTrigger.test.tsx
  packages/react/src/menu/trigger/MenuTrigger.tsx
  packages/react/src/popover/trigger/PopoverTrigger.test.tsx
  packages/react/src/popover/trigger/PopoverTrigger.tsx
  packages/react/src/select/item/SelectItem.tsx
  packages/react/src/select/item/useSelectItem.ts
  packages/react/src/select/trigger/SelectTrigger.tsx
  packages/react/src/select/trigger/useSelectTrigger.ts
  packages/react/src/tabs/tab/TabsTab.tsx
  packages/react/src/toast/action/ToastAction.tsx
  packages/react/src/toast/close/ToastClose.tsx
  packages/react/src/toggle/Toggle.tsx
  packages/react/src/toolbar/button/ToolbarButton.tsx
  packages/react/src/toolbar/input/ToolbarInput.tsx
  packages/react/src/toolbar/link/ToolbarLink.tsx
  packages/react/src/use-button/useButton.test.tsx
  packages/react/src/use-button/useButton.ts
  packages/react/src/utils/useRootElementName.ts
Labels: core

#2068 [test] Fix new `MenuTrigger` test
  packages/react/src/menu/trigger/MenuTrigger.test.tsx
Labels: test

#2049 [all components] Make error messages consistent
  packages/react/src/menu/group/MenuGroupContext.ts
  packages/react/src/select/root/SelectRootContext.ts
  packages/react/src/toast/root/ToastRootContext.ts
  packages/react/src/utils/useEventCallback.ts
  packages/react/src/utils/useRenderElement.tsx
Labels: all components

#2063 [core] Refactor: EMPTY_OBJ => EMPTY_OBJECT
  packages/react/src/menu/popup/MenuPopup.tsx
  packages/react/src/popover/popup/PopoverPopup.tsx
  packages/react/src/preview-card/popup/PreviewCardPopup.tsx
  packages/react/src/select/popup/SelectPopup.tsx
  packages/react/src/tooltip/popup/TooltipPopup.tsx
  packages/react/src/utils/constants.ts
Labels: core, enhancement

#2067 [menu] Emit `close` event on `cancel-open`
  packages/react/src/menu/checkbox-item/MenuCheckboxItem.tsx
  packages/react/src/menu/item/MenuItem.tsx
  packages/react/src/menu/item/useMenuItem.ts
  packages/react/src/menu/radio-item/MenuRadioItem.tsx
  packages/react/src/menu/submenu-trigger/MenuSubmenuTrigger.tsx
  packages/react/src/menu/trigger/MenuTrigger.tsx
Labels: component: menu, bug 🐛

#2055 [core] Remove useComponentRenderer
  packages/react/src/alert-dialog/description/AlertDialogDescription.tsx
  packages/react/src/alert-dialog/title/AlertDialogTitle.tsx
  packages/react/src/dialog/description/DialogDescription.tsx
  packages/react/src/dialog/title/DialogTitle.tsx
  packages/react/src/menu/group-label/MenuGroupLabel.tsx
  packages/react/src/menu/group/MenuGroup.tsx
  packages/react/src/meter/label/MeterLabel.tsx
  packages/react/src/utils/floating-ui/useClick.ts
  packages/react/src/utils/useComponentRenderer.test.tsx
  packages/react/src/utils/useComponentRenderer.ts
  packages/react/src/utils/useRenderElement.tsx
Labels: core

#2072 [core] Fix object references
  packages/react/src/utils/floating-ui/useClick.ts
  packages/react/src/utils/useRenderElement.tsx
Labels: core

#2090 [core] Fix useSyncExternalStoreWithSelector in React 17
  packages/react/src/utils/store/useSelector.ts
Labels: bug 🐛

#1609 [docs] Add inset slider experiments
  docs/src/app/(private)/experiments/slider/inset.mac.module.css
  docs/src/app/(private)/experiments/slider/inset.native.module.css
  docs/src/app/(private)/experiments/slider/inset.tsx
Labels: component: slider, docs

#2094 [menubar] Fix `closeOnClick: false` not working in nested menus
  docs/src/app/(private)/experiments/menubar.tsx
  packages/react/src/menu/trigger/MenuTrigger.tsx
  packages/react/src/menubar/Menubar.test.tsx
Labels: bug 🐛, component: menubar

#2071 [popups] Fix close toggle when rendering non-native button
  docs/src/app/(private)/experiments/menu/menu-fully-featured.tsx
  packages/react/src/popover/trigger/PopoverTrigger.test.tsx
  packages/react/src/utils/floating-ui/useClick.ts
Labels: component: select, component: menu, component: popover

#2045 [useAnchorPositioning] Fix `keepMounted=true` anchoring
  packages/react/src/popover/positioner/PopoverPositioner.test.tsx
  packages/react/src/utils/useAnchorPositioning.ts
Labels: core, bug 🐛

#2089 [select] Fix re-render warning in `Positioner` on fallback
  packages/react/src/select/positioner/SelectPositioner.tsx
Labels: component: select

#2036 [field][switch][checkbox][radio] Support implicit `Field.Label`
  docs/reference/generated/radio-root.json
  docs/reference/generated/switch-root.json
  docs/src/app/(private)/experiments/form.module.css
  docs/src/app/(private)/experiments/form.tsx
  docs/src/app/(public)/(content)/react/components/checkbox-group/demos/form/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/checkbox-group/page.mdx
  docs/src/app/(public)/(content)/react/components/checkbox/page.mdx
  docs/src/app/(public)/(content)/react/components/radio/page.mdx
  docs/src/components/Experiments/Switch.module.css
  docs/src/components/Experiments/Switch.tsx
  packages/react/src/checkbox-group/CheckboxGroup.test.tsx
  packages/react/src/checkbox/root/CheckboxRoot.test.tsx
  packages/react/src/checkbox/root/CheckboxRoot.tsx
  packages/react/src/field/label/FieldLabel.tsx
  packages/react/src/field/root/FieldRoot.tsx
  packages/react/src/field/root/FieldRootContext.ts
  packages/react/src/field/useField.ts
  packages/react/src/radio-group/RadioGroup.test.tsx
  packages/react/src/radio-group/RadioGroup.tsx
  packages/react/src/radio-group/RadioGroupContext.ts
  packages/react/src/radio/root/RadioRoot.tsx
  packages/react/src/switch/root/SwitchRoot.test.tsx
  packages/react/src/switch/root/SwitchRoot.tsx
Labels: component: switch, component: checkbox, breaking change, component: radio group, component: field

#2112 [field][input] Fix `onValueChange` `value` type
  docs/reference/generated/field-control.json
  docs/reference/generated/input.json
  packages/react/src/field/control/FieldControl.tsx
Labels: component: input, typescript, component: field

#2109 [composite] Remove highlighted state
  packages/react/src/composite/item/CompositeItem.tsx
  packages/react/src/composite/root/CompositeRoot.test.tsx
  packages/react/src/toggle-group/ToggleGroup.test.tsx
  packages/react/src/toolbar/button/ToolbarButton.test.tsx
  packages/react/src/toolbar/input/ToolbarInput.test.tsx
  packages/react/src/toolbar/root/ToolbarRoot.test.tsx
Labels: internal

#1905 [number field] Ensure `onValueChange` is called with already-formatted parsed value
  packages/react/src/number-field/decrement/NumberFieldDecrement.test.tsx
  packages/react/src/number-field/increment/NumberFieldIncrement.test.tsx
  packages/react/src/number-field/input/NumberFieldInput.test.tsx
  packages/react/src/number-field/input/NumberFieldInput.tsx
  packages/react/src/number-field/root/NumberFieldRoot.tsx
  packages/react/src/utils/formatNumber.ts
Labels: component: number field

#2043 [accordion][collapsible] Allow content to resize naturally
  docs/src/app/(private)/experiments/collapsible/transitions.tsx
  packages/react/src/accordion/panel/AccordionPanel.tsx
  packages/react/src/collapsible/panel/CollapsiblePanel.tsx
  packages/react/src/collapsible/panel/useCollapsiblePanel.ts
  packages/react/src/collapsible/root/useCollapsibleRoot.ts
  packages/react/src/utils/usePanelResize.ts
  packages/react/src/utils/useTransitionStatus.ts
Labels: component: collapsible, component: accordion

#2107 [tabs] Fix focus going out of sync when selected value is changed externally
  packages/react/src/composite/root/useCompositeRoot.ts
  packages/react/src/popover/trigger/PopoverTrigger.test.tsx
  packages/react/src/tabs/root/TabsRoot.test.tsx
  packages/react/src/tabs/tab/TabsTab.tsx
Labels: component: tabs, bug 🐛

#2110 [select] Fix position flicker when no default value is set
  packages/react/src/select/arrow/SelectArrow.tsx
  packages/react/src/select/popup/SelectPopup.tsx
  packages/react/src/select/popup/useSelectPopup.ts
  packages/react/src/select/positioner/SelectPositioner.tsx
  packages/react/src/select/positioner/SelectPositionerContext.ts
  packages/react/src/select/positioner/useSelectPositioner.ts
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/select/scroll-arrow/SelectScrollArrow.tsx
  packages/react/src/select/store.ts
Labels: component: select

#2139 [navigation menu] Fix typos
  docs/reference/generated/navigation-menu-root.json
  packages/react/src/navigation-menu/content/NavigationMenuContent.tsx
  packages/react/src/navigation-menu/root/NavigationMenuRoot.tsx
Labels: component: navigation menu

#2119 [dialog] Fix popup prop merging
  docs/src/app/(private)/experiments/menu/complex-nesting.tsx
  packages/react/src/alert-dialog/popup/AlertDialogPopup.tsx
  packages/react/src/dialog/popup/DialogPopup.tsx
  packages/react/src/dialog/popup/useDialogPopup.tsx
  packages/react/src/dialog/root/DialogRoot.test.tsx
Labels: bug 🐛, component: dialog

#2134 [useRender] Make useRender RSC-friendly
  packages/react/src/utils/useRenderElement.tsx
Labels: enhancement, hook: useRender

#2140 [docs] Tweak experiments settings panel
  docs/src/components/Experiments/Select.tsx
  docs/src/components/Experiments/Switch.module.css
  docs/src/components/Experiments/Switch.tsx
Labels: docs

#2084 [select] Fix programmatic value changes and autofill handling
  packages/react/src/select/portal/SelectPortal.tsx
  packages/react/src/select/root/SelectRoot.test.tsx
  packages/react/src/select/root/SelectRoot.tsx
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/select/store.ts
  packages/react/src/select/trigger/useSelectTrigger.ts
Labels: component: select, bug 🐛

#2148 [docs] Fix dead link to APCA
  docs/src/app/(public)/(content)/react/overview/accessibility/page.mdx
Labels: docs, regression 🐛

#2151 [all-components] Do not overwrite event handler when `undefined` is passed explicitly
  packages/react/src/dialog/close/DialogClose.test.tsx
  packages/react/src/merge-props/mergeProps.test.ts
  packages/react/src/merge-props/mergeProps.ts
Labels: bug 🐛, all components

#2079 [select][menu] Add `highlighted` to item `State`
  packages/react/src/floating-ui-react/hooks/useListNavigation.ts
  packages/react/src/menu/item/MenuItem.tsx
  packages/react/src/select/item/SelectItem.tsx
  packages/react/src/select/item/useSelectItem.ts
  packages/react/src/select/popup/SelectPopup.tsx
  packages/react/src/select/root/SelectRootContext.ts
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/select/trigger/SelectTrigger.tsx
  packages/react/src/select/trigger/useSelectTrigger.ts
Labels: component: select, component: menu

#2154 [slider][field] Fix slider field label
  docs/src/app/(private)/experiments/form.module.css
  docs/src/app/(private)/experiments/form.tsx
  docs/src/app/(private)/experiments/slider/form.tsx
  packages/react/src/slider/root/SliderRoot.test.tsx
  packages/react/src/slider/root/SliderRoot.tsx
  packages/react/src/slider/thumb/SliderThumb.tsx
Labels: component: slider, component: field

#2123 [useScrollLock] Fix height calculation on Android
  packages/react/src/utils/useScrollLock.ts
Labels: internal

#2162 [menu] Remove highlighted effect
  packages/react/src/menu/item/useMenuItem.ts
  packages/react/src/utils/highlighted.ts
Labels: component: menu

#2164 [tabs] Remove highlighted state
  packages/react/src/tabs/tab/TabsTab.tsx
Labels: component: tabs

#2153 [select] Pass `value` as state
  packages/react/src/select/value/SelectValue.tsx
Labels: component: select, new feature

#2163 [menu] Fix active index sync on hover
  docs/src/app/(private)/experiments/menu/menu-fully-featured.tsx
  packages/react/src/menu/checkbox-item/MenuCheckboxItem.tsx
  packages/react/src/menu/item/MenuItem.tsx
  packages/react/src/menu/item/useMenuItem.ts
  packages/react/src/menu/radio-item/MenuRadioItem.tsx
  packages/react/src/menu/root/MenuRoot.tsx
  packages/react/src/menu/root/MenuRootContext.ts
  packages/react/src/menu/submenu-trigger/MenuSubmenuTrigger.tsx
Labels: component: menu, bug 🐛

#2170 [accordion][collapsible] Fix `aria-controls` reference
  packages/react/src/accordion/panel/AccordionPanel.tsx
  packages/react/src/accordion/root/AccordionRoot.test.tsx
  packages/react/src/accordion/trigger/AccordionTrigger.tsx
  packages/react/src/collapsible/panel/CollapsiblePanel.test.tsx
  packages/react/src/collapsible/panel/CollapsiblePanel.tsx
  packages/react/src/collapsible/panel/useCollapsiblePanel.ts
  packages/react/src/collapsible/root/CollapsibleRoot.test.tsx
  packages/react/src/collapsible/root/useCollapsibleRoot.ts
  packages/react/src/collapsible/trigger/CollapsibleTrigger.tsx
Labels: bug 🐛, component: collapsible, component: accordion

#2180 [collapsible][accordion] Fix test warning about mixed animation types
  packages/react/src/collapsible/panel/useCollapsiblePanel.ts
Labels: component: collapsible, component: accordion

#2179 [select] Fix inverted flag in item mouseleave
  packages/react/src/select/item/SelectItem.tsx
Labels: component: select

#2192 [select] Extend `FieldRoot.State` type
  packages/react/src/select/trigger/SelectTrigger.tsx
Labels: component: select, bug 🐛, typescript

#2187 [docs] Use loose list when relevant
  docs/src/app/(public)/(content)/react/components/tooltip/page.mdx
  docs/src/mdx-components.tsx
Labels: docs, bug 🐛

#2174 [select][number field] Fix revalidation on change
  packages/react/src/number-field/root/NumberFieldRoot.test.tsx
  packages/react/src/number-field/root/NumberFieldRoot.tsx
  packages/react/src/select/root/SelectRoot.test.tsx
  packages/react/src/select/root/SelectRoot.tsx
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/select/utils/serialize.ts
Labels: component: select, component: number field, bug 🐛

#2193 [popover][tooltip] Inline hooks
  packages/react/src/popover/popup/PopoverPopup.tsx
  packages/react/src/popover/popup/usePopoverPopup.ts
  packages/react/src/popover/positioner/PopoverPositioner.tsx
  packages/react/src/popover/positioner/PopoverPositionerContext.ts
  packages/react/src/popover/positioner/usePopoverPositioner.tsx
  packages/react/src/popover/title/usePopoverTitle.ts
  packages/react/src/preview-card/positioner/PreviewCardPositioner.tsx
  packages/react/src/preview-card/positioner/usePreviewCardPositioner.ts
  packages/react/src/tooltip/positioner/TooltipPositioner.tsx
  packages/react/src/tooltip/positioner/useTooltipPositioner.ts
  packages/react/src/tooltip/root/TooltipRoot.tsx
  packages/react/src/tooltip/root/TooltipRootContext.ts
  packages/react/src/tooltip/root/useTooltipRoot.ts
Labels: component: tooltip, component: popover, internal

#2194 [docs] Fix sidebar jump
  docs/src/app/(public)/(content)/layout.css
  docs/src/app/(public)/layout.css
  docs/src/app/(public)/layout.tsx
  docs/src/components/SideNav.css
Labels: docs

#2171 [menu] Fix focus returning to root when submenus have exit transitions
  packages/react/src/floating-ui-react/components/FloatingFocusManager.tsx
  packages/react/src/floating-ui-react/utils/nodes.test.ts
  packages/react/src/floating-ui-react/utils/nodes.ts
Labels: component: menu, bug 🐛
