Repository mui/base-ui, pull requests merged in 2025-07, with the labels that each got.

#2221 [select] Fix scroll-item-into-view in fallback mode after keyboard interaction
  packages/react/src/floating-ui-react/hooks/useListNavigation.ts
Labels: component: select, bug 🐛

#2156 [menu] Fix (click, drag outside, release) not closing the menu
  docs/src/app/(private)/experiments/menubar.tsx
  packages/react/src/context-menu/root/ContextMenuRoot.tsx
  packages/react/src/context-menu/root/ContextMenuRootContext.ts
  packages/react/src/menu/checkbox-item/MenuCheckboxItem.tsx
  packages/react/src/menu/item/MenuItem.tsx
  packages/react/src/menu/item/useMenuItem.ts
  packages/react/src/menu/popup/MenuPopup.tsx
  packages/react/src/menu/radio-item/MenuRadioItem.tsx
  packages/react/src/menu/root/MenuRoot.test.tsx
  packages/react/src/menu/root/MenuRoot.tsx
  packages/react/src/menu/root/MenuRootContext.ts
  packages/react/src/menu/submenu-trigger/MenuSubmenuTrigger.tsx
  packages/react/src/menu/trigger/MenuTrigger.tsx
  packages/react/src/menubar/Menubar.tsx
  packages/react/src/menubar/MenubarContext.ts
Labels: component: menu, regression 🐛

#2222 [menu] Check for parent menu for mouseenter state
  packages/react/src/menu/root/MenuRoot.tsx
  packages/react/src/menubar/Menubar.test.tsx
Labels: component: menu

#2223 [docs] Fix formatting of the changelog
  CHANGELOG.md
  docs/src/app/(public)/(content)/react/overview/releases/page.mdx
Labels: docs

#2227 [radio group] Add aria-required attribute
  packages/react/src/radio-group/RadioGroup.tsx
Labels: component: radio group

#2231 [field][form] Deregister fields from `Form` when unmounting
  packages/react/src/field/root/FieldRoot.test.tsx
  packages/react/src/field/useField.ts
  packages/react/src/form/Form.test.tsx
Labels: component: form, component: field

#2237 [select] Add `value` and `readOnly` to `Select.Trigger` state
  packages/react/src/select/trigger/SelectTrigger.tsx
Labels: component: select

#2252 [checkbox][radio][slider] Fix focusing form controls with `inputRef`
  docs/package.json
  docs/src/app/(private)/experiments/forms/_icons.tsx
  docs/src/app/(private)/experiments/forms/form.module.css
  docs/src/app/(private)/experiments/forms/form.tsx
  docs/src/app/(private)/experiments/forms/rhf.tsx
  packages/react/src/checkbox/root/CheckboxRoot.tsx
  packages/react/src/radio-group/RadioGroup.tsx
  packages/react/src/slider/root/SliderRoot.test.tsx
  packages/react/src/slider/root/SliderRoot.tsx
  packages/react/src/slider/thumb/SliderThumb.tsx
  pnpm-lock.yaml
Labels: component: slider, component: checkbox, component: radio group

#2256 [composites] Avoid double `useRenderElement` passes
  packages/react/src/composite/item/CompositeItem.tsx
  packages/react/src/composite/item/useCompositeItem.ts
  packages/react/src/composite/root/CompositeRoot.tsx
  packages/react/src/menu/trigger/MenuTrigger.tsx
  packages/react/src/menubar/Menubar.tsx
  packages/react/src/navigation-menu/content/NavigationMenuContent.tsx
  packages/react/src/navigation-menu/link/NavigationMenuLink.tsx
  packages/react/src/navigation-menu/list/NavigationMenuList.tsx
  packages/react/src/navigation-menu/trigger/NavigationMenuTrigger.tsx
  packages/react/src/radio-group/RadioGroup.tsx
  packages/react/src/radio/root/RadioRoot.tsx
  packages/react/src/tabs/list/TabsList.tsx
  packages/react/src/tabs/tab/TabsTab.tsx
  packages/react/src/toggle-group/ToggleGroup.tsx
  packages/react/src/toggle/Toggle.test.tsx
  packages/react/src/toggle/Toggle.tsx
  packages/react/src/toolbar/button/ToolbarButton.tsx
  packages/react/src/toolbar/input/ToolbarInput.tsx
  packages/react/src/toolbar/link/ToolbarLink.tsx
  packages/react/src/toolbar/root/ToolbarRoot.tsx
  packages/react/src/utils/constants.ts
Labels: component: menu, bug 🐛, component: toggle, component: toolbar, component: radio group, component: navigation menu, component: toggle group

#1885 [examples] Create the example to be used on StackBlitz previews
  .github/workflows/ci.yml
  eslint.config.mjs
  examples/vite-css/.gitignore
  examples/vite-css/README.md
  examples/vite-css/eslint.config.js
  examples/vite-css/index.html
  examples/vite-css/package.json
  examples/vite-css/src/App.css
  examples/vite-css/src/App.tsx
  examples/vite-css/src/assets/base-ui.svg
  examples/vite-css/src/assets/react.svg
  examples/vite-css/src/assets/vite.svg
  examples/vite-css/src/index.css
  examples/vite-css/src/main.tsx
  examples/vite-css/src/vite-env.d.ts
  examples/vite-css/src/widgets/Switch.module.css
  examples/vite-css/src/widgets/Switch.tsx
  examples/vite-css/tsconfig.app.json
  examples/vite-css/tsconfig.json
  examples/vite-css/tsconfig.node.json
  examples/vite-css/vite.config.ts
  package.json
  packages/react-utils/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: examples

#2173 [select] Add `multiple` prop
  docs/reference/generated/select-root.json
  docs/src/app/(private)/experiments/forms/form.tsx
  docs/src/app/(public)/(content)/react/components/select/demos/multiple/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/select/demos/multiple/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/select/demos/multiple/index.ts
  docs/src/app/(public)/(content)/react/components/select/demos/multiple/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/select/page.mdx
  packages/react/src/select/item-text/SelectItemText.tsx
  packages/react/src/select/item/SelectItem.test.tsx
  packages/react/src/select/item/SelectItem.tsx
  packages/react/src/select/item/SelectItemContext.ts
  packages/react/src/select/popup/SelectPopup.tsx
  packages/react/src/select/positioner/SelectPositioner.tsx
  packages/react/src/select/root/SelectRoot.test.tsx
  packages/react/src/select/root/SelectRoot.tsx
  packages/react/src/select/root/SelectRootContext.ts
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/select/store.ts
  packages/react/src/select/value/SelectValue.test.tsx
  packages/react/src/select/value/SelectValue.tsx
Labels: component: select, new feature

#2273 [utils] Fix navigator checks and ensure safe platform retrieval
  packages/react/src/utils/detectBrowser.ts
Labels: bug 🐛

#2267 [meter][progress] Fix ARIA attributes and update docs
  docs/reference/generated/meter-root.json
  docs/reference/generated/progress-root.json
  packages/react/src/meter/indicator/MeterIndicator.tsx
  packages/react/src/meter/root/MeterRoot.test.tsx
  packages/react/src/meter/root/MeterRoot.tsx
  packages/react/src/meter/root/MeterRootContext.ts
  packages/react/src/progress/root/ProgressRoot.tsx
Labels: component: progress, component: meter

#2280 [accordion] Destructure `render` prop
  packages/react/src/accordion/root/AccordionRoot.tsx
Labels: bug 🐛, component: accordion

#2241 [select] Fix `alignItemWithTrigger` fallback scroll jump
  docs/src/app/(private)/experiments/long-select.module.css
  docs/src/app/(private)/experiments/long-select.tsx
  packages/react/src/select/popup/SelectPopup.tsx
Labels: component: select, regression 🐛

#2296 [navigation menu] Add `useButton` integration to `Trigger`
  docs/reference/generated/navigation-menu-trigger.json
  packages/react/src/navigation-menu/trigger/NavigationMenuTrigger.tsx
Labels: bug 🐛, component: navigation menu

#2317 [menubar] Fix triggers role
  packages/react/src/menu/trigger/MenuTrigger.tsx
  packages/react/src/menubar/Menubar.test.tsx
Labels: bug 🐛, component: menubar

#2315 [number field] Remove `invalid` prop
  docs/reference/generated/number-field-root.json
  packages/react/src/number-field/root/NumberFieldRoot.tsx
Labels: component: number field

#2309 [composite] Check for `scrollTo` before scrolling
  packages/react/src/composite/composite.ts
  test/setupVitest.ts
Labels: internal

#2322 [infra] Fix publishing of packages with internal dependencies
  .github/workflows/ci.yml
Labels: scope: code-infra

#2323 [collapsible] Destructure render prop
  packages/react/src/collapsible/root/CollapsibleRoot.tsx
Labels: bug 🐛, component: collapsible

#2316 [safePolygon] Check for `performance` existence on server
  packages/react/src/floating-ui-react/safePolygon.ts
Labels: all components

#2321 [accordion] Fix keyboard interactions with elements in the panel
  packages/react/src/accordion/item/AccordionItem.test.tsx
  packages/react/src/accordion/root/AccordionRoot.test.tsx
  packages/react/src/accordion/root/AccordionRoot.tsx
  packages/react/src/accordion/root/AccordionRootContext.ts
  packages/react/src/accordion/trigger/AccordionTrigger.tsx
Labels: component: accordion

#2332 [composite] Fix typo in `scrollIntoViewIfNeeded`
  packages/react/src/composite/composite.ts
Labels: bug 🐛, internal

#2301 [infra] Select files to process by the API extractor
  pnpm-lock.yaml
  scripts/api-docs-builder/package.json
  scripts/api-docs-builder/src/index.ts
Labels: scope: code-infra

#2340 [select] Fix test flake
  packages/react/src/select/item/SelectItem.test.tsx
Labels: test

#2339 [popover] Remove ancestor nodes from inside elements for outside press detection
  packages/react/src/floating-ui-react/components/FloatingFocusManager.tsx
  packages/react/src/popover/root/PopoverRoot.test.tsx
Labels: bug 🐛, component: popover

#2338 [scroll area] Disable `user-select` on scrollbar and non-main button interactions
  packages/react/src/scroll-area/root/ScrollAreaRoot.tsx
  packages/react/src/scroll-area/scrollbar/ScrollAreaScrollbar.tsx
Labels: bug 🐛, component: scroll area

#2294 [toast] Fix `promise` method timeout option handling
  packages/react/src/toast/provider/ToastProvider.tsx
  packages/react/src/toast/useToastManager.test.tsx
Labels: bug 🐛, component: toast

#2364 [composite] Fix `scrollIntoViewIfNeeded` typo
  packages/react/src/composite/composite.ts
Labels: bug 🐛, internal

#2270 [dependencies] Dependency cleanup
  docs/package.json
  package.json
  pnpm-lock.yaml
  renovate.json
Labels: dependencies

#2268 [numberfield] Fix button disabled state only including root disabled state
  docs/reference/generated/number-field-input.json
  packages/react/src/number-field/decrement/NumberFieldDecrement.test.tsx
  packages/react/src/number-field/decrement/NumberFieldDecrement.tsx
  packages/react/src/number-field/increment/NumberFieldIncrement.test.tsx
  packages/react/src/number-field/increment/NumberFieldIncrement.tsx
  packages/react/src/number-field/input/NumberFieldInput.tsx
Labels: component: number field

#2369 [select] Support conditional `multiple` prop in types
  docs/reference/generated/select-root.json
  packages/react/src/select/root/SelectRoot.spec.tsx
  packages/react/src/select/root/SelectRoot.tsx
  packages/react/src/select/root/useSelectRoot.ts
Labels: component: select, typescript

#2135 [docs] New props table
  docs/src/components/Accordion.css
  docs/src/components/Accordion.tsx
  docs/src/components/CodeBlock.css
  docs/src/components/DescriptionList.css
  docs/src/components/DescriptionList.tsx
  docs/src/components/ReferenceTable/AttributesReferenceTable.tsx
  docs/src/components/ReferenceTable/CssVariablesReferenceTable.tsx
  docs/src/components/ReferenceTable/PropsReferenceAccordion.tsx
  docs/src/components/ReferenceTable/PropsReferenceTable.tsx
  docs/src/components/ReferenceTable/ReferenceTablePopover.tsx
  docs/src/components/ReferenceTable/ReferenceTableTooltip.tsx
  docs/src/components/ReferenceTable/rehypeReference.mjs
  docs/src/components/Table.css
  docs/src/components/Table.tsx
  docs/src/mdx-components.tsx
  docs/src/styles.css
  docs/src/utils/observeScrollableInner.ts
Labels: docs

#2378 [utils] Rename utils
  CHANGELOG.md
  packages/react/src/accordion/item/AccordionItem.tsx
  packages/react/src/alert-dialog/popup/AlertDialogPopup.tsx
  packages/react/src/checkbox/root/CheckboxRoot.tsx
  packages/react/src/collapsible/panel/useCollapsiblePanel.ts
  packages/react/src/composite/item/useCompositeItem.ts
  packages/react/src/composite/list/CompositeList.tsx
  packages/react/src/composite/root/useCompositeRoot.ts
  packages/react/src/dialog/popup/DialogPopup.tsx
  packages/react/src/dialog/popup/useDialogPopup.tsx
  packages/react/src/floating-ui-react/components/FloatingFocusManager.tsx
  packages/react/src/menu/checkbox-item/MenuCheckboxItem.tsx
  packages/react/src/menu/item/MenuItem.tsx
  packages/react/src/menu/item/useMenuItem.ts
  packages/react/src/menu/radio-item/MenuRadioItem.tsx
  packages/react/src/menu/trigger/MenuTrigger.tsx
  packages/react/src/radio-group/RadioGroup.tsx
  packages/react/src/radio/root/RadioRoot.tsx
  packages/react/src/select/arrow/SelectArrow.tsx
  packages/react/src/select/backdrop/SelectBackdrop.tsx
  packages/react/src/select/item/SelectItem.tsx
  packages/react/src/select/popup/SelectPopup.tsx
  packages/react/src/select/portal/SelectPortal.tsx
  packages/react/src/select/positioner/SelectPositioner.tsx
  packages/react/src/select/root/SelectRoot.tsx
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/select/scroll-arrow/SelectScrollArrow.tsx
  packages/react/src/select/store.ts
  packages/react/src/select/trigger/SelectTrigger.tsx
  packages/react/src/select/value/SelectValue.tsx
  packages/react/src/slider/root/SliderRoot.tsx
  packages/react/src/slider/thumb/SliderThumb.tsx
  packages/react/src/switch/root/SwitchRoot.tsx
  packages/react/src/use-button/useButton.test.tsx
  packages/react/src/utils/useRenderElement.tsx
  packages/react/test/floating-ui-tests/Menu.tsx
  packages/react/test/floating-ui-tests/MenuOrientation.tsx
  packages/react/test/floating-ui-tests/MenuVirtual.tsx
  packages/react/test/floating-ui-tests/Navigation.tsx
  packages/utils/src/store/Store.ts
  packages/utils/src/store/createSelector.ts
  packages/utils/src/store/index.ts
  packages/utils/src/store/useStore.ts
  packages/utils/src/useAnimationFrame.ts
  packages/utils/src/useEventCallback.ts
  packages/utils/src/useInterval.ts
  packages/utils/src/useLatestRef.ts
  packages/utils/src/useLazyRef.ts
  packages/utils/src/useMergedRefs.test.tsx
  packages/utils/src/useMergedRefs.ts
  packages/utils/src/useRefWithInit.ts
  packages/utils/src/useTimeout.ts
Labels: internal, package: utils

#2373 [docs] Specify z-index on `keepMounted` popups/containers
  docs/src/app/(public)/(content)/react/components/select/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/select/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/select/demos/multiple/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/select/demos/multiple/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/toast/demos/custom/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/toast/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/toast/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/toast/demos/position/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/toast/demos/position/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/toast/demos/promise/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/toast/demos/undo/css-modules/index.module.css
Labels: docs

#2380 [docs] Fix Subtitle style
  docs/src/components/Subtitle/Subtitle.css
Labels: docs

#2333 [select] Fix multiple ARIA behavior on touch
  packages/react/src/floating-ui-react/hooks/useRole.ts
  packages/react/src/select/popup/SelectPopup.tsx
Labels: component: select

#2313 docs(menu): remove undocumented Menu.Backdrop from Anatomy section
  docs/src/app/(public)/(content)/react/components/menu/page.mdx
Labels: component: menu, docs

#2269 [navigation menu] Support inlined nesting
  docs/src/app/(private)/experiments/navigation-menu.module.css
  docs/src/app/(private)/experiments/navigation-menu.tsx
  docs/src/app/(public)/(content)/react/components/navigation-menu/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/navigation-menu/demos/hero/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/navigation-menu/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/navigation-menu/demos/nested/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/navigation-menu/demos/nested/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/navigation-menu/demos/nested/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/navigation-menu/page.mdx
  packages/react/src/floating-ui-react/middleware/arrow.ts
  packages/react/src/navigation-menu/content/NavigationMenuContent.tsx
  packages/react/src/navigation-menu/link/NavigationMenuLink.tsx
  packages/react/src/navigation-menu/list/NavigationMenuList.tsx
  packages/react/src/navigation-menu/popup/NavigationMenuPopup.tsx
  packages/react/src/navigation-menu/positioner/NavigationMenuPositioner.tsx
  packages/react/src/navigation-menu/positioner/NavigationMenuPositionerContext.ts
  packages/react/src/navigation-menu/root/NavigationMenuRoot.test.tsx
  packages/react/src/navigation-menu/root/NavigationMenuRoot.tsx
  packages/react/src/navigation-menu/root/NavigationMenuRootContext.ts
  packages/react/src/navigation-menu/trigger/NavigationMenuTrigger.tsx
  packages/react/src/navigation-menu/utils/isOutsideMenuEvent.ts
  packages/react/src/navigation-menu/utils/setFixedSize.ts
  packages/react/src/navigation-menu/viewport/NavigationMenuViewport.tsx
  packages/react/src/utils/getCssDimensions.ts
  packages/react/src/utils/useAnchorPositioning.ts
  packages/react/src/utils/useAnimationsFinished.ts
Labels: bug 🐛, new feature, breaking change, component: navigation menu

#2246 [toast] Make `Toast.Viewport` an announce container
  docs/src/app/(public)/(content)/react/components/toast/page.mdx
  packages/react/src/alert-dialog/popup/AlertDialogPopup.tsx
  packages/react/src/alert-dialog/root/AlertDialogRoot.test.tsx
  packages/react/src/dialog/popup/DialogPopup.tsx
  packages/react/src/dialog/popup/useDialogPopup.tsx
  packages/react/src/dialog/root/DialogRoot.test.tsx
  packages/react/src/toast/close/ToastClose.test.tsx
  packages/react/src/toast/close/ToastClose.tsx
  packages/react/src/toast/root/ToastRoot.test.tsx
  packages/react/src/toast/root/ToastRoot.tsx
  packages/react/src/toast/useToastManager.test.tsx
  packages/react/src/toast/viewport/ToastViewport.tsx
Labels: component: toast

#2387 [navigation menu] Fix popup size transitions on iOS
  packages/react/src/navigation-menu/trigger/NavigationMenuTrigger.tsx
Labels: browser: Safari, mobile, component: navigation menu

#2379 [floating-ui] Remove unused code, port latest
  packages/react/src/floating-ui-react/components/FloatingFocusManager.test.tsx
  packages/react/src/floating-ui-react/components/FloatingFocusManager.tsx
  packages/react/src/floating-ui-react/hooks/useDismiss.ts
  packages/react/src/floating-ui-react/hooks/useListNavigation.test.tsx
  packages/react/src/floating-ui-react/hooks/useListNavigation.ts
  packages/react/test/floating-ui-tests/MenuVirtual.tsx
Labels: internal

#2394 [docs] Fix llms.txt link on mobile
  docs/src/components/Header.tsx
  docs/src/components/MobileNav.tsx
Labels: docs

#2398 [select] Update Select.Item label prop description
  docs/reference/generated/select-item.json
  packages/react/src/select/item/SelectItem.tsx
Labels: component: select, docs

#2400 [code-infra] Fix lock file
  pnpm-lock.yaml
Labels: scope: code-infra
