Repository mui/base-ui, pull requests merged in 2025-09, with the labels that each got.

#2599 [popups] Use boolean values for fallback `initialFocus`/`finalFocus` behavior
  docs/reference/generated/alert-dialog-popup.json
  docs/reference/generated/dialog-popup.json
  docs/reference/generated/menu-popup.json
  docs/reference/generated/popover-popup.json
  packages/react/src/alert-dialog/popup/AlertDialogPopup.test.tsx
  packages/react/src/alert-dialog/popup/AlertDialogPopup.tsx
  packages/react/src/dialog/popup/DialogPopup.test.tsx
  packages/react/src/dialog/popup/DialogPopup.tsx
  packages/react/src/floating-ui-react/components/FloatingFocusManager.test.tsx
  packages/react/src/floating-ui-react/components/FloatingFocusManager.tsx
  packages/react/src/menu/popup/MenuPopup.test.tsx
  packages/react/src/menu/popup/MenuPopup.tsx
  packages/react/src/popover/popup/PopoverPopup.test.tsx
  packages/react/src/popover/popup/PopoverPopup.tsx
  packages/react/test/floating-ui-tests/Menu.tsx
  packages/react/test/floating-ui-tests/MenuOrientation.tsx
  packages/react/test/floating-ui-tests/Navigation.tsx
Labels: internal

#2524 [useRender] Add support for data-* attributes
  docs/reference/generated/use-render.json
  packages/react/src/use-render/useRender.spec.tsx
  packages/react/src/use-render/useRender.test.tsx
  packages/react/src/use-render/useRender.ts
Labels: scope: useRender

#2615 [internal] Fix the changelog generation script
  scripts/releaseChangelog.mts
Labels: internal

#2614 [select] Fix scroll arrows visibility based on scroll amount
  packages/react/src/select/root/useSelectRoot.ts
Labels: scope: select, internal

#2616 [release] 1.0.0-beta.3
  CHANGELOG.md
  docs/src/app/(public)/(content)/react/components/autocomplete/demos/hero/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/overview/releases/page.mdx
  docs/src/nav.ts
  package.json
  packages/react/package.json
  packages/utils/package.json
Labels: release

#2627 [docs] Remove unnecessary finalFocus
  docs/src/app/(public)/(content)/react/components/alert-dialog/page.mdx
  docs/src/app/(public)/(content)/react/components/dialog/page.mdx
  docs/src/app/(public)/(content)/react/components/menu/page.mdx
Labels: docs

#2609 [code-infra] Update bundle size checker
  .circleci/config.yml
  dangerfile.js
  package.json
  pnpm-lock.yaml
  scripts/dangerFileContent.ts
  test/bundle-size/bundle-size-checker.config.mjs
  test/bundle-size/package.json
Labels: scope: code-infra

#2649 [docs] Migrate experiments to use `Menu.SubmenuRoot`
  docs/src/app/(private)/experiments/menu/menu-horizontal.tsx
  docs/src/app/(private)/experiments/menu/menu-nested.tsx
  docs/src/app/(private)/experiments/popups/popups-in-popups.tsx
Labels: docs

#2648 [docs] Eliminate errors in the Toolbar demos
  docs/src/app/(private)/experiments/toolbar/text-editor.tsx
  docs/src/app/(public)/(content)/react/components/toolbar/demos/hero/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/toolbar/demos/hero/tailwind/index.tsx
Labels: docs

#2671 [code-infra] Disable automerge for MUI devDependencies
  renovate.json
Labels: scope: code-infra

#2665 [combobox] Fix initial closed typeahead
  packages/react/src/combobox/trigger/ComboboxTrigger.test.tsx
  packages/react/src/combobox/trigger/ComboboxTrigger.tsx
Labels: type: bug, component: Combobox

#2697 [collapsible] Fix CollapsiblePanel type to use its own state
  packages/react/src/collapsible/panel/CollapsiblePanel.tsx
Labels: scope: collapsible, typescript

#2701 [collapsible] Fix generated files
  docs/reference/generated/collapsible-panel.json
Labels: internal

#2688 [slider] Fix pointer tracking bugs
  docs/scripts/generateLlmTxt/__snapshots__/mdxToMarkdown.test.mjs.snap
  docs/src/app/(public)/(content)/react/utils/direction-provider/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/utils/direction-provider/demos/hero/tailwind/index.tsx
  eslint.config.mjs
  packages/react/src/slider/control/SliderControl.tsx
  packages/react/src/slider/root/SliderRoot.test.tsx
  packages/react/src/slider/root/SliderRoot.tsx
  packages/react/src/slider/root/SliderRootContext.ts
  packages/react/src/slider/thumb/SliderThumb.tsx
  packages/react/src/slider/utils/getMidpoint.ts
  test/e2e/fixtures/RangeSlider.tsx
  test/e2e/fixtures/RangeSliderMax.tsx
  test/e2e/index.html
  test/e2e/index.test.ts
Labels: scope: slider, type: bug

#2709 [docs] Fix incorrect component import in docs
  docs/src/app/(public)/(content)/react/components/preview-card/page.mdx
Labels: docs

#2716 [code-infra] Remove copy-files scripts
  package.json
  packages/react/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: type: enhancement, scope: code-infra

#2723 [combobox] Fix input focus on close when clicking trigger
  packages/react/src/combobox/root/ComboboxRoot.test.tsx
  packages/react/src/combobox/trigger/ComboboxTrigger.tsx
Labels: type: bug, browser: Safari, scope: autocomplete, component: Combobox

#2756 [useButton] Update disabled prop of the button when ref changes
  packages/react/src/dialog/close/useDialogClose.ts
  packages/react/src/use-button/useButton.test.tsx
  packages/react/src/use-button/useButton.ts
Labels: type: bug, internal

#2682 [combobox] Fix duplicate `onOpenChange` calls and pass correct DOM `event`
  packages/react/src/autocomplete/item/AutocompleteItem.test.tsx
  packages/react/src/combobox/input/ComboboxInput.tsx
  packages/react/src/combobox/item/ComboboxItem.test.tsx
  packages/react/src/combobox/item/ComboboxItem.tsx
  packages/react/src/combobox/list/ComboboxList.tsx
  packages/react/src/combobox/root/ComboboxRoot.test.tsx
  packages/react/src/combobox/root/ComboboxRootInternal.tsx
  packages/react/src/combobox/store.ts
Labels: type: bug, scope: autocomplete, component: Combobox

#2751 [code-infra] Run label check on pull_request synchronize
  .github/workflows/check-if-pr-has-label.yml
Labels: type: enhancement, scope: code-infra

#2725 [number field] Improve parsing logic
  packages/react/src/number-field/input/NumberFieldInput.test.tsx
  packages/react/src/number-field/input/NumberFieldInput.tsx
  packages/react/src/number-field/root/NumberFieldRoot.test.tsx
  packages/react/src/number-field/root/NumberFieldRoot.tsx
  packages/react/src/number-field/utils/parse.test.ts
  packages/react/src/number-field/utils/parse.ts
Labels: scope: number field

#2714 [select] Add `open` state for `Select.Icon` and fix `ref` type
  docs/reference/generated/select-icon.json
  packages/react/src/select/icon/SelectIcon.tsx
  packages/react/src/select/icon/SelectIconDataAttributes.ts
Labels: scope: select

#2728 [slider] Fix input attributes
  packages/react/src/slider/root/SliderRoot.test.tsx
  packages/react/src/slider/root/SliderRoot.tsx
  packages/react/src/slider/root/SliderRootContext.ts
  packages/react/src/slider/thumb/SliderThumb.tsx
Labels: scope: slider, type: bug

#2764 [accordion][toggle group] Unify multiple prop name to `multiple`
  docs/reference/generated/accordion-root.json
  docs/reference/generated/toggle-group.json
  docs/scripts/generateLlmTxt/__snapshots__/mdxToMarkdown.test.mjs.snap
  docs/src/app/(private)/experiments/accordion/animations.tsx
  docs/src/app/(private)/experiments/accordion/horizontal.tsx
  docs/src/app/(private)/experiments/accordion/transitions.tsx
  docs/src/app/(private)/experiments/toggle-group.tsx
  docs/src/app/(private)/experiments/toolbar/text-editor.tsx
  packages/react/src/accordion/root/AccordionRoot.test.tsx
  packages/react/src/accordion/root/AccordionRoot.tsx
  packages/react/src/toggle-group/ToggleGroup.test.tsx
  packages/react/src/toggle-group/ToggleGroup.tsx
Labels: type: enhancement, scope: accordion, breaking change, scope: toggle group

#2771 [combobox] Fix unexpected close with multiple selection and input inside popup
  packages/react/src/combobox/root/ComboboxRoot.test.tsx
  packages/react/src/combobox/root/ComboboxRootInternal.tsx
Labels: type: bug, component: Combobox

#2700 [autocomplete][combobox] Add `alwaysSubmitOnEnter` prop and allow form submission on `Enter` if no item is highlighted by default
  docs/reference/generated/autocomplete-root.json
  packages/react/src/autocomplete/root/AutocompleteRoot.test.tsx
  packages/react/src/autocomplete/root/AutocompleteRoot.tsx
  packages/react/src/combobox/input/ComboboxInput.tsx
  packages/react/src/combobox/list/ComboboxList.tsx
  packages/react/src/combobox/root/ComboboxRoot.test.tsx
  packages/react/src/combobox/root/ComboboxRoot.tsx
  packages/react/src/combobox/root/ComboboxRootInternal.tsx
  packages/react/src/combobox/store.ts
Labels: type: bug, type: new feature, scope: autocomplete, component: Autocomplete, component: Combobox

#2776 [scroll area] Fix RTL horizontal scrollbar on Safari
  docs/src/app/(private)/experiments/scroll-area/scroll-area-inset.tsx
  packages/react/src/scroll-area/utils/getOffset.ts
Labels: type: bug, browser: Safari, scope: scroll area

#2778 [scroll area] Fix thumb size flicker
  packages/react/src/scroll-area/viewport/ScrollAreaViewport.tsx
Labels: type: bug, scope: scroll area

#2719 [docs] Add Customization and TypeScript handbook pages
  docs/src/app/(public)/(content)/react/handbook/customization/page.mdx
  docs/src/app/(public)/(content)/react/handbook/typescript/page.mdx
  docs/src/nav.ts
Labels: docs

#2785 [internal] Remove unnecessary await waitFor
  packages/react/src/number-field/scrub-area/NumberFieldScrubArea.test.tsx
Labels: type: enhancement, test, internal

#2781 [docs-infra] Flatten MDX link component
  docs/src/mdx-components.tsx
Labels: type: enhancement, performance, internal, scope: docs-infra

#2811 [code-infra] Remove engines dependency updates for packages
  renovate.json
Labels: scope: code-infra

#2740 [navigation menu] Make link close on click configurable
  docs/reference/generated/navigation-menu-link.json
  packages/react/src/navigation-menu/link/NavigationMenuLink.test.tsx
  packages/react/src/navigation-menu/link/NavigationMenuLink.tsx
Labels: type: bug, type: new feature, scope: navigation menu

#2814 [collapsible] Fix opening transition regression
  packages/react/src/collapsible/panel/useCollapsiblePanel.ts
Labels: scope: collapsible, internal

#2704 [select][combobox] Support object values with `isItemEqualToValue` prop
  docs/reference/generated/autocomplete-root.json
  docs/reference/generated/combobox-root.json
  docs/reference/generated/select-root.json
  docs/src/app/(public)/(content)/react/components/select/demos/object-values/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/select/demos/object-values/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/select/demos/object-values/index.ts
  docs/src/app/(public)/(content)/react/components/select/demos/object-values/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/select/page.mdx
  packages/react/src/autocomplete/root/AutocompleteRoot.tsx
  packages/react/src/combobox/chip-remove/ComboboxChipRemove.tsx
  packages/react/src/combobox/item/ComboboxItem.tsx
  packages/react/src/combobox/root/ComboboxRoot.spec.tsx
  packages/react/src/combobox/root/ComboboxRoot.test.tsx
  packages/react/src/combobox/root/ComboboxRoot.tsx
  packages/react/src/combobox/root/ComboboxRootInternal.tsx
  packages/react/src/combobox/root/utils/index.ts
  packages/react/src/combobox/store.ts
  packages/react/src/combobox/value/ComboboxValue.test.tsx
  packages/react/src/combobox/value/ComboboxValue.tsx
  packages/react/src/select/item/SelectItem.tsx
  packages/react/src/select/positioner/SelectPositioner.tsx
  packages/react/src/select/root/SelectRoot.spec.tsx
  packages/react/src/select/root/SelectRoot.test.tsx
  packages/react/src/select/root/SelectRoot.tsx
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/select/store.ts
  packages/react/src/select/value/SelectValue.test.tsx
  packages/react/src/select/value/SelectValue.tsx
  packages/react/src/utils/itemEquality.ts
  packages/react/src/utils/resolveValueLabel.tsx
Labels: scope: select, type: bug, type: new feature, component: Combobox

#2816 [combobox][autocomplete] Restore item `onClick` on keypress
  packages/react/src/autocomplete/item/AutocompleteItem.test.tsx
  packages/react/src/combobox/input/ComboboxInput.tsx
  packages/react/src/combobox/item/ComboboxItem.test.tsx
  packages/react/src/combobox/list/ComboboxList.tsx
  packages/react/src/combobox/root/ComboboxRootInternal.tsx
  packages/react/src/combobox/store.ts
Labels: internal, scope: autocomplete, component: Autocomplete, component: Combobox

#2596 [select] Add `Select.List` component
  docs/reference/generated/select-list.json
  docs/reference/generated/select-popup.json
  docs/reference/generated/select-scroll-down-arrow.json
  docs/reference/generated/select-scroll-up-arrow.json
  docs/src/app/(private)/experiments/long-select.module.css
  docs/src/app/(private)/experiments/long-select.tsx
  docs/src/app/(public)/(content)/react/components/select/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/select/demos/hero/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/select/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/select/page.mdx
  packages/react/src/select/index.parts.ts
  packages/react/src/select/list/SelectList.test.tsx
  packages/react/src/select/list/SelectList.tsx
  packages/react/src/select/popup/SelectPopup.tsx
  packages/react/src/select/popup/utils.ts
  packages/react/src/select/positioner/SelectPositioner.tsx
  packages/react/src/select/root/SelectRootContext.ts
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/select/scroll-arrow/SelectScrollArrow.tsx
  packages/react/src/select/scroll-down-arrow/SelectScrollDownArrow.tsx
  packages/react/src/select/scroll-up-arrow/SelectScrollUpArrow.tsx
  packages/react/src/select/store.ts
Labels: scope: select, type: new feature, breaking change

#2779 [navigation menu] Fix focus returning to trigger without animations
  packages/react/src/navigation-menu/root/NavigationMenuRoot.test.tsx
  packages/react/src/navigation-menu/root/NavigationMenuRoot.tsx
Labels: type: bug, scope: navigation menu

#2721 [docs][select] Add docs about Select positioning for `alignItemWithTrigger` prop
  docs/reference/generated/select-arrow.json
  docs/reference/generated/select-icon.json
  docs/reference/generated/select-item.json
  docs/reference/generated/select-positioner.json
  docs/reference/generated/select-root.json
  docs/reference/generated/select-scroll-down-arrow.json
  docs/reference/generated/select-scroll-up-arrow.json
  docs/reference/generated/select-trigger.json
  docs/src/app/(public)/(content)/react/components/combobox/page.mdx
  docs/src/app/(public)/(content)/react/components/select/page.mdx
  packages/react/src/dialog/root/DialogRoot.test.tsx
  packages/react/src/floating-ui-react/hooks/useListNavigation.ts
  packages/react/src/select/arrow/SelectArrow.tsx
  packages/react/src/select/backdrop/SelectBackdrop.tsx
  packages/react/src/select/icon/SelectIcon.tsx
  packages/react/src/select/item/SelectItem.tsx
  packages/react/src/select/positioner/SelectPositioner.tsx
  packages/react/src/select/root/SelectRoot.tsx
  packages/react/src/select/scroll-arrow/SelectScrollArrow.tsx
  packages/react/src/select/scroll-down-arrow/SelectScrollDownArrow.tsx
  packages/react/src/select/scroll-up-arrow/SelectScrollUpArrow.tsx
  packages/react/src/select/trigger/SelectTrigger.tsx
Labels: scope: select, docs

#2819 [select][combobox][autocomplete] Use `ReadonlyArray` type for items
  packages/react/src/autocomplete/root/AutocompleteRoot.spec.tsx
  packages/react/src/autocomplete/root/AutocompleteRoot.tsx
  packages/react/src/combobox/collection/GroupCollectionContext.tsx
  packages/react/src/combobox/group/ComboboxGroup.tsx
  packages/react/src/combobox/group/ComboboxGroupContext.ts
  packages/react/src/combobox/root/ComboboxRoot.spec.tsx
  packages/react/src/combobox/root/ComboboxRoot.tsx
  packages/react/src/combobox/root/ComboboxRootInternal.tsx
  packages/react/src/combobox/store.ts
  packages/react/src/select/root/SelectRoot.spec.tsx
  packages/react/src/select/root/SelectRoot.tsx
  packages/react/src/select/store.ts
  packages/react/src/utils/resolveValueLabel.tsx
Labels: scope: select, type: bug, typescript, scope: autocomplete, component: Autocomplete, component: Combobox

#2850 [internal] Do not use default import from chai
  test/setupVitest.ts
Labels: test, internal

#2806 [dependencies] Bump Axios
  pnpm-lock.yaml
Labels: dependencies, security

#2830 [combobox] Fix misleading `item-press` reason in `onInputValueChange`
  packages/react/src/combobox/root/ComboboxRoot.test.tsx
  packages/react/src/combobox/root/ComboboxRootInternal.tsx
Labels: type: bug, component: Combobox

#2827 [docs][scroll area] Fix hijacking scroll when using touch
  docs/src/app/(public)/(content)/react/components/scroll-area/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/scroll-area/demos/hero/tailwind/index.tsx
  docs/src/components/ScrollArea.css
Labels: docs, type: bug, scope: scroll area

#2863 [utils] useControlledProp: initialize uncontrolled value as soon as possible
  packages/utils/src/store/ReactStore.ts
Labels: type: bug, package: utils

#2860 [combobox] Clear single value on input clear
  packages/react/src/combobox/input/ComboboxInput.test.tsx
  packages/react/src/combobox/input/ComboboxInput.tsx
  packages/react/src/combobox/root/ComboboxRoot.test.tsx
Labels: type: enhancement, component: Combobox

#2607 [code-infra] Publish from CI
  .github/workflows/publish.yml
  scripts/README.md
Labels: type: enhancement, security, scope: code-infra

#2848 [docs] Fix backdrops on iOS 26
  docs/src/app/(private)/experiments/dialog.module.css
  docs/src/app/(private)/experiments/menu/complex-nesting.tsx
  docs/src/app/(private)/experiments/mobile-scroll-lock.module.css
  docs/src/app/(private)/experiments/modality.module.css
  docs/src/app/(private)/experiments/popups/popups-in-popups.module.css
  docs/src/app/(public)/(content)/react/components/alert-dialog/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/alert-dialog/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/combobox/demos/creatable/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/combobox/demos/creatable/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/dialog/demos/close-confirmation/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/dialog/demos/close-confirmation/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/dialog/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/dialog/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/dialog/demos/nested/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/dialog/demos/nested/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/overview/quick-start/page.mdx
  docs/src/app/(public)/layout.css
  docs/src/components/MobileNav.css
Labels: docs, browser: Safari, mobile
