Repository mui/base-ui, pull requests merged in 2025-10, with the labels that each got.

#2864 [combobox] Fix `focusout` of input not closing popup under certain conditions
  packages/react/src/combobox/input/ComboboxInput.test.tsx
  packages/react/src/floating-ui-react/components/FloatingFocusManager.test.tsx
  packages/react/src/floating-ui-react/components/FloatingFocusManager.tsx
Labels: type: bug, component: Combobox

#2876 [docs] Update edge-aligned slider demo
  docs/reference/generated/slider-root.json
  docs/src/app/(public)/(content)/react/components/slider/demos/edge-alignment/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/slider/demos/edge-alignment/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/slider/page.mdx
  packages/react/src/slider/root/SliderRoot.tsx
Labels: docs

#2885 [docs][combobox] Fix popup height style for inside-popup demo
  docs/src/app/(public)/(content)/react/components/combobox/demos/input-inside-popup/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/combobox/demos/input-inside-popup/tailwind/index.tsx
Labels: docs, component: Combobox

#2886 [docs] Fix iOS 26+ backdrops
  docs/src/app/(public)/(content)/react/components/alert-dialog/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/alert-dialog/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/combobox/demos/creatable/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/combobox/demos/creatable/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/dialog/demos/close-confirmation/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/dialog/demos/close-confirmation/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/dialog/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/dialog/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/dialog/demos/nested/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/dialog/demos/nested/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/overview/quick-start/page.mdx
  docs/src/app/(public)/layout.css
  docs/src/components/MobileNav.css
Labels: docs, browser: Safari, mobile

#2914 [code-infra] Support custom npm dist tags during release
  .github/workflows/publish.yml
  docs/package.json
  package.json
  pnpm-lock.yaml
  scripts/README.md
Labels: scope: code-infra

#2604 [useListNavigation] Ignore disabled item on initial focusing
  docs/src/app/(private)/experiments/menu/menu-disabled-items.tsx
  packages/react/src/floating-ui-react/hooks/useListNavigation.test.tsx
  packages/react/src/floating-ui-react/hooks/useListNavigation.ts
  packages/react/src/floating-ui-react/utils/composite.ts
Labels: scope: menu, type: bug, accessibility

#2883 [autocomplete][combobox] Move `CompositeList` to `List` component to make `Input` work with composites
  packages/react/src/combobox/list/ComboboxList.tsx
  packages/react/src/combobox/root/ComboboxRoot.test.tsx
  packages/react/src/combobox/root/ComboboxRootInternal.tsx
  packages/react/src/combobox/store.ts
  packages/react/src/composite/list/CompositeList.test.tsx
  packages/react/src/composite/list/CompositeList.tsx
Labels: scope: autocomplete, component: Combobox

#2925 [select][combobox] Fix required form submission with multiple values
  packages/react/src/combobox/root/AriaCombobox.tsx
  packages/react/src/combobox/root/ComboboxRoot.test.tsx
  packages/react/src/select/root/SelectRoot.test.tsx
  packages/react/src/select/root/SelectRoot.tsx
Labels: scope: select, type: bug, component: Combobox

#2928 [combobox][autocomplete] Fix `Home`/`End` Input scroll in Chrome/Safari
  packages/react/src/combobox/input/ComboboxInput.test.tsx
  packages/react/src/combobox/input/ComboboxInput.tsx
Labels: type: bug, scope: autocomplete, component: Combobox
