Repository mui/base-ui, pull requests merged in 2025-04, with the labels that each got.

#1596 [Select] Reset `selectedIndex` when set to `null`
  packages/react/src/select/root/SelectRoot.test.tsx
  packages/react/src/select/root/useSelectRoot.ts
Labels: component: select, bug 🐛

#1616 [form controls][Field] Fix forwarding of `name` and `disabled` props
  packages/react/src/checkbox/root/CheckboxRoot.test.tsx
  packages/react/src/checkbox/root/useCheckboxRoot.ts
  packages/react/src/radio-group/RadioGroup.test.tsx
  packages/react/src/radio-group/useRadioGroup.ts
  packages/react/src/select/root/SelectRoot.test.tsx
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/slider/root/SliderRoot.test.tsx
  packages/react/src/slider/root/SliderRoot.tsx
  packages/react/src/switch/root/SwitchRoot.test.tsx
  packages/react/src/switch/root/useSwitchRoot.ts
Labels: component: field

#1618 [Popover][Menu] Fix `inert` prop compatibility in React <19
  packages/react/src/menu/positioner/MenuPositioner.tsx
  packages/react/src/popover/positioner/PopoverPositioner.tsx
  packages/react/src/utils/inertValue.ts
Labels: component: menu, component: popover

#1612 [Slider] Prevent range slider thumbs from being dragged past each other
  packages/react/src/slider/root/useSliderRoot.ts
  packages/react/src/slider/thumb/SliderThumb.test.tsx
Labels: component: slider, bug 🐛

#1667 [docs-infra] Fix GA4 configuration
  docs/src/blocks/GoogleAnalytics.tsx
Labels: bug 🐛, regression, scope: docs-infra

#1650 [popups] Use consistent `inert` attr and map `[data-popup-open]` back to `open`
  packages/react/src/alert-dialog/popup/AlertDialogPopup.tsx
  packages/react/src/alert-dialog/trigger/AlertDialogTrigger.tsx
  packages/react/src/dialog/popup/DialogPopup.tsx
  packages/react/src/dialog/trigger/DialogTrigger.tsx
  packages/react/src/menu/trigger/MenuTrigger.tsx
  packages/react/src/popover/trigger/PopoverTrigger.tsx
  packages/react/src/select/positioner/SelectPositioner.tsx
  packages/react/src/select/trigger/SelectTrigger.tsx
Labels: component: select, component: menu, component: dialog, component: popover

#1587 [useScrollLock] Avoid selection with sloppy outside presses on Safari
  docs/src/app/(private)/experiments/scroll-lock.tsx
  docs/src/components/MobileNav.tsx
  packages/react/src/dialog/root/useDialogRoot.ts
  packages/react/src/menu/root/useMenuRoot.ts
  packages/react/src/popover/root/usePopoverRoot.ts
  packages/react/src/select/positioner/useSelectPositioner.ts
  packages/react/src/utils/useScrollLock.ts
Labels: core, browser: Safari

#1560 [NumberField] `snapOnStep` prop
  docs/reference/generated/number-field-root.json
  packages/react/src/number-field/decrement/NumberFieldDecrement.test.tsx
  packages/react/src/number-field/increment/NumberFieldIncrement.test.tsx
  packages/react/src/number-field/input/NumberFieldInput.test.tsx
  packages/react/src/number-field/root/NumberFieldRoot.test.tsx
  packages/react/src/number-field/root/NumberFieldRoot.tsx
  packages/react/src/number-field/root/useNumberFieldRoot.ts
  packages/react/src/number-field/utils/validate.test.ts
  packages/react/src/number-field/utils/validate.ts
Labels: component: number field

#1570 [Select] Fast hover highlight perf
  docs/src/app/(private)/experiments/select-perf.module.css
  docs/src/app/(private)/experiments/select-perf.tsx
  packages/react/src/menu/item/MenuItem.tsx
  packages/react/src/menu/item/useMenuItem.ts
  packages/react/src/select/item/SelectItem.tsx
  packages/react/src/select/item/useSelectItem.ts
  packages/react/src/select/popup/useSelectPopup.ts
  packages/react/src/utils/highlighted.ts
  packages/react/src/utils/isMouseWithinBounds.ts
Labels: component: select, performance

#1435 [meter] Add Meter component
  docs/reference/generated/meter-indicator.json
  docs/reference/generated/meter-label.json
  docs/reference/generated/meter-root.json
  docs/reference/generated/meter-track.json
  docs/reference/generated/meter-value.json
  docs/reference/generated/progress-root.json
  docs/reference/overrides/common.json
  docs/reference/overrides/meter-root.json
  docs/reference/overrides/slider-root.json
  docs/src/app/(private)/experiments/meter.module.css
  docs/src/app/(private)/experiments/meter.tsx
  docs/src/app/(public)/(content)/react/components/meter/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/meter/demos/hero/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/meter/demos/hero/index.ts
  docs/src/app/(public)/(content)/react/components/meter/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/meter/page.mdx
  docs/src/nav.ts
  packages/react/package.json
  packages/react/src/index.ts
  packages/react/src/meter/index.parts.ts
  packages/react/src/meter/index.ts
  packages/react/src/meter/indicator/MeterIndicator.test.tsx
  packages/react/src/meter/indicator/MeterIndicator.tsx
  packages/react/src/meter/label/MeterLabel.test.tsx
  packages/react/src/meter/label/MeterLabel.tsx
  packages/react/src/meter/root/MeterRoot.test.tsx
  packages/react/src/meter/root/MeterRoot.tsx
  packages/react/src/meter/root/MeterRootContext.ts
  packages/react/src/meter/track/MeterTrack.test.tsx
  packages/react/src/meter/track/MeterTrack.tsx
  packages/react/src/meter/value/MeterValue.test.tsx
  packages/react/src/meter/value/MeterValue.tsx
Labels: new feature, component: meter

#1691 [Menu][Select] Missing item data attributes docs
  docs/reference/generated/menu-checkbox-item.json
  docs/reference/generated/menu-item.json
  docs/reference/generated/menu-radio-item.json
  docs/reference/generated/select-item.json
  packages/react/src/menu/checkbox-item/MenuCheckboxItem.tsx
  packages/react/src/menu/checkbox-item/MenuCheckboxItemDataAttributes.ts
  packages/react/src/menu/item/MenuItem.tsx
  packages/react/src/menu/item/MenuItemDataAttributes.ts
  packages/react/src/menu/radio-item/MenuRadioItem.tsx
  packages/react/src/menu/radio-item/MenuRadioItemDataAttributes.ts
  packages/react/src/select/item/SelectItem.tsx
  packages/react/src/select/item/SelectItemDataAttributes.ts
Labels: component: select, component: menu

#1676 [NumberField] Correct percentage parse handling
  packages/react/src/number-field/utils/parse.test.ts
  packages/react/src/number-field/utils/parse.ts
Labels: component: number field

#1682 [Tooltip] Add `disabled` prop
  docs/reference/generated/tooltip-root.json
  packages/react/src/tooltip/root/TooltipRoot.test.tsx
  packages/react/src/tooltip/root/TooltipRoot.tsx
  packages/react/src/tooltip/root/useTooltipRoot.ts
Labels: component: tooltip

#1685 [core] Remove hardcoded data attribute strings
  docs/reference/generated/accordion-panel.json
  docs/reference/generated/accordion-root.json
  docs/reference/generated/slider-thumb.json
  docs/reference/generated/tabs-panel.json
  packages/react/src/accordion/item/styleHooks.ts
  packages/react/src/accordion/panel/AccordionPanelDataAttributes.ts
  packages/react/src/accordion/root/AccordionRootDataAttributes.ts
  packages/react/src/alert-dialog/backdrop/AlertDialogBackdropDataAttributes.ts
  packages/react/src/alert-dialog/popup/AlertDialogPopupDataAttributes.ts
  packages/react/src/alert-dialog/trigger/AlertDialogTriggerDataAttributes.ts
  packages/react/src/checkbox/indicator/CheckboxIndicatorDataAttributes.ts
  packages/react/src/collapsible/panel/CollapsiblePanelDataAttributes.ts
  packages/react/src/collapsible/panel/useCollapsiblePanel.ts
  packages/react/src/dialog/backdrop/DialogBackdropDataAttributes.ts
  packages/react/src/dialog/popup/DialogPopupDataAttributes.ts
  packages/react/src/dialog/trigger/DialogTriggerDataAttributes.ts
  packages/react/src/menu/arrow/MenuArrowDataAttributes.ts
  packages/react/src/menu/backdrop/MenuBackdropDataAttributes.ts
  packages/react/src/menu/checkbox-item-indicator/MenuCheckboxItemIndicatorDataAttributes.ts
  packages/react/src/menu/popup/MenuPopupDataAttributes.ts
  packages/react/src/menu/positioner/MenuPositionerDataAttributes.ts
  packages/react/src/menu/radio-item-indicator/MenuRadioItemIndicatorDataAttributes.ts
  packages/react/src/menu/submenu-trigger/MenuSubmenuTriggerDataAttributes.ts
  packages/react/src/menu/trigger/MenuTriggerDataAttributes.ts
  packages/react/src/menu/utils/styleHookMapping.ts
  packages/react/src/popover/arrow/PopoverArrowDataAttributes.ts
  packages/react/src/popover/backdrop/PopoverBackdropDataAttributes.ts
  packages/react/src/popover/popup/PopoverPopupDataAttributes.ts
  packages/react/src/popover/positioner/PopoverPositionerDataAttributes.ts
  packages/react/src/popover/trigger/PopoverTriggerDataAttributes.ts
  packages/react/src/preview-card/arrow/PreviewCardArrowDataAttributes.ts
  packages/react/src/preview-card/backdrop/PreviewCardBackdropDataAttributes.ts
  packages/react/src/preview-card/popup/PreviewCardPopupDataAttributes.ts
  packages/react/src/preview-card/positioner/PreviewCardPositionerDataAttributes.ts
  packages/react/src/preview-card/trigger/PreviewCardTriggerDataAttributes.ts
  packages/react/src/radio/utils/customStyleHookMapping.ts
  packages/react/src/scroll-area/root/useScrollAreaRoot.ts
  packages/react/src/select/arrow/SelectArrowDataAttributes.ts
  packages/react/src/select/backdrop/SelectBackdropDataAttributes.ts
  packages/react/src/select/popup/SelectPopupDataAttributes.ts
  packages/react/src/select/positioner/SelectPositionerDataAttributes.ts
  packages/react/src/select/trigger/SelectTriggerDataAttributes.ts
  packages/react/src/slider/root/useSliderRoot.ts
  packages/react/src/slider/thumb/SliderThumbDataAttributes.ts
  packages/react/src/slider/thumb/useSliderThumb.ts
  packages/react/src/switch/styleHooks.ts
  packages/react/src/tabs/panel/TabsPanelDataAttributes.ts
  packages/react/src/tabs/panel/useTabsPanel.ts
  packages/react/src/tabs/root/styleHooks.ts
  packages/react/src/toggle-group/ToggleGroup.tsx
  packages/react/src/tooltip/arrow/TooltipArrowDataAttributes.ts
  packages/react/src/tooltip/popup/TooltipPopupDataAttributes.ts
  packages/react/src/tooltip/positioner/TooltipPositionerDataAttributes.ts
  packages/react/src/tooltip/trigger/TooltipTriggerDataAttributes.ts
  packages/react/src/utils/collapsibleOpenStateMapping.ts
  packages/react/src/utils/popupStateMapping.ts
  packages/react/src/utils/styleHookMapping.ts
Labels: core

#1692 [docs] Misc fixes
  docs/reference/generated/alert-dialog-root.json
  docs/reference/generated/dialog-root.json
  docs/reference/generated/menu-root.json
  docs/reference/generated/popover-root.json
  docs/reference/generated/preview-card-root.json
  docs/reference/generated/select-root.json
  docs/reference/generated/select-scroll-up-arrow.json
  docs/reference/generated/tooltip-root.json
  docs/src/app/(private)/experiments/toast.tsx
  docs/src/app/(public)/(content)/react/components/toast/demos/custom/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/toast/demos/hero/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/toast/demos/hero/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/toast/demos/position/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/toast/demos/position/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/toast/demos/promise/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/toast/demos/undo/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/handbook/animation/page.mdx
  docs/src/app/(public)/(content)/react/handbook/styling/page.mdx
  docs/src/app/(public)/(content)/react/overview/quick-start/page.mdx
  packages/react/src/alert-dialog/root/AlertDialogRoot.tsx
  packages/react/src/dialog/root/DialogRoot.tsx
  packages/react/src/dialog/root/useDialogRoot.ts
  packages/react/src/menu/root/MenuRoot.tsx
  packages/react/src/menu/root/useMenuRoot.ts
  packages/react/src/number-field/decrement/NumberFieldDecrement.tsx
  packages/react/src/number-field/group/NumberFieldGroup.tsx
  packages/react/src/number-field/increment/NumberFieldIncrement.tsx
  packages/react/src/number-field/input/NumberFieldInput.tsx
  packages/react/src/number-field/root/NumberFieldRoot.tsx
  packages/react/src/number-field/scrub-area-cursor/NumberFieldScrubAreaCursor.tsx
  packages/react/src/number-field/scrub-area/NumberFieldScrubArea.tsx
  packages/react/src/number-field/utils/styleHooks.ts
  packages/react/src/popover/root/PopoverRoot.tsx
  packages/react/src/popover/root/usePopoverRoot.ts
  packages/react/src/preview-card/root/PreviewCardRoot.tsx
  packages/react/src/preview-card/root/usePreviewCardRoot.ts
  packages/react/src/select/root/SelectRoot.tsx
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/select/scroll-down-arrow/SelectScrollDownArrow.tsx
  packages/react/src/select/scroll-up-arrow/SelectScrollUpArrow.tsx
  packages/react/src/tooltip/root/TooltipRoot.tsx
  packages/react/src/tooltip/root/useTooltipRoot.ts
Labels: core, docs, breaking change

#1671 [core] `useRenderElement`
  packages/react/src/use-render/useRender.ts
  packages/react/src/utils/defaultRenderFunctions.tsx
  packages/react/src/utils/useComponentRenderer.ts
  packages/react/src/utils/useRenderElement.tsx
Labels: core

#1699 [docs] Fix toolbar demo on small screens
  docs/src/app/(public)/(content)/react/components/toolbar/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/toolbar/demos/hero/tailwind/index.tsx
Labels: docs, component: toolbar

#1686 [AlertDialog][Dialog] Rename `data-has-nested-dialogs` to `data-nested-dialog-open`
  docs/reference/generated/alert-dialog-popup.json
  docs/reference/generated/dialog-popup.json
  docs/src/app/(public)/(content)/react/components/alert-dialog/page.mdx
  docs/src/app/(public)/(content)/react/components/dialog/demos/close-confirmation/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/dialog/demos/close-confirmation/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/dialog/demos/nested/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/dialog/demos/nested/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/dialog/page.mdx
  packages/react/src/alert-dialog/popup/AlertDialogPopup.test.tsx
  packages/react/src/alert-dialog/popup/AlertDialogPopup.tsx
  packages/react/src/alert-dialog/popup/AlertDialogPopupDataAttributes.ts
  packages/react/src/dialog/popup/DialogPopup.test.tsx
  packages/react/src/dialog/popup/DialogPopup.tsx
  packages/react/src/dialog/popup/DialogPopupDataAttributes.ts
Labels: component: AlertDialog, component: dialog, breaking change

#1703 [useButton] Avoid applying type attribute to non-button tags
  packages/react/src/use-button/useButton.test.tsx
  packages/react/src/use-button/useButton.ts
Labels: core

#1697 [Radio] Fix value forwarding and null handling
  packages/react/src/radio-group/RadioGroup.test.tsx
  packages/react/src/radio-group/RadioGroup.tsx
  packages/react/src/radio/root/RadioRoot.test.tsx
  packages/react/src/radio/root/RadioRoot.tsx
  packages/react/src/radio/root/useRadioRoot.tsx
Labels: component: radio

#1606 [ScrollArea] Correct thumb sizing with scrollbar margins
  docs/src/app/(private)/experiments/scroll-area/scroll-area-slight.module.css
  docs/src/app/(private)/experiments/scroll-area/scroll-area-slight.tsx
  packages/react/src/scroll-area/root/ScrollAreaRoot.test.tsx
  packages/react/src/scroll-area/viewport/useScrollAreaViewport.tsx
Labels: component: scroll area

#1617 [core] Remove clashing props
  docs/reference/generated/number-field-root.json
  docs/reference/generated/progress-root.json
  docs/reference/generated/slider-root.json
  docs/reference/generated/slider-thumb.json
  docs/reference/generated/toggle.json
  packages/react/src/checkbox/root/useCheckboxRoot.ts
  packages/react/src/field/control/FieldControl.tsx
  packages/react/src/number-field/input/NumberFieldInput.tsx
  packages/react/src/number-field/root/NumberFieldRoot.test.tsx
  packages/react/src/number-field/root/NumberFieldRoot.tsx
  packages/react/src/number-field/root/useNumberFieldRoot.ts
  packages/react/src/progress/root/ProgressRoot.tsx
  packages/react/src/progress/root/useProgressRoot.ts
  packages/react/src/radio-group/RadioGroup.tsx
  packages/react/src/slider/root/SliderRoot.tsx
  packages/react/src/slider/root/useSliderRoot.ts
  packages/react/src/slider/thumb/SliderThumb.tsx
  packages/react/src/slider/thumb/useSliderThumb.ts
  packages/react/src/toggle/Toggle.tsx
  packages/react/src/toolbar/input/ToolbarInput.tsx
  packages/react/src/utils/types.ts
  packages/react/src/utils/useAnchorPositioning.ts
Labels: core

#1598 [ScrollArea] Handle visibility change and nesting
  docs/src/app/(private)/experiments/scroll-area/inside-select.module.css
  docs/src/app/(private)/experiments/scroll-area/inside-select.tsx
  packages/react/src/scroll-area/content/ScrollAreaContent.test.tsx
  packages/react/src/scroll-area/content/ScrollAreaContent.tsx
  packages/react/src/scroll-area/root/useScrollAreaRoot.ts
  packages/react/src/scroll-area/utils/onVisible.ts
  packages/react/src/scroll-area/viewport/ScrollAreaViewport.tsx
  packages/react/src/scroll-area/viewport/ScrollAreaViewportContext.ts
  packages/react/src/scroll-area/viewport/useScrollAreaViewport.tsx
Labels: component: scroll area

#1698 [Menu] Fix stuck highlight on submenu trigger when submenu opens with keyboard
  packages/react/src/menu/popup/MenuPopup.tsx
  packages/react/src/menu/root/useMenuRoot.ts
  packages/react/src/menu/submenu-trigger/MenuSubmenuTrigger.test.tsx
  packages/react/src/menu/submenu-trigger/MenuSubmenuTrigger.tsx
  packages/react/src/menu/submenu-trigger/useMenuSubmenuTrigger.ts
Labels: component: menu

#1693 [test] Add more conformance tests for popups
  packages/react/src/alert-dialog/popup/AlertDialogPopup.tsx
  packages/react/src/alert-dialog/root/AlertDialogRoot.test.tsx
  packages/react/src/dialog/popup/DialogPopup.tsx
  packages/react/src/dialog/popup/useDialogPopup.tsx
  packages/react/test/popupConformanceTests.tsx
Labels: component: select, component: menu, test, component: popover

#1701 [Tooltip][Popover] Refactor to `useRenderElement`
  packages/react/src/popover/arrow/PopoverArrow.tsx
  packages/react/src/popover/backdrop/PopoverBackdrop.tsx
  packages/react/src/popover/close/PopoverClose.tsx
  packages/react/src/popover/close/usePopoverClose.ts
  packages/react/src/popover/description/PopoverDescription.tsx
  packages/react/src/popover/description/usePopoverDescription.ts
  packages/react/src/popover/popup/PopoverPopup.tsx
  packages/react/src/popover/popup/usePopoverPopup.ts
  packages/react/src/popover/positioner/PopoverPositioner.tsx
  packages/react/src/popover/positioner/usePopoverPositioner.tsx
  packages/react/src/popover/root/PopoverRootContext.ts
  packages/react/src/popover/root/usePopoverRoot.ts
  packages/react/src/popover/title/PopoverTitle.tsx
  packages/react/src/popover/trigger/PopoverTrigger.tsx
  packages/react/src/tooltip/arrow/TooltipArrow.tsx
  packages/react/src/tooltip/popup/TooltipPopup.tsx
  packages/react/src/tooltip/positioner/TooltipPositioner.tsx
  packages/react/src/tooltip/positioner/useTooltipPositioner.ts
  packages/react/src/tooltip/root/TooltipRootContext.ts
  packages/react/src/tooltip/root/useTooltipRoot.ts
  packages/react/src/tooltip/trigger/TooltipTrigger.tsx
  packages/react/src/utils/useRenderElement.tsx
Labels: component: tooltip, component: popover

#1610 [CheckboxGroup] Parent checkbox/nested demos
  docs/src/app/(public)/(content)/react/components/checkbox-group/demos/nested/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/checkbox-group/demos/nested/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/checkbox-group/demos/nested/index.ts
  docs/src/app/(public)/(content)/react/components/checkbox-group/demos/parent/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/checkbox-group/demos/parent/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/checkbox-group/demos/parent/index.ts
  docs/src/app/(public)/(content)/react/components/checkbox-group/page.mdx
  packages/react/src/checkbox/root/CheckboxRoot.tsx
  packages/react/src/checkbox/root/useCheckboxRoot.ts
Labels: docs, component: CheckboxGroup

#1721 [popups] Fix `onOpenChange` types for `event`/`reason` passing
  docs/reference/generated/select-root.json
  packages/react/src/menu/popup/useMenuPopup.ts
  packages/react/src/menu/positioner/useMenuPositioner.ts
  packages/react/src/menu/root/MenuRoot.tsx
  packages/react/src/menu/root/useMenuRoot.ts
  packages/react/src/menu/trigger/useMenuTrigger.ts
  packages/react/src/popover/close/PopoverClose.tsx
  packages/react/src/popover/root/PopoverRootContext.ts
  packages/react/src/popover/root/usePopoverRoot.ts
  packages/react/src/preview-card/root/usePreviewCardRoot.ts
  packages/react/src/select/item/useSelectItem.ts
  packages/react/src/select/popup/useSelectPopup.ts
  packages/react/src/select/root/SelectRootContext.ts
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/select/trigger/useSelectTrigger.ts
  packages/react/src/tooltip/root/useTooltipRoot.ts
Labels: component: select, component: menu, bug 🐛, component: tooltip, component: dialog, component: popover

#1702 [Backdrops] Fix text selection & right-clicks
  packages/react/src/alert-dialog/backdrop/AlertDialogBackdrop.tsx
  packages/react/src/dialog/backdrop/DialogBackdrop.tsx
  packages/react/src/dialog/root/DialogRoot.test.tsx
  packages/react/src/dialog/root/useDialogRoot.ts
  packages/react/src/menu/backdrop/MenuBackdrop.tsx
  packages/react/src/popover/backdrop/PopoverBackdrop.tsx
  packages/react/src/preview-card/backdrop/PreviewCardBackdrop.tsx
  packages/react/src/select/backdrop/SelectBackdrop.tsx
  packages/react/src/utils/InternalBackdrop.tsx
Labels: component: select, component: menu, component: AlertDialog, component: dialog, component: popover

#1571 [Dialog][Popover] `modal="trap-focus"` prop value
  docs/reference/generated/dialog-root.json
  docs/reference/generated/menu-root.json
  docs/reference/generated/popover-root.json
  docs/reference/generated/select-root.json
  docs/src/app/(private)/experiments/modality.tsx
  docs/src/app/(private)/experiments/popups/popups-in-popups.tsx
  packages/react/src/dialog/popup/DialogPopup.tsx
  packages/react/src/dialog/popup/useDialogPopup.tsx
  packages/react/src/dialog/root/DialogRoot.test.tsx
  packages/react/src/dialog/root/DialogRoot.tsx
  packages/react/src/dialog/root/useDialogRoot.ts
  packages/react/src/menu/popup/MenuPopup.tsx
  packages/react/src/menu/root/MenuRoot.test.tsx
  packages/react/src/menu/root/MenuRoot.tsx
  packages/react/src/menu/root/useMenuRoot.ts
  packages/react/src/popover/popup/PopoverPopup.tsx
  packages/react/src/popover/positioner/PopoverPositioner.tsx
  packages/react/src/popover/root/PopoverRoot.test.tsx
  packages/react/src/popover/root/PopoverRoot.tsx
  packages/react/src/popover/root/PopoverRootContext.ts
  packages/react/src/popover/root/usePopoverRoot.ts
  packages/react/src/select/popup/SelectPopup.tsx
  packages/react/src/select/root/SelectRoot.test.tsx
  packages/react/src/select/root/SelectRoot.tsx
  packages/react/src/select/root/useSelectRoot.ts
Labels: component: select, component: menu, component: dialog, breaking change, component: popover

#1717 [docs] Improve favicon dark mode
  .codesandbox/template/public/index.html
  docs/public/static/favicon-dev.svg
  docs/public/static/favicon.svg
  docs/src/app/Favicons.tsx
Labels: docs, enhancement, design

#1732 [Slider] Fix overlapping slider thumbs stuck at min or max
  packages/react/src/slider/root/useSliderRoot.ts
  packages/react/src/slider/thumb/useSliderThumb.ts
Labels: component: slider

#1600 [docs][Slider] Add range slider example
  docs/src/app/(public)/(content)/react/components/slider/demos/range-slider/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/slider/demos/range-slider/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/slider/demos/range-slider/index.ts
  docs/src/app/(public)/(content)/react/components/slider/demos/range-slider/tailwind/index.tsx
  docs/src/app/(public)/(content)/react/components/slider/page.mdx
Labels: component: slider, docs

#1735 [Dialog] Allow document to slide input into view on iOS when keyboard opens
  docs/src/app/(private)/experiments/mobile-scroll-lock.module.css
  docs/src/app/(private)/experiments/mobile-scroll-lock.tsx
  packages/react/src/dialog/root/useDialogRoot.ts
  packages/react/src/popover/root/usePopoverRoot.ts
  packages/react/src/utils/useIOSKeyboardSlideFix.ts
  packages/react/src/utils/useScrollLock.ts
Labels: component: dialog

#1734 [release] 1.0.0-alpha.8
  CHANGELOG.md
  docs/src/app/(public)/(content)/react/overview/releases/page.mdx
  package.json
  packages/react/package.json
Labels: release

#1757 [docs] Disable infotip for empty prop descriptions
  docs/src/components/ReferenceTable/PropsReferenceTable.tsx
Labels: docs

#1707 [Toggle][ToggleGroup] Use `useRenderElement`
  docs/reference/generated/toggle-group.json
  docs/reference/generated/toggle.json
  packages/react/src/toggle-group/ToggleGroup.tsx
  packages/react/src/toggle-group/ToggleGroupContext.ts
  packages/react/src/toggle-group/useToggleGroup.ts
  packages/react/src/toggle/Toggle.tsx
  packages/react/src/toggle/useToggle.ts
Labels: component: toggle button

#1762 [ScrollArea] Display Content part in docs
  docs/src/app/(public)/(content)/react/components/scroll-area/page.mdx
Labels: docs, component: scroll area

#1765 [docs] Fix formatting of arrays in API reference
  docs/reference/generated/toast-root.json
  scripts/api-docs-builder/src/formatter.ts
Labels: docs

#1766 [docs][Select] Remove `transitionStatus` prop from `Select.Root` docs
  docs/reference/generated/select-root.json
  packages/react/src/select/root/useSelectRoot.ts
Labels: component: select, docs

#1750 [Slider] Position thumb based on value instead of pointer location when dragging
  docs/reference/generated/slider-thumb.json
  packages/react/src/slider/control/SliderControl.tsx
  packages/react/src/slider/control/useSliderControl.ts
  packages/react/src/slider/indicator/SliderIndicator.tsx
  packages/react/src/slider/indicator/useSliderIndicator.ts
  packages/react/src/slider/root/useSliderRoot.ts
  packages/react/src/slider/thumb/SliderThumb.test.tsx
  packages/react/src/slider/thumb/SliderThumb.tsx
  packages/react/src/slider/thumb/useSliderThumb.ts
  packages/react/src/slider/value/SliderValue.test.tsx
Labels: component: slider

#1662 [core] Re-use latest code infra scripts from core repo
  package.json
  packages/react/package.json
  pnpm-lock.yaml
  scripts/build.mjs
  scripts/buildTypes.mts
  scripts/copyFiles.mjs
  scripts/copyFilesUtils.mjs
  scripts/jsonlint.mjs
  scripts/releaseTag.mjs
  scripts/testBuiltTypes.mjs
  scripts/useReactVersion.mjs
  scripts/utils.mjs
  scripts/validateTypescriptDeclarations.mts
Labels: core, scope: code-infra

#1743 [dependencies] Bump dependencies' versions
  docs/package.json
  package.json
  packages/react/package.json
  pnpm-lock.yaml
  scripts/api-docs-builder/package.json
  test/package.json
Labels: dependencies

#1777 [Checkbox] Set `aria-required`, use `useButton`
  packages/react/src/checkbox/root/CheckboxRoot.test.tsx
  packages/react/src/checkbox/root/CheckboxRoot.tsx
  packages/react/src/checkbox/root/useCheckboxRoot.ts
Labels: component: checkbox

#1772 [Slider] Use `useRenderElement`
  docs/reference/generated/slider-root.json
  docs/reference/generated/slider-thumb.json
  docs/src/app/(private)/experiments/slider/slider.module.css
  docs/src/app/(private)/experiments/slider/slider.tsx
  docs/src/app/(private)/experiments/slider/small.module.css
  docs/src/app/(private)/experiments/slider/vertical.module.css
  packages/react/src/slider/control/SliderControl.tsx
  packages/react/src/slider/control/useSliderControl.ts
  packages/react/src/slider/indicator/SliderIndicator.tsx
  packages/react/src/slider/indicator/useSliderIndicator.ts
  packages/react/src/slider/root/SliderRoot.tsx
  packages/react/src/slider/root/SliderRootContext.ts
  packages/react/src/slider/root/useSliderRoot.ts
  packages/react/src/slider/thumb/SliderThumb.tsx
  packages/react/src/slider/thumb/useSliderThumb.ts
  packages/react/src/slider/track/SliderTrack.tsx
  packages/react/src/slider/utils/validateMinimumDistance.ts
  packages/react/src/slider/utils/valueArrayToPercentages.ts
  packages/react/src/slider/value/SliderValue.test.tsx
  packages/react/src/slider/value/SliderValue.tsx
  packages/react/src/slider/value/useSliderValue.ts
  packages/react/src/tooltip/trigger/TooltipTrigger.tsx
  packages/react/src/utils/types.ts
  packages/react/src/utils/useRenderElement.tsx
Labels: component: slider

#1780 [core] Remove dependency duplication
  packages/react/src/composite/composite.ts
  packages/react/src/composite/root/useCompositeRoot.ts
  packages/react/src/popover/positioner/PopoverPositioner.test.tsx
  packages/react/src/preview-card/positioner/PreviewCardPositioner.test.tsx
  packages/react/src/select/positioner/SelectPositioner.test.tsx
  packages/react/src/toast/utils/focusVisible.ts
  packages/react/src/tooltip/positioner/TooltipPositioner.test.tsx
  packages/react/src/utils/owner.ts
  packages/react/src/utils/useEventCallback.ts
  packages/react/src/utils/useLatestRef.ts
  packages/react/src/utils/useScrollLock.ts
Labels: core

#1788 [core] `useEnhancedEffect` -> `useModernLayoutEffect`
  .eslintrc.js
  docs/src/blocks/GoogleAnalytics.tsx
  docs/src/blocks/PackageManagerSnippet/PackageManagerSnippetProvider.tsx
  docs/src/blocks/PackageManagerSnippet/PackageManagerSnippetRoot.tsx
  docs/src/components/Demo/DemoVariantSelectorProvider.tsx
  packages/react/src/accordion/panel/AccordionPanel.tsx
  packages/react/src/accordion/root/AccordionRoot.tsx
  packages/react/src/accordion/trigger/AccordionTrigger.tsx
  packages/react/src/alert-dialog/description/AlertDialogDescription.tsx
  packages/react/src/alert-dialog/title/AlertDialogTitle.tsx
  packages/react/src/avatar/image/AvatarImage.tsx
  packages/react/src/avatar/image/useImageLoadingStatus.ts
  packages/react/src/checkbox/root/useCheckboxRoot.ts
  packages/react/src/collapsible/panel/CollapsiblePanel.tsx
  packages/react/src/collapsible/panel/useCollapsiblePanel.ts
  packages/react/src/collapsible/root/useCollapsibleRoot.ts
  packages/react/src/composite/list/CompositeList.tsx
  packages/react/src/composite/list/useCompositeListItem.ts
  packages/react/src/dialog/description/DialogDescription.tsx
  packages/react/src/dialog/title/DialogTitle.tsx
  packages/react/src/field/control/useFieldControl.ts
  packages/react/src/field/description/useFieldDescription.ts
  packages/react/src/field/error/useFieldError.ts
  packages/react/src/field/label/FieldLabel.tsx
  packages/react/src/field/useField.ts
  packages/react/src/fieldset/legend/useFieldsetLegend.ts
  packages/react/src/menu/group-label/MenuGroupLabel.tsx
  packages/react/src/menu/item/useMenuItem.ts
  packages/react/src/meter/label/MeterLabel.tsx
  packages/react/src/number-field/root/useNumberFieldRoot.ts
  packages/react/src/popover/description/PopoverDescription.tsx
  packages/react/src/popover/title/PopoverTitle.tsx
  packages/react/src/popover/title/usePopoverTitle.ts
  packages/react/src/progress/label/ProgressLabel.tsx
  packages/react/src/radio/root/useRadioRoot.tsx
  packages/react/src/scroll-area/content/ScrollAreaContent.tsx
  packages/react/src/scroll-area/viewport/useScrollAreaViewport.tsx
  packages/react/src/select/group-label/SelectGroupLabel.tsx
  packages/react/src/select/item/SelectItem.tsx
  packages/react/src/select/item/useSelectItem.ts
  packages/react/src/select/popup/useSelectPopup.ts
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/slider/root/SliderRoot.tsx
  packages/react/src/switch/root/useSwitchRoot.ts
  packages/react/src/tabs/list/useTabsList.ts
  packages/react/src/tabs/tab/useTabsTab.ts
  packages/react/src/toast/description/ToastDescription.tsx
  packages/react/src/toast/title/ToastTitle.tsx
  packages/react/src/toast/viewport/FocusGuard.tsx
  packages/react/src/unstable-no-ssr/NoSsr.tsx
  packages/react/src/use-button/useButton.ts
  packages/react/src/utils/index.ts
  packages/react/src/utils/useAnchorPositioning.ts
  packages/react/src/utils/useEnhancedEffect.ts
  packages/react/src/utils/useIOSKeyboardSlideFix.ts
  packages/react/src/utils/useModernLayoutEffect.ts
  packages/react/src/utils/useRootElementName.ts
  packages/react/src/utils/useScrollLock.ts
  packages/react/src/utils/useTransitionStatus.ts
Labels: core

#1783 [infra] Update the format of the generated changelog
  package.json
  scripts/README.md
  scripts/releaseChangelog.mjs
  scripts/releaseChangelog.mts
Labels: scope: infra

#1784 [Field] Improve `Label` logic that prevents text selection on double click
  packages/react/src/field/label/useFieldLabel.ts
Labels: component: field

#1779 [Field] Fix validation inconsistency
  packages/react/src/field/control/useFieldControlValidation.ts
  packages/react/src/field/root/FieldRoot.test.tsx
Labels: component: field

#1789 [code-infra] Remove babel alias and fix extensions
  .circleci/config.yml
  babel.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
  test/node-resolution/index.mjs
  test/node-resolution/package.json
Labels: scope: code-infra

#1786 [core] Set default regression port
  package.json
Labels: core, test, scope: code-infra

#1785 [Toast] Fix swipe jump on iOS
  packages/react/src/toast/root/ToastRoot.test.tsx
  packages/react/src/toast/root/useToastRoot.ts
Labels: bug 🐛, component: toast

#1787 [useAnchorPositioning] Fix function dependency handling
  packages/react/src/menu/positioner/MenuPositioner.test.tsx
  packages/react/src/utils/useAnchorPositioning.ts
Labels: core

#1771 [Accordion][Collapsible] Use `useRenderElement`
  docs/reference/generated/accordion-root.json
  packages/react/src/accordion/header/AccordionHeader.tsx
  packages/react/src/accordion/item/AccordionItem.tsx
  packages/react/src/accordion/panel/AccordionPanel.tsx
  packages/react/src/accordion/root/AccordionRoot.tsx
  packages/react/src/accordion/root/AccordionRootContext.ts
  packages/react/src/accordion/root/useAccordionRoot.ts
  packages/react/src/accordion/trigger/AccordionTrigger.tsx
  packages/react/src/collapsible/panel/CollapsiblePanel.tsx
  packages/react/src/collapsible/panel/useCollapsiblePanel.ts
  packages/react/src/collapsible/root/CollapsibleRoot.tsx
  packages/react/src/collapsible/trigger/CollapsibleTrigger.tsx
  packages/react/src/collapsible/trigger/useCollapsibleTrigger.ts
Labels: component: collapsible, component: accordion

#1683 [form controls] Add `inputRef` props
  docs/reference/generated/checkbox-root.json
  docs/reference/generated/radio-group.json
  docs/reference/generated/radio-root.json
  docs/reference/generated/select-root.json
  docs/reference/generated/slider-thumb.json
  docs/reference/generated/switch-root.json
  packages/react/src/checkbox/root/useCheckboxRoot.ts
  packages/react/src/radio-group/RadioGroup.tsx
  packages/react/src/radio-group/useRadioGroup.ts
  packages/react/src/radio/root/RadioRoot.tsx
  packages/react/src/radio/root/useRadioRoot.tsx
  packages/react/src/select/root/SelectRoot.tsx
  packages/react/src/slider/root/SliderRoot.tsx
  packages/react/src/slider/thumb/SliderThumb.tsx
  packages/react/src/switch/root/useSwitchRoot.ts
Labels: component: form

#1713 [Select] Move item anchoring prop to `Positioner`
  docs/reference/generated/select-positioner.json
  docs/reference/generated/select-root.json
  docs/src/app/(private)/experiments/modality.tsx
  docs/src/app/(private)/experiments/popups/popups-in-popups.tsx
  docs/src/app/(private)/experiments/scroll-area/inside-select.tsx
  packages/react/src/select/arrow/SelectArrow.test.tsx
  packages/react/src/select/arrow/SelectArrow.tsx
  packages/react/src/select/item/useSelectItem.ts
  packages/react/src/select/popup/SelectPopup.tsx
  packages/react/src/select/popup/useSelectPopup.ts
  packages/react/src/select/positioner/SelectPositioner.test.tsx
  packages/react/src/select/positioner/SelectPositioner.tsx
  packages/react/src/select/positioner/SelectPositionerContext.ts
  packages/react/src/select/positioner/useSelectPositioner.ts
  packages/react/src/select/root/SelectRoot.tsx
  packages/react/src/select/root/SelectRootContext.ts
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/select/scroll-arrow/SelectScrollArrow.tsx
  packages/react/src/select/trigger/useSelectTrigger.ts
Labels: component: select, breaking change

#1793 [core][docs] Fix data attributes
  docs/reference/generated/menu-arrow.json
  docs/reference/generated/menu-popup.json
  docs/reference/generated/menu-positioner.json
  docs/reference/generated/popover-arrow.json
  docs/reference/generated/popover-popup.json
  docs/reference/generated/popover-positioner.json
  docs/reference/generated/preview-card-arrow.json
  docs/reference/generated/preview-card-popup.json
  docs/reference/generated/preview-card-positioner.json
  docs/reference/generated/select-arrow.json
  docs/reference/generated/select-popup.json
  docs/reference/generated/select-positioner.json
  docs/reference/generated/select-scroll-down-arrow.json
  docs/reference/generated/select-scroll-up-arrow.json
  docs/reference/generated/tooltip-arrow.json
  docs/reference/generated/tooltip-popup.json
  docs/reference/generated/tooltip-positioner.json
  packages/react/src/menu/arrow/MenuArrowDataAttributes.ts
  packages/react/src/menu/popup/MenuPopupDataAttributes.ts
  packages/react/src/menu/positioner/MenuPositionerDataAttributes.ts
  packages/react/src/popover/arrow/PopoverArrowDataAttributes.ts
  packages/react/src/popover/popup/PopoverPopupDataAttributes.ts
  packages/react/src/popover/positioner/PopoverPositionerDataAttributes.ts
  packages/react/src/preview-card/arrow/PreviewCardArrowDataAttributes.ts
  packages/react/src/preview-card/popup/PreviewCardPopupDataAttributes.ts
  packages/react/src/preview-card/positioner/PreviewCardPositionerDataAttributes.ts
  packages/react/src/select/arrow/SelectArrow.tsx
  packages/react/src/select/arrow/SelectArrowDataAttributes.ts
  packages/react/src/select/popup/SelectPopupDataAttributes.ts
  packages/react/src/select/positioner/SelectPositionerDataAttributes.ts
  packages/react/src/select/scroll-arrow/SelectScrollArrowDataAttributes.ts
  packages/react/src/select/scroll-down-arrow/SelectScrollDownArrowDataAttributes.ts
  packages/react/src/select/scroll-up-arrow/SelectScrollUpArrowDataAttributes.ts
  packages/react/src/tooltip/arrow/TooltipArrowDataAttributes.ts
  packages/react/src/tooltip/popup/TooltipPopupDataAttributes.ts
  packages/react/src/tooltip/positioner/TooltipPositionerDataAttributes.ts
Labels: core, docs

#1776 [test] Remove deprecated playwright package
  package.json
  pnpm-lock.yaml
  renovate.json
  test/e2e/index.test.ts
  test/package.json
  test/regressions/index.test.ts
Labels: test

#1756 [docs] Mark required props in API docs
  docs/src/components/ReferenceTable/PropsReferenceTable.tsx
Labels: docs, bug 🐛

#1803 [docs] Separate anatomy sections from API reference
  docs/src/app/(public)/(content)/react/components/accordion/page.mdx
  docs/src/app/(public)/(content)/react/components/alert-dialog/page.mdx
  docs/src/app/(public)/(content)/react/components/avatar/page.mdx
  docs/src/app/(public)/(content)/react/components/checkbox-group/page.mdx
  docs/src/app/(public)/(content)/react/components/checkbox/page.mdx
  docs/src/app/(public)/(content)/react/components/collapsible/page.mdx
  docs/src/app/(public)/(content)/react/components/dialog/page.mdx
  docs/src/app/(public)/(content)/react/components/field/page.mdx
  docs/src/app/(public)/(content)/react/components/fieldset/page.mdx
  docs/src/app/(public)/(content)/react/components/form/page.mdx
  docs/src/app/(public)/(content)/react/components/input/page.mdx
  docs/src/app/(public)/(content)/react/components/menu/page.mdx
  docs/src/app/(public)/(content)/react/components/meter/page.mdx
  docs/src/app/(public)/(content)/react/components/number-field/page.mdx
  docs/src/app/(public)/(content)/react/components/popover/page.mdx
  docs/src/app/(public)/(content)/react/components/preview-card/page.mdx
  docs/src/app/(public)/(content)/react/components/progress/page.mdx
  docs/src/app/(public)/(content)/react/components/radio/page.mdx
  docs/src/app/(public)/(content)/react/components/scroll-area/page.mdx
  docs/src/app/(public)/(content)/react/components/select/page.mdx
  docs/src/app/(public)/(content)/react/components/separator/page.mdx
  docs/src/app/(public)/(content)/react/components/slider/page.mdx
  docs/src/app/(public)/(content)/react/components/switch/page.mdx
  docs/src/app/(public)/(content)/react/components/tabs/page.mdx
  docs/src/app/(public)/(content)/react/components/toast/page.mdx
  docs/src/app/(public)/(content)/react/components/toggle-group/page.mdx
  docs/src/app/(public)/(content)/react/components/toggle/page.mdx
  docs/src/app/(public)/(content)/react/components/toolbar/page.mdx
  docs/src/app/(public)/(content)/react/components/tooltip/page.mdx
Labels: docs

#1796 [Slider] Add `locale` prop
  docs/reference/generated/slider-root.json
  docs/reference/generated/slider-value.json
  docs/src/app/(private)/experiments/slider/slider.module.css
  docs/src/app/(private)/experiments/slider/slider.tsx
  packages/react/src/slider/root/SliderRoot.test.tsx
  packages/react/src/slider/root/SliderRoot.tsx
  packages/react/src/slider/root/SliderRootContext.ts
  packages/react/src/slider/thumb/SliderThumb.tsx
  packages/react/src/slider/value/SliderValue.tsx
Labels: component: slider

#1797 [Select] Refactor to `useRenderElement`
  packages/react/src/select/arrow/SelectArrow.tsx
  packages/react/src/select/backdrop/SelectBackdrop.tsx
  packages/react/src/select/group-label/SelectGroupLabel.tsx
  packages/react/src/select/group/SelectGroup.tsx
  packages/react/src/select/icon/SelectIcon.tsx
  packages/react/src/select/item-indicator/SelectItemIndicator.tsx
  packages/react/src/select/item-text/SelectItemText.tsx
  packages/react/src/select/item/SelectItem.test.tsx
  packages/react/src/select/item/SelectItem.tsx
  packages/react/src/select/item/useSelectItem.ts
  packages/react/src/select/popup/SelectPopup.tsx
  packages/react/src/select/popup/useSelectPopup.ts
  packages/react/src/select/positioner/SelectPositioner.tsx
  packages/react/src/select/root/SelectRootContext.ts
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/select/scroll-arrow/SelectScrollArrow.tsx
  packages/react/src/select/trigger/SelectTrigger.tsx
  packages/react/src/select/trigger/useSelectTrigger.ts
  packages/react/src/select/value/SelectValue.tsx
Labels: component: select

#1805 [core] Remove unecessary versions
  .codesandbox/template/package.json
  docs/package.json
  packages/eslint-plugin-material-ui/package.json
  scripts/api-docs-builder/package.json
  test/node-resolution/package.json
  test/package.json
Labels: core, scope: code-infra

#1592 [test] Setup tests on all browsers
  .circleci/config.yml
  package.json
  packages/react/src/index.test.ts
  packages/react/src/number-field/scrub-area-cursor/NumberFieldScrubAreaCursor.test.tsx
  packages/react/src/slider/root/SliderRoot.test.tsx
  packages/react/src/slider/thumb/SliderThumb.test.tsx
  packages/react/src/toolbar/input/ToolbarInput.test.tsx
  vitest.shared.mts
Labels: test

#1586 [core] Clean up Babel and next.js configuration
  babel.config.js
  docs/next.config.mjs
  docs/package.json
  docs/tsconfig.json
  package.json
  packages/react/tsconfig.build.json
  pnpm-lock.yaml
  renovate.json
  scripts/coreTypeScriptProjects.js
  test/package.json
  tsconfig.base.json
Labels: core

#1808 [docs][Tabs] Set `display: none` on panel hidden state for CSS modules
  docs/src/app/(public)/(content)/react/components/tabs/demos/hero/css-modules/index.module.css
Labels: component: tabs, docs

#1806 [docs-infra] Fix Vale no longer working
  .github/ISSUE_TEMPLATE/4.docs-feedback.md
  .github/workflows/vale-action.yml
  .gitignore
  package.json
  pnpm-lock.yaml
Labels: regression 🐛, scope: docs-infra
