Repository mui/base-ui, pull requests merged in 2025-03, with the labels that each got.

#1526 [Select] Fix disabled state changing
  packages/react/src/select/root/SelectRoot.test.tsx
  packages/react/src/select/root/useSelectRoot.ts
Labels: component: select, bug 🐛

#1520 [docs] Fix SEO site name description
  docs/src/app/(public)/page.tsx
Labels: docs, bug 🐛

#1485 [NumberField] Improve virtual cursor perf
  packages/react/src/number-field/root/useScrub.ts
Labels: component: number field

#1488 [NumberField] Add `locale` prop
  docs/reference/generated/number-field-root.json
  docs/reference/overrides/number-field-root.json
  packages/react/src/number-field/root/NumberFieldRoot.test.tsx
  packages/react/src/number-field/root/NumberFieldRoot.tsx
  packages/react/src/number-field/root/useNumberFieldRoot.ts
  packages/react/src/number-field/utils/parse.ts
  packages/react/src/utils/formatNumber.ts
Labels: component: number field

#1484 [NumberField] Correct virtual cursor rendering
  packages/react/src/number-field/root/useNumberFieldRoot.ts
  packages/react/src/number-field/root/useScrub.ts
  packages/react/src/number-field/scrub-area-cursor/NumberFieldScrubAreaCursor.test.tsx
  packages/react/src/number-field/scrub-area-cursor/NumberFieldScrubAreaCursor.tsx
Labels: component: number field, bug 🐛

#1529 [Tabs][RadioGroup] Handle modifier keys
  packages/react/src/composite/composite.ts
  packages/react/src/composite/root/CompositeRoot.test.tsx
  packages/react/src/composite/root/CompositeRoot.tsx
  packages/react/src/composite/root/useCompositeRoot.ts
  packages/react/src/radio-group/RadioGroup.test.tsx
  packages/react/src/radio-group/RadioGroup.tsx
  packages/react/src/tabs/root/TabsRoot.test.tsx
Labels: component: tabs, bug 🐛, component: RadioGroup

#1541 [Slider] Fix thumb positioning when controlled value violates min/max/step
  packages/react/src/slider/control/SliderControl.test.tsx
  packages/react/src/slider/indicator/SliderIndicator.test.tsx
  packages/react/src/slider/root/SliderRoot.test.tsx
  packages/react/src/slider/root/SliderRoot.tsx
  packages/react/src/slider/root/useSliderRoot.ts
  packages/react/src/slider/thumb/SliderThumb.test.tsx
  packages/react/src/slider/thumb/useSliderThumb.ts
  packages/react/src/slider/track/SliderTrack.test.tsx
  packages/react/src/slider/value/SliderValue.test.tsx
Labels: component: slider, bug 🐛

#1544 [Accordion] Fix `aria-labelledby` on accordion panel
  packages/react/src/accordion/root/AccordionRoot.test.tsx
  packages/react/src/accordion/root/useAccordionRoot.ts
  packages/react/src/accordion/trigger/AccordionTrigger.tsx
  packages/react/src/composite/composite.ts
Labels: bug 🐛, component: accordion

#1459 [Popover] `modal` prop
  docs/reference/generated/popover-root.json
  docs/src/components/ReferenceTable/ReferenceTablePopover.tsx
  packages/react/src/menu/positioner/MenuPositioner.tsx
  packages/react/src/menu/root/useMenuRoot.ts
  packages/react/src/popover/positioner/PopoverPositioner.tsx
  packages/react/src/popover/root/PopoverRoot.test.tsx
  packages/react/src/popover/root/PopoverRoot.tsx
  packages/react/src/popover/root/PopoverRootContext.ts
  packages/react/src/popover/root/usePopoverRoot.ts
  packages/react/src/popover/trigger/PopoverTrigger.test.tsx
Labels: component: menu, component: popover

#1245 [core] Update release docs and scripts
  docs/package.json
  packages/react/package.json
  scripts/README.md
  scripts/copyFiles.mjs
Labels: core, performance

#1238 [code-infra] Polish VS Code DX
  .editorconfig
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
Labels: enhancement, dx, scope: code-infra

#1551 [useRender] Refine docs and APIs
  docs/src/app/(public)/(content)/react/utils/use-render/demos/render-callback/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/utils/use-render/demos/render/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/utils/use-render/page.mdx
  docs/src/components/ReferenceTable/PropsReferenceTable.tsx
  packages/react/src/alert-dialog/popup/AlertDialogPopup.tsx
  packages/react/src/collapsible/panel/useCollapsiblePanel.ts
  packages/react/src/collapsible/trigger/useCollapsibleTrigger.ts
  packages/react/src/dialog/popup/DialogPopup.tsx
  packages/react/src/dialog/popup/useDialogPopup.tsx
  packages/react/src/dialog/root/useDialogRoot.ts
  packages/react/src/field/control/useFieldControlValidation.ts
  packages/react/src/fieldset/root/FieldsetRoot.tsx
  packages/react/src/merge-props/mergeProps.test.ts
  packages/react/src/merge-props/mergeProps.ts
  packages/react/src/popover/root/usePopoverRoot.ts
  packages/react/src/select/icon/SelectIcon.tsx
  packages/react/src/slider/indicator/useSliderIndicator.ts
  packages/react/src/slider/thumb/useSliderThumb.ts
  packages/react/src/slider/value/useSliderValue.ts
  packages/react/src/tabs/panel/useTabsPanel.ts
  packages/react/src/use-button/useButton.ts
  packages/react/src/use-render/useRender.ts
  packages/react/src/utils/useComponentRenderer.ts
Labels: core

#1553 [useForkRef] Support ref cleanup functions
  packages/react/src/utils/useForkRef.test.tsx
  packages/react/src/utils/useForkRef.ts
Labels: core

#1563 [Select] Fix focus jump while hovering while navigating with keyboard
  packages/react/src/select/item/SelectItem.tsx
  packages/react/src/select/item/useSelectItem.ts
  packages/react/src/select/popup/useSelectPopup.ts
  packages/react/src/select/root/SelectRootContext.ts
  packages/react/src/select/root/useSelectRoot.ts
Labels: component: select

#1462 [NumberField] Fix disabled state on increment/decrement buttons
  packages/react/src/number-field/decrement/NumberFieldDecrement.test.tsx
  packages/react/src/number-field/decrement/NumberFieldDecrement.tsx
  packages/react/src/number-field/group/NumberFieldGroup.test.tsx
  packages/react/src/number-field/group/NumberFieldGroup.tsx
  packages/react/src/number-field/increment/NumberFieldIncrement.test.tsx
  packages/react/src/number-field/increment/NumberFieldIncrement.tsx
  packages/react/src/number-field/input/NumberFieldInput.test.tsx
  packages/react/src/number-field/input/NumberFieldInput.tsx
  packages/react/src/number-field/root/useNumberFieldButton.ts
  packages/react/src/number-field/root/useNumberFieldRoot.ts
  packages/react/src/number-field/root/useScrub.ts
  packages/react/src/number-field/root/useScrub.types.ts
  packages/react/src/number-field/scrub-area-cursor/NumberFieldScrubAreaCursor.test.tsx
  packages/react/src/number-field/scrub-area-cursor/NumberFieldScrubAreaCursor.tsx
  packages/react/src/number-field/scrub-area/NumberFieldScrubArea.test.tsx
Labels: component: number field, bug 🐛

#1562 [Select] Pass `value` as second argument to function children `Select.Value`
  packages/react/src/select/value/SelectValue.test.tsx
  packages/react/src/select/value/SelectValue.tsx
Labels: component: select

#1569 Design Engineer Job Posting
  docs/src/app/(public)/careers/design-engineer/page.tsx
  docs/src/components/Header.tsx
Labels: website

#1565 [Field] Fix `FieldControl` [data-filled] not reacting to external value changes
  packages/react/src/field/control/useFieldControl.ts
  packages/react/src/field/root/FieldRoot.test.tsx
Labels: component: field

#1572 [docs] Clean up old experiments
  docs/src/app/(private)/experiments/collapsible/collapsible-hidden-until-found.tsx
  docs/src/app/(private)/experiments/collapsible/collapsible.tsx
Labels: docs

#1491 [NumberField] Prevent virtual cursor overlapping native one
  packages/react/src/number-field/root/useScrub.ts
Labels: component: number field

#1561 [Select] Ensure switching controlled value to `null` updates `Select.Value` label
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/select/value/SelectValue.test.tsx
Labels: component: select

#1577 [NumberField] Fix parse of numbers with spaces as thousands separators
  packages/react/src/number-field/root/NumberFieldRoot.test.tsx
  packages/react/src/number-field/root/useNumberFieldRoot.ts
  packages/react/src/number-field/scrub-area-cursor/NumberFieldScrubAreaCursor.test.tsx
  packages/react/src/number-field/utils/parse.ts
Labels: component: number field, bug 🐛

#1573 [popups] Fix selection on outside press on Firefox with modal prop
  packages/react/src/alert-dialog/popup/AlertDialogPopup.tsx
  packages/react/src/alert-dialog/trigger/AlertDialogTrigger.tsx
  packages/react/src/dialog/popup/DialogPopup.tsx
  packages/react/src/dialog/trigger/DialogTrigger.tsx
  packages/react/src/menu/positioner/MenuPositioner.tsx
  packages/react/src/menu/trigger/MenuTrigger.test.tsx
  packages/react/src/menu/trigger/MenuTrigger.tsx
  packages/react/src/popover/positioner/PopoverPositioner.tsx
  packages/react/src/popover/trigger/PopoverTrigger.test.tsx
  packages/react/src/popover/trigger/PopoverTrigger.tsx
  packages/react/src/select/positioner/SelectPositioner.tsx
  packages/react/src/select/trigger/SelectTrigger.tsx
  packages/react/src/utils/InternalBackdrop.tsx
Labels: component: select, component: menu, component: dialog, component: popover

#1579 [core] Misc cleaning
  docs/reference/generated/number-field-root.json
  docs/reference/generated/number-field-scrub-area.json
  docs/reference/generated/select-item-indicator.json
  packages/react/src/number-field/root/NumberFieldRoot.tsx
  packages/react/src/number-field/root/useNumberFieldRoot.ts
  packages/react/src/number-field/scrub-area/NumberFieldScrubArea.tsx
  packages/react/src/select/item-indicator/SelectItemIndicator.tsx
  packages/react/src/select/popup/useSelectPopup.ts
  packages/react/src/select/root/SelectRootContext.ts
  packages/react/src/select/root/useSelectRoot.ts
  packages/react/src/use-render/useRender.ts
Labels: core

#1578 [NumberField] Fix `large/smallStep` getting stuck
  packages/react/src/number-field/input/NumberFieldInput.tsx
  packages/react/src/number-field/root/NumberFieldRoot.test.tsx
  packages/react/src/number-field/root/useNumberFieldButton.ts
  packages/react/src/number-field/root/useNumberFieldRoot.ts
  packages/react/src/number-field/root/useScrub.ts
  packages/react/src/number-field/utils/types.ts
Labels: component: number field, bug 🐛

#1581 Add job posting link
  docs/src/app/(public)/careers/design-engineer/page.tsx
Labels: docs

#1548 [Popover][Menu] Ensure `stickIfOpen` is reset to `true` correctly
  packages/react/src/menu/positioner/MenuPositioner.tsx
  packages/react/src/menu/root/useMenuRoot.ts
  packages/react/src/menu/trigger/MenuTrigger.test.tsx
  packages/react/src/popover/positioner/PopoverPositioner.tsx
  packages/react/src/popover/root/usePopoverRoot.ts
  packages/react/src/popover/trigger/PopoverTrigger.test.tsx
  packages/react/src/utils/InternalBackdrop.tsx
Labels: component: menu, bug 🐛, component: popover

#1584 [NumberField] Fix ScrubArea on Safari
  packages/react/src/number-field/root/useScrub.ts
Labels: component: number field, bug 🐛, browser: Safari

#1585 [docs] Fix CSS issues
  docs/src/app/(public)/(content)/react/components/number-field/demos/hero/css-modules/index.module.css
  docs/src/app/(public)/(content)/react/components/select/demos/hero/css-modules/index.tsx
  docs/src/app/(public)/(content)/react/components/select/demos/hero/tailwind/index.tsx
Labels: docs

#1583 [Menu] Ensure submenu triggers respond to clicks when `openOnHover=false`
  packages/react/src/menu/root/MenuRoot.test.tsx
  packages/react/src/menu/root/useMenuRoot.ts
Labels: component: menu, bug 🐛

#1595 [Collapsible] Fix ForwardedRef type of CollapsiblePanel
  packages/react/src/collapsible/panel/CollapsiblePanel.tsx
Labels: component: collapsible

#1599 [Slider] Fix incorrect CSS position on vertical slider indicator
  packages/react/src/slider/indicator/useSliderIndicator.ts
Labels: component: slider, bug 🐛

#1594 [useButton] Default to `'button'` type
  packages/react/src/collapsible/trigger/useCollapsibleTrigger.ts
  packages/react/src/tabs/tab/useTabsTab.ts
  packages/react/src/toggle/useToggle.ts
  packages/react/src/toolbar/button/ToolbarButton.tsx
  packages/react/src/use-button/useButton.test.tsx
  packages/react/src/use-button/useButton.ts
Labels: core, regression

#1611 [core] Disable NextJS dev mode build indicator
  docs/next.config.mjs
Labels: core
